[2015-07-22 13:13] wesleycho commented on #3957
Currently, the child dropdown will not toggle - you can observe this [here](http://plnkr.co/edit/EnTRwBS7UxHDfgDacdss?p=preview).

[2015-07-22 13:16] RobJacobs commented on #3990
Those datepicker watches issue has been addressed by the following commits:

https://github.com/angular-ui/bootstrap/commit/b72efed56f68e9e5dbed934df7f47e0b5c94242c
https://github.com/angular-ui/bootstrap/commit/2a2e5de7d89a7a2b55268ec415ee60ba4315972e

There is 1 outstanding PR: #3770 which hopefully will be included in the 0.13.1 release.

[2015-07-22 13:16] #3990 closed

[2015-07-22 13:23] madeleneallvin commented on #3632
@Foxandxss  Thank you. Much appreciated

[2015-07-22 13:27] kentcdodds commented on #3977
Thanks for doing that @Foxandxss :-)

[2015-07-22 13:35] irsick commented on #759
Here is decaffeinated directive by @jusopi just in case.
Tested on Angular 1.4.3 / UI Bootstrap 0.13.0

[code]

[2015-07-22 13:53] jusopi commented on #759
@kennethlynne I didn't consider sending a pull request because the issue is closed as of Aug 5th 2013.  That and the fact that there are a few other similar feature requests that have been largely ignored by the project owner(s), didn't figure it worth the effort.

[2015-07-22 14:05] rnicholus commented on #3632
Not sure why this is closed. npm for angular-bootstrap is still at 0.12.0. Nothing was updated.

[2015-07-22 14:07] Foxandxss commented on #3632
@rnicholus wrong package. It is `angular-ui-bootstrap`.

[2015-07-22 14:09] rnicholus commented on #3632
Oops. Perhaps @leon could remove angular-bootstrap then, to avoid confusion?

[2015-07-22 14:10] Foxandxss commented on #3632
That sounds like an idea.

[2015-07-22 14:13] Foxandxss commented on #3632
And... done :)

[2015-07-22 14:39] Sanjo commented on #2046
@rvanbaalen This is still an issue in Angular 1.3 and UI Bootstrap 0.13. Plunkr: http://plnkr.co/edit/5FSQfsErRi9cD2d0u75p?p=preview. I could reproduce this issue by scrolling over the timepicker with my Macbook Pro trackpad. You may not see this issue when you use a mouse scroll wheel and use a setting that makes bigger jumps when you scroll.

I cannot reopen this issue. Please do it for me. Than

[2015-07-22 14:54] julien-f opened #3992 "Never unpublish a package!"
It seems that angular-bootstrap has been unpublished which causes one of my application (maybe more) to break and it now fails to install correctly. (See [npm deprecate documentation](https://docs.npmjs.com/cli/unpublish#warning)).

If you want to no longer maintain a package, simply deprecate it ([doc](https://docs.npmjs.com/cli/deprecate)).

[2015-07-22 15:28] jnizet opened #3993 "alert displays close button even when no close attribute with angular 1.4.1, 1.4.2 and 1.4.3"
A close button is displayed on the alert even when no close attribute is set on the alert, since angular 1.4.1.

Plunkr: http://plnkr.co/edit/FXsxgH0eBpWGZevKwcLo?p=preview

I haven't been able to find, in the changelog, an explanation for this change of behavior.

[2015-07-22 16:26] Foxandxss commented on #3993
I can see that. Will check it.

[2015-07-22 16:34] Foxandxss commented on #3993
Oh, that is fixed on master.

[2015-07-22 16:34] #3993 closed

[2015-07-22 16:41] alexmatveev commented on #3080
Just came here to report the same. Current CDN version is the same.

[2015-07-22 16:45] tysoncadenhead commented on #3992
Yep, it broke us too.

[2015-07-22 17:04] jasonrose commented on #3992
This broke my app too, and updating to using the `angular-ui-bootstrap` dependency now causes my npm install to fail because of the peerDependencies on bootstrap 3.1 and angular 1.3.7; I'm using bootstrap 3.3 and and angular 1.4.  I will be creating a separate issue for these, and a PR once I can figure out where angular-ui-bootstrap's package.json gets created.

[2015-07-22 17:24] julien-f commented on #3992
Yes, this is a real problem, please republish the package as 0.12.1.

[2015-07-22 17:26] atentis commented on #3941
@wesleycho That worked. I will try to file a pr soon

[2015-07-22 17:58] plong0 commented on #3593
I have modified the collapse directive and submitted PR #3995

I am also going to see about implementing a new ng-collapse directive that would give more options for collapse animations (ex. collapse from a specific corner)

[2015-07-22 18:19] kentcdodds commented on #3992
Borked... :-( Please don't unpublish a package... Ever...

[2015-07-22 18:21] Foxandxss commented on #3992
That is completely my bad. I am so sorry.

That package was created by a third party person and it was confusing the people on what package to use.

Let me see how can I fix that for you all.

[2015-07-22 18:23] kentcdodds commented on #3992
Thanks for being responsive @Foxandxss. We all make mistakes. Looking forward to a fix.

[2015-07-22 18:26] kentcdodds commented on #3992
By the way, the `peerDependencies` should be very loose. Something like this:

[code]

For more info on [semver ranges](http://semver.npmjs.com/). Also, I'm not sure what version of angular angular-ui-bootstrap is supposed to support, but this should cover you for a while. Give people the choice what version of stuff to use :-)

[2015-07-22 18:26] Foxandxss commented on #3992
@kentcdodds will check that when I fix this, but for angular, we can only work with 1.3.x on the later release tho.

[2015-07-22 18:27] kentcdodds commented on #3992
Updated range per your comment.

[2015-07-22 18:36] Foxandxss commented on #3992
@julien-f @tysoncadenhead @jasonrose @kentcdodds Please confirm if the new package fixed it for you.

[2015-07-22 18:45] Foxandxss commented on #3992
Hold on, little issue.

[2015-07-22 18:51] Foxandxss commented on #3992
Well, I think the only problem is where the "main" points now, but shouldn't be a problem.

Please, report back.

[2015-07-22 19:18] Foxandxss opened #3997 "ui-bootstrap needs more maintainers"
Hello,

This project is really stuck and we really really need more people to collaborate with it.

We need people to do some triaging, review some pull request and if possible, to contribute with code.

[2015-07-22 19:22] royaldark opened #3998 "Which npm package to use?"
There appear to be two NPM packages for this project:
- `angular-boostrap` on 0.13.0
- `angular-ui-bootstrap` (the package listed in the readme) on 0.12.2.

Which should be used? If it is `angular-ui-bootstrap`, that package should be updated to 0.13.0. Otherwise, the readme should be updated.

[2015-07-22 19:23] jasonrose commented on #3992
If that version range will pick up angular 1.4.3, then it will work for me.  I personally don't think that this needs bootstrap as a peer dependency, since angularui only cares about bootstrap css and shouldn't dictate that it comes from npm, but that's just my opinion.

[2015-07-22 19:26] Foxandxss commented on #3998
Are you sure you don't have them reversed?

`angular-bootstrap` is an old third party package which I decided to f* up and I put back (my total mistake).

People should use `angular-ui-bootstrap` which points to 0.13.0.

[2015-07-22 19:28] Foxandxss commented on #3992
@jasonrose that is an option as well, yes. I just looked into what `angular-material` was doing and well, angular is a dependency for sure.

[2015-07-22 19:28] jasonrose commented on #3992
I prefer the updates to `main` in package.json, since it puts it more inline with other angular npm packages.  This means that I can define my module as
`angular.module('myModule', [require('angular-ui-bootstrap')])`, whereas before I needed to require it separately and put the string 'ui.bootstrap' into my dependencies.

[2015-07-22 19:29] royaldark commented on #3998
Sorry, you're right. My brain is obviously tired :)

[2015-07-22 19:29] #3998 closed

[2015-07-22 19:30] jasonrose commented on #3992
On the other hand, I don't mind publishing a 0.12.1 as previously suggested with the same exact configuration as before, and starting 0.13.0 with these differences.

[2015-07-22 19:30] kentcdodds commented on #3992
Here's [a blogpost](https://medium.com/@kentcdodds/how-to-distribute-your-angularjs-module-e04d4dd58ddc) (by yours truly) about what @jasonrose is talking about.

[2015-07-22 19:32] Foxandxss commented on #3992
So, there is an old package, `angular-bootstrap` which is stuck into 0.12.x which I deleted and now restored back just to "un-broke" your projects. I want to know if that is fixed so we can close this issue.

On the other hand, there is a `angular-ui-bootstrap` package which points to 0.13.0 which has the main field for browserify/webpack and also this peerDependencies.

Can we talk about the firs

[2015-07-22 19:33] jasonrose commented on #3992
Yes, `angular-bootstrap@0.12.2` works for me.

[2015-07-22 19:34] Foxandxss commented on #3992
Thanks, I appreciate it. If @julien-f confirms it as well, I close this issue. @jasonrose could you please open an issue with what you think we could do for the new package?

[2015-07-22 19:40] jasonrose opened #3999 "Update angular-ui NPM configuration to export a string"
Currently, `angular-bootstrap@0.12.2` and its previous versions exports `ui-bootstrap-tpls.min.js` as its main file.  The file defines the `ui.bootstrap` module in angular, which is all well and good.

However, the convention seems to be for the entry point in angular npm modules to define the module in angular, then export the module name via `module.exports`.  I will include my current applicati

[2015-07-22 19:45] Foxandxss commented on #3999
I am sorry, long day battling with NPM packages. What do you need then? To update the previous `angular-bootstrap` to support browserify/webpack or to do something with the new one?

[2015-07-22 19:50] kentcdodds commented on #3992
So, I updated mine to use `0.12.2` and that didn't fix it for me... One moment please.

[2015-07-22 19:56] jasonrose commented on #3999
`angular-bootstrap` works for me, as long as I do this:
    require('angular-bootstrap');
    angular.module('mmb', ['ui.bootstrap']);
I don't think that this should change in the 0.12.x branch since that is what people expect.

`angular-ui-bootstrap@0.13.0` works almost as-is, except for the restrictive `peerDependencies` which are not part of this issue.

If `angular-ui-bootstrap` is the way for

[2015-07-22 20:02] Foxandxss commented on #3999
Oh, I understand.

@jasonrose there were no official ui-bootstrap packages, so two third party users created `angular-bootstrap` and `angular-ui-bootstrap`.

I got access to both of them and we decided to stick with `angular-ui-bootstrap`.

I bumped that `angular-ui-bootstrap` to use `0.13.0` (our latest release) and also to be able to use browserify / webpack.

So that is the good package and the

[2015-07-22 20:06] wesleycho commented on #3999
We should probably look to do a release for 0.13.1 sometime soon then (this Friday perhaps?) and bump all unresolved issues to 0.13.2.

[2015-07-22 20:07] jasonrose commented on #3999
Then, I think that this issue is a no-op and can be closed.  Should I create a new issue for relaxing the peerDependencies for a 0.13.1?

[2015-07-22 20:07] Foxandxss commented on #3999
@jasonrose yeah, you can do that.

[2015-07-22 20:07] #3999 closed

[2015-07-22 20:10] wesleycho commented on #3997
Yes please! We would like to move to faster releases so features & fixes aren't so far and between.

[2015-07-22 20:16] jasonrose opened #4001 "Relax peerDependency version of angular-ui-bootstrap"
https://github.com/angular-ui/bootstrap/issues/3992#issuecomment-123817297

`angular-ui-bootstrap@0.13.0` dictates `bootstrap@3.1` and `angular@~1.3.17`.  These are very restrictive.

I personally don't think that bootstrap should be a peerDependency at all, but it doesn't hurt to have it at a more relaxed version, such as `^3.1`.

For angular, I understand that angular-ui only officially supports

[2015-07-22 20:21] wesleycho commented on #4001
We agree - this will be fixed in 0.13.1 which we are looking at releasing possibly tomorrow (all unfixed issues and unmerged PRs will be pushed to 0.13.2).

[2015-07-22 20:24] mikuatapex commented on #618
it is solved by adding  data-trigger="focus"

[2015-07-22 20:26] #3941 closed

[2015-07-22 20:27] billyshena commented on #618
@Elijen : Mhh I see, thanks again then !
@mikuatapex : I need to be able to click inside the opened popup, which won't work using your solution I think.

[2015-07-22 21:15] #3404 closed

[2015-07-22 21:19] #1759 closed

[2015-07-22 21:22] #3645 closed

[2015-07-22 21:27] #3973 closed

[2015-07-22 22:47] anilnatha commented on #3617
I am running Angular 1.3.16 and get the same error message upon clicking 'clear' in the datepicker modal.

What makes it worse is that I am checking my forms $invalid property which is returning `true` even though the datepicker field in my form is not a required field, so a blank datepicker field should be valid, not invalid.

[2015-07-22 22:55] onenive commented on #3862
@wesleycho , I have a fix to this bug in my forked repo: https://github.com/blendlabs/bootstrap. Should I add tests and submit a PR for this issue?

[2015-07-22 23:00] anilnatha commented on #3617
Probably worth mentioning the following:

 1. If you open up firebug while viewing the DatePicker demo at [https://angular-ui.github.io/bootstrap/](https://angular-ui.github.io/bootstrap/), it throws the error.
 2. In the example shown at the link, a `clear` function is set in `$scope`; however, in my setup, which is identical to that, the `clear` function is never called. Perhaps because the erro

[2015-07-22 23:03] wesleycho commented on #3862
I am assuming that [this](https://github.com/blendlabs/bootstrap/commit/55334fb22ba263374508ca08ae5162158d7e2f4b) is the commit?

Feel free to open a PR - I think this is not quite the correct way to fix this though. The proper fix would change the setting of validity to be in `ngModelCtrl.$validators.date` and not manually checking `$attrs.ngRequired`.

[2015-07-22 23:16] onenive commented on #3862
Would that be to:
1) log the error: "Datepicker directive: "ng-model" value must be a Date object..." regardless of what ng-required is set as
2) remove ngModelCtrl.$setValidity('date', ...) from this.render() and move all the validation logic to ngModelCtrl.$validators.date

[2015-07-23 05:49] anilnatha commented on #3617
I have created a plunker, with documentation that describes the various problems related to this bug:

http://plnkr.co/edit/Iild15cgR9NXaX0iWjti?p=preview

This example aims to highlight the issue isn't just with the datepicker's model being cleared, but also how it affects form validation.

[2015-07-23 08:05] jackpimbert commented on #3617
:+1: Same issue here.

[2015-07-23 12:20] Gillardo opened #4003 "Using form-group-lg messes up Hour and Minute inputs"
If you apply form-group-lg class to your input, then the timePicker hour and minute inputs are too small to display the font.  This is because the size is hard coded as 50px, i am guessing because it uses a table.

Maybe a possible fix would be to create the timePicker template using divs instead of table?

[2015-07-23 12:56] chad-autry commented on #3992
The 0.12.2 is not compatible with prior 0.12.X when using browserify-shim

An snipet of my package.json

[code]

Since the source folder no longer exists, you can see where it wouldn't work any longer.

[2015-07-23 13:08] Foxandxss commented on #3992
I see. The package was never created by us, it was created by a third party user so I don't really know what he did with it.

Not sure how can we fix that for you. Ideas?

[2015-07-23 13:26] krnlde commented on #590
Thanks for your plunkr, but it achieved a goal I'm not looking for. I want to add the close button inside the `.popover-title` which means the *original popover template* provided by bootstrap, not from my angular stuff. Here is your plunkr updated with my requirements (and not working):
http://plnkr.co/edit/5XTTgnnQlnlpcFiAS5IU?p=preview

[2015-07-23 13:40] kentcdodds commented on #3992
I solved it using angular-ui-bootstrap@0.12.1 and changing the main (using
an alias with Webpack, not sure how you do it with browserify) because the
main in that version is incorrect.

- Kent C. Dodds

(Sent from my mobile device, please forgive typos or brevity)
On Jul 23, 2015 7:09 AM, "Jesús Rodríguez Rodríguez" <
notifications@github.com> wrote:

[2015-07-23 15:33] twhamilton commented on #2280
+1 Why has this not been released. It is clearly a serious pain for everyone

[2015-07-23 16:43] wesleycho commented on #4001
This should now be fixed - we did a release of 0.13.1 an hour ago with the relaxed peerDependency.

[2015-07-23 16:43] #4001 closed

[2015-07-23 16:50] wesleycho commented on #4003
Can you reproduce this in Plunker?

[2015-07-23 17:56] shreedharshetty commented on #3638
+1

[2015-07-23 18:50] ComeOutToPlay commented on #1688
Please refer to http://stackoverflow.com/questions/24359128/bootstrap-angular-datepicker-set-ng-model-invalid-not-change/31595743#31595743 at my response (Aquiles)

[2015-07-23 19:39] sean-stanley commented on #2280
I had this issue but it took me an embarassingly long time to realise I had it. The directive approach did fix this issue for me though since I use ngTouch in other parts of my UI. I suppose another approach would be divide the portions using ngTouch into a seperate module and just have that module depend on ngTouch. That might mean ngTouch won't interfere with modals.

A PR solution could look li

[2015-07-23 22:12] bennettatoms commented on #3633
Downloaded 0.13.1 today, but the issue with the modal background not closing when animations are enabled remains (I'm using Angular 1.4.2).

[2015-07-23 22:28] LeleDev commented on #3633
@bennettatoms
It seems fixed for me on angular 1.4.2 (with ng-animate installed), but I had to set ```$modalProvider.options.animation = true;``` in order to show animations (are they off by default now?)

[2015-07-24 00:15] LeleDev opened #4007 "Set triggers for popovers"
How can I set default triggers for popovers?

With tooltips, I use:
[code]

Wouldn't be useful to have a $popoverProvider.setTrigger() too?

Thank you in advance

[2015-07-24 01:18] chad-autry commented on #3992
Previously the src was published along with the dist. This allowed me to alias & require the source files of only those components I was using. Basically I was using npm install, and then configuring a custom build as part of my app.

I've fixed the breakage by aliasing a single built file, and then requiring it. It isn't a big deal for me now just doing dev stuff. But trimming it down to only the

[2015-07-24 01:25] Foxandxss commented on #3992
@chad-autry You can generate a custom build from our webpage, but sadly there is no npm package for that.

To fix the old and deprecated package (the one you are using) I would need to break it again and I don't think I want to do that. I cannot bring `src` back without deleting the package yet again and changing it entirely.

I don't think that is wise.

Again, I apologize for this error of mine,

[2015-07-24 01:57] chad-autry commented on #3992
@Foxandxss I'm suggesting going forward to include the src folder when publishing to github. Don't need to do it for currently existing versions, but could bump the version to include the src.

So far as how the previous guy created the npm package, npm and github aren't linked. He would have simply checked out the repo using the read access everyone has and then published to npm.

[2015-07-24 02:03] chad-autry commented on #3992
Addition: Include src and templates when publishing to npm. I wasn't yet using a component that required templates, but if I had I'd have needed to include the templates as well.

[2015-07-24 07:22] eugenelabonarsky opened #4009 "Doesn't work minMode for datepicker popup"
Found in versions 0.13.0, 0.13.1

# Observed behaviour:
minMode='year' allow us to switch between other modes and after selecting year goes to month selection.

# Expected behaviour:

minMode='year' doesn't allow us to switch between other modes and after selecting year should prepopulate value

# Plunker link

http://plnkr.co/edit/wKjuZTk2xB5jtZfvO5No?p=preview

[2015-07-24 08:24] dxwts opened #4011 "Carousel not working"
I used generator-angular  to create a angular project  and use carousel sample code, it not working.

bower.json
{
  "name": "test1",
  "version": "0.0.0",
  "dependencies": {
    "angular": "^1.3.0",
    "bootstrap-sass-official": "^3.2.0",
    "angular-animate": "^1.3.0",
    "angular-cookies": "^1.3.0",
    "angular-resource": "^1.3.0",
    "angular-route": "^1.3.0",
    "angular-sanitize": "^1

[2015-07-24 09:39] Foxandxss commented on #3992
@chad-autry Well this is a topic for a different discussion and so far I don't think we are going to support that.

[2015-07-24 10:03] lgaudez commented on #4011
Carousel directive is broken with angular 1.4.X. see https://github.com/angular-ui/bootstrap/issues/3811.

I tested with 1.3.17 and 0.13.1 and it seems to work well.

Make a plunker if problem persist with 1.3.X version of angular.

[2015-07-24 10:23] lgaudez opened #4012 "Datepicker and ngAnimate (Angular 1.3.X)"
This bug is present with angular version 1.3.X and ui-bootstrap 0.13.1.

Some log are thrown : "TypeError: Cannot read property 'parentNode' of undefined
    at angular-animate.js:1203
    at angular-animate.js:539
    at Scope.$get.Scope.$digest (angular.js:14293)
    at Scope.$get.Scope.$apply (angular.js:14506)
    at bootstrapApply (angular.js:1448)
    at Object.invoke (angular.js:4185)
    a

[2015-07-24 10:29] jljouannic opened #4013 "disabled and ng-disabled ineffective on radio and checkbox buttons with Bootstrap CSS 3.3.5"
With Bootstrap CSS 3.3.4, `ng-disabled` and `disabled` applied to `label` associated with the `btn-radio` or `btn-checkbox` directives work has expected (See this [plunk](http://plnkr.co/edit/m5sHzwsIPPQTQpAgJsNJ?p=preview))

After upgrading to Bootstrap CSS 3.3.5, it does not work anymore (See this [plunk](http://plnkr.co/edit/O2kghWBeYszJWwXpdC8X?p=preview)).

To be more precise, styling is good

[2015-07-24 10:38] dxwts commented on #4011
@lgaudez Ah, ok, :+1: Thanks

[2015-07-24 10:58] pkozlowski-opensource commented on #4011
Closing as duplicate of #3811

[2015-07-24 10:58] #4011 closed

[2015-07-24 12:27] jljouannic commented on #4013
As a temporary workaround, the following CSS rule set can be used:

[code]
Styling of the cursor is not as good as it is with Bootstrap 3.3.5, but behaviour is restored.

[2015-07-24 12:57] simison commented on #3896
Thanks! https://github.com/angular-ui/bootstrap/blob/master/CHANGELOG.md#0131-2015-07-23

[2015-07-24 14:27] johneakin commented on #3976
If you go down to the Datepicker here

https://angular-ui.github.io/bootstrap/

and change 2015 in the textbox to 2014 you'll see the red error border around the calendar.
Are we saying this is now fixed?

[2015-07-24 15:17] loftyduck commented on #3170
Do you have a code snippet?  I had a similar issue but it was due to the scope I was passing in when opening the modal.

[2015-07-24 16:30] wesleycho commented on #4012
Thank you for isolating this - I will look into this early next week and hope to have a fix released in the next two weeks.

[2015-07-24 16:42] wesleycho commented on #3992
One thing we could do is publish updates to the `angular-bootstrap` package as part of our release process - this would allow us to publish a version with the `src` and `templates` directories if users want to consume them individually, instead of consuming the whole package.

We would need to come up with a good solution for users requiring only the pieces they want though.

[2015-07-24 18:27] rkhayat commented on #1012
needed this for right:0 +1

[2015-07-24 20:57] ruslan40 commented on #618
@Elijen Wow. You are an absolute genius! Thanks so much for this.

I spend like two days on this issue (having built the rest of my app in 5). It is mind-blowing how something this trivial could be so ridiculously complicated.

[2015-07-25 20:29] smlombardi opened #4015 "Carousel docs have no mention of pause, next, previous"
Perhaps instead of having an example which is rarely used (adding slides on the fly) we could get more documentation on basic carousel actions, or at least how to access the ones on Bootstrap itself?

[2015-07-26 11:54] chad-autry opened #4016 "Include /src and /template when publishing to npm"
angular-ui-bootstrap is laid out very logically,
by including /src and /template  a developer using npm for dependency on angular-ui-bootstrap can pick and choose just the modules required for inclusion in the dependent project. (One method of inclusion being browserify). This is how the former angular-ui was published.

When publishing to npm, simply copy the /src and /template directories into t

[2015-07-26 11:58] chad-autry commented on #3992
I went ahead and made a new issue requesting the addition of /src and /template to npm https://github.com/angular-ui/bootstrap/issues/4016

I'm under the impression angular-bootstrap is dead, long live angular-ui-bootstrap? No need to publish 2 versions. It just additional release artifacts, just like the multiple built versions.

[2015-07-26 12:03] Foxandxss commented on #3992
@chad-autry We never published 2 versions. In fact, we never published anything.

Both `angular-bootstrap` (the old one) and `angular-ui-bootstrap` were created by third party users that doesn't belong to this team.

We chose `angular-ui-bootstrap` as the name we would like to publish new releases (because it matches other angular-ui packages).

I deleted `angular-bootstrap` aiming to reduce the c

[2015-07-26 12:03] #3992 closed

[2015-07-26 12:48] chad-autry commented on #3992
@Foxandxss agreed and understood.

[2015-07-26 15:31] salalaslam opened #4017 "Issue in animations with the latest angularjs and angular-ui-bootstrap"
I have created this [pen](http://codepen.io/salalaslam/pen/zGmLVq) to illustrate the problem

[2015-07-26 15:40] gauravarya83 commented on #2802
Still not working for me, I have AngularJS 1.2.28 !

[2015-07-26 21:01] SteffanLong opened #4018 "[Progress Bars] Stacked progress bars have a rounding error"
With certain parameters, the resulting bars will have a combined width that is greater than 100%, forcing the last stacked progress bar to a new line. This is on version 0.13.1.

Code to reproduce:
[code]

The resulting widths will end up being: 13.86%, 23.79%, and 62.36% for a total of 100.01%

[2015-07-27 01:01] johnjspiteri opened #4020 "Adding Half Star Functionality To ui.bootstrap.rating?"
Has anyone offered to help integrate this feature?

Thank you
John

[2015-07-27 08:52] pascalberger opened #4022 "NuGet Package for 0.13.1"
Please update the NuGet Package also to version 0.13.1

[2015-07-27 09:42] kukac7 commented on #4022
@pascalberger https://github.com/angular-ui/bootstrap-bower

[2015-07-27 10:31] prasad47 commented on #1114
+1

[2015-07-27 11:28] bouzuya commented on #3736
:+1:

[2015-07-27 11:48] xt0rted commented on #4022
The NuGet package has been updated to [v0.13.1](https://www.nuget.org/packages/Angular.UI.Bootstrap/0.13.1)

[2015-07-27 13:03] pascalberger commented on #4022
Thanks!

[2015-07-27 13:03] #4022 closed

[2015-07-27 16:25] SMHFandA opened #4024 "Support multiple position options for popover"
Thanks very much, guys, for your jobs. Very useful module.

i have suggestions relatively popover component. Be nice if, maybe in future, popover component have following position settings: top-left, top-right, bottom-left, bottom-right. Something like this:

![popover-bottom-left-position](https://cloud.githubusercontent.com/assets/5597196/8911056/cb2b9912-3492-11e5-9c74-b87bff3be2cb.png)

Thanks

[2015-07-27 18:02] adrxlm commented on #3080
@chrisirhc

the @mjreddick  version
http://jsfiddle.net/xkL15guj/2/

My "solution"
http://jsfiddle.net/f5kux78q/1/

[2015-07-27 19:20] wesleycho commented on #4018
This sounds like it will require a tricky solution to solve. One solution could be to compute the hundredth decimal place value for each bar, and determine which value to round up or down for setting the bar width.

It won't be performant for large # of bars, but I think it is safe to assume that there won't be many stacked bars, or at least it isn't a UX we want to support.

[2015-07-27 19:21] wesleycho commented on #4024
There are already multiple tickets on this - see my PR at #3900 for a preliminary implementation that would allow support of this feature.

[2015-07-27 19:33] SteffanLong commented on #4018
For what it's worth, we solved this problem by computing the total percent width of the bars and if it was over 100, we found the first bar with a width over 0% and subtracted the amount over 100.

We did something similar if it was under 100 also.

Not the best solution, granted, but it works. The combined width is always 100% and at most one bar is +_ 0.01% off.

I can contribute our fix if you

[2015-07-27 21:17] royaldark opened #4025 "gh-pages: 0.13.1 still marked as SNAPSHOT"
This is related to the `gh-pages` branch.

https://github.com/angular-ui/bootstrap/commit/ea1c2a04849c88713f4ad05b21461a5b5d7d60d9 removed `-SNAPSHOT` from the filenames for 0.13.1, but the version headers in the actual files still have it (e.g. `Version: 0.13.1-SNAPSHOT - 2015-07-23`).

[2015-07-27 22:48] krnlde commented on #590
Do you guys have any news on that?

[2015-07-28 03:06] wesleycho commented on #4025
Fixed via 7af3115b0aec348b0871425cd137b90aacd38ca7

[2015-07-28 03:06] #4025 closed

[2015-07-28 03:17] wesleycho commented on #4016
If one wants to consume those directories directly, one should specify the repository and the particular commit/tag/branch one desires to use instead of using the semvar from npm.

Otherwise, we do not intend on supporting this any further.

[2015-07-28 03:18] wesleycho commented on #4018
Sure, I think that is an amenable fix, since at worst, it would only result in a few pixel difference.

[2015-07-28 03:25] chad-autry commented on #4016
Is the reasoning that the individual files might have breaking changes, but the package as a whole might just be a minor semvar update?

[2015-07-28 03:28] wesleycho commented on #4016
It unnecessarily bloats the package, when those consuming from semvar typically consume a distribution version. There is an already existing workaround for those who want to access the raw files.

[2015-07-28 03:33] icfantv commented on #3845
Hey guys, can you please create a bare bones plunker that shows the issue?  Thanks.

[2015-07-28 03:38] wesleycho commented on #3845
This doesn't smell right to me - the example in Bootstrap's own site shows it only being present on the body element.

As @icfantv mentioned, this needs a Plunker.

[2015-07-28 03:45] icfantv commented on #3906
@wesleycho it'd be nice to have an option as to whether or not to show the close button, but the problem is, with custom triggers, we won't know whether or not the trigger makes it so that the close button is even accessible.  i like the idea of exposing a function for closing - would something similar to $modal's close promise be worth it?

[2015-07-28 03:46] wesleycho commented on #3906
I don't think UI Bootstrap should have a close button built in - having a `$close` function on `$scope` would allow users to implement one nicely for their popups though, which is the point of my suggestion.

[2015-07-28 03:50] icfantv commented on #3906
Yea, $modal can't really have one by default since the template can really be anything.

[2015-07-28 03:55] icfantv commented on #3575
Can you please create a bare bones plunker that reproduces the issue and link here?  Thanks.

[2015-07-28 04:24] wesleycho commented on #4020
This would only work with Font Awesome I believe - I don't see the necessary icon present in Bootstrap's glyphicons. I am not sure that is something we want to support, although you're more than welcome to fork the component and add support in a standalone library.

[2015-07-28 04:26] wesleycho commented on #4009
Can you recreate this in Plunker?

[2015-07-28 04:32] wesleycho commented on #4017
Here is a working version - http://codepen.io/wesleycho/pen/VLVLVZ

Note the inclusion of ngAnimate as a module dependency.

[2015-07-28 04:32] #4017 closed

[2015-07-28 04:34] wesleycho commented on #4015
Can you explain what you would like to see in the docs?

[2015-07-28 04:41] smlombardi commented on #4015
How to create custom controls for navigation, mostly. Replace the standard
UI with one of my own.

For example, I needed a carousel with no dots or arrows, but instead a set
of buttons for next etc.

On Tuesday, July 28, 2015, Wesley Cho <notifications@github.com> wrote:

[2015-07-28 04:45] wesleycho commented on #4015
The intention is for any hiding to be done in CSS. If you would like to file a PR with a note in the docs about that, I would be glad to review & merge it.

Otherwise, this is still a bit vague as to what is desired.

[2015-07-28 04:55] smlombardi commented on #4015
Yeah, sorry for being so vague.

I guess I was looking for a way to add my own button for "next". No matter
what I did no success. I finally realized I had to put button inside
carousel div (seems obvious now, but docs would have helped)

Of course once I got that in there, my next button would only send the
carousel backward. Using auto plus was fine but next went backwards. I cand
example code w

[2015-07-28 05:28] SteffanLong commented on #4018
I submitted a pull request that fixes this issue.

[2015-07-28 05:37] salalaslam commented on #4017
works for collapse but not working for modal, [see here](http://codepen.io/salalaslam/pen/YXRXbX)

[2015-07-28 05:41] wesleycho commented on #4017
[Not true](http://plnkr.co/edit/cLENui6xgn348uLxz92C?p=preview). Not sure what is wrong with CodePen, but it's clearly not a UI Bootstrap problem.

[2015-07-28 05:46] javorosas opened #4028 "Datepicker not working with i18n + longDate"
The date shows up well at the begining. Then, when selecting a date, the ng-model is set to undefined.

I'm having these issues with the datepicker under the following circumstances:

* Angular 1.4.3
* ui-bootstrap 0.13.1
* angular i18n es-mx
* When `datepicker-popup="longDate"`

I prepared this plunkr where it's reproduced
http://plnkr.co/edit/5M69XTp1dCuTS1MEH1r5?p=preview

Using ui-bootstrap 0.

[2015-07-28 05:50] salalaslam commented on #4017
apparently the problem is in adding the ng-app attribute, if its on the html it works and if its in body it wont work!

[2015-07-28 05:54] salalaslam commented on #4017
apparently the problem is in adding the ng-app attribute, if its on the html it works and if its in body it wont work!
[this](http://codepen.io/salalaslam/pen/YXRXbX) works
[this](http://codepen.io/salalaslam/pen/doQYMY) dont
doesn't look like codePen issue is it?

[2015-07-28 10:15] suresh-mits opened #4029 "panel-title > a(href='# ') in 0.13.1"
In new Patch of 0.13.1 the anchor tag href has been changed from javascript:void(0) to '#'  which is causing problem like redirecting to # when clicking any text field inside accordion-heading.

[2015-07-28 11:09] RobJacobs commented on #4017
@salalaslam  The issue seems to be Chrome only (both work in IE11) with having the ng-app and ng-controller declaration on the same element.  I have to agree with @wesleycho.

[2015-07-28 11:18] salalaslam commented on #4017
but the app i am building will only be used in the chrome and its still a problem, so any fix/patch for it?

[2015-07-28 11:22] RobJacobs commented on #4029
That was done under this PR: https://github.com/angular-ui/bootstrap/commit/fb302c6086543420b3561be3ed5c49ac3974c243 for CSP compliance.  Notice $event.preventDefault() was added to the anchors ng-click attribute to prevent that.  Can you please create a plunkr that reproduces the issue?

[2015-07-28 11:38] johnjspiteri commented on #4020
There is a half star icon with Font Awesome "fa fa-star-half"... I will have to add this functionality into a project, will take a fork and start working at it.

Thank you @wesleycho

[2015-07-28 12:02] eugenelabonarsky commented on #4009
http://plnkr.co/edit/wKjuZTk2xB5jtZfvO5No?p=preview

[2015-07-28 12:03] eugenelabonarsky commented on #4009
datepicker-mode="'year'" min-mode="year"

[2015-07-28 13:02] wesleycho commented on #4017
Just move your ng-app to a higher element then.

[2015-07-28 14:19] wesleycho commented on #3869
This appears to be a duplicate of #3713

[2015-07-28 14:19] #3869 closed

[2015-07-28 14:22] wesleycho commented on #4028
Indeed, the datepicker does not currently support i18n - if you look in the dateparser component in the source code, you will see that there are manual regexs for parsing the date. `long` is not an option there.

I will gladly accept any PRs fixing this.

[2015-07-28 14:34] rbosneag opened #4031 "ng-click on progress bar?"
More of a question than an issue here:

I am trying to use the progress bar to show the elapsed/buffered time of an audio player and it seems to be going well.

I am wondering if there is a way to bind the progress bar to user actions like ng-click and returning the new value where the click was "clicked". This should help me for implementing a seek function for the audio player.

Any suggestions

[2015-07-28 14:35] tdeverdiere commented on #3869
In my Plunker you will not see the error **TypeError: baseDate.getFullYear is not a function** as in the #3713
The stack of the error is :

[2015-07-28 14:40] #738 closed

[2015-07-28 14:47] wesleycho commented on #3869
Right, but it turns out to be tightly related - #3759 should fix this.

[2015-07-28 15:33] icfantv commented on #4031
Are you asking if there's a way to add a click handler to the progress bar to update the value?  If so, will this work:  http://plnkr.co/edit/djihXbK7dOXqwHeZa7Z2.

[2015-07-28 15:39] pkozlowski-opensource commented on #4031
@rbosneag such support question would be better asked a dedicated support channel: https://github.com/angular-ui/bootstrap/blob/master/CONTRIBUTING.md#got-a-question-or-problem

[2015-07-28 15:39] #4031 closed

[2015-07-28 17:40] vilmosioo opened #4032 "Cannot select pre-100 years"
* Angular 1.3.13
 * Angular bootstrap 0.13.0

Cannot select date before 101. Manually typing year 1 (even with correct formatting) leads to an incorrect model value. This is due to the fact that

[code]

Can be replicated on the demo page. Try selecting any date pre-100.

[2015-07-28 17:48] 360disrupt commented on #3852
None of the examples I found do work for me. I use `"angular-ui-router": "~0.2.13",` `"angular-bootstrap": "0.12.x",` &  `"angular": "~1.3.4",`

Same problem no error msg nothing happens. All other popup types besides the one with template works.

## ui-view/HTML
[code]

## templatecache.js
`$templateCache.put("manage-users/xy.html","<h1>BAAAAM</h1> ...);`

## controller
[code]

[2015-07-28 18:18] wesleycho commented on #4020
Closing for now - if Bootstrap adds support for a half star font, then I would be more than welcome to revisiting this.

[2015-07-28 18:18] #4020 closed

[2015-07-28 18:21] royaldark commented on #4025
Looks like https://github.com/angular-ui/bootstrap/blob/gh-pages/ui-bootstrap-0.13.1.js and https://github.com/angular-ui/bootstrap/blob/gh-pages/ui-bootstrap-0.13.1.min.js still have `-SNAPSHOT` in them.

[2015-07-28 18:27] wesleycho commented on #4025
Hm weird - just removed them via b1218f73f1399410bbddd1ee383a6feb634c336b

[2015-07-28 18:50] #4018 closed

[2015-07-28 18:51] javorosas commented on #4028
short and medium are neither an option and they both work

[2015-07-28 21:13] royaldark commented on #4025
Looks good now. Thanks!

[2015-07-28 22:52] aarosil commented on #3440
I am using v. `0.13.0` and still facing this.  I believe it's amply documented what the problem is in the 2 issues above.  Is there anything I can help with?  @Asvarduil are there any work arounds you can share?

[2015-07-28 22:54] aarosil commented on #3439
This seems like a bug.  The control adds `date-disabled` property under the forms `$error` object, but the actual control itself shows `valid: true`!

[2015-07-28 22:54] wesleycho commented on #3440
As the label mentions, PRs are welcome.

[2015-07-28 23:16] wesleycho commented on #4028
Not all of the flags in `long` option work (as per Angular documentation) is the problem IIRC.

[2015-07-29 04:06] chad-autry commented on #4016
Using the workaround looses the ability to run npm outdated as a downside.

[2015-07-29 05:29] #3862 closed

[2015-07-29 05:51] wesleycho commented on #4012
This error appears to disappear in Angular 1.4 as shown [here](http://plnkr.co/edit/m4AsVj4KXjmiSFEoHK3f?p=preview).

A fix for 1.3 is ideal here, although it does not seem to break functionality. This appears to be a bug in Angular itself, but it should be noted that the Angular team has moved on to mainly focus support on 1.4 as the stable release and 1.2 for IE8 support. The bug seems to be rel

[2015-07-29 05:54] #3705 closed

[2015-07-29 06:55] lgaudez commented on #4012
Ok thanks for your investigation. Which release should fully support
angular 1.4?
Le 29 juil. 2015 7:52 AM, "Wesley Cho" <notifications@github.com> a écrit :

[2015-07-29 07:13] kumarharsh opened #4034 "Problems with Typeahead"
I'm using the ui.bootstrap.typeahead plugin in my site, and it's working OK on the face of it... But when I open console, it keeps spitting out these errors:

[code]

I've tried more or less everything, but the error persists... Funny enough, trying to reproduce it on plunkr is somehow not triggering the same error.

Does anyone have pointers as to what is going on here? Maybe I'm missing somethin

[2015-07-29 07:39] pkozlowski-opensource commented on #4034
Sorry, we will need a minimal reproduce scenario to be able to help you: https://github.com/angular-ui/bootstrap/blob/master/CONTRIBUTING.md#you-think-youve-found-a-bug

[2015-07-29 07:56] kumarharsh commented on #4034
Some helpful info (until I can reproduce it)

Angular version: `1.3.15`
Library Version: `0.13.0 - 2015-05-02`

[2015-07-29 10:43] bkirtika commented on #2974
+1

[2015-07-29 12:17] randykittinger commented on #3631
punknroll's solution works for me as well!

[2015-07-29 15:13] aaaaahaaaaa commented on #3633
Still experiencing the same problem with 0.13.1 and Angular 1.4.3

[2015-07-29 15:25] raphael22 commented on #3633
1.4.3 & 0.13.1 here, no more problem for me. neither with popover-template.

[2015-07-29 15:33] aaaaahaaaaa commented on #3633
Double checked. I confirm the problem is there on my application with 0.13.1. Works if i rollback to 0.12.1. I'll try to investigate what could be the problem a bit later if I have the time.

[2015-07-29 15:51] qvaqvaboo commented on #2072
Another workaround is to modify JS Date object to always use UTC get/set methods. Not sure how this affects moment.js and other libs/plugins though.

[code]

[2015-07-29 15:58] crestwoodCoder commented on #3912
I added ngAnimate (included in script and injected into module), and the transition just seems to go slower, but not collapsing right. It seems to open first and then close the other one slowly. I'm using 0.13.1.  Version 0.12.x works perfectly.

[2015-07-29 16:08] VoltiSubito commented on #3912
@crestwoodCoder I think you'll have better luck if you create a plnkr illustrating the problem and open a new issue instead of tailing on this one that has already been closed.

[2015-07-29 16:23] bartread commented on #3633
Fixed for me too with Angular 1.4.3 and Angular-Bootstrap 0.13.1.

[2015-07-29 17:20] EmersonMellado commented on #3633
I'm using a workaround solution by turning off the animation.

$modal.open({
     animation: false
}

Att,
Emerson R. Mellado

2015-07-29 12:34 GMT-03:00 aaaaahaaaaa <notifications@github.com>:

[2015-07-29 17:27] rgolea commented on #3811
+1

[2015-07-29 17:29] wesleycho commented on #3811
Please do not +1 issues, it only adds noise.

[2015-07-29 18:15] aarosil commented on #3440
I'm willing to take a crack at it.  Do you know why ngModelController is set to null here?  I think this maybe why the $validation error doesn't appear under the control's "name" property

angular-ui/bootstrap/blob/master/src/datepicker/datepicker.js#L23

[2015-07-29 18:23] Asvarduil commented on #3440
@aarosil There is no built-in workaround to this issue; what I wound up doing instead for my team was writing a separate date range validation directive.

[2015-07-29 18:31] zifnab87 commented on #3692
@chrisirhc I found the issue was with some code using data-tab to store data on a list item.
@agriboz  @brandonam could you check your code for similar things like tab=" " or data-tab=" " etc??
I think it would have been better if the directive doesn't allow usage as an attribute

[2015-07-29 18:43] mpiasta-ca commented on #3633
Still broken, right? Using angular-bootstrap 0.13.1 (bower) and angular 1.4.2.

[2015-07-29 18:54] mpiasta-ca commented on #3633
Success! Doesn't work with angular 1.4.2 with angular-bootstrap 0.13.1, but when upgraded to angular 1.4.3, suddenly starts to work.

But one thing I do not like is: when modal is closing, first the .modal-dialog will animate-out; and only when it is complete, then the .modal-backdrop will begin animate-out. So if .modal-dialog animation duration is 250ms, and .modal-backdrop animation is 250ms, i

[2015-07-29 18:58] astreate commented on #3633
This appears to be working now with angular 1.4.3 and angular-bootstrap 0.13.1.

[2015-07-29 18:59] mpiasta-ca opened #4036 "Modal close animation: .modal-dialog and .modal-backdrop duration stack (instead of firing simultaneously)"
I'm wondering if this is a feature, or unintended behavior...?

When modal is closing, first the `.modal-dialog` will animate-out; and only when that is complete, then the `.modal-backdrop` will begin animate-out. So if `.modal-dialog` animation duration is 300ms, and .modal-backdrop animation is 300ms, it takes 600ms for the modal to close [before the page becomes clickable again].

In contrast,

[2015-07-29 19:05] wesleycho commented on #4036
Can you reproduce this in a Plunker? It would make it much easier to debug.

[2015-07-29 19:45] geoguide opened #4037 "Implement Range Slider"
Something like this would be awesome, to use this I have to include jquery, which is annoying.

http://danielcrisp.github.io/angular-rangeslider/

[2015-07-29 19:53] #4037 closed

[2015-07-29 20:26] mpiasta-ca commented on #4036
[Created a plunkr](http://plnkr.co/edit/x0TuQRla0SiGB4sZa4bk?p=preview). When you click the button, it takes 3 seconds to load the modal-dialog and modal-backdrop. When you click close, first the modal-dialog takes 3 seconds to close, then the modal-backdrop takes another 3 seconds to close, for a total of 6 seconds.

[2015-07-29 20:46] wesleycho commented on #4036
Thanks for this clear reproduction - I will take a look at this possibly this weekend.

If I have this right, you would like the animation of the backdrop and the modal to happen simultaneously when the modal first appears? If so, that sounds like a reasonable request.

[2015-07-29 21:25] mpiasta-ca commented on #4036
I would like the close event for `.modal-dialog` and `.modal-backdrop` to trigger at the same time, so that if each has a close animation duration of 250ms, both will be hidden/removed after 250ms (instead of the current 500ms).

ie. while `.modal-dialog` is fading-out (or sliding-up), that the `.modal-backdrop` is simultaneously fading from opacity 0.5 to 0.0, such that both close/hide animation

[2015-07-29 22:01] wesleycho opened #4038 "Dropdown does not work properly with angular 1.4"
The dropdown does not work properly when it is not appended to the `body` element.

This behavior can be seen [here](http://plnkr.co/edit/LNXHR0uWL3CkTmJPnmuw?p=preview).

[2015-07-29 22:16] wesleycho commented on #4038
Looks like this was a red herring - something funky was going on before, looks like it works just fine in the Plunker now.

[2015-07-29 22:16] #4038 closed

[2015-07-29 23:19] rrawrriw opened #4040 "Datepicker return invalid date if I enter the date by keyboard - firefox 39"
Hello,

first, thanks for your effort to build this lovely helper library.

I attempt to build a search form where you can search documents by date. So I used the datepicker directive. You can choose the date with the popup or enter it with the keyboard in a input field. When I use the popup it works fine. However if I enter the date with the keyboard it dosen't work. I made a small Plunker exampl

[2015-07-30 00:16] wesleycho commented on #4040
This is a duplicate of #3713

[2015-07-30 00:16] #4040 closed

[2015-07-30 00:27] wesleycho commented on #4013
Take a look at the fix I have in #4026 @jljouannic - this should do the trick :) .

[2015-07-30 04:47] dlblamit commented on #4012
I am not able to choose date again when choosed once in the datepicker of ui bootstrap. How to get rid of this problem pls help me.

[2015-07-30 04:55] wesleycho commented on #4012
@lgaudez 1.4 will be fully supported by 0.13.2, which is likely to come out this weekend.

[2015-07-30 06:04] santina commented on #3157
@lapo-luchini  thank you for the directive! :+1:

[2015-07-30 06:34] agriboz commented on #3692
@zifnab87 i tried your suggestion even i don't have `tab=" "` or `data-tab=" "` , however, still no luck.

[2015-07-30 06:40] lgaudez commented on #4012
Ok perfect, i'll wait for 0.13.2. You can close this issue. Thanks
Le 30 juil. 2015 6:55 AM, "Wesley Cho" <notifications@github.com> a écrit :

[2015-07-30 07:08] Quirksmode commented on #3790
I also have this warning message appearing in my console and I am not even using tooltips, I have simply imported the full Bootstrap UI library during dev. I only use it for modals and the warning still shows

[2015-07-30 07:39] piotrd commented on #3692
@zifnab87: Checked in my project. No `data-tabs` nor `tabs` arguments at all :-/

[2015-07-30 09:58] vorillaz opened #4045 "Pagination does not seem to work when ng-if is used"
[code]
http://plnkr.co/edit/EaGwrL1i47LFJU7QQ0lh?p=preview

[2015-07-30 10:04] pkozlowski-opensource commented on #4045
it is scoping issue: http://plnkr.co/edit/RSnfknFAvrO4hrXFHqDQ?p=preview

See: https://github.com/angular/angular.js/wiki/Understanding-Scopes

[2015-07-30 10:04] #4045 closed

[2015-07-30 10:14] edouard-lopez opened #4046 "Missing `.in` class in modal with custom template"
I'm using `ui.bootstrap` v`0.13.x` with custom template, while the modal is enable it is invisible due to the missing `in` class. This also happen with the [example markup/js from the doc](https://angular-ui.github.io/bootstrap/#/modal)

### `pacakge.json`

My project got the following `pacakge.json` :

    {
      "name": "project",
      "dependencies": {
        "bootstrap": "3.3.x",
        "a

[2015-07-30 10:17] pkozlowski-opensource commented on #4046
I think that are mixing JS version with a template version (are you taking released js and a template from master?).

[2015-07-30 10:23] edouard-lopez commented on #4046
1. I'm copying template from `bower_components/ui.bootstrap/template/modal` ;
2. and minifying JS from `bower_components/ui.bootstrap/src/modal/modal.js`

[2015-07-30 10:26] pkozlowski-opensource commented on #4046
@edouard-lopez something else must be going on then, since it works correctly on the demo page. Please provide a plunker with a minimal reproduce or it is not actionable, really

[2015-07-30 10:46] edouard-lopez commented on #4046
I got the window to miss not the backdrop as I don't know how to override the template:

http://plnkr.co/edit/eFwBU5YANspmZFCRf5Zm?p=preview

[2015-07-30 10:55] readme42 commented on #3384
+1

Same issue here. Would like to define different modal wrapper by using windowTemplateUrl for wrapper like this:

[code]

and then using different templateUrls for different content.

[2015-07-30 12:32] #4036 closed

[2015-07-30 12:48] RobJacobs commented on #4046
The modal has changed how it implements the animation classes due to the animation changes in 1.4, the updated templates now have the following attributes:

    modal-animation-class="fade"
    modal-in-class="in"

instead of ng-class.  You will need to update your custom modal template accordingly.

[2015-07-30 12:51] nishesj opened #4047 "Typeahead not closing the popup when using ng-touch ng-click on mobile browser"
angular & angular touch version 1.4.3
Android 5.1 chrome 43
http://embed.plnkr.co/zX9ojMXRGBweID9RglZY/preview

[2015-07-30 13:03] brandonam commented on #3692
I'm at AnDevCon, notable to check my code right now but will report back
when I can

On Wed, 29 Jul 2015 at 2:31 PM Michail Michailidis <notifications@github.com>
wrote:

[2015-07-30 13:27] pkollitsch opened #4048 "'by' inside of tooltip-html causes error"
I am experiencing a strange error using tooltip-html:

```<span ng-if="booking.agent !== '0'" class="fa fa-user-secret" tooltip-html="Booking from agent<br/>{{booking.agentdata.title}}"></span>```

works as expected and shows a tooltip

```<span ng-if="booking.agent !== '0'" class="fa fa-user-secret" tooltip-html="Booking by agent<br/>{{booking.agentdata.title}}"></span>```

causes the following e

[2015-07-30 13:28] wesleycho commented on #4048
Closing as not helpful :)

[2015-07-30 13:30] pkollitsch commented on #4048
too fast. i open another issue.
(not sure why the issue opened prematurely)

[2015-07-30 13:31] pkollitsch opened #4049 "'by' inside of tooltip-html causes error"
I am experiencing a strange error using tooltip-html:

```<span ng-if="booking.agent !== '0'" class="fa fa-user-secret" tooltip-html="Booking from agent<br/>{{booking.agentdata.title}}"></span>```

works as expected and shows a tooltip

```<span ng-if="booking.agent !== '0'" class="fa fa-user-secret" tooltip-html="Booking by agent<br/>{{booking.agentdata.title}}"></span>```

causes the following e

[2015-07-30 13:34] Pickra commented on #3670
Just had the same problem. Bootstrap has versioned docs, it would be great if they were supported here.

[2015-07-30 13:35] pkollitsch commented on #4049
sorry, cache running wild caused this problem. it's working using

```<span ng-if="booking.agent !== '0'" class="fa fa-user-secret" tooltip-html="'Booking by agent<br/>{{booking.agentdata.title}}'"></span>```

[2015-07-30 13:35] #4049 closed

[2015-07-30 13:37] wesleycho commented on #4047
I am not able to reproduce this using Chrome's emulation on that Plunker. Is there any other reliable way to reproduce this?

[2015-07-30 13:43] nishesj commented on #4047
I can reproduce this using Chrome's emulation as well.
when the matches are shown eg. if u type A on the input field and if you click the link while the popup is open,  the popup should be hidden but remains open.

[2015-07-30 14:04] Blackbaud-PatrickOFriel commented on #3836
Any more info on whether we can have that $log.error be a warning, or better yet, not exist? I've managed to hack my own validation, but that console error keeps coming up.

[2015-07-30 14:10] RobJacobs commented on #4047
I'm seeing issues being reported (outside of this library) in regards to Android 5 in chrome where touch events are not firing click events.

[2015-07-30 14:14] wesleycho commented on #4047
Ahh, so this is only reproduceable if you click on a link - it sounds like a potential Android bug, and I am not sure there is much we can do about this.

[2015-07-30 14:15] RyanBard commented on #3175
This is still an issue and seems like it should be a concern.  Should this issue be re-opened?

http://plnkr.co/edit/STR8SfgvtUdNopDS5Lam?p=preview

[2015-07-30 14:19] nishesj commented on #4047
Seems like related to this https://github.com/angular/angular.js/issues/9872 but not sure ..

[2015-07-30 14:26] wesleycho commented on #4047
I think in light of that Angular issue, we should not hack around that.

I believe that any fix should be made in ngTouch - if you read the issue and the referenced SO link, it provides a good suggestion for how it can be fixed in Angular.

[2015-07-30 14:26] #4047 closed

[2015-07-30 14:32] zifnab87 commented on #3692
@agriboz @piotrd  I see - probably you have a different related problem.. it could be anything like data-tab, tab with or without values in your html.. For you it could be that you are actually using tabs in tabsets and your file dependencies are not set in the right order?

[2015-07-30 14:58] Droritos commented on #3633
Confirm v1.4.3, v0.13.1

[2015-07-30 15:11] willisd2 commented on #3439
@Asvarduil  @wesleycho @BobbieBarker  This issue should be fixed with PR #3606.  There hasn't been any activity on it in over a month though so I'm not sure when they plan on pulling it in.
PRs #3440 and #3438 are related to this.

[2015-07-30 15:33] openface opened #4050 "What's the official word on Angular 1.4 compatibility?"
It seems people are having good success using this with Angular 1.4.    I'm about to start a new project soon, and am curious what the official status here is.   The roadmap does not seem to cover this.

[2015-07-30 15:34] john-jay commented on #3155
The fix in 0.13.1 worked for me. Thanks! I am using "triple-quotes" for the mode:

input type="text" ng-model="DOB" datepicker-popup="MM-dd-yyyy" datepicker-mode="'year'" is-open="dobOpen" ng-click="dobOpen = true" />

[2015-07-30 15:34] #4013 closed

[2015-07-30 15:37] #3811 closed

[2015-07-30 15:39] wesleycho commented on #4050
`master` is currently 1.4 compatible as of 1 minute ago, and we will be releasing this weekend :)

[2015-07-30 15:39] #4050 closed

[2015-07-30 15:43] openface commented on #4050
:+1:

[2015-07-30 16:51] wesleycho commented on #4048
Did you run the text content through `$sce.trustAsHtml`?

[2015-07-30 18:20] openface commented on #4050
Excellent, thanks.  I hope this release makes into the NPM repository soon.   I only see 0.12.1 there now.

[2015-07-30 20:24] #3310 closed

[2015-07-30 21:25] wesleycho commented on #3208
Closing as I don't see strong justification for this, and there is a way to work around this if one really wants this feature.

[2015-07-30 21:25] #3208 closed

[2015-07-30 21:45] ttsuen opened #4051 "modal bindToController inconsistent behavior"
In the modal options, the bindToController's behavior is inconsistent with how angular controller's bindToController behaves.

In the example, the controllerAs name is "ctrl" and also bindToController set to true.

The direction of "binding" appears to be reversed.  In angular, the bindToController takes the variables bound in $scope and put them INTO the controller.  As a result, references to "$

[2015-07-30 22:45] jonricaurte opened #4052 "Datepicker not selecting correct date in calendar using ng-model on load"
If you go to the github page here:

https://angular-ui.github.io/bootstrap/#/datepicker

If you select the button that says 2009-08-24, the calendar opens with the date selected to 2009-08-23. Going back to 0.12.1 fixes this issue. However, both versions set the day to be the day earlier for both min-date and max-date.

Thanks.

[2015-07-31 00:51] brencon opened #4053 "Accordion Animation Missing on Expand and Collapse"
The sample code provided for the Accordion control no longer animates when expanding or collapsing elements within the accordion.

http://plnkr.co/edit/da8QO4EEqIJHqQYEHHRW?p=preview

Also: when using Chrome, an outline appears when clicking on the panel title. The following style (added to the Plunkr) corrects the issue:

`accordion * {outline: 0 !important;}`

[2015-07-31 04:14] wesleycho commented on #4053
You forgot ngAnimate - that is an optional dependency.

You can see it working [here](http://plnkr.co/edit/XmhAYNPHnpLtgYSSAdDL?p=preview).

[2015-07-31 04:14] #4053 closed

[2015-07-31 04:15] wesleycho commented on #4052
This works properly for me - it sounds like something else might be going on.

[2015-07-31 04:18] wesleycho commented on #4051
Seems you are correct - I will fix this shortly.

[2015-07-31 04:26] wesleycho commented on #4051
Fix is up in #4054, will likely be merged in tomorrow and will make it in the release on Saturday or Sunday.

[2015-07-31 04:53] jonricaurte commented on #4052
If you go to the link (https://angular-ui.github.io/bootstrap/#/datepicker), it fails on OS X chrome, firefox, and safari. Hit this button:
<img width="123" alt="screen shot 2015-07-30 at 9 52 50 pm" src="https://cloud.githubusercontent.com/assets/1715240/9000964/31f461aa-3705-11e5-86ee-bdc983783b29.png">

And on the calendar it will show:
<img width="370" alt="screen shot 2015-07-30 at 9 53 39 pm

[2015-07-31 04:54] wesleycho commented on #4052
I am not seeing this on my Chrome at all on OS X. I need more detailed information that would allow me to pinpoint the difference.

[2015-07-31 04:56] jonricaurte commented on #4052
That is very bizarre. I'm on Yosemite. Just tried VirtualBox and it also fails on IE11 in Windows 7:

<img width="759" alt="screen shot 2015-07-30 at 9 57 24 pm" src="https://cloud.githubusercontent.com/assets/1715240/9001016/dd6358fc-3705-11e5-8fa0-35f1b17e0ab3.png">

[2015-07-31 04:58] jonricaurte commented on #4052
Above everything is showing 24-August-2009, 2009-08-24, and Monday, August 24, 2009, however on the calendar it highlights 23.

[2015-07-31 04:59] wesleycho commented on #4052
I wonder if this is a timezone related bug potentially. I am on Pacific Time (GMT -8 I believe?)

[2015-07-31 05:01] jonricaurte commented on #4052
I'm also on Pacific Time. I think it is a calendar related issue because the selected time is correct everywhere else so the calendar should also be correct.

[2015-07-31 05:08] jonricaurte commented on #4052
If I click a date on the calendar, everything syncs correctly. It is when you assign the selected date by not clicking on the calendar, which is what I did when clicking this button:

https://cloud.githubusercontent.com/assets/1715240/9000964/31f461aa-3705-11e5-86ee-bdc983783b29.png

That is when it fails.

[2015-07-31 05:31] wesleycho commented on #4052
Right, I get what you're saying - I'm not sure what would cause this discrepancy, and it worries me that I cannot reproduce this at all, even while residing on the same timezone (Mountain View here).

[2015-07-31 05:39] wesleycho commented on #3988
Hmm, thinking about this more, I think a disabled would be more appropriate, perhaps with `ng-disabled` - this shouldn't be a difficult feature to implement if you want to open a PR.

[2015-07-31 06:54] wesleycho commented on #3585
There were two main ones, each pointing to different repositories - they are maintained automatically once a new version has been tagged.

I suspect that `angular-ui-bootstrap` was registered by someone else, although I'm not finding it on bower anymore.

Anyhow, the instructions for usage is [here](https://github.com/angular-ui/bootstrap#install-with-bower).

[2015-07-31 06:54] #3585 closed

[2015-07-31 07:00] wesleycho commented on #3586
I removed it from the wiki, which should resolve this: https://github.com/angular-ui/bootstrap/wiki/FAQ

Thanks for the catch!

[2015-07-31 07:00] #3586 closed

[2015-07-31 07:03] wesleycho commented on #3709
This has a performance tradeoff of increasing the overhead at runtime on show/hide for reducing the number of watchers in the dropdown template.

The question then is, which approach is preferred? After thinking about it, an ng-if would probably be preferred most of the time, but might require a breaking change. Maybe creating another directive set specifically for using ng-if is preferred for sup

[2015-07-31 07:17] wesleycho commented on #3694
I believe this is fixed on `master`: http://plnkr.co/edit/N25cMelap9C718HrVqGS?p=preview

[2015-07-31 07:19] agriboz commented on #3692
@zifnab87 i have the correct order of my dependencies. I am not clear on what you are saying which is using bootstrap in tabsets.

[code]

[2015-07-31 08:09] piotrd commented on #3692
I searched my code again and can confirm: I am not using `tabset` nor `tab` element (not even as attribute) at all in my project. That's odd, because our users keep receiving these errors anyway ;/

[2015-07-31 08:18] piotrd commented on #3692
Maybe this data will give anyone a hint. This is a sample stacktrace my error tracking tool reports:

[code]

Also, I noticed that out of 25 occurrences of this error in my app, all of them happened in Safari/MacOSX. Here is a summary: of  and number of occurrences:

User agent string | Occurrences
------------ | -------------
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/600.6.3 (KHT

[2015-07-31 09:31] edouard-lopez commented on #4046
Problem solved by:
* updating the templates (without the wrapping `<script type="text/ng-template" id="template/modal/backdrop.html">` tag)
* removing `<ng-include src="'template/modal/backdrop.html'"></ng-include>`

[2015-07-31 09:31] #4046 closed

[2015-07-31 10:36] aug-riedinger commented on #590
:+1: here. I don't understand why this is not already available ...

[2015-07-31 11:54] RobJacobs commented on #4052
I was seeing this issue this morning at 7:45 EST.  The problem is with how in the demo the click event is setting the scope.dt to a string instead of a date object.  This updated [plunk](http://plnkr.co/edit/ruQxyxHTGPXwCpk6bWNt?p=info) demonstrates calling a function with a date string as a parameter and setting scope.dt to a new Date(string) object and it seems to work correctly.

[2015-07-31 13:40] stijnherreman commented on #3187
From reading the description, I think I have the same issue. When I type the full value of one of the options and then select the option, the field is invalid with `ng-invalid-parse`. When I type a partial value and select the option, the field is valid.

I don't have a test case to demo, but upgrading from 0.13.0 to 0.13.1 fixes the issue for me.

[2015-07-31 13:57] wesleycho commented on #4052
We should probably then strip out the `new Date` fallback present in the datepicker then...I'll investigate properly removing it and updating the demo to only set a new date JS object instead of the date string to the model.

I will schedule that for 0.13.3 then.

[2015-07-31 14:03] #4051 closed

[2015-07-31 14:17] wesleycho commented on #3676
This should currently be fixed on `master`.

It should also be noted, `ngAnimate` is an optional dependency - the animations won't occur without it, which allows users the choice.

[2015-07-31 14:17] #3676 closed

[2015-07-31 14:28] #3233 closed

[2015-07-31 14:45] #3939 closed

[2015-07-31 15:09] levin81 commented on #3633
Using 1.43 with 0.13.1 with Bootstrap 3.3.5, fading in works but fading out doesn't work. It is due to reaching ``domEl.remove()`` in ``afterAnimating()`` too fast which removes the element before it has finished fading out.

[2015-07-31 15:50] federicosintucci commented on #3648
Hi guys,

seems like this issue is back in angular 1.4.x.
See attached Plunker http://plnkr.co/edit/zv1tcFJ0N6n1TT5PeTTo?p=info

[2015-07-31 16:05] jonricaurte commented on #4052
@RobJacobs I think you may have figured it out, but its not because you are passing a new Date object. After looking at your plunk, I noticed you changed the date format to be 2009/08/24 instead of 2009-08-24 so I tried setting it here in this plunk without having a date object and it works:

http://plnkr.co/edit/jjbLElyLb8wQZVxg0TnT?p=preview

Then I tried setting min/max date to use 2009/08/24 f

[2015-07-31 16:07] wesleycho commented on #4052
Yuck...

Also, found out this is a duplicate of #3071, so that one will be fixed along with this one when it is patched up.

[2015-07-31 16:10] #3609 closed

[2015-07-31 16:10] #3701 closed

[2015-07-31 16:10] #3713 closed

[2015-07-31 16:10] #3736 closed

[2015-07-31 16:10] #3875 closed

[2015-07-31 16:10] #3937 closed

[2015-07-31 16:10] #3976 closed

[2015-07-31 16:15] parkerhillius commented on #3187
Thank you Stijn! I just upgraded and that resolved my issues, everything is working correctly now.

[2015-07-31 16:34] Rems69 commented on #3633
I had the same issue @levin81, try to include ngAnimate module, it worked for me.

[2015-07-31 16:46] brencon commented on #4053
Thank you. The Plunkr sample for Accordion on https://angular-ui.github.io/bootstrap/ is still missing the ngAnimate dependency. Although it's optional, I think most people expect to see the smooth animation applied to the control.

[2015-07-31 17:29] levin81 commented on #3633
I have included it. I have tried messing around with different versions of Angular as well. Still doesn't work.

[2015-07-31 20:21] Veraprot commented on #2017
this fixed the issue on android, however it didn't fix it on ios.

[2015-07-31 21:02] jczerwinski opened #4056 "[popover] add template expression support"

[2015-07-31 21:04] jczerwinski commented on #4056
Allows

```javasacript```
$scope.template = '<span>My Template</span>';
[code]

[2015-07-31 21:25] mjhamm75 opened #4058 "How do I show a tooltip on focus of something other than an <input>"
I need to have a tooltip show when I focus on a `div`, `p`, or some other kind of block element.  I originally used `click` as the trigger, but when I do this, I have to click on the `div` to hide the tooltip.  I want the tooltip to disappear when I click anywhere on the page.  Here is a plunkr to show what I am talking about.

http://plnkr.co/edit/IWHPFfpei5UzUza8icac?p=preview

[2015-07-31 21:37] wesleycho opened #4059 "`disabled` support for datepicker"
The datepicker should respect the `disabled` attribute.

The datepicker popup should respect the `disabled` attribute, and not open the popup when disabled.

This should also add support for ng-disabled.

[2015-08-01 02:01] ijprest opened #4060 "Tooltip is not closed when exiting enclosing <div> containing disabled checkbox"
Angular 1.4.3, Angular-UI-Bootstrap 0.13.1, Chrome 44.

* Put a tooltip on a `div`
* Within that `div`, put a disabled checkbox:
  * `<label><input type="checkbox" ng-disabled="true"><span>Label</span></label>`
* Run the app.
* Hover over the checkbox/label `div`... tooltip appears.
* Exit the `div` by moving the mouse to the *left*... tooltip doesn't close.

Note: this is using the standard Boots

[2015-08-01 02:02] ijprest commented on #4060
See also related issue #2059.

[2015-08-01 03:08] wesleycho commented on #4060
Forked Plunker to a more useful one [here](http://plnkr.co/edit/HPdSmQONRQJSOHp2m0EN?p=preview) for reference.

[2015-08-01 03:36] wesleycho commented on #3305
This works perfectly fine, as demonstrated by [this Plunker fork](http://plnkr.co/edit/ZoaaXXepw5A7QBUrdIqn?p=preview).

There is not much that should be done on UI Bootstrap's side - the data is available in the DOM and the model value, it is up to the developer to make use of their JavaScript to extract the necessary values, since it is something that the developer can control.

[2015-08-01 03:36] #3305 closed

[2015-08-01 03:39] wesleycho commented on #3282
This is not something that Bootstrap supports, and so I do not believe this is something we should support either since there is no guarantee that a breaking change won't be made in the CSS.

[2015-08-01 03:39] #3282 closed

[2015-08-01 04:04] wesleycho commented on #3261
That is not the source of the problem - did some investigation, and it turns out the `dropdown` directive instantiates twice.

[2015-08-01 04:09] wesleycho commented on #3261
Elaborating further, this appears to be because of the tab component - the `tabset` directive uses the `tab-content-transclude` directive, which copies the HTML of the content of the tab and moves it into a different element.

[Here](http://plnkr.co/edit/6pFnydJAo8xUH3xrc6vi?p=preview) is a fork of the Plunker based off of `master` that demonstrates the problem.

[2015-08-01 04:25] wesleycho commented on #3261
I apologize, looks like my observation is incorrect - something really funky is going on. With each click, both dropdown buttons are toggling.

[2015-08-01 05:08] wesleycho commented on #3220
This appears to be unrelated to a tooltip then, as far as I can see based on `master` [here](http://plnkr.co/edit/EWAwbNb8PSbZ9QcFcbqN?p=preview).

[2015-08-01 05:18] wesleycho commented on #3153
Closing as not useful - feel free to open a new issue if there is more information.

[2015-08-01 05:18] #3153 closed

[2015-08-01 05:20] wesleycho commented on #3147
I don't think we are interested in supporting this as originally stated.

A better option would be to create a controller for the modal, and take advantage of `controllerAs`  & `bindToController`, which is currently supported in `master` and will be released this weekend as 0.13.2.

[2015-08-01 05:20] #3147 closed

[2015-08-01 05:53] wesleycho commented on #3856
This should be fixed in `master`, and will reflect live this weekend when 0.13.2 is released.

[2015-08-01 05:53] #3856 closed

[2015-08-01 05:55] wesleycho commented on #3643
I believe this is now fixed in `master` since #3759 is merged - feel free to open a new issue if this is not the case.

[2015-08-01 05:55] #3643 closed

[2015-08-01 05:56] wesleycho commented on #3631
This should now be fixed in `master`.

[2015-08-01 05:56] #3631 closed

[2015-08-01 06:01] wesleycho commented on #2812
I do not believe we will support this, as we are paralleling the Angular dateFilter currently - work needs to be done to abstract the date parsing to allow users to use a library like moment.js, at which point this may be a possibility.

[2015-08-01 06:01] #2812 closed

[2015-08-01 06:05] wesleycho commented on #2369
I believe this is currently fixed on `master` with making the model invalid - feel free to open a new issue if this is not the case

[2015-08-01 06:05] #2369 closed

[2015-08-01 06:32] icfantv commented on #3220
As previously mentioned, the tooltips appear to be a red herring.  The issue appears to be the `ng-repeat`.  A first crack at debugging this appears that the `scope.$eval` calls are the culprit:

https://github.com/angular-ui/bootstrap/blob/42e1af5c606b2f623f37c56bbfb37aad2c936527/src/buttons/buttons.js#L22
https://github.com/angular-ui/bootstrap/blob/42e1af5c606b2f623f37c56bbfb37aad2c936527/src/b

[2015-08-01 10:20] narangrishab commented on #1688
Hello Guys, How to do start date end date validation using Angular JS for bootstrap datepicker?

[2015-08-01 14:02] icfantv commented on #3220
I think I've found a solution, or at least the start of one.  I'll play with it more later and write some tests.  We'd need to add something similar to the `btnRadio` directive's linker:
[code]
and change the `scope.$eval(attrs.btnRadio)` call to `parseValue()`.

[2015-08-01 14:27] #4056 closed

[2015-08-01 14:34] #1289 closed

[2015-08-01 14:34] #2446 closed

[2015-08-01 14:34] #3037 closed

[2015-08-01 14:34] #3104 closed

[2015-08-01 14:34] #3196 closed

[2015-08-01 14:34] #3206 closed

[2015-08-01 14:34] #3342 closed

[2015-08-01 14:34] #3617 closed

[2015-08-01 14:34] #3644 closed

[2015-08-01 14:47] wesleycho commented on #3575
I believe this is now fixed in `master` with some of the work that has been done with fixing stranded DOM elements.

Feel free to open a new issue with a reproduction if it is not.

[2015-08-01 14:47] #3575 closed

[2015-08-01 15:35] wesleycho commented on #3199
This appears to be fixed in `master`, as can be seen [here](http://plnkr.co/edit/xxe9jEYSdNNA0lq5snhE?p=preview).

[2015-08-01 15:39] wesleycho commented on #3180
This issue seems to be fixed in `master`, as can be seen [here](http://plnkr.co/edit/Pa60eDUvK2qKuijYZYOj?p=preview).

[2015-08-01 15:39] #3180 closed

[2015-08-01 16:00] wesleycho commented on #3081
Closing due to inactivity & needing more info - feel free to open a new issue if this is still a problem with a proper reproduction.

[2015-08-01 16:00] #3081 closed

[2015-08-01 16:11] #3457 closed

[2015-08-01 16:16] #3545 closed

[2015-08-01 16:17] #3087 closed

[2015-08-01 16:18] #3076 closed

[2015-08-01 16:20] wesleycho commented on #3052
Closing as this does not appear to be a change that is desired in this project.

[2015-08-01 16:20] #3052 closed

[2015-08-01 16:26] wesleycho commented on #3036
Note that this is still [current behavior](http://plnkr.co/edit/l4mifbqMauJNjOl3lskM?p=preview).

Investigating how `ng-change` works, the Angular documentation notes that it is for [when the input value changes](https://docs.angularjs.org/api/ng/directive/input). This implies that `ng-change` is meant to run when the user modifies the input and the change listeners run in the process of convertin

[2015-08-01 16:26] #3036 closed

[2015-08-01 16:31] wesleycho commented on #3024
@epicleptico that is correct - using resolve may not make sense in that case, and it might make more sense to just make the request from your controller.

I am closing this issue as it appears to be a usage issue.

[2015-08-01 16:31] #3024 closed

[2015-08-01 16:33] wesleycho commented on #3015
This has been updated thanks to @yuyokk.

[2015-08-01 16:33] #3015 closed

[2015-08-01 16:35] wesleycho commented on #3008
We are not interested in supporting this at this point in time - the dateparser currently aims to support the behavior found in Angular's dateFilter.

[2015-08-01 16:35] #3008 closed

[2015-08-01 16:37] wesleycho commented on #2931
This appears to no longer be an issue as far as I can tell from `master` [here](http://plnkr.co/edit/GzluKQxDjiSeukTGvnjL?p=preview)

[2015-08-01 16:37] #2931 closed

[2015-08-01 17:17] wesleycho commented on #2898
Closing since this seems to be fixed.

[2015-08-01 17:17] #2898 closed

[2015-08-01 17:20] wesleycho commented on #2956
I am not sure if we want to change anything in the pagination here - what should `num-pages` return in this instance? How should the UI look?

[2015-08-01 17:24] wesleycho commented on #2893
This appears to be fixed now, as can be seen [here](http://plnkr.co/edit/hLh13u4vdm2tlPnD5FRy?p=preview).

[2015-08-01 17:24] #2893 closed

[2015-08-01 17:25] wesleycho commented on #2886
This should now be fixed in `master`.

[2015-08-01 17:25] #2886 closed

[2015-08-01 17:33] wesleycho commented on #2875
I did an investigation with an [updated Plunker](http://plnkr.co/edit/dhWJmzFlqGPdhXDyndPC?p=preview), and this is still an issue in `master`.

[2015-08-01 18:05] wesleycho commented on #2910
Please open tickets for any issues you find - putting each one in a catchall issue is not the way to properly get them addressed, as it makes issue tracking a nightmare.

[2015-08-01 18:11] wesleycho commented on #2838
Note: this still is an [issue](http://plnkr.co/edit/WDcsHNs8We7SBojj0Be5?p=preview)

I am not sure what the best approach for this would be. Maybe adding built-in support for delaying the close/dismiss calls until the modal loads?

[2015-08-01 18:20] wesleycho commented on #2813
This should now be fixed in `master` for the vast majority of cases - I am not finding a good solution to fix the problem for left-handed mice though.

[2015-08-01 18:22] wesleycho commented on #2787
Closing as there is not enough information.

It should be noted that the custom builder on the homepage has been fixed for a while, so if this is an issue with that tool, it should be functioning fine currently.

[2015-08-01 18:22] #2787 closed

[2015-08-01 18:24] wesleycho commented on #2721
I do remember this being an old persistent issue though, but it appears to be addressed currently.

[2015-08-01 18:24] #2721 closed

[2015-08-01 18:26] wesleycho commented on #2667
As this has been fixed for a while, I am closing this issue as old.

[2015-08-01 18:26] #2667 closed

[2015-08-01 18:29] jczerwinski commented on #2016
See #2792.

[2015-08-01 18:33] wesleycho commented on #2608
Updated the Plunker [here](http://plnkr.co/edit/MlQGXLix6ajD30Om4bb7?p=preview).

PRs are welcome for fixing this.

[2015-08-01 18:35] wesleycho commented on #2591
It should be noted that there is now a `is-open` attribute that is supposed for programmatically toggling the datepicker, so one can use ng-click.

[2015-08-01 18:35] #2591 closed

[2015-08-01 18:36] wesleycho opened #4067 "`disabled` support for Accordion"
The accordion supports not going to a disabled panel, but it does not appropriately reflect it in the UI. This should support ngDisabled properly.

[2015-08-01 18:37] wesleycho commented on #2560
This is likely an old issue that has been fixed with the various refactors that have gone into the tooltip.

If this is still an issue, please open a new one with a reproduction if possible.

[2015-08-01 18:37] #2560 closed

[2015-08-01 18:41] wesleycho commented on #2563
Something like this would be a step in the right direction - currently the datepicker needs to be untangled from its hard dependency on the Date constructor.

[2015-08-01 18:44] wesleycho commented on #2522
I am closing this PR as we do not support Angular 1.2 anymore (& it is too old).

[2015-08-01 18:44] #2522 closed

[2015-08-01 18:46] wesleycho commented on #2512
Closing as this appears to be fixed.

[2015-08-01 18:46] #2512 closed

[2015-08-01 18:50] wesleycho commented on #2487
This seems to work to me [here](http://plnkr.co/edit/xHylSVtifI4aDFJWEcDW?p=preview) - I would recommend using ng-keypress to detect user typing though.

[2015-08-01 18:50] #2487 closed

[2015-08-01 18:51] wesleycho commented on #2429
This should now be fixed.

[2015-08-01 18:52] wesleycho commented on #2429
Sorry, closed prematurely - this is still an issue for stacked bars.

[2015-08-01 18:54] wesleycho commented on #2411
One can create a custom directive to set focus on a particular input, and I'd say that would be the recommended approach for any similar DOM manipulation.

[2015-08-01 18:54] #2411 closed

[2015-08-01 18:56] wesleycho commented on #2388
This is reasonable - I will see if we can get this implemented sometime soon.

[2015-08-01 18:57] chrisirhc commented on #2875
Checking the Retainer tree reveals that this is due to ngAnimate storing a reference to the DOM element. It could be that we're (probably my fault) using $animate wrongly.

<img width="1532" alt="screen shot 2015-08-01 at 11 52 18 am" src="https://cloud.githubusercontent.com/assets/132584/9023142/2bd8f340-3844-11e5-974f-405d406dbe0e.png">

Disabling animations indeed removes those leaked nodes. ([

[2015-08-01 18:59] jczerwinski commented on #2016
The functionality will look like this:

[code]

[2015-08-01 19:00] wesleycho commented on #2362
`ng-change` is fired when the view value changes from user input - if you want to detect when the date has been selected, I recommend watching the model for changes.

[2015-08-01 19:00] #2362 closed

[2015-08-01 19:03] chrisirhc commented on #2875
Using `$animate.leave` instead of `.remove()` seems to solve this issue.
[Plunker](http://plnkr.co/edit/006CQ5FnEusR3mS4casM?p=preview)

[2015-08-01 19:08] #2016 closed

[2015-08-01 19:10] wesleycho commented on #2222
This appears to be fixed - the current build on the homepage being generated is 0.13.1

[2015-08-01 19:10] #2222 closed

[2015-08-01 19:11] wesleycho commented on #2202
This is currently fixed.

[2015-08-01 19:11] #2202 closed

[2015-08-01 19:12] wesleycho commented on #2196
This is currently fixed, as pointed out by @mlaccetti.

[2015-08-01 19:18] wesleycho commented on #1960
If I had to suspect, this might be because the select element is not inside a form element - I have encountered weird issues with Firefox in that situation.

Unfortunately I don't have an Android phone handy at the moment to test this on.

[2015-08-01 19:26] wesleycho commented on #967
I am closing this as I do not think this is an appropriate feature to move into this library. One can always work around this by having a modal controller with a close method that checks a condition before allowing the user to close the modal, which is the appropriate approach.

[2015-08-01 19:26] #967 closed

[2015-08-01 20:25] wesleycho commented on #3194
The problem here is that the implementation puts the tooltip next to the DOM element it is providing contextual information for - this differs from Bootstrap's JS where it puts the tooltip globally to avoid this sort of clipping problem.

The proper solution may end up meaning that we need to refactor the tooltip to allow it to append it to the body element instead & manage a stack similar to the

[2015-08-01 20:26] wesleycho commented on #3194
It should be noted that to support this may cause a problem when it comes to accessibility.

[2015-08-01 20:43] zifnab87 commented on #3692
@piotrd could it be that ```data-tab``` attributes are added in html from javascript before angular-ui-bootstrap runs?  i would check the entire loaded html of your website for those attributes .. as well. Also for my case, the error stack trace didn't include any of my code at all. the error happens all the time during phases of $injector, $eval, $digest etc..

[2015-08-01 20:44] zifnab87 commented on #3692
@agriboz yeah that's what I meant - proper html , and correct order of file.. dependencies .

First angular then angular-ui-boostrap, then any code that involves tabs/tabsets etc

[2015-08-01 22:05] cleftheris commented on #3008
Are you serious. Filters are meant primarily for presenting data not user input. Try putting a date picker on an input type text and explain to the user why is 1/2/2015 is not a valid date. IMHO this is a bug

[2015-08-01 22:15] mohuk commented on #2875
thanks a lot guys .. its great to see progress on an issue opened long before. :+1:

[2015-08-01 22:33] wesleycho commented on #3008
Nothing is stopping you from overwriting the `dateparser` factory to implement your own custom parser.

That type of attitude though is unwarranted and unprofessional.

[2015-08-01 22:54] titobf commented on #2525
@dust4ngel Thanks for sharing your solution. I actually needed to do it that way because I needed to inject the deviceDetector service so I can check for mobile devices by doing deviceDetector.isMobile().

[2015-08-01 23:02] cleftheris commented on #3008
My sincere apologies for my outburst.

[2015-08-02 01:32] RobJacobs commented on #3194
Tooltip will accept tooltip-append-to-body: https://github.com/angular-ui/bootstrap/blob/master/src/tooltip/tooltip.js#L123

[2015-08-02 07:08] wesleycho commented on #3220
Doing some more investigation, we should disallow interpolation for `btn-radio` - it already accepts angular expressions, there is absolutely no reason for an interpolation there.

[2015-08-02 07:19] #2875 closed

[2015-08-02 07:26] wesleycho commented on #3220
Closing as not an issue - since it already accepts an expression, the proper usage would be like [this](http://plnkr.co/edit/slPZtXzu30iGTlCcZeZP?p=preview).

If there is any particular issue with reproduction, feel free to open a new issue.

[2015-08-02 07:26] #3220 closed

[2015-08-02 07:35] #3964 closed

[2015-08-02 07:35] #3978 closed

[2015-08-02 07:57] wesleycho commented on #3772
This appears to be fixed with the latest release now, as can be seen [here](http://plnkr.co/edit/Vmy4WeS8tEmzILkd4LIj?p=preview).

[2015-08-02 07:57] #3772 closed

[2015-08-02 08:20] wesleycho commented on #3764
[This](http://plnkr.co/edit/0o1D5fRURUGPYMSRKefc?p=preview) is indeed a strange bug.

I have a fix I am about to open a PR for.

[2015-08-02 08:34] wesleycho commented on #3670
I think we are going to want to revamp our homepage - the UX could use some work to make it easier to get to the component of interest.

This would be a large amount of work though, so I cannot give an estimate when this can be done, especially with the large amount of issues/PRs being tackled with - more maintainers is a necessity for some of this work, as requested in #3997.

[2015-08-02 08:39] wesleycho commented on #3605
As far as I can see based on what is said, it looks like @pkozlowski-opensource provided a workaround for this issue provided by Angular itself - if this is still an issue, please provide a reproduction via [Plunker](http://plnkr.co/) in a new issue.

[2015-08-02 08:39] #3605 closed

[2015-08-02 08:42] wesleycho opened #4073 "Switch from `bind-html-unsafe` to `ng-bind-html` in typeahead"
For security reasons, we should only be adding whitelisted HTML - we should not be using an unsafe binding mechanism.

[2015-08-02 08:54] wesleycho commented on #4073
This requires a change in the `typeahead-match.html` template, as well as likely some work fixing the tests to whitelist the templates. This also requires some change in typeahead itself, including the `typeaheadHighlight` filter.

[2015-08-02 09:52] wesleycho commented on #3601
For the most part, the tests are testing for functionality. I think it is safe to ignore those types of problems and leave it up to the user to fix, unless there is something special about a particular value type.

Closing this issue as overly broad, since if there is a legitimate missing test, then another issue/PR should be filed for it that describes it in detail.

[2015-08-02 09:52] #3601 closed

[2015-08-02 13:04] artaommahe opened #4076 "Datepicker popup '$digest already in progress' on route change"
'$digest already in progress' fires if datepicker popup is opened and we change current state

ui.bootstrap version 0.13.1, angular 1.4.3, last angular-route or ui-router

http://plnkr.co/edit/FFEGvrbDrzX1pt2u9rYL?p=preview
Steps:
- click go to state 2
- click go to state 1
- click on input for popup showing
- click go to step2
- see error in console

[2015-08-02 14:06] freshfelicio commented on #3504
Thank you so much @mdsauer!!! Had the exact same issue. Adding type="button" fixed it.

[2015-08-02 15:39] wesleycho commented on #3987
Just adding, this appears to work fine if one used `focus`, as can be seen [here](http://plnkr.co/edit/CFLqGAsvn3VF89XqZrWQ?p=preview).

[2015-08-02 15:57] wesleycho commented on #2005
I am not sure how wise it would be to mimic Bootstrap in this regard - this moves the consumer away from the standard JS events, for a bit of added complexity in the library code. The gain does not seem worth it IMO, but I don't feel too strongly either way.

[2015-08-02 16:17] wesleycho commented on #3291
I believe this problem should be fixed now, as of a couple of days ago when two major datepicker/dateparser fixes have landed in `master` (& released in 0.13.2 as of last night).

[2015-08-02 16:17] #3291 closed

[2015-08-02 16:35] wesleycho commented on #3080
Just noting that this is still an [issue](http://plnkr.co/edit/RnQGp3scFZZhvVwB3Syo?p=preview).

This is likely because the height is set to 0 before the `display: none` style applies, which gives it the jumpy effect. This might be difficult to fix inside collapse itself, but at least there is a good workaround for now.

[2015-08-02 16:41] wesleycho commented on #3001
Closing, as `$transition` is no longer supported.

[2015-08-02 16:41] #3001 closed

[2015-08-02 16:43] wesleycho commented on #2923
I believe this issue is now fixed with dynamic resizing occurring for tooltips/popovers - feel free to open a new issue with a minimal reproduction if you feel this is still an issue.

[2015-08-02 16:43] #2923 closed

[2015-08-02 16:50] wesleycho commented on #4073
This should be addressed by the changes in #3463.

[2015-08-02 16:52] wesleycho commented on #4076
Looks like this is still an issue, as can be seen [here](http://plnkr.co/edit/3tlbi5U101bavwEsS9sI?p=preview)

This should be an easy fix.

[2015-08-02 17:02] wesleycho commented on #2540
This appears to be an old issue - feel free to open a new issue based on current `master` or 0.13.2 if this is still an issue with current UI Bootstrap.

[2015-08-02 17:02] #2540 closed

[2015-08-02 17:02] wesleycho commented on #4052
Also duplicate of #2628

[2015-08-02 17:15] wesleycho commented on #2891
I am not able to reproduce this currently - feel free to open a new issue with more details if there is a particular problem.

[2015-08-02 17:15] #2891 closed

[2015-08-02 17:16] wesleycho commented on #4073
This is also a duplicate of #2884

[2015-08-02 17:25] wesleycho commented on #2649
This seems to work perfectly fine as far as I can tell [here](http://plnkr.co/edit/SM9RJus262XzG5pi2Hv7?p=preview).

[2015-08-02 17:25] #2649 closed

[2015-08-02 17:32] wesleycho commented on #2511
Looks like this is still an issue [here](http://plnkr.co/edit/aSSAep4PL777WDf7vCsy?p=preview).

[2015-08-02 17:44] wesleycho commented on #2291
One has access to the `is-open` attribute, which allows one to programmatically toggle opening and closing of the accordion, as can be seen [here](http://angular-ui.github.io/bootstrap/#/accordion).

[2015-08-02 17:44] #2291 closed

[2015-08-02 17:48] wesleycho commented on #2258
This opens, as can be seen [here](http://plnkr.co/edit/vXRGY9DtYxFDlqFiFy4t?p=preview) by pressing down on the keyboard - as mentioned, one can access the `is-open` attribute, which is now documented.

[2015-08-02 17:48] #2258 closed

[2015-08-02 17:55] wesleycho commented on #2288
I am not able to reproduce this [here](http://plnkr.co/edit/GHhAbFVf1BaLrgYSXyNX?p=preview).

Feel free to open a new issue with reproduction if it is an issue still.

[2015-08-02 17:55] #2288 closed

[2015-08-02 18:01] wesleycho commented on #2155
I am not seeing this issue currently [here](http://plnkr.co/edit/kmpDzRr50TxUT1pO5JT0?p=preview).

Feel free to open another issue with a reproduction if possible as suggested.

[2015-08-02 18:01] #2155 closed

[2015-08-02 18:05] #3764 closed

[2015-08-02 18:09] #3648 closed

[2015-08-02 18:10] #3597 closed

[2015-08-02 18:14] #3176 closed

[2015-08-02 18:18] #2773 closed

[2015-08-02 18:20] #2511 closed

[2015-08-02 18:22] #3987 closed

[2015-08-02 18:25] #4076 closed

[2015-08-02 18:27] wesleycho commented on #2113
This issue may potentially be stale - please open a new issue with reproduction if this is still a problem.

[2015-08-02 18:27] #2113 closed

[2015-08-02 18:32] wesleycho commented on #1739
Modal animations are now using ngAnimate to drive animations, so I believe this is not an issue any more.

[2015-08-02 18:32] #1739 closed

[2015-08-02 18:36] wesleycho commented on #1114
@szabyg I will move to implement this feature behind a feature flag, opting for the default behavior to be as requested here to match the datepicker and to allow what is requested in #1589 to be possible as well.

[2015-08-02 18:54] bkardell commented on #3987
@wesleycho yeah, but this is of course just a simple demonstration of a failure case.  Either way, it looks like it got added now, so great.

[2015-08-02 19:06] wesleycho commented on #1210
Closing this issue as likely stale - feel free to open a new issue if this is still a problem.

[2015-08-02 19:06] #1210 closed

[2015-08-02 19:08] wesleycho commented on #740
The problem at heart is in the dropdown component - the current dropdown does not allow for it being scrollable.

[2015-08-02 19:11] wesleycho commented on #740
This is currently able to be worked around by applying
[code]
in the CSS.

[2015-08-02 19:12] wesleycho commented on #740
In light of this workaround, I believe that this should remain a pure CSS fix and not be handled in the library - closing as a consequence.

[2015-08-03 04:17] icfantv commented on #4007
@LeleDev, per the docs https://angular-ui.github.io/bootstrap/#/tooltip, the `$tooltipProvider` controls both tooltips and popovers.  Was there a specific reason you had to have popovers configured separately?

[2015-08-03 04:27] icfantv commented on #3928
@wesleycho, per the comments in #3927, this can be closed.

[2015-08-03 05:02] icfantv commented on #3923
I created a plunker [here](http://plnkr.co/edit/j9pC1ujvPnmGLU6OS6UN) but the issue was fixed in [Angular 1.3.4] (https://github.com/angular/angular.js/blob/master/CHANGELOG.md#134-highfalutin-petroglyph-2014-11-24) - most likely via the bullet titled `call $setTouched in blur asynchronously if necessary`.

I did confirm that the issue goes away when using Angular 1.3.4.  @wesleycho, I think this

[2015-08-03 05:04] wesleycho commented on #4007
To set default triggers, one can set
[code]
Only a one-to-one mapping is supported.

[2015-08-03 05:04] #4007 closed

[2015-08-03 05:04] #3928 closed

[2015-08-03 05:05] #3923 closed

[2015-08-03 05:22] icfantv commented on #3855
@yaring @austinpray, the trigger is not on the popover, but on the element on which the popover directive is placed.  Thus, when you click on the popover template, the popover element is losing focus and the popover closes.

The default trigger for popovers is `click` (as you can see via the [UI Bootstrap Example](https://angular-ui.github.io/bootstrap/#/popover) - Look at the `Popover With Templa

[2015-08-03 05:24] wesleycho commented on #3855
As pointed out, one has to set the popover trigger to be `focus`, so that on `blur` it will close.

[2015-08-03 05:25] moneytree-doug commented on #3694
@wesleycho Why was this with the tag ``resolution: can't reproduce / no info``? @mikesir87 gave a perfect example that reproduces it right there. It is not fixed in the link you provided, and if you open the example and click on "Open with the scope defined" and click "Go" then click the "Close" button, you would notice that it doesn't dismiss.

[2015-08-03 05:28] wesleycho commented on #3694
He is using an old version - I linked an updated version without being able to see it reproduced.

[2015-08-03 05:38] icfantv commented on #3515
This issue sounds identical to #3855.  @wesleycho, I think we can close this.

@boillodmanuel, please see the comments in the referenced issue above for the proper solution.

[2015-08-03 05:41] wesleycho commented on #3515
Closing as per comments.

[2015-08-03 05:41] #3515 closed

[2015-08-03 05:48] icfantv commented on #3485
At the most very basic level, downloading and adding the Bootstrap CSS file and the full Angular UI Bootstrap JS file to your `<head>` section will be sufficient to get started.  Please see the [`Manual` section](https://github.com/angular-ui/bootstrap#manual-download) for more info.

[2015-08-03 05:48] #3485 closed

[2015-08-03 05:53] wesleycho commented on #1495
Closing as an outdated - the create a build button works perfectly fine currently.

[2015-08-03 05:53] #1495 closed

[2015-08-03 05:56] wesleycho commented on #1688
I believe this is fixed currently, as the homepage works as expected.

@narangrishab: take a look at the documentation for the datepicker, and read up on how validation in Angular works.

Closing as fixed.

[2015-08-03 05:56] #1688 closed

[2015-08-03 06:00] wesleycho commented on #2123
I tested this on the iOS simulator, and the tooltips appear to work. However, note that hovering over will be dicey on iOS, so once needs to use a trigger like `click` or `focus`.

Closing as fixed.

[2015-08-03 06:00] #2123 closed

[2015-08-03 06:02] wesleycho commented on #1988
This does not appear to be issues with typeahead itself.

The second one is a demo site issue, and PRs are welcome fixing it.

[2015-08-03 06:05] icfantv commented on #3412
@miguel-guedes, as you pointed out, the CSS styling you added was messing with the position offset so I'm not convinced this is actually a bug in UI Bootstrap.

Popover templates have been added so can you please retest this with more recent versions of both Angular, Bootstrap CSS, and UI Bootstrap and see if the issue is still present?

I'm going to close this, but please feel free to reopen with

[2015-08-03 06:05] #3412 closed

[2015-08-03 06:07] wesleycho commented on #1720
There is a suggested workaround in #3891.

Closing this as a duplicate of that issue, as there is more information on research into the problem in that issue.

[2015-08-03 06:07] #1720 closed

[2015-08-03 06:13] wesleycho commented on #3860
Closing as fixed - feel free to open a new issue if there is a problem still and more information is included, including a reproduction.

[2015-08-03 06:13] #3860 closed

[2015-08-03 06:14] wesleycho commented on #3835
This appears to have been fixed in `master` in the past couple of days - 0.13.2 should fix all of the issues here.

[2015-08-03 06:14] #3835 closed

[2015-08-03 06:15] wesleycho commented on #3821
Closing as a support issue, feel free to provide more information if you'd like to have help seeing any problems & the fixes for them.

[2015-08-03 06:15] #3821 closed

[2015-08-03 06:16] musketyr commented on #2388
Great, thank you!

On Sat, Aug 1, 2015 at 8:57 PM Wesley Cho <notifications@github.com> wrote:

[2015-08-03 06:17] wesleycho commented on #3802
Closing as a support issue - we can try to help if more information is provided, including a reproduction, but otherwise this is not an issue with UI Bootstrap itself.

[2015-08-03 06:17] #3802 closed

[2015-08-03 06:41] wesleycho commented on #3678
[Here](http://plnkr.co/edit/vGA11mwWhY5QKruVdhFY?p=preview) is a current Plunker.

This is a weird bug - a current workaround is to stop propagation on the dropdown menu element and to programmatically close the datepicker.

[2015-08-03 06:55] slepkaviba commented on #3694
@wesleycho on your plunkr bug is the same, I recorded a video with that:
![angular_modal_scope](https://cloud.githubusercontent.com/assets/510196/9032282/b72caa04-39c5-11e5-973d-d9027a6836fb.gif)

Though - as you reproduced the bug, and provided the example with broken code and latest angular - bug is totally not resolved.

[2015-08-03 07:12] LeleDev commented on #4007
I've set ```$tooltipProvider.setTriggers({'mouseenter':'mouseleave click'});```, but it doesn't work with my popovers, for example with the following popover with template:
[code]

[2015-08-03 07:23] warmhug commented on #3490
In addition, when `totalItems` is very big, for example `totalItems = 600000`, it would cause the page to suspend!

[2015-08-03 08:34] bharos opened #4085 "Accordion- collapsible panels not working with new ui-bootstrap"
This feature used to work with an older code of ui-bootstrap. Now,it is opening and collapsing but the transition is not happening, it is suddenly opening and closing.. I can also see some changes in new code in collapse functions. Can I get to know if anything needs to be changed in my accordion to make it work

[2015-08-03 09:02] piotrd commented on #3692
Rather not. I searched the entire project, including all my javascript and plugins and found no mention of either `tabset` nor `tab` (other than in `bower_components/angular-bootstrap`).

Not that easy, as I was never able to reproduce this error on my machine. I will keep trying, though...

[2015-08-03 09:02] piotrd commented on #3692
My another finding, after analyzing other users' error reports, is that they all have these common browser plugins installed:

* Shockwave Flash v. 17 or 18
* NortonInternetSecurityBF
* Microsoft Office for Mac SharePoint Browser Plug-in

I have no idea if any of this can cause the issue, but thought that maybe it would helpful to note this.

[2015-08-03 09:12] bharos commented on #4085
This is the working version 0.12.1 - 2015-02-20.. But when 0.13 + is used it does not transition during collapse and expand

[2015-08-03 09:34] yaring commented on #3855
@icfantv @wesleycho , the problem with the `click` trigger is that it's not closes the popover when clicking outside but only clicking on the `Popover With Template` button.

As I showed on angular-strap it's closing it when clicking outside of the popover.

[2015-08-03 09:53] kashesandr commented on #2631
Faced with the same issue.

[2015-08-03 09:56] donmyhl opened #4086 "set ng-model value on <tabset> <tab> when active"
Hi.

Is it possible to set a $scope value on a tab when its  active?

Example: 3 tabs with ng-model="tabID" on each. Then {{tabID}} would be either 1,2,3,4 depending on what tab is active.

Hope you understand

[2015-08-03 10:53] agriboz commented on #3692
@zifnab87 you are right, however, there is a plnkr example to show the exact issue.

http://plnkr.co/edit/AJDxjM?p=preview

[2015-08-03 11:02] nschloe commented on #2884
This is also popping up for our project; a fix for this would be appreciated. :)

[2015-08-03 11:07] nschloe opened #4087 "carousel contents collide when going left for the first time"
When clicking the right arrow on the carousel, the current content exists to the left and the next content enters from the right, just as expected.

When clicking the left arrow on a carousel, the next content correctly enters from the left. However, the current content also exists to the left, instead of to the right. For all subsequent left-arrow clicks, it works as expected.

The same wrong beh

[2015-08-03 12:49] starf opened #4088 "0.13.2 - When a button-checkbox's ng-disabled is false, model doesn't change when clicking"
when (checkbox/radio) button's ng-disabled has a false value, clicking it does not change the model

problem occured after switching to 0.13.2 (worked OK in 0.13.1)

see plunkr: http://plnkr.co/edit/hjcmk0fNvRVjD0rFJjAG?p=preview

[2015-08-03 13:53] zifnab87 commented on #3692
@agriboz does the same happen when the templates are in separate files instead of inline? It seems that there could be an incompatibility of ui-router and bootstrap in that respect..or when the state changes some things should be initialized again for some reason..

[2015-08-03 13:55] Blackbaud-MatthewBell opened #4089 "Rating directive HTML does not meet Bootstrap standards"
Elements with the `.glyphicon` class should not contain any content.  The rating directive includes an `.sr-only` element inside the `.glyphicon` element.  Rather than nesting the elements, it should use markup such as:

     <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
     <span class="sr-only">star</span>

Here's an example directly pulled from the documentation:

     <div

[2015-08-03 14:20] mikesir87 commented on #3694
@wesleycho - confirmed that bug still exists, even in the plunkr you posted

[2015-08-03 14:44] jameshyde opened #4090 "Popover expanding height"
Hi,
I updated to 0.13.2 earlier and it appears to have broken the script to calculate where the top of a popover should be based on the height.

For example, I have a popover open set to "popover-placement="top" and add some content in which will increase the height. Incorrectly, the bottom of the popover moves down, and the top stays static. Prior to 0.13.2, the top of the popover would have move

[2015-08-03 15:02] wesleycho commented on #4007
One has to specify `popover-trigger`.

[2015-08-03 15:07] icfantv commented on #4007
@LeleDev, in order for us to assist you, please create a working plunker that demonstrates the issue you are having.  It sounds like there are two:  1) that you want to have multiple "deactivate" triggers and 2) that your trigger configuration is not being recognized.

For 1), that syntax is correct, but be aware that you are redefining the default behavior for your entire application when you do

[2015-08-03 15:09] wesleycho commented on #3855
One could potentially customize the `click` trigger, but automatically changing the click trigger to close on outside click would be a poor breaking change since it changes expectations in behavior.

This perhaps requires some more thought on how best to support this.

[2015-08-03 15:11] realityking commented on #4076
I know it's not very common, but could you cut a releae for this? We've just go off our own fork because of the date bugs and now this bit us.

[2015-08-03 15:21] robertaistleitner opened #4091 "Dropdown Key Navigation doesn't work when "dropdownAppendToBody" is enabled"
When pressing up/down arrow buttons it causes an exception in the "keyboardNav" directive in this line:
[code]

I think this line fixes this issue (accessing the dropdownMenu jQuery element from a reference):
[code]

[2015-08-03 15:24] icfantv commented on #4091
@robertaistleitner, please create a working plunker that demonstrates this issue and link it here.  Thanks.

[2015-08-03 17:17] Ir1sh commented on #2024
I still get this on 0.13.2 should that release have the fix you mention @wesleycho

[2015-08-03 17:24] wesleycho commented on #2024
I'm not able to reproduce this at all.

[2015-08-03 18:35] codeorganic commented on #4012
I am still seeing this issue in the new version

[2015-08-03 18:47] erik-slack commented on #2884
Same here.

[2015-08-03 19:08] elishaterada commented on #4012
I'm still seeing the issue persist even after reinstalling whole bower packages, I'm suing it with Angular 1.3.17

[2015-08-03 20:38] wesleycho commented on #4089
This is already fixed in `master`, as can be seen by https://github.com/angular-ui/bootstrap/commit/cf65a6357cf70808e07658af8cf9fe142c5dcf42

[2015-08-03 20:38] #4089 closed

[2015-08-03 21:46] elishaterada commented on #4012
I've updated example provided by with latest script versions @lgaudez
http://plnkr.co/edit/OYgnLKiAHa640JKq2YGV?p=preview

[2015-08-03 21:51] wesleycho commented on #4088
Good catch - @RobJacobs looks like your observation about `'disabled' in attrs` was on point. Changing to `!attrs.disabled` there fixes it, as can be seen [here](http://plnkr.co/edit/Nn9Z2Icfhj1q21l52hay?p=preview).

[2015-08-03 21:53] #4088 closed

[2015-08-03 21:53] wesleycho commented on #4088
Just a note, I may do a mid-week release in order to get this fix and another out there.

[2015-08-03 21:54] wesleycho commented on #4076
@realityking I am considering a midweek release to get out this fix and a few others out there.

[2015-08-03 21:59] wesleycho commented on #4012
I hope you're not suing it, but using it :) .

I will look into this - as far as I remember, it wasn't causing any breaking functionality though.

[2015-08-03 22:03] elishaterada commented on #4012
Haha! Yes, I'me aware that it's not breaking functionality but does get in a way of consoles and does not look nice to show errors while reviewing apps with clients devs.

[2015-08-03 22:05] wesleycho commented on #4012
It's definitely fair, I shouldn't have closed the issue and scheduled this more appropriately - that was laziness on my part, and it was good that it was pointed out.

[2015-08-03 22:20] wesleycho commented on #4090
Hm, I wonder if this is related to the changes made in the $tooltip service due to a bug in tooltip positioning found in tooltips.

[2015-08-03 22:21] wesleycho commented on #4090
Can you create a reproduction in Plunker?

[2015-08-03 23:49] wesleycho commented on #4087
The fix should be merged in shortly and will be released in 0.13.3 likely around Wednesday.

[2015-08-03 23:50] wesleycho commented on #4085
@bharos have you added ngAnimate?

[2015-08-04 00:00] wesleycho commented on #4091
Definitely a [bug](http://plnkr.co/edit/MAzW2nscc5F8y5OCOSP2?p=preview).

[2015-08-04 00:01] wesleycho commented on #4091
Want to tackle it @icfantv? Should be an easy fix - otherwise I can tackle it.

[2015-08-04 00:07] sistemanick commented on #3897
Just wondering if you need more info from me? Did what I said make sense?

[2015-08-04 00:11] wesleycho commented on #4086
You can programmatically set what tab is active by watching for your model change and using the value to appropriately determine which tab should be active and set `tab.active = true` for that tab.

Otherwise, this is not clear at all.

[2015-08-04 00:12] sistemanick commented on #3897
An alternative to masking is to make the datepicker more forgiving, i.e. ability to parse more input formats, similar to ExtJS's "altFormats" feature.

[2015-08-04 00:17] wesleycho commented on #3897
This sounds like a complex feature request to implement.

I would be willing to accept a PR implementing this feature, but there are a lot of tasks that are needed to address deficiencies in the datepicker, namely the weakness in not being able to use a custom parser fully, and this request seems to make it much more difficult to accomplish that goal.

[2015-08-04 00:19] wesleycho opened #4093 "Support custom parsers"
The datepicker is tied too tightly to the Date constructor - it needs to decouple fully from the JS Date implementation and allow users to plug in custom parsers, namely moment.js, but be built to be more general.

[2015-08-04 00:56] ravenscar opened #4094 "ng-disabled directive does not seem to work with btn-radio directive, if ng-disabled evaluates to false"
In ui-bootstrap-tpls-0.13.1.js, having an ng-disabled directive in conjunction with a btn-radio directive worked as expected: http://plnkr.co/edit/JAhGr0MkKN88Nk1WQ8HD?p=preview

In version ui-bootstrap-tpls-0.13.2.js simply having the ng-disabled directive (even if it evaluates to false) seems to prevent the buttons in the radio group to be selected. Note that it does not disable the buttons, the

[2015-08-04 01:28] sistemanick commented on #3897
OK cool. I'll see if I can help out with this one :)

[2015-08-04 02:12] ken945 commented on #3633
I updated angularJs 1.4.3 & angular-ui 0.13.2 from Nugget in Visual Studio 2012 yesterday,
the modal option animate is true, and no matter nganimate is included or not, modal just fade in no fade out. any workaround? I am still stocked in this animation....

[2015-08-04 02:25] 1pete opened #4095 "Shouldn't disabled accordion header be unfocusable?"
http://angular-ui.github.io/bootstrap/#/accordion

If accordion header is disabled, you can still focus it by click, also can navigate by using keyboard (press tab).
Is this what it should be?

Thanks

[2015-08-04 02:30] wesleycho commented on #4094
Thanks for reporting this, but you were beaten to it by under a day in #4088 :) . In addition, I was able to fix this up in https://github.com/angular-ui/bootstrap/commit/707fbf55c04db115d97d785bec292212e410a1ee in that time, which should be in a new release 0.13.3 this Wednesday (along with a few other important fixes).

[2015-08-04 02:30] #4094 closed

[2015-08-04 02:31] wesleycho commented on #4067
This also needs to work properly with accessibility, not allowing the user to tab a disabled panel.

[2015-08-04 02:31] wesleycho commented on #4095
Closing as a duplicate of #4067 - you are definitely correct though.

[2015-08-04 02:31] #4095 closed

[2015-08-04 02:32] icfantv commented on #4091
Yea, I can take a look.

[2015-08-04 02:39] wesleycho commented on #3879
I think part of the problem is that if it is to remain on the currently selected day when changing months/years, there is the possibility of certain days not existing on the new month, such as 31.

The activeDate code looks like it keeps it simple - I would be fine with a PR changing this behavior though, it should be pretty easy to fix if someone wants to file a PR with the appropriate test to co

[2015-08-04 02:44] wesleycho commented on #3872
Sorry for not responding earlier - I think the ability to bind an optional listener for the blur event (via optional directive attribute binding) that binds listeners to the inputs that checks for whether the other inputs have focus to determine whether the user is done with the timepicker would be a good feature.

[2015-08-04 02:51] wesleycho commented on #3836
One can disable `$log` via

[code]

[2015-08-04 03:02] wesleycho commented on #3694
So I think I see what is happening - essentially the $scope that the modal is using is inheriting from the current controller, so when the state change occurs, it is destroyed.

This looks like a bug.

I think an appropriate resolution in the library would be for the modal to close when this happens, as we cannot do anything about this otherwise. On the developer side, I would recommend not using

[2015-08-04 03:42] wesleycho commented on #3608
The class changing is due to ngAnimate - is there any reason why you are trying to observe the class changes instead of using the `is-open` attribute binding?

[2015-08-04 03:55] wesleycho commented on #3647
This looks like it has been fixed according to #3895 - closing as resolved.

[2015-08-04 03:55] #3647 closed

[2015-08-04 03:57] icfantv opened #4099 "add additional functional test coverage for dropdown"
Currently, all the functional tests for dropdown assume the `dropdown` directive is being placed on an `<li>` and none of our examples [here](http://angular-ui.github.io/bootstrap/#/dropdown) actually even show that as an option.  This, combined with `dropdown-append-to-body`, resulted in #4091.  The similar applies to `dropdown-toggle`.

The functional tests should be augmented to reflect realist

[2015-08-04 03:58] wesleycho commented on #3658
This appears to be fixed in `master`, as can be seen [here](http://plnkr.co/edit/yUBOsAMtgkbEdlBNHuuM?p=preview).

Note that the first example will not work because browsers interpret `minDate` as `mindate` unless it is one of the special SVG attributes inside an SVG element.

[2015-08-04 03:58] #3658 closed

[2015-08-04 04:01] KimCrab opened #4100 "Carousel custom indicator(arrow) by using ng-class [Carousel]"
I've seen many qeustions about remove indicator or customize indicator and all the answers are "Using ng-class" But, I just don't understand how it works..so, would you please show me an example?
I think many people are searching this example.

[2015-08-04 04:03] wesleycho commented on #3596
This is tricky - I believe there is another issue asking for the same feature.

The difficult part is that what should happen with the display if the total items value is missing? I think this needs some thought as to what is the best way to approach this.

[2015-08-04 04:12] wesleycho commented on #4100
One can just override the carousel template in $templateCache.

[2015-08-04 04:51] wesleycho opened #4102 "`uncheckable` attribute needs documentation"
As can be seen from [this demo](http://plnkr.co/edit/Mfu7qT9J7q8G55izoUnx?p=preview) from the homepage, the `uncheckable` attribute is not being respected.

[2015-08-04 04:57] wesleycho commented on #3405
The UI Router implementation is quite complex compared to ours. We could copy/paste that code, but that would be duplicate code - it may end up being the best solution though. UI Router is undergoing a large refactor right now in TypeScript for the 1.0 release and potential abstraction to decouple it from Angular itself (so it can be used in Angular 2, or in any other application).

[2015-08-04 05:10] robertaistleitner commented on #4091
Thanks guys, I was in a hurry yesterday.. ;)

[2015-08-04 05:37] wesleycho commented on #3268
You should use `btn-radio` for that purpose if one wants to do something like that.

[2015-08-04 05:39] wesleycho commented on #3268
This also appears to work in `master`, as demonstrated [here](http://plnkr.co/edit/adBGXxOumEmgKMT9d6HZ?p=preview).

[2015-08-04 05:39] #3268 closed

[2015-08-04 06:02] icfantv commented on #4091
Looks like that plunker is horked.  With the fix in place, you can't navigate past the first list item and the keyboard navigation no longer responds.  [Here's](http://plnkr.co/edit/YZ2woGMgABThe7CgGYBC) an updated one with the proposed fix in place.

[2015-08-04 07:00] bartekupartek opened #4103 "Tooltip placement error after update to 0.13.2"
I've updated to newest version from 0.13.0 and I've got an error:
[code]
unless I delete tooltip-placement attribute:
```<a tooltip-placement="top" tooltip="{{'test'}}" tooltip-append-to-body="true">```

How can I rid of this issue?

Tested with angular 1.4.3, bootstrap 3.1.1

[2015-08-04 10:17] realityking commented on #4076
@wesleycho That'd be awesome. Thank you.

[2015-08-04 10:41] mudassir0909 commented on #590
@Elijen Pretty neat! :+1:

[2015-08-04 11:44] snajberk opened #4104 "Click in accordion-heading clears $location"
Hi,

I noticed a bug in a new version 0.13.2 (it is OK in 0.13.0).

I am using buttons inside of "accordion-heading" section, which worked fine in previous version, but latest release negatively affects location - it clears it completely. In other words: $location.path() is cleared after every single click on one of these buttons.

I created a plunker, so you should be able to easily check it. All

[2015-08-04 12:16] bharos commented on #4085
Yes, I had added ngAnimate also, but seems like its missing something else.
Is there a minimum required version for angular also for this to work ??

[2015-08-04 12:24] RobJacobs commented on #4103
@bartekupartek  We need plunks demonstrating the issue, or we just spend time guessing what the problem might be.  I created a [plunk](http://plnkr.co/edit/CLnZoQarJgC9cHyc9VRe?p=preview) based on the code you provided and am not seeing the error you reported.

[2015-08-04 12:29] RobJacobs commented on #4100
Questions of this nature will get a better response on Stackoverflow.  The [carousel](https://github.com/angular-ui/bootstrap/blob/master/template/carousel/carousel.html) template uses to anchor elements with the glyphicon-chevron-right/left classes to create the indicator arrows.  You will need to create your own template using the content you desire.

[2015-08-04 12:29] #4100 closed

[2015-08-04 12:41] RobJacobs commented on #4090
Here is a [plunk](http://plnkr.co/edit/e2sS7vFj5p5mVl8hcG6s?p=preview) reproducing the problem.  Open the popover, then start typing in the input until the content wraps.

[2015-08-04 12:43] RobJacobs commented on #4086
@donmyhl Questions of this nature will get a better response on Stackoverflow, please see the [Need help](https://github.com/angular-ui/bootstrap#need-help) section.

[2015-08-04 12:43] #4086 closed

[2015-08-04 12:45] RobJacobs commented on #4085
@bharos 0.13.2 is tested on Angular 1.4.  Please provide a plunk so we can look into this further.

[2015-08-04 12:49] RobJacobs commented on #4058
@mjhamm75 Questions of this nature will get a better response on Stackoverflow, please see the [Need help](https://github.com/angular-ui/bootstrap#need-help) section here.  This issue has nothing to do with the tooltip directives, some elements (like a div, p) will not accept a focus event without a tabindex attribute.  In your plunk, I added tabindex="-1" to the p element and the tooltip showed u

[2015-08-04 12:49] #4058 closed

[2015-08-04 13:02] Blackbaud-PatrickOFriel commented on #3836
I thought about doing that, but I really only wanted to disable the validation for this case, since I know that I'm overriding the typical validation here. I dont want to suppress all log messages in my application. I'll try to think of another way to work around it.

[2015-08-04 13:43] bharos commented on #4085
Okay. It is now workign fine. Seems like some issue was there for ngAnimate.
Now when everything is included properly,it is working.Thanks for the help

[2015-08-04 13:43] #4085 closed

[2015-08-04 13:47] wesleycho commented on #4090
Hm, probably related, although that change fixes a positional bug with the tooltip that results from calling it too often.

[2015-08-04 13:58] wesleycho commented on #4104
Reproduction with latest from `master` [here](http://plnkr.co/edit/4tCyQlRRkP8k01Dtj6Tx?p=preview).

This looks like a problem for some reason with the anchor tag having `href="#" ng-click="$event.preventDefault(); ..."` - however, removing that creates accessibility problems.

[2015-08-04 14:15] terryt2000 opened #4105 "btn-radio/btn-check directives not working on 0.13.2 if combined with ng-disabled directive"
commit 42e1af5c provided a fix to ensure the *btn-radio* and *btn-check* directives respected the 'disabled" attribute.  Unfortunately the implementation doesn't seem to be compatible with using the ng-disabled directive on the element as well.

If ng-disabled is present, the buttons will not respond to clicks: see plunk using angularjs 1.13.17 with ui-bootstrap 0.13.2 -> http://plnkr.co/edit/VGBo

[2015-08-04 14:19] Jonybang opened #4106 "Error: $compile:multidir. Multiple directives [datepickerPopup, input] in Firefox"
When called datepickerPopup directive inside angular-ui modal.
[code]
The minimum code that is causing the error
[code]
project-task-form.html:
[code]
[code]
Without ng-model throw the same error.

angular-ui 0.13.1-SNAPSHOT
AngularJS 1.4.3
Mozilla Firefox 39.0
Ubuntu 14.04 TLS

In Chromium 43.0.2357.130 all works fine.

[2015-08-04 14:36] wesleycho commented on #4104
To expand on this, Bootstrap uses the anchor tag in accordions to hook into the `cursor: pointer` style, so removing the `href` completely does not seem to be a good option as that breaks CSS.

`href="javascript:void(0)"` is CSP non-compliant.

Any other `href` value, even an empty one, seems to require `event.preventDefault()` paired with it.

I'm a bit stumped as to the best approach here.

[2015-08-04 14:48] wesleycho commented on #4105
This already is fixed on `master` & will be going out in a fix likely tomorrow.

[2015-08-04 14:48] #4105 closed

[2015-08-04 14:49] wesleycho commented on #4106
Can you please reproduce this in Plunker?

[2015-08-04 14:58] wesleycho commented on #3836
One way is to file a PR that creates an injectable `$datepickerSuppressError` and `$dateparserSuppressWarning` and the $log usage in those components can then check for the truth condition. similar to how it is done in `$transition`.

[2015-08-04 14:59] Blackbaud-PatrickOFriel commented on #3836
Okay I'll take a look at that, thanks!

[2015-08-04 15:00] wesleycho commented on #3738
So this is really a feature request to add support for multiple selection of dates if I'm reading this correctly?

[2015-08-04 15:03] pkozlowski-opensource commented on #4104
@wesleycho I remember this being a pb for quite some time and we've kept adding / removing this href back and forth. I wonder if `<a href>`  instead of `<a href="#">` would do the trick here? AngularJS should prevent default on empty hrefs, no?

[2015-08-04 15:08] Jonybang commented on #4106
http://plnkr.co/edit/QGllEG0QGo1Nm9myzl4i?p=preview
In Plunker all works fine. It may be the case in one of the many modules in my app:
[code]
I do not know, and it's hard to verify, but in Chrome all works fine...

[2015-08-04 15:09] wesleycho commented on #4104
Aha, I found where I saw the issue with the empty href - #3799 . Perhaps that is more appropriately filed against the router though, if it hasn't been already.

I will change all usage to empty `href`s then.

[2015-08-04 15:12] pkozlowski-opensource commented on #4104
Right. I think that there are some corner cases with empty `href` as well (I remember people reporting reload pbs with it), but I agree that we should track those pbs instead. In any case `href="#"` is not the best idea IMO.

[2015-08-04 15:12] stephanie-dm commented on #2546
Will this issue ever get fixed? The input field losing focus is a major problem for us, users always have to click twice if they want to type a date in the input field. It would be great if this was configurable...

[2015-08-04 15:13] #4104 closed

[2015-08-04 17:00] #3555 closed

[2015-08-04 20:06] wesleycho commented on #4090
Do we need to just reposition on every digest? I'm not sure how we would be able to reliably position the tooltip otherwise.

[2015-08-04 20:22] RobJacobs commented on #4090
@wesleycho I'll play with this for a bit and will have some suggestions tomorrow

[2015-08-04 21:15] #4087 closed

[2015-08-04 21:36] #3611 closed

[2015-08-04 22:00] wesleycho commented on #4106
If I had to guess, maybe `angular-date-picker-polyfill` and `ui.bootstrap` conflict.

[2015-08-04 22:27] levin81 commented on #3633
Look at the plunker that I linked - it is barebones. Did you add 'ngAnimate' to the dependencies of your app?

[2015-08-04 23:48] wesleycho commented on #4102
This is not a bug - this does require documentation to explain the behavior.

[2015-08-05 00:08] #4091 closed

[2015-08-05 01:55] moneytree-doug commented on #3694
@wesleycho Correct me if I am misunderstanding, but that PR looks like it will dismiss the modal if the route changes. That would be a new unexpected behaviour to me, because it would previously not dismiss if the navigation changes.

[2015-08-05 03:01] wesleycho commented on #3694
The problem is, if we don't do that, it causes immense problems, including a completely broken modal due to $scope destruction.

This is the best solution we have.

[2015-08-05 05:34] wesleycho commented on #3069
Closing this as invalid - the example is not using the popup correctly.

Please open a new issue with a proper reproduction if this is indeed an issue.

[2015-08-05 05:34] #3069 closed

[2015-08-05 05:51] wesleycho commented on #3082
Eventing does not provide a good API interface to work with, especially considering that Angular is about observing model values for changes and reacting to them. We have `select` and `deselect` callbacks that can be bound to.

Closing this as something we are not interested in supporting in its proposed form.

[2015-08-05 05:51] #3082 closed

[2015-08-05 05:52] wesleycho commented on #3095
Any luck on a PR @shimy1984? We would love to have accessibility support, especially if you have done a bunch of work on it already.

[2015-08-05 05:57] wesleycho commented on #3067
Closing this due to inactivity without an adequate reproduction, especially considering that [there is a test written covering autofocus in `master`](https://github.com/angular-ui/bootstrap/blob/master/src/modal/test/modal.spec.js#L344-L357).

Feel free to open a new issue with a reproduction.

[2015-08-05 05:57] #3067 closed

[2015-08-05 05:59] wesleycho commented on #4099
Closing, as I think in this case, the template should not affect the tests since `li` is functionally not too different from `div` or `span`, minus CSS differences, and doesn't have special semantics such as anchor tags.

[2015-08-05 05:59] #4099 closed

[2015-08-05 06:01] wesleycho commented on #3170
One can use custom templates, as listed in the documentation [here](http://angular-ui.github.io/bootstrap/#/modal).

[2015-08-05 06:01] #3170 closed

[2015-08-05 06:04] wesleycho commented on #3114
The tooltip now comes with support for programmatic triggers, as can be seen in the documentation [here](http://angular-ui.github.io/bootstrap/#/tooltip).

However, it should be noted that you should probably be using a popover for this purpose, not a tooltip, since tooltips are strictly text only (along with a wrapper element).

[2015-08-05 06:04] #3114 closed

[2015-08-05 06:16] wesleycho commented on #3681
A one time binding is not something that can really be implemented optionally easily (or at least that I know of) - this would involve using parse and potentially managing a slew of options for each binding, as there is a decent chance that there will be lots of feature requests against each binding everywhere if we go down this route.

I'm not sure whether it is something that should be implement

[2015-08-05 06:18] wesleycho commented on #3619
The carousel should work properly in 1.3 and 1.4 in `master` with ngAnimate.

Closing this as old.

[2015-08-05 06:18] #3619 closed

[2015-08-05 06:40] wesleycho commented on #4012
Looking into this further, I suspect this may be an issue in ngAnimate itself - I have created an issue https://github.com/angular/angular.js/issues/12503 for reference.

[2015-08-05 06:42] maxim-naumov commented on #3692
@zifnab87 i have exactly the same issue, our templates are in separate files. and this error occurs only when moving from the parent state with tabs to a child state.

[2015-08-05 06:52] s4m4n opened #4111 "Dropdown btn issue"
Hello,

Anyone having idea regarding this issue on stackoverflow?
https://github.com/angular-ui

Thanks,

[2015-08-05 10:10] NCC1701M commented on #3738
Correct

[2015-08-05 10:47] EvilJohnny opened #4112 "Push last version to Meteor package angularui:angular-ui-bootstrap"
Hi,

if I am not wrong, the latest version available for Meteor is 0.13.0. I wonder if it's posible to push the latest version, so we can update it from the official resource :)

Thanks!

[2015-08-05 10:55] isimonov opened #4113 "Datepicker choose day and timezone offset"
If Datepicker field empty and we choose a date, then creates a new date object with the given timezone offset (depends on locale), i.e. if I choose an empty field 2015-01-02, it turns out the date 2015-01-01 21:00:00 (if the timezone offset is +3 hours), i.e. yesterday, unless you consider time. This is not quite correct when sent to the server, if there is not taken into account the timezone offs

[2015-08-05 11:24] aendrew commented on #3811
I'm not sure this is fixed — am using Angular 1.4.3 and UI-Bootstrap 0.13.2, and having ng-animate enabled still definitely breaks the carousel...

[2015-08-05 12:25] wesleycho commented on #3811
It is fixed on master

[2015-08-05 13:06] rajputvai opened #4114 "If I use method in popover (popover="{{hello()}}") it is getting called multiple times."
Can you please tell me why 'hello()' method is getting called multiple times in this plnkr (see it in console)? You can also observe this on any popup show/hide.

http://plnkr.co/edit/Wt2fwMu9cIxSajDH1k43?p=preview

Is it bug?

I have a code where I am doing this way. I can't put everything together in popover attribute as it has many data to iterate and evaluate. Is there any better way to do thi

[2015-08-05 14:15] wesleycho commented on #4111
I think you linked the wrong link.

[2015-08-05 14:16] wesleycho commented on #4112
I don't think we maintain that.

[2015-08-05 14:17] wesleycho commented on #4114
That is how angular works.

If you do not need to evaluate it so many times, you may consider using a ES5 getter instead.

[2015-08-05 14:18] RobJacobs commented on #4090
Here's what I'm thinking, rather than watching content (type, title, etc..) create a watch for the tooltip element size to trigger a call to position, something like:

    tooltipLinkedScope.$watch(function() {
      return tooltip[0].clientHeight + tooltip[0].clientWidth; },
      function() {
         positionTooltip();
    });

We could potentially remove the other calls to the positionTooltip

[2015-08-05 14:19] bensquire opened #4116 "Button Groups Not Triggering When disabled"
*EDITED* for clarity and to fix link.

In 13.2 when you use ng-disabled on a button group (either with btn-checkbox or otherwise) regardless of the ng-disabled state the click event never triggers.

Using [this plunker](http://plnkr.co/edit/fmLzkvLwzYeaeURdYasH), try changing the ui-bootstrap version between .2 and .1 and you'll see what I mean.

[2015-08-05 14:30] sicollins commented on #1547
Just hit this issue  - using data-ng-if on my progressLength prop solved it for me:

<progressbar data-ng-if="progressLength" class="progress-container" value="currentQuestionIndex" max="progressLength"></progressbar>

[2015-08-05 14:39] pkozlowski-opensource commented on #4112
Nope, we don't maintain any Meteor-related artifacts, and IMO we should not (we do already distribute this package using variety of channels).

@EvilJohnny you should contact people who published things in the first place (not sure who it might be as not familiar with the meteor ecosystem).

[2015-08-05 14:39] #4112 closed

[2015-08-05 14:41] pkozlowski-opensource commented on #4090
This would be very, very bad idea from the performance point of view. We would be queering DOM and potentially causing reflows on each and every turn of the $digest loop. This is big no-no.

[2015-08-05 14:42] pkozlowski-opensource commented on #4090
The potential solution would be to trigger re-position at the end of the digest loop, if we really want to do this that often.

[2015-08-05 14:45] RobJacobs commented on #4090
@pkozlowski-opensource Yeah I agree, but I just wasn't sure how else to handle this.  I'll try your suggestion, thanks.

[2015-08-05 15:17] EvilJohnny commented on #4112
Ops! Sorry about that then! The atmosphere package explorer it was pointing here, so I thought this was the correct place to report it.

Thanks guys!

[2015-08-05 17:07] mpiasta-ca commented on #4036
@wesleycho works great, thanks for fixing that so quickly!

[2015-08-05 17:34] Frondor commented on #2884
bindHtmlUnsafe is now deprecated. Use ngBindHtml instead (Google Chrome console warning)

[2015-08-05 18:03] icfantv commented on #4116
Hey @wesleycho, we just talked about the ability to uncheck a radio button.  I don't remember if there was an issue backing this or not though I want to say yes.

@bensquire is there a particular reason you want to be able to uncheck a radio button?  I was looking for a valid use case.  This sounds like you might want a checkbox group instead.  I would argue that people, in general, understand and

[2015-08-05 18:30] RobJacobs commented on #4116
I believe this issue is fixed under this commit: https://github.com/angular-ui/bootstrap/commit/c9b0d0b05f18257b6e58cb732dbd0421321fc7de

[2015-08-05 18:41] wesleycho commented on #4116
This should be fixed in `master`.

[2015-08-05 18:41] #4116 closed

[2015-08-05 19:21] ericman93 opened #4118 "ng-controller with tabs"
Hi

I'm using tabset and I want each tab to have his on controller.
The problem is that tab is creating his own scope and if will sepcify the controller on the tab's DOM i will receive an error that multiple directives asking for new/isolated scope.

One fix is to set the controller in a div inside the tab, but in that way I can't pass a function from the controller to the "select" callback of the

[2015-08-05 20:38] RobJacobs commented on #4090
@pkozlowski-opensource @wesleycho So I'm stuck on this, the crux of the problem is the popover template content is not bound to the tooltip scope, so there is no elegant way to trigger a position calc.  You mention trigger a reposition at the end of the digest loop, how would you implement that?  The commit that broke the popover-template positioning behavior was removing the following implementat

[2015-08-05 20:53] wesleycho commented on #4090
Maybe something like
[code]

[2015-08-05 20:55] alpeshgaglani opened #4119 "Carousel broken with Angular 1.4.3 + UI-Bootstrap 0.13.2 + ng-animate + modal dialog"
I'm aware of the issue #3811 , and have the latest fixes from master. The carousel works just fine outside of a dialog box. However, when I use ngAnimate inside a $modal dialog, I see just the first slide. The navigation anchors are hidden, and I cant move to the second slide. Any ideas?

[2015-08-05 21:28] elishaterada commented on #4012
Thanks for the update, the issue only happens when I use datepicker but not other ui directives with ngAnimate. So somehow the combination of two are causing the issue.

[2015-08-05 21:59] icfantv commented on #4118
In the future, please do not use the Issues queue for support and usage questions.  Questions of this nature will get a better response on Stack Overflow, please see the Need Help section [here](https://github.com/angular-ui/bootstrap#need-help).

If I understand your question correctly, you want to use the tab's select callback to call a controller function in your tab's controller?  What are you

[2015-08-06 00:44] wesleycho commented on #4119
Looks like you are correct to a degree, I am able to reproduce [here](http://plnkr.co/edit/b3ddvoTPVFjBx5H92pFx?p=preview) incorrect behavior of a different nature.

[2015-08-06 00:53] wesleycho commented on #4119
Ah, now I see the behavior you describe (Plunker was behaving weird for me there).

[2015-08-06 01:36] wesleycho commented on #4119
Investigating this, this appears to be a problem with the modal service, and it not being converted to handle $animateCss support. There seems to be some interplay problems between the two due to the new restrictions in ngAnimate.

[2015-08-06 01:45] wesleycho commented on #4118
You are better off creating a custom directive with directive controllers for your tabs - it leads to cleaner HTML.

We do not want to recommend using ng-controller for this purpose, as it is an antipattern.

[2015-08-06 01:45] #4118 closed

[2015-08-06 01:48] wesleycho commented on #4029
I think this is safe to close, as we have changed it back to an empty href as mentioned in #4104.

[2015-08-06 01:48] #4029 closed

[2015-08-06 03:48] rajputvai commented on #4114
Yes correct, It is angular behaviour and I am newbie in angular. Can you please help me to understand this, Why it is calling multiple times even though popover for that element is not triggered?

[2015-08-06 04:00] wesleycho commented on #4114
This requires understanding how $scopes and the $digest cycle works in angular - I recommend reading [this](https://github.com/angular/angular.js/wiki/Understanding-Scopes).

Essentially in the watch expression for the component, which is watching for changes in the expression, it evaluates the expression for changes. If it has to run a watch listener, it then runs it, and then executes another $d

[2015-08-06 04:00] #4114 closed

[2015-08-06 04:07] wesleycho commented on #3070
I would recommend putting this in a variable on $scope or your controller in your directive wrapper.

Without a Plunker though, there is not much anyone can do to verify this or tinker with prospective fixes though. Feel free to open a new issue with a suitable reproduction on Plunker if it is still an issue.

[2015-08-06 04:07] #3070 closed

[2015-08-06 04:19] icfantv commented on #1212
@Feday, per @rvanbaalen's comment in March can you please verify that this is still a a bug?  If we don't hear back we will close it.  We are on a push to clean out outstanding issues.  Thanks.

[2015-08-06 04:20] wesleycho commented on #2765
I recreated this in Plunker [here](http://plnkr.co/edit/mvnFlrzzwDNv29e4tsdC?p=preview) so we can debug this more clearly in the event that there is something we can do in UI Bootstrap.

[2015-08-06 04:23] wesleycho commented on #2765
Investigating a little, it looks like this is due to the tab component rearranging the DOM - a simple fix to account for that is this little setTimeout hack, as demonstrated [here](http://plnkr.co/edit/Q7Edy5R8HQ9SggrjY14Q?p=preview).

There is not much we can do here, as the custom directive is running before the DOM is set, so I am closing as a support ticket.

[2015-08-06 04:23] #2765 closed

[2015-08-06 04:27] wesleycho opened #4122 "Remove the `angular.version.minor > 4` checks"
These checks should be removed once we hit 0.14.0 & claim angular 1.4+ support.

- [ ] Carousel
- [x] Modal

[2015-08-06 04:29] #4119 closed

[2015-08-06 04:30] wesleycho commented on #4119
This should be fixed in `master` now - thanks a lot for this find, I almost cut a new release today before encountering this issue (& the tooltip/popover one).

I highly recommend checking out the comments in #4121, it is highly relevant if you're living on the edge :) .

[2015-08-06 04:31] icfantv commented on #4122
This is referencing PR #4121 which fixes issue #4119.

[2015-08-06 04:37] wesleycho commented on #2722
I also do not believe any CSS changes like this should be in the core, as it makes it more difficult for users to override if they conditionally need to modify this.

Feel free to create a directive that can handle this for your own projects though!

[2015-08-06 04:37] #2722 closed

[2015-08-06 04:46] wesleycho commented on #2741
I actually think this is intentional. I tried tweaking this, and while this behavior is suboptimal, I'm not sure there is a better way.

[2015-08-06 05:08] icfantv commented on #3944
@marcoliceti, the value attribute is required on the directive for a good reason:  a progress bar has a value of 0 to max and it does not make sense to have "no value" - that's the same as zero.

If you do not want your progress bar to show until a scoped variable is set, then you can either wrap it in a `<div>` and use the same scoped object as your progressbar, or use a different scope variable

[2015-08-06 05:08] #3944 closed

[2015-08-06 05:28] isimonov commented on #4113
If a server is using UTC (timezone offset is 0 hours), and the browser's local timezone (timezone offset is +3 hours) may occur such a situation: all dates are returned from the server is correct, for example 2015-01-02 00:00:00, and if the date entered for the first time the datepicker will create you same date as 2015-01-01 21:00:00 When I pass this 2 dstes on server, this is will be different d

[2015-08-06 05:49] icfantv commented on #3483
I'm not sure there's anything to do here.  Loading HTML templates is pretty fast and as mentioned previously, you inject your required content into the modal controller using normal resolve-like syntax.

The overhead you speak of, is primarily centered around the loading of a video, the performance of which is really beyond the control of this framework and and Angular.

I'm closing this for now.

[2015-08-06 05:49] #3483 closed

[2015-08-06 06:04] icfantv commented on #3419
I would argue that using events for something like this is wrong.  I would consider adding a class such that no actual CSS is tied to the name.  The CSS class `open` is used by Bootstrap in a number of different ways and doesn't contain any actual styling by itself.  Additionally, no pre-existing CSS exists for `.open.panel-heading`,  `.open > .panel-heading`, or `.open panel-heading`.

I'm ok wit

[2015-08-06 06:07] icfantv commented on #3354
Closed per #3362.

[2015-08-06 06:07] #3354 closed

[2015-08-06 06:13] icfantv commented on #3286
Closing as duplicate of #375.

[2015-08-06 06:13] #3286 closed

[2015-08-06 06:19] icfantv commented on #3194
@augustas2, as @RobJacobs mentions, this problem should be solved by using the `tooltip-append-to-body` attribute.

I'm going to close this, but please feel free to reopen and attach a working plunker that demonstrates the problem if it is not solved.  Thanks.

[2015-08-06 06:20] #3194 closed

[2015-08-06 06:22] icfantv commented on #3302
@swolfand, were you still planning on doing this?

[2015-08-06 07:05] wesleycho commented on #3475
This is a old version of UI Bootstrap and Angular - ng-grid also was deprecated in favor of the newer UI Grid.

If this is an issue with the recent libraries for all involved, then we would be more than happy to investigate, but this is unsupported otherwise.

[2015-08-06 07:05] #3475 closed

[2015-08-06 07:07] wesleycho commented on #3423
Seeing as #3445 is merged, I believe this should no longer be an issue.

[2015-08-06 07:07] #3423 closed

[2015-08-06 07:08] wesleycho commented on #3420
Closing this issue due to lack of actionable information or reproduction.

[2015-08-06 07:08] #3420 closed

[2015-08-06 07:12] wesleycho commented on #3387
Creating a custom template may be a bit awkward, but at the least, there is now the ability to use a custom template on a component by component basis for the accordion due to #4084, which should ease the problem a bit.

This may require a bit of investigation.

[2015-08-06 07:14] wesleycho commented on #3347
Closing this issue as potentially old, and due to lack of reproduction.

Feel free to open a new issue if you are able to reproduce this on Plunker.

[2015-08-06 07:19] wesleycho commented on #3304
I am not sure whether we should support this - the only options we have are

1) Make a breaking change with put ng-transclude at the top level element and remove the close button
2) Create a custom html swapper directive which bypasses sanitization by Angular

The HTML swapping is slowly going away and being replaced with behavior built into Angular itself, so I do not think it is a good idea to g

[2015-08-06 07:24] wesleycho commented on #3154
I am not able to reproduce this at all.

Something tells me this is going to be a tricky one...

[2015-08-06 07:36] wesleycho commented on #2930
Closing as per comments - see #3396.

[2015-08-06 07:36] #2930 closed

[2015-08-06 07:38] wesleycho commented on #2904
If someone wishes to make a PR updating the docs with these examples, I would be happy to review them and get them in.

[2015-08-06 07:49] wesleycho commented on #2813
Closing due to main issue being fixed, and there being no reliable way to detect the mouse click differences between a left-handed mouse and right-handed mouse.

[2015-08-06 07:49] #2813 closed

[2015-08-06 08:05] wesleycho commented on #2673
This appears to have been fixed - closing as resolved.

[2015-08-06 08:05] #2673 closed

[2015-08-06 08:21] wesleycho commented on #2623
I'm wondering, is this potentially a problem better handled by Angular?

I am not sure whether this is really a UI Bootstrap problem. A simple workaround is to check $templateCache as shown [here](http://plnkr.co/edit/Cq5BK4z7YzelSBNPQvPb?p=preview).

Otherwise, this is not really a problem with UI Bootstrap.

[2015-08-06 08:21] #2623 closed

[2015-08-06 08:23] wesleycho commented on #2546
Nothing is stopping anyone from opening a PR from being opened fixing this if it is desired - there are other much higher priority issues in need of tackling though, which is likely why there hasn't been any movement on this.

[2015-08-06 08:27] wesleycho commented on #2503
Closing as resolved by support.

[2015-08-06 08:27] #2503 closed

[2015-08-06 08:30] wesleycho commented on #1753
Closing as a part of #3396 - that issue will track prefixing all controllers and services.

[2015-08-06 08:30] #1753 closed

[2015-08-06 08:59] cssensei commented on #3309
@rvanbaalen I don't recall adding and plunker example to this issue...

[2015-08-06 09:19] davideberlein opened #4126 "btn-checkbox not firing ng-change anymore in v0.13.2"
first of all thanks for the great work you are doing here.
I have just updated from angular-boostrap 0.13.0 to 0.13.2 and my checkbox button does not fire the ng-change event anymore and generally doesn't seem to work corretly anymore.
After switching back to 0.13.0 everything worked fine again.
To see where the bug was added I installed 0.13.1 and everything worked fine there. So the bug must hav

[2015-08-06 09:52] davideberlein commented on #4126
Just saw that this is a duplicate of #4088 and was already fixed.

[2015-08-06 09:52] #4126 closed

[2015-08-06 11:05] Feday commented on #1212
Hello there, nevermind, I was not able to reproduce it anymore. I am closing the issue, thanks.

[2015-08-06 11:05] #1212 closed

[2015-08-06 11:48] cgwyllie commented on #2906
+1 for exposing a configuration option to allow 'strict' parsing, we've just encountered this issue with 'relaxed' parsing too on a multi-locale app.

[2015-08-06 11:48] cgwyllie commented on #3571
+1

[2015-08-06 15:02] #2544 closed

[2015-08-06 15:16] Jonybang commented on #4106
Yes, you right, thanks. I should have guessed myself. Now all works fine!

[2015-08-06 15:16] #4106 closed

[2015-08-06 15:23] icfantv commented on #1212
@Feday thank you.

[2015-08-06 15:32] icfantv commented on #2910
closing per above comments.  please create a separate issue for any issues found.

[2015-08-06 15:34] wesleycho commented on #2910
This issue is fine for informing our plans for 3.3 support. I meant specific issues should be in new issues.

[2015-08-06 15:34] Enykey commented on #764
Can you update Angular-UI doc to reflex the fact that typeahead-min-data cannot be 0 and should be 1 or more, please?

[2015-08-06 15:35] icfantv commented on #2863
Closing as duplicate of #590.

[2015-08-06 15:35] #2863 closed

[2015-08-06 15:44] icfantv commented on #2864
You can do the following to accomplish what you want.  Note the use of `ng-mouseleave`:
[code]
Closing as not an issue.

[2015-08-06 15:44] #2864 closed

[2015-08-06 16:00] wesleycho commented on #3317
I am not seeing this based on a current version of the accordion [here](http://plnkr.co/edit/0XBa4mzsRUW0nCdNbHEG?p=preview). Is there any particular reproduction steps required here?

[2015-08-06 16:00] icfantv commented on #2669
Closing due to inactivity.  Please feel free to reopen when you have a fully updated and working plunker that demonstrates the issue with the latest version of all the libraries.

[2015-08-06 16:00] #2669 closed

[2015-08-06 16:16] icfantv commented on #2612
This is working as expected with latest version of libraries:  please see [this plunker](http://plnkr.co/edit/IjFFumF1aVKyWuDTrf6Z).  Closing as fixed.

[2015-08-06 16:16] #2612 closed

[2015-08-06 16:24] icfantv commented on #2445
Closing this due to inactivity.  Please feel free to reopen if this is still an issue and you would like to submit a PR.

[2015-08-06 16:24] #2445 closed

[2015-08-06 16:27] icfantv commented on #2910
My bad.  Sorry.

[2015-08-06 16:28] icfantv commented on #764
@Enykey please feel free to fork the repo and submit a PR.

[2015-08-06 16:47] nipec commented on #4113
+1
I have the same problem in my project. It's a really nasty bug.

[2015-08-06 17:07] isimonov commented on #4113
Possible solution to this problem https://github.com/isimonov/note/commit/9190c253a7e354c22afbfa4a58386677ba522e0d It seems to me that this should be made optional. For most cases this could be the solution, but there may be exceptions.

[2015-08-06 17:25] ReservedDeveloper commented on #1834
+1. Having to do weird workarounds like [the one mentioned here](http://stackoverflow.com/a/19270216) seems unfortunate.

[2015-08-06 19:26] wesleycho commented on #4076
Sorry for not deploying yet - trying to make sure some other major issues are addressed. It may not be until early next week, the only issue left that we need addressed properly is #4090

[2015-08-06 20:33] wesleycho commented on #3491
This definitely should change - I noticed it last night myself.

[2015-08-06 20:34] wesleycho commented on #3481
Feel free to file a PR!

[2015-08-06 21:03] wesleycho commented on #2216
It should be noted that any attribute without an eye icon is not supported for watching. The documentation makes this clearer in `master` with an explanation in the first few paragraphs.

As a consequence, closing this as resolved.

[2015-08-06 21:03] #2216 closed

[2015-08-06 21:08] wesleycho commented on #2190
How the transclusion happens currently with tabs needs to be refactored - it is not properly handled.

[2015-08-06 21:10] wesleycho commented on #1689
Can you check if this is still a problem with Angular 1.4 & current UI Bootstrap?

[2015-08-06 22:33] Frondor opened #4130 "Pagination 'direction-links' to support glyphicons"
just by providing a string like `glyphicon-chevron-right` the directive should render a `<span class="glyphicon glyphicon-chevron-right"></span>` instead of a simple character or string.

[2015-08-07 04:51] wesleycho commented on #4130
Any reason why you wouldn't just use `&gt;` or `&lt;` for that?

[2015-08-07 05:01] wesleycho commented on #2665
This currently looks valid, as can be seen [here](http://plnkr.co/edit/x2lHVztKlQNdYAjZX1CL?p=preview).

Closing as resolved.

[2015-08-07 05:01] #2665 closed

[2015-08-07 05:26] #3836 closed

[2015-08-07 05:51] itsazzad commented on #3633
not working with me with v1.4.3, v0.13.1. All links become disabled after the modal dismissal.
Disabling animation have solved the issue.
```animate: false```

[2015-08-07 05:53] nipec commented on #4113
Hi Ivan,

thank you, I think this could be the right approach. One line below I had to add:
dt.setUTCFullYear( date.getFullYear(), date.getMonth(), date.getDate() );

Now it works for me, but I do not know, if there could be any side effects.

Cheers,
Nikola

[2015-08-07 06:04] #2618 closed

[2015-08-07 06:15] wesleycho commented on #2570
For reference to anyone interested in implementing this - how this works is that a read only input is positioned in the same location as the regular input. This input has its value filled on focus of the typeahead input.

This would be a cool feature, but it may require the user to style it appropriately.

[2015-08-07 06:40] izzeddeen opened #4133 "selecting the current day from datepicker does not sync the value with model"
When you bind datepicker to a model that's initially empty, then select today's date from the calendar, that day will get rendered in the input field but does not sync with the model.

[2015-08-07 07:19] PavelKonon commented on #4012
I also see this issue only with datepicker.

[2015-08-07 07:32] codeorganic commented on #4012
Ya it is something directly related to ui.bootstrap @wesleycho and not angular.

Please look at: http://plnkr.co/edit/MnBZ2rJfz7uw0u6bVbLo?p=preview

In the above link ui.bootstrap does not have this issue for version 0.13.0.  This issue is only present in 0.13.1 and 0.13.2 of ui.bootstrap.

[2015-08-07 07:43] f0def opened #4134 "modal-dialog after size change event"
Hello
I show modal form by calling `$modal.open()` with `size = "sm"` or `size = "lg"`.
Whether there is an event or workaround that will be triggered after the class `modal-sm` has been added to the modal-dialog?
I need to get the width of a `modal-dialog` to fit the size of the embedded component, but sometimes the width of the back before the class has been applied.
I create a [plnk](http://pln

[2015-08-07 09:05] #4102 closed

[2015-08-07 09:13] #420 closed

[2015-08-07 09:21] Foxandxss commented on #4133
Could you please create a plunker to reproduce the error? It is working for me.

[2015-08-07 09:25] Foxandxss commented on #4122
Got lost. Don't we have 1.4 support at the moment? I can see changing this line for $injector.has, but I am confused.

[2015-08-07 10:11] moonboyio commented on #4012
Having same issue. My temporary fix is to wrap my overridden template `template/datepicker/popup.html` with additional `<div>...</div>`

[2015-08-07 10:34] dnshah1991 commented on #618
yes this is possible
just add this code

$(".popover").each(function(index){

        		 $(this).not('#' + $(Element).attr('id')).popover('hide');
// Element is current element on which  popover will open.

        	});

[2015-08-07 10:43] Frondor commented on #4130
In a small pagination they are really small, and not good looking at all.
In bootstrap you can place whatever you want inside the list items

[2015-08-07 10:57] Serginho opened #4135 "Template loading fails when http interceptors adds params to url"
If I add time=2342342 param to prevent cache on IE11, angular-bootstrap doen't load any template.html. I don't know the way templates are implemented but all fails.

[2015-08-07 11:42] spooky opened #4136 "datepicked popup has inline styles"
The template for datepicker popup has a [hardcoded style attr](https://github.com/angular-ui/bootstrap/blob/master/template/datepicker/popup.html#L3) (padding)

[2015-08-07 11:48] pkozlowski-opensource commented on #4135
@Serginho this project doesn't do anything special with template loading, so I would say it is a general support question about using interceptors that might interfere with template loading. As such it should be discussed elsewhere: https://github.com/angular-ui/bootstrap/blob/master/CONTRIBUTING.md#got-a-question-or-problem

If you still believe that this is a bug in this library, please report a

[2015-08-07 11:48] #4135 closed

[2015-08-07 13:38] wesleycho commented on #4012
@codeorganic the datepicker does not use ngAnimate for anything - the stack trace of the errors are also sole with ngAnimate. That explanation is not the proper way to evaluate where the bug lies.

[2015-08-07 13:39] aiguofer commented on #2904
https://github.com/angular-ui/bootstrap/pull/3357 ;-)

[2015-08-07 13:41] wesleycho commented on #4130
The problem is, your suggestion is tied too heavily to one particular implementation. What if someone wants to use Font Awesome icons for example?

The best solution is to allow `templateUrl` overriding at the directive level IMO.

[2015-08-07 13:42] wesleycho commented on #2904
Hm, given that resolution, I am going to close this.

[2015-08-07 13:42] #2904 closed

[2015-08-07 13:45] #2676 closed

[2015-08-07 13:53] wesleycho commented on #4122
We do, but we still also support 1.3 - there is one check left for the $animate listener, which might be able to be checked by checking
[code]

[2015-08-07 14:05] wesleycho commented on #3101
@adamhaeger can you try reproducing this with the latest versions (angular 1.4 & UI Bootstrap 0.13.2)?

[2015-08-07 14:10] wesleycho commented on #3014
For anyone intending on trying to tackle this, this should be user configurable for which accordion group remains open by default if all of them are closed, and default to the first group otherwise.

[2015-08-07 15:23] RobJacobs commented on #4090
@wesleycho Here is a [plunk](http://plnkr.co/edit/K3UNMXLU9TCAq5mfS1Zk?p=preview) with the tooltip code extracted into the tooltip.js file so we can play with this scenario easier.  I tried your suggestion but the end result is the same thing we started with, a reposition of the tooltip on every digest cycle of the linked scope regardless if the popover content is impacted.  I added some console l

[2015-08-07 15:28] wesleycho commented on #4090
My suggestion should be the worst case solution.

There's an important difference with my suggestion and the previous behavior of executing on each watch function evaluation - my suggestion defers all rendering to a single pass after the models on $scope stabilize. I fear we may have to go this route since we do not have access to when the content changes.

[2015-08-07 15:35] RobJacobs commented on #4130
We could potentially add unique classes to the pagination first, last, next, previous elements that would allow people to use the css content property to set the icon, so the pagination button would look like so:

    <li ng-if="::boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}"><a href class="pagination-first" ng-click="selectPage(1, $event)">{{::getText('first')}}</a></li>

and the

[2015-08-07 15:39] wesleycho commented on #4130
That is also a good idea - I was thinking about that too, it would make it more flexible to style.

[2015-08-07 15:43] wesleycho commented on #4130
I opened a PR with classes added to each of the `li` elements.

[2015-08-07 16:22] bhushanvaidya3 commented on #3633
Thanks @itsazzad . I've disabled the animation for now as well.

[2015-08-07 16:50] RobJacobs commented on #4090
I thought your approach would behave like that as well (wait until all digests are complete) but I'm seeing something different in the plunk I created.  I added a log statement to show the $rootScope.$$postDigestQueue.length and the first time the popover opens, it hits the repositionTooltip function twice with length of 1, then 0.  But I'm not sure if that is an accurate indication of what is tru

[2015-08-07 17:16] wesleycho commented on #4090
I think it works as expected - I forked your Plunker and moved your console.log [here](http://plnkr.co/edit/1UU3d5znA1I4l7QWIzCp?p=preview), since I suspect you were encountering a console.log logging by reference issue of some sorts.

[2015-08-07 17:19] #2633 closed

[2015-08-07 17:24] oitozero opened #4143 "Popover content is not being adjusted to fit the viewport"
Popover content is not being adjusted to fit the viewport. When using the standard bootstrap library, content is adjusted to fit the viewport, which doesn't seem to been happening with angular bootstrap.

Example using Bootstrap:
http://plnkr.co/edit/CP6aKuN2UwXLCyXWER9j

Example using Angular Bootstrap:
http://plnkr.co/edit/V9bEMHSNos3eCH6CIzAU

Any solution for this?

[2015-08-07 17:26] wesleycho commented on #4136
A short term workaround is to override the template and add a class - we will also be adding `datepicker-popup-template-url` support shortly for allowing to override this on an instance by instance basis.

This is obviously not ideal though, and we will want to move this out.

[2015-08-07 17:28] wesleycho commented on #4143
Closing as a duplicate of #4090

[2015-08-07 17:28] #4143 closed

[2015-08-07 17:39] #4130 closed

[2015-08-07 19:12] zlailari commented on #4052
Probably also a duplicate of https://github.com/angular-ui/bootstrap/issues/1872

[2015-08-07 20:56] wesleycho commented on #4090
Resolved by 895a228

[2015-08-07 20:56] #4090 closed

[2015-08-07 21:40] codeorganic commented on #4012
@wesleycho okay sounds good

@moonboyio Do you have a working plnkr.co with your fix?

[2015-08-08 04:49] icfantv commented on #3419
Just an update on this.  Adding `aria-expanded` is not sufficient since aria is specifically for accessibility.  The solution here should add `aria-expanded="true"` and `open` when open, and `aria-expanded="false"` when closed.  Note that there is no `closed` equivalent in Bootstrap.

[2015-08-08 05:46] wesleycho commented on #1837
The Plunker is invalid - it was lost somewhere it looks like, and needs another reproduction.

[2015-08-08 06:37] wesleycho commented on #2548
This issue looks fixed in `master`, as can be seen [here](http://plnkr.co/edit/HqWJWNy9rN0T4dfkrOWC?p=preview).

[2015-08-08 06:37] #2548 closed

[2015-08-08 07:04] wesleycho commented on #4009
Confirmed to still be an issue even with recent change [here](http://plnkr.co/edit/hiQ4EFFNd6J7BnpLoBva?p=preview).

[2015-08-08 12:18] ZuBB opened #4147 "[q]is 'rendered' promise for modal still available?"
I am would like to know if next line from doc is still valid

[2015-08-08 14:23] icfantv commented on #4147
Yes, it is still valid.

[2015-08-08 14:23] #4147 closed

[2015-08-08 15:08] wesleycho commented on #4134
Using $timeout is your best bet I believe - eventing would be a rabbit hole we do not want to go down, as then there might be feature requests to do so with a lot of other things to make the api symmetric, and use then becomes very clunky.

[2015-08-08 15:08] #4134 closed

[2015-08-08 15:08] ZuBB commented on #4147
My guess is that its not
![2015-08-08-180536_1920x1080_scrot](https://cloud.githubusercontent.com/assets/597016/9150909/5cbee05a-3df8-11e5-94ee-132c4d1e5f0e.png)

Besides I did a search for 'rendered' keyword in your code and did not find anything related to that

[2015-08-08 15:24] e-cloud opened #4149 "Trapping keyboard tab doesn't work on aggregation of tabset and modal"
Traping tab feature on the modal module is really nice. But i have some trouble with the new feature.

i use a tabset in the modal. when i update to v0.13.2, my modals without tabs work as expected, but it turn to tabs and modal aggregation, it can only trap the tab key on the second tab of the tabset.

here is a plukr that reproduce the problem.
http://plnkr.co/edit/wwgZhXu0fru4L703z5by?p=preview

[2015-08-08 15:48] wesleycho commented on #4149
I am a bit confused - do you want the tabbing to be trapped in the tabs, or are you not able to access the last tab? If it is the latter, tabbing is allowing me to access the first tab as well.

It looks like what happens is that the tabbing does not get trapped in the first tab (when the modal is first opened) - this needs some investigation.

[2015-08-08 16:19] #516 closed

[2015-08-08 16:27] wesleycho commented on #3419
I think this is ok - adding another two $watches is not the greatest, but this beats putting an ng-class on the accordion-group and it transcluding that so there are 4 $watches as a result.

[2015-08-08 16:38] icfantv commented on #4147
https://github.com/angular-ui/bootstrap/blob/master/src/modal/modal.js#L559

[2015-08-08 16:38] #3419 closed

[2015-08-08 16:41] gbukauskas commented on #3633
Add property 'animation: false' for resolving this issue:
            var modalInstance = $modal.open({
                templateUrl: '...',
                controller: myController,
                animation: false,
                size: 'lg',
                resolve: {
                    ...
                }
            });

[2015-08-08 16:41] #3922 closed

[2015-08-08 18:07] usernamehoax opened #4156 "Typeahead not working when using async loading method"
Hi,

I tired using multiple approaches to make it work but it is impossible. I enter into my input the values which I have them in the database but no result dropdown is being shown. Here is the example code:

[code]

In markdown:
<input type="text" ng-model="userNameSelected" placeholder="Type the username" typeahead="username for username in getUserNames($viewValue)" class="form-control" />

The

[2015-08-08 18:09] usernamehoax commented on #4156
Forgot to add , angularJS - 1.4.3 , ui-bootstrap - latest

[2015-08-08 18:25] wesleycho commented on #4156
Can you reproduce this on Plunker? This appears to work for me [here](http://plnkr.co/edit/ol8FE2RmHZL4Grvfq6e7?p=preview).

[2015-08-08 18:49] usernamehoax commented on #4156
I tried getting code from your Plunkr - getLocation and markdown and incorporating it to my code and it doesn't help. I cannot reproduce that easily my code since I'm using grunt/bower/requirejs setup and use various libraries. What I can tell you more is that I was using my typeahead inside and outside tabset directive and everithing resides inside ngView

[2015-08-08 18:54] wesleycho commented on #4156
Problem is, without a reproduction, we can only guess - we can't test out potential fixes either, which makes it difficult to determine whether it is a problem in the library or in the usage.

[2015-08-08 18:59] usernamehoax commented on #4156
Ok I'll try reproducing

[2015-08-08 19:12] wesleycho commented on #2839
Currently you need to maintain a parallel model to the current model on the datepicker - this is unideal, and we have an issue open to support custom parsers in #4093, which would allow you to bring your own model and hook it into the parsers and formatters directly.

I am going to close this as a duplicate, but this is a well known issue with the datepicker that we want to fix.

[2015-08-08 19:12] #2839 closed

[2015-08-08 19:14] wesleycho commented on #3403
As we dropped date support that is not parsed by the dateparser, this ticket is now resolved as far as this particular request goes.

On the TODO list is to allow users to use their own model for dates, which is encapsulated by #4093.

[2015-08-08 19:14] #3403 closed

[2015-08-08 19:15] wesleycho commented on #2751
There is a similar ticket for when they are both `year` as well - this looks like it may have to do with the conditional where it compares if they are equal.

[2015-08-08 19:16] wesleycho commented on #2616
As #2619 has been merged, this should be already addressed.

[2015-08-08 19:16] #2616 closed

[2015-08-08 19:23] #2303 closed

[2015-08-08 19:23] #2546 closed

[2015-08-08 19:39] usernamehoax commented on #4156
I managed to make it working - stripped out my application to bare bones and now it works , I guess some other library is causing the conflict - don't know yet which. I'll post when I'll find out

[2015-08-08 19:42] wesleycho commented on #4156
Good to hear - I suspected it was something specific to your setup. This also helps you debug exactly what's wrong by properly evaluating all possibilities :) .

[2015-08-08 19:57] usernamehoax commented on #4156
Ok, found the guilty party - angular-block-ui - when I enable it on the module list in my main app then the dropdown doesn't show. I understand this is unrelated to the issues regarding bootstrap-ui but I'll try to find the fix in the guilty library. Should we close this thread ?

[2015-08-08 19:58] wesleycho commented on #4156
Sure, looks like it's not an issue here - thanks for taking the time trying to get more information to see if we could help!

[2015-08-08 19:58] #4156 closed

[2015-08-08 20:12] usernamehoax commented on #4156
Thanks for your time. Just for information if anyone else runs into this problem: you can configure blockUI to autoBlock=false - it won't block all $http service requests only those which are defined explicitly. I posted an issue on the blockUI's github page also.

[2015-08-08 21:22] MuraliM commented on #981
@pkozlowski-opensource  could you please give an update on using typeahead-input-formatter with ajax based results? I too have the similar problem mentioned by @krimhorn

Your inputs are highly appreciated! Thanks in advance

[2015-08-09 04:53] richburdon opened #4158 "Support for systemjs"
Does angular-ui support loading via systemjs?
Also, if bootstrap is a dependency (for the CSS file) then how can systemjs (or bower for that matter) include bootstrap without bringing in the jquery dependency?

[2015-08-09 05:30] wesleycho commented on #4158
We do support `npm`, so you can use System.js via jspm - that said, you won't get any particular benefit of doing so currently, as UI Bootstrap is not currently written in TS/ES6.

[2015-08-09 05:32] wesleycho commented on #4158
As far as Bootstrap CSS goes, you could choose to not compile it in if you use jspm. You could also just use npm as well.

[2015-08-09 09:39] ZuBB commented on #4147
Ok, I figure out what happened. For some reason we have old version of you package in node_modules.

Btw. Github cant find line you mentioned

https://github.com/angular-ui/bootstrap/search?utf8=%E2%9C%93&q=rendered

Thanks a lot for help

[2015-08-09 15:58] e-cloud commented on #4149
@wesleycho, yes, my problem is just **the tabbing does not get trapped in the first tab**

[2015-08-09 16:43] wesleycho commented on #3948
Closing as not an issue, as this has easy CSS solutions by putting custom classes on the carousel and slide elements & overriding with user CSS.

[2015-08-09 16:43] #3948 closed

[2015-08-09 18:09] justechn opened #4159 "Does Modal support using this instead of $scope"
I was playing around with the modal and tried using this instead of $scope, but it broke the items list and the ok and cancel buttons. Am I doing something wrong, or is this not supported?

http://plnkr.co/edit/wnDk17aEMkYJrTsh4BpB?p=preview

In the console I am seeting errors about
 Unknown provider: $modalInstanceProvider

[2015-08-09 19:17] wesleycho commented on #4159
You actually want to pass the controller information via the options object passed into the `$modal` service - [here](http://plnkr.co/edit/pPyBmyW8eIldmZy2GB3u?p=preview) is a working example of your Plunker.

[2015-08-09 19:17] #4159 closed

[2015-08-09 19:56] wesleycho commented on #3774
This appears to be a feature request, one that I actually have been in the process of implementing for each component with support of `templateUrl` modification on an instance by instance level.

I am all for this, and am aiming to be fully complete with this before the 0.13.4 release.

[2015-08-09 23:32] wesleycho commented on #3825
This is easily reproduced on the basic Plunker, as seen [here](http://plnkr.co/edit/lypWdSoX8uXCTHgyFo4L?p=preview).

This is certainly unexpected behavior.

[2015-08-10 02:12] wesleycho commented on #3612
I'm a bit confused by the request here - can you show a reproduction where this does not work as expected? [This Plunker example](http://plnkr.co/edit/T4uiEM5Ugf9b1Hyfzt1s?p=preview) demonstrates changing the date and the datepicker updating automatically.

[2015-08-10 02:29] wesleycho commented on #3917
I am not able to reproduce this [here](http://plnkr.co/edit/3Lvh2t7HkZmJmuSChSI6?p=info) - nothing can be done without a reproduction to work off of for this issue.

[2015-08-10 03:19] icfantv commented on #4147
You're welcome.  BTW, the link works fine for me:

![image](https://cloud.githubusercontent.com/assets/370054/9158897/ccababb2-3edb-11e5-88f4-19435782788c.png)

Your search link isn't valid because GitHub is only showing the first two matches for `modal.js` and indicates thus above each window.  Look for the text: "Showing the top two matches. Last indexed 2 days ago."

[2015-08-10 04:18] wesleycho commented on #338
As far as I can tell, it looks like this can be used today already by hooking into `ng-class`, as can be seen in this crude demo [here](http://plnkr.co/edit/pLbJ4HfiIx7LivwIUzgQ?p=preview).

Closing as resolved.

[2015-08-10 04:18] #338 closed

[2015-08-10 04:44] #3602 closed

[2015-08-10 05:31] psldevelopers commented on #1774
Can this fix to be applied to 0.12? We who are still with Angular 1.2.X need this fix as ewll.

[2015-08-10 06:20] pascalberger opened #4168 "NuGet Package for 0.13.3"
Please update the NuGet Package also to version 0.13.3

[2015-08-10 06:39] xt0rted commented on #4168
The NuGet package has been updated to [v0.13.3](https://www.nuget.org/packages/Angular.UI.Bootstrap/0.13.3)

[2015-08-10 07:06] pkozlowski-opensource commented on #4168
Thnx @xt0rted !

[2015-08-10 07:06] #4168 closed

[2015-08-10 07:26] waqas-syed opened #4169 "Datepicker: Highlight multiple days"
I want to be able to highlight a number of days in a month when the calendar gets rendered on screen. This will probably require that the highlighted days have a different color (e.g., green) and the selected day has another color (e.g., blue).

Is this possible? I will be glad if i can even get some guidelines on tweaking it up myself to get this desired functionality.

[2015-08-10 07:36] hoxu opened #4170 "datepicker-popup does not heed min-date when manually inputting date (0.13.3)"
When `min-date` is set, the user can still manually input a date before `min-date`, and it gets succesfully bound to the model. I would expect that the model would not get bound when a date outside the allowed range is inputted manually, and the field would be set `$invalid`.

See [plunker demonstration](http://plnkr.co/edit/IzN5tI3pRJvxCDoTFkjP?p=preview).

[2015-08-10 09:23] bkirtika commented on #3988
+1

[2015-08-10 09:40] stephanie-dm commented on #2546
Thanks for the fix!

[2015-08-10 09:47] povilass opened #4171 "openedClass not removed when close/dismiss (0.13.3)"
Adding your own class to openedClass after close/dismiss will not be removed. (angular-ui-bootstrap Version: 0.13.3 - 2015-08-09)

![class-passed](https://cloud.githubusercontent.com/assets/8037810/9167474/6612a66c-3f5d-11e5-93cf-6e5609e700fe.png)
![error](https://cloud.githubusercontent.com/assets/8037810/9167475/66199238-3f5d-11e5-8944-f174d7d87b66.png)

[2015-08-10 10:11] aug-riedinger commented on #3483
Got it.
For now, I can afford living without it. If I need to go further, I'll work on it and PR.

[2015-08-10 10:24] Polooo2 opened #4172 "Bug with accordion-group and ng-class"
Hi,
since 0.13.3 I am getting parse errors when using accordion-group in combination with ng-class. This is being caused by this change ead15e37 .

You can test this with following example:

`...
<accordion-group ng-class="{'test' : isTest}">
....`

This results in following generated code:
`...
<accordion-group ng-class="{'test' : isTest} {'panel-open': isOpen}">
....`

[2015-08-10 11:34] stephanie-dm commented on #4172
I can confirm this behaviour as well. And because of this problem, the class is not added when the panel is open.

[2015-08-10 12:07] ChrisMurphy opened #4173 "UK Date Format Issue on Model Change"
AngularJS: 1.3.2
UI BootStrap: 0.13.3
Use Case: [Code Pen Example] (http://codepen.io/anon/pen/KpEyLZ)

When manually setting the value of a model that is attached to a datepicker that has 'dd/MM/yyyy' specified as the date format, then the calendar is subsequently opened, the interpreted date is the inverse of what it should be (i.e. set the model value to 11th of August, the calendar displays th

[2015-08-10 12:18] realityking opened #4174 "Datepicker doesn't work with ngIf and Angular 1.3.17"
If a datepicker is dynamically shown using Angular 1.3.17 and Angular Animate the following error is triggered:

[code]

This goes back to the following commit: b72efed56f68e9e5dbed934df7f47e0b5c94242c

Plunkr: http://embed.plnkr.co/pBbrC11O9p6s46PkF7ky/preview

I've included a file called ui-bootstrap-old.js which includes the last working version (dbceec76d0d99f2b8204c0f2a5422b76f363a7f7).

I co

[2015-08-10 12:37] RobJacobs commented on #4174
I'm not seeing that error on the demo page with Angular 1.3.17 as show in this [plunk](http://embed.plnkr.co/W4meKeC1bMN1WE4r1NAK/preview).  The implementation in the plunk you linked:

    <div ng-controller="MainCtrl">
        <button type="button" ng-click="toggle()" class="btn btn-default">Toggle</button>
        <div ng-if="isShown">
            <input type="text" class="form-control input-sm

[2015-08-10 13:15] wesleycho commented on #4172
Using ng-class on a directive that uses `replace` is a bad idea.

The best solution is to use the `template-url` option on the `accordion-group` directive if you want to eliminate that ng-class usage.

[2015-08-10 13:16] wesleycho commented on #3988
Please do not do a +1, it does not offer any useful signal.

[2015-08-10 13:53] wesleycho commented on #4174
I am seeing that error in the Plunker.

That is an ngAnimate bug in 1.3 unfortunately - the datepicker itself does not use ngAnimate.

[2015-08-10 13:54] wesleycho commented on #4174
This ticket is a duplicate of #4012.

[2015-08-10 13:57] wesleycho commented on #4171
Good catch - that is completely overlooked, and I should have written a test case for this.

[2015-08-10 14:01] moonboyio commented on #4012
@wesleycho

This is a simple example: http://plnkr.co/edit/iaZGS6mYvMiJY5pu19Ig?p=preview
See additional div wrapper in a template.

[2015-08-10 14:05] povilass commented on #4171
Stuff happens. :dancers:

[2015-08-10 14:07] wesleycho commented on #4171
I just opened a fix for this issue in the referenced PR above, should land sometime today.

[2015-08-10 14:09] wesleycho commented on #4169
Currently, you can use a custom template on an instance by instance basis - I am not sure that is enough to get to where you want though.

[2015-08-10 14:09] povilass commented on #4171
Thanks.

[2015-08-10 14:12] wesleycho commented on #4170
I believe this was always an issue - the datepicker does not clear the model like the timepicker.

The validation should definitely occur though, so that is a missing functionality.

[2015-08-10 14:18] wesleycho commented on #4173
[Ported to Plunker](http://plnkr.co/edit/mbMMrSJR6Y4WPr3LUddt?p=preview) for ease of debugging.

Certainly looks like a bug.

[2015-08-10 14:37] nipec commented on #4133
I have a similar strange error. When setting my date initially, everything works fine. See Plunker: http://plnkr.co/edit/RkByqVhCrcSCXWGXGkWo

The date of today is shown correctly in the view and in the model.

Now test this: Open the popup datepicker and click on "Clear". Then click on "Today". View is fine, the model is wrong. It shows yesterday, I assume because my timezone offset was substract

[2015-08-10 15:02] icfantv commented on #4172
@wesleycho what do you think about adding an `expandedClass` and/or `collapsedClass` option to the directive so the fix to #3419 isn't potentially "breaking?"  Seems pretty heavy-handed to force someone to make a new template because of a feature we added.

[2015-08-10 15:10] wesleycho commented on #4172
I'm not against it necessarily, but in increases cumbersomeness of usage. replace is also a potentially dangerous thing in tandem with another directive that mutates the DOM.

If a PR is opened, I'll gladly review and merged though.

[2015-08-10 15:20] icfantv commented on #4172
Agreed.  I recall a comment in an issue in the angular codebase by @caitp indicating that while `replace` isn't going anywhere, one needs to be cognizant that using it incorrectly can break the DOM.

I wonder if it would be best to establish best practices (or at least "standards") on a project level and just say "If we do _x_, then we won't support _y_."  In this case it could be:  "Because we us

[2015-08-10 16:03] harsh5400 opened #4177 "Disabled UTCtimezone in timepicker"
Can I disabled ISO 8601 format ans pass the value to model as well database server as it is.

For example :
Present : I am selecting 5:30, but in the database it is saving 12:00 due to ISO standard.

Requirement : If I will select 5:30 it should save as it is in the database ie 5:30

Please help..

[2015-08-10 16:05] #3825 closed

[2015-08-10 16:08] #1893 closed

[2015-08-10 16:20] wesleycho commented on #4177
You would have to do some manual conversion when sending the value to the server to make sure the correct time is sent currently.

There are multiple tickets open regarding timezones, so any request for offsetting will be tracked through those.

[2015-08-10 16:20] #4177 closed

[2015-08-10 16:22] wesleycho commented on #4172
I can get behind that, as ideally, you should avoid using directives that mutate the DOM in combination with a directive that uses `replace`.

One can wrap the element with a `div` that has the desired ng-class to work around this also.

[2015-08-10 17:00] harsh5400 commented on #4177
Actually I m making an angular dynamic form framework. It will automatically read the form fields from database and draw form at run time.

Right now I converted the time to local time zone in the bootstrap.js directly

But if we make the setting of disable timezone, it will be great.

Do you have any example. Please send link if possible.

[2015-08-10 17:14] wesleycho commented on #4177
That functionality is not currently in the framework - if the request is for disabling timezone, then that request is already encoded in another issue that we are tracking.

Otherwise, manual work cannot be avoided at this time currently.

[2015-08-10 17:18] harsh5400 commented on #4177
Ok we are waiting for this functionality

Thanks and regards
Harsh

[2015-08-10 18:04] bozydar commented on #3633
I debugged function ```removeAfterAnimate``` and it looks like the problem with the fade out is caused by this one: https://github.com/angular/angular.js/issues/6049

[2015-08-10 18:25] jon64digital opened #4178 "Jerky transition in chrome on opening/closing."
Has anybody else experienced this?

Basically, when I open a modal and use a css transform (scale) it's really choppy/jerky when you open and close the window, but only in chrome.

I'm using the in class and some pretty simple sass...

    .modal{

        transition: all 0.3s ease-out;

        .modal-dialog{
            will-change: transform;
            opacity: 0;
            transform: scale

[2015-08-10 18:32] jon64digital commented on #4178
Weirdly though, the duplicate transition is only required by chrome which doesn't do the close animation unless it's there. IE10 on the other hand (using an old version for testing purposes) does the close animation if you just have the transition inside .modal-dialog

I really can't get my head around how Angular UI uses animations and how it calculates when to remove the modal from the DOM. It s

[2015-08-10 19:12] Zion-ICS commented on #3673
My apologies on the very, very late response....
Thank you very much for the advice! That worked awesomely.

[2015-08-10 19:13] #590 closed

[2015-08-10 19:15] wesleycho commented on #4178
Can you create a reproduction based on Plunker? [Here](http://plnkr.co/edit/2dckUQzbSQRYezdDxhMW?p=preview) is one you can fork and work off of.

[2015-08-10 21:17] drewbeck commented on #3678
I'm having the same issue.

[This 'contains' line](https://github.com/angular-ui/bootstrap/blob/master/src/datepicker/datepicker.js#L701) in the datepicker is returning false when it should be returning true.

Looks like the same code is working fine on the [demo page](https://angular-ui.github.io/bootstrap/#/datepicker), though!

#mystery

[2015-08-10 22:46] RyanBard opened #4181 "Typeahead vulnerable to cross-site scripting attack"
Plunker showing XSS with onClick and onMouseOver: http://plnkr.co/edit/STR8SfgvtUdNopDS5Lam?p=preview

Plunker seems to protect against automatically running a script tag, but I was able to reproduce that locally -- the alert runs after the typeaheadHighlight filter's strong tag moved beyond the closing angle bracket of the script tag.

Previous issue: https://github.com/angular-ui/bootstrap/issue

[2015-08-10 22:47] RyanBard commented on #3175
New issue created: https://github.com/angular-ui/bootstrap/issues/4181

[2015-08-10 22:52] unitymarc commented on #4181
Your use case is similar to, but not identical to the one I created in #3175 . In our case, the vulnerability seemed to be caused by an artificial condition we were introducing (which is why I closed it). I'd agree that this is substantially different, and appears to be an exploitable attack vector.

[2015-08-10 23:01] RyanBard commented on #4181
I wasn't careful about describing the script and strong tags and half of my comment got sanitized (I've now corrected this).  I cross referenced the tickets.

[2015-08-10 23:24] codeorganic commented on #4012
@wesleycho I no longer get the issue with the code from @moonboyio

Is this something that we can get implemented into ui.bootstrap ?

[2015-08-10 23:36] wesleycho commented on #4181
I suspected this was a potential problem, which is why #4073 exists. The problem at its core is the custom `bind-html-unsafe` directive, which is a bit of a hack - we are in the process of getting rid of this last vestige present in the typeahead component.

[2015-08-11 00:23] dpogue opened #4183 "Modal doesn't use ng-enter/ng-leave animations"
This current modal animation code seems significantly overcomplicated, and doesn't work with the standard Angular way of handling elements being added/removed from the page.

I suspect all of the additional complexity is for compatibility with vanilla bootstrap CSS, but it makes it difficult for people who want to use the modal JS code with their own custom stylesheets.

[2015-08-11 00:29] aug-riedinger commented on #590
Sweat! Thanks!

[2015-08-11 04:19] MrOutput commented on #3633
+1

[2015-08-11 06:05] wesleycho commented on #4183
I'm confused by this assertion - the $modal service uses ngAnimate's $animateCss/$animate under the hood to add & remove CSS classes. The use of ngAnimate can be seen [here](http://plnkr.co/edit/xQecdnjx0aXx41qcjQoQ?p=preview), where it properly adds the evented classes.

We need more info on exactly what is wrong here.

[2015-08-11 06:10] povilass commented on #4171
I have problem, one case like you have 2 opened pop-ups and i got 2 body classes "class="modal-scrollable modal-open"" when I close pop-up with modal-open class, class is not toggled body.toggleClass(modalWindow.openedClass || OPENED_MODAL_CLASS, openedWindows.length() > 0).

[2015-08-11 06:11] dpogue commented on #4183
The modal isn't added to the page using `$animate.enter` (so `.ng-enter` animations never play), and the leave event with $animateCss doesn't cause `.ng-leave` animations to play.

Example CSS (that fails to animate):
[code]

[2015-08-11 06:11] wesleycho commented on #4178
I am not able to reproduce this [here](http://plnkr.co/edit/LS23tQzHqzvNAzEuG3iT?p=preview)

[2015-08-11 06:18] wesleycho commented on #4171
Hmm, that will be a very tricky situation to fix...really feel that the library should have never supported multiple modals.

That part may require some more thought.

[2015-08-11 06:18] wesleycho commented on #4171
Actually, can you open a new issue on that?

[2015-08-11 06:18] #4171 closed

[2015-08-11 06:20] povilass opened #4184 "openedClass not removed when close/dismiss with 2 pop-ups"
I have problem, one case like you have 2 opened pop-ups and i got 2 body classes ' class="modal-scrollable modal-open" ' when I close pop-up with modal-open class, class is not toggled
[code]

[2015-08-11 06:20] wesleycho commented on #4183
The library does not include CSS, so that cannot be a solution.

I highly suspect that this feature request would be near impossible to support given how Bootstrap's transitions work with the modal & the CSS that goes along with it. It should be enough to hook into the `-add-active` and `-remove-active` class suffixes that $animateCss/$animate are adding.

[2015-08-11 06:22] wesleycho commented on #4184
For reference, some conversation is in #4171.

[2015-08-11 06:24] povilass commented on #4184
Even if you have 3 pop-ups they should use 3 different classes which should be removed not toggled.

[2015-08-11 06:26] povilass commented on #4184
[code]

[2015-08-11 06:27] wesleycho commented on #4184
It is more complicated than that - a separate data structure is likely necessary to store the class list, since there is the possibility that someone used the same custom class in multiple modals.

[2015-08-11 06:28] nipec commented on #4113
Hi Ivan,

is this reproducing your error?

http://plnkr.co/edit/RkByqVhCrcSCXWGXGkWo

Cheers,
Nikola

[2015-08-11 06:33] povilass commented on #4184
Ye only way it can work with storing those classes and counting them maybe.

[2015-08-11 07:07] isimonov commented on #4113
Hi, Nikola! A little different, see below, I will try to explain in pictures
http://plnkr.co/edit/gMyC6ZEPaL0HGak0ksFO
![000](https://cloud.githubusercontent.com/assets/2580203/9192100/6f130852-4010-11e5-861e-9a36a53498b8.png)

[2015-08-11 09:07] k0nG commented on #4173
Experiencing this issue as well with UI BootStrap: 0.13.3.

Setting `datepicker-popup="dd/MM/yyyy` with a valid JS Date object as the `ng-model` seems to cause it.

[2015-08-11 13:22] lucienbertin opened #4185 "btn-radio directives not working on 0.13.3 if combined with ng-repeat directive"
i did this [plunkr](http://plnkr.co/edit/QFxZPRhedJau4jiz2XuE?p=preview) to show the issue.

basically i have this
[code]
and this
[code]
clicking on the buttons doesn't work, doesn't update value

funnily enough, when i add the same group of choices without the ng-repeat
[code]
`value` will be updated when i use the second group of buttons and the first group of buttons will also be updated, show

[2015-08-11 14:51] k0nG commented on #4173
On further investigation I've managed to partially fix it by changing the `render` function within the Date Picker: https://github.com/angular-ui/bootstrap/blob/master/src/datepicker/datepicker.js#L94

The issue is the function parses a date without specifying a format using native JS `Date` which when given a UK format assumes it's an American format. I've fixed this by using the DateParse servic

[2015-08-11 15:13] Izhaki opened #4186 "Wrong tooltip size with html content"
From the demo:

![image](https://cloud.githubusercontent.com/assets/880132/9201254/ea0f317e-4043-11e5-82b8-12b6db698905.png)

The tooltip size is smaller than the string provided.

[2015-08-11 15:19] pkozlowski-opensource commented on #4186
AFAIK this size limitation comes from Bootstrap CSS. @Izhaki did you check this?
IMO this has nothing to do with the lib here....

[2015-08-11 16:04] wesleycho commented on #4173
The fix is going to be a little tricky - there are two situations one has to consider here. The first is where the format is set in the popup, and the other is for the plain datepicker.

[2015-08-11 16:08] RobJacobs commented on #4185
Questions of this nature should be posted on stackoverflow, please see the readme section [here](https://github.com/angular-ui/bootstrap#need-help). The behavior you are seeing is due to prototypal inheritance as described [here](https://github.com/angular/angular.js/wiki/Understanding-Scopes) as ng-repeat uses isolate scope.  The updated plunk [here](http://plnkr.co/edit/WLUmFBJSHWJUaasTtYG8?p=pr

[2015-08-11 16:08] #4185 closed

[2015-08-11 16:17] richburdon opened #4187 "Allow tab content to be in a different part of the DOM"
The current implementation requires tabs to be inline within the tabset. The jquery implementation is much less restrictive, allowing the tab-content to be placed anywhere within the DOM.

In general, is there any way to extend the behavior of the angular bootstrap directives rather than rewriting them when there's a similar restriction?

[2015-08-11 16:17] lucienbertin commented on #4185
makes sense, thanks

[2015-08-11 16:19] icfantv commented on #4186
@Izhaki and @pkozlowski-opensource - This limitation is set by Bootstrap CSS and you can easily override it in your Bootstrap Theme file or in your site's CSS file:
[code]
Just a note that popover also has a max-width.

[2015-08-11 16:19] #4186 closed

[2015-08-11 16:25] icfantv commented on #4187
@richburdon - If I understand your question correctly, there's no restriction on where the content (template) for your tabs is defined.  I've defined them in completely separate files and done something like this:
[code]

[2015-08-11 16:30] wesleycho commented on #4187
I think he means that he would like the tab content to be completely decoupled from the directive.

I do not believe we will support this, as it would require stateful knowledge of where it is in the DOM, and the best way to do so is with a parent element, hence the existence of `tabset`.

[2015-08-11 16:42] brujo696 commented on #1741
+1

[2015-08-11 16:43] icfantv commented on #4187
That makes sense.  @richburdon don't forget that jQuery, and thus jQuery UI, is a DOM manipulation framework.  Most of what jQuery does is via selectors.  Whereas with Angular, the items are right there (directives or otherwise).

[2015-08-11 16:49] brujo696 commented on #1741
I had the same problem

[code]

but I solved that with this

[code]

[2015-08-11 16:54] icfantv commented on #1741
Hey all, please see the discussion in #4172.  Using `ng-class` on a directive that uses `replace: true` is a very bad idea.  There are numerous issues around `replace: true` and even talk of deprecating/removing it.  But, unfortunately, it's not going anywhere soon and the caveat released by the core Angular team was that use it, but do so at your peril.  I.e., use it knowing that doing so incorre

[2015-08-11 17:07] icfantv commented on #4172
@wesleycho found [this link](https://github.com/angular/angular.js/issues/5695) via #1741.  Look at @caitp's last comment.  If Angular isn't going to address this, I think we can close this issue and #1741 and add a comment to the docs about not supporting certain directives on UI Bootstrap directives that use `replace: true`.

[2015-08-11 17:11] wesleycho commented on #1741
Closing as won't support given the resolution in Angular.

[2015-08-11 17:11] #1741 closed

[2015-08-11 17:12] wesleycho commented on #4172
That settles it for me - closing as won't fix as per resolution in Angular.

[2015-08-11 17:12] #4172 closed

[2015-08-11 18:35] yuanda commented on #1547
Thank you @sicollins  for your solution.

@johnnyaug's solution doesn't work in stacked progress bar, but @sicollins works.

[2015-08-11 20:03] Zyquivilly opened #4188 "Datepicker Not Parsing Date from String"
It looks like going from v0.13.1 to v0.13.2 the datepicker no longer handles parsing a date from a string. Is this intended functionality?

Please see the following Plunker, which shows that the form is being marked invalid when given a string version of a date in v0.13.2 but works as expected when switched to v0.13.1:
http://plnkr.co/edit/jjbvdsabeSWlARRAl4PP?p=preview

[2015-08-11 22:18] extropianer opened #4189 "datepicker custom-class not rendering with function that uses $resource data"
The datepicker module seems to not 'render' correctly if supplying a `customClass` that takes data from an async `$resource`. Going through the sourcecode i realized that selecting a new date forces the directive to `renderView()` which in turn triggers the `customClass`. However even though the function gets called and assings the correct custom class it is still not visible on the HTML. I am not

[2015-08-11 23:23] ackzell commented on #1611
Hi everyone,

I don't mean to stir up the water again, but I think I am facing the actual case where

The thing is, we are using the accordion directive for 2 different purposes in the same app. One is to display a set of data and the other one is because the client wanted the behavior on a FAQ kind of page.

So, for the set of data, we needed to display one button that would actually toggle the a

[2015-08-12 00:15] RobJacobs commented on #1611
@ackzell There have been several recent [commits](https://github.com/angular-ui/bootstrap/commits/master) to add 'templateUrl' support, the one for the accordion can be viewed [here](https://github.com/angular-ui/bootstrap/commit/f777c320ccd45531490b2bbb58fd31e9c6472fdc).  Closing this issue as complete.

[2015-08-12 00:15] #1611 closed

[2015-08-12 00:56] ackzell commented on #1611
Thanks a lot @RobJacobs, I didn't go back to the docs after implementing the accordions a couple weeks ago. Awesome timing!

[2015-08-12 02:44] zhanjiaxia opened #4190 "Pagination, errors using templateUrl, because HTML is not case sensitive"

[2015-08-12 03:56] icfantv commented on #4190
@zhanjiaxia please create a working plunker that demonstrates the issue and at least give us a description.  Issues entered in this form are not helpful and may be summarily closed.

[2015-08-12 05:52] wesleycho commented on #4012
Looks like there is a major problem with that proposed fix - it breaks expected behavior of the dropdown menu, as exposed by unit tests.