[2015-05-05 14:53] rvanbaalen commented on #3620
When you create a plunkr you can choose which library versions you want to use.

[2015-05-05 14:54] alippai commented on #3620
I referenced the correct versions, but couldn't reproduce the wrong behaviour.

[2015-05-05 15:07] rvanbaalen commented on #3620
That's when an issue gets closed :wink:

[2015-05-05 15:19] rvanbaalen commented on #3594
Well based on this fiddle I suppose we can conclude that this is an implementation issue rather than a bug in one of the UI Bootstrap components:

http://jsfiddle.net/1471kzLh/

Without implementing Google Maps, I'm able to generate and re-generate content within the accordion when I navigate back and forth between the page navigation.

[2015-05-05 15:19] #3594 closed

[2015-05-05 15:21] rvanbaalen commented on #2328
Not relevant anymore the one bower repo per module is still being investigated as an option.

[2015-05-05 15:21] #2328 closed

[2015-05-05 15:21] rvanbaalen commented on #2332
Not part of Twitter Bootstrap components, thus not a part of UI Bootstrap either.

[2015-05-05 15:21] #2332 closed

[2015-05-05 15:24] rvanbaalen commented on #2353
@Foxandxss I assume this is not relevant anymore and can be closed. Feel free to re-open if you think otherwise.

[2015-05-05 15:24] #2353 closed

[2015-05-05 15:25] #2346 closed

[2015-05-05 15:26] rvanbaalen commented on #2356
https://github.com/angular-ui/bootstrap#need-help

[2015-05-05 15:26] #2356 closed

[2015-05-05 15:27] rvanbaalen commented on #2358
Closing as an outdated issue. If this is still relevant, @maklemenz please provide a plunkr reproducing your problem and we'll be able to take a look at it. Also, test this in the latest UI Bootstrap 0.13 and AngularJS 1.3.

[2015-05-05 15:27] #2358 closed

[2015-05-05 15:37] rvanbaalen commented on #2360
I know this one is old but it seems to be working just fine when you update to AngularJS 1.3, UI Bootstrap 0.13 and the latest available Bootstrap CSS:

http://plnkr.co/edit/NBXLEUsCWq0y5bNVi76a?p=preview

[2015-05-05 15:39] #2360 closed

[2015-05-05 15:43] rvanbaalen commented on #2402
@cbrammer AngularJS 1.3 support has landed in `v0.13`. Rock on! :guitar:

[2015-05-05 15:43] #2402 closed

[2015-05-05 15:43] rvanbaalen commented on #2397
https://github.com/angular-ui/bootstrap#need-help

[2015-05-05 15:43] #2397 closed

[2015-05-05 15:44] rvanbaalen commented on #2396
https://github.com/angular-ui/bootstrap#need-help

[2015-05-05 15:44] #2396 closed

[2015-05-05 15:48] rvanbaalen commented on #2390
I can't seem to understand what is 'not working' here. Looks like your input formatter is working just fine? I'll close this since the issue is pretty old now. Feel free to re-open of you are still experiencing this issue with AngularJS 1.3 and UI Bootstrap 0.13.

[2015-05-05 15:48] #2390 closed

[2015-05-05 15:52] rvanbaalen commented on #2379
No info.

[2015-05-05 15:52] #2379 closed

[2015-05-05 15:53] rvanbaalen commented on #2385
ngChange is just for the input, if you want to listen the model do like this:

[code]

[2015-05-05 15:53] #2385 closed

[2015-05-05 15:55] rvanbaalen commented on #2378
Fixed with 9ca4ec399be0e0e8f6c3fe6fd924a7d94ce669b5

[2015-05-05 15:55] #2378 closed

[2015-05-05 15:58] rvanbaalen commented on #2376
This is not an issue with UI Bootstrap but an implementation issue

https://github.com/angular-ui/bootstrap#need-help

[2015-05-05 15:58] #2376 closed

[2015-05-05 16:00] rvanbaalen commented on #2375
How's the progress going @sylvain-hamel ?

Closing this issue for now but please reference your project if you have something!

[2015-05-05 16:00] #2375 closed

[2015-05-05 18:51] sylvain-hamel commented on #2375
Hi @rvanbaalen, no progress at all on this project. I'll update this issue if I eventually get to it but I don't think it's going to happen.

[2015-05-05 18:56] RobJacobs commented on #3620
@alippai is correct, the modal will close, but the backdrop element does not get removed.  Reason being the $animate api has changed on how to attach event handlers.  It needs to be:

    $animate.on(element, 'event', function() {})

So the afterAnimating function never gets called which is responsible from removing the backdrop element.  Oddly enough, plunkr does not exhibit this behavior but I'v

[2015-05-05 19:16] blkeagl opened #3624 "0.13.0 modal dialog not closing in angular 1.3.15"
This is a bug in using the combination of angular 1.3.15 and ui-bootstrap 0.13.0.

The modal dialog does not actually close even though the triggered code executes with apparent error messages. While I can work around this by using $modalInstance in my own code instead of the local instance variable returned by $modal.open(), some of the libraries I am using via bower are using this local variable

[2015-05-05 19:48] rvanbaalen commented on #3624
Seems to be going wrong with your `var testScope = $scope.new();` implementation which you're passing to the modal options.

When I use the methods provided by the modal itself, everything seems to be working OK, or am I missing something?

http://plnkr.co/edit/1cFGn4SnPw1wt89acQyP?p=preview

[2015-05-05 22:11] blkeagl commented on #3624
This seems to be related to manually calling $new and $destroy for creating and cleaning up scopes in the code. If these are deferred until later, this issue seems to not occur. I fixed the 3rd party library to do this a different way (using $dismiss()) and sent them a bug as well, so I am not blocked, but in terms of behavior, it looks like this is some type of animate bug because the dialog does

[2015-05-05 22:16] rvanbaalen commented on #3615
Probably related: #3624

[2015-05-05 22:16] rvanbaalen commented on #3620
Reopening. Related: #3624

[2015-05-05 23:59] xingped opened #3626 "Force a re-render of a datepicker?"
So, I'm trying to sew together a date range picker of sorts from two datepickers and it's pretty close. I'm trying to disable dates on the start calendar based on the date selected on the end calendar and vice versa. The problem is that the start calendar only refreshes or re-renders when a selection is made on that calendar. So if I select a date on the end calendar, the start calendar will not r

[2015-05-06 01:58] chrisirhc commented on #3615
ngAnimate is now needed if you want animations: http://plnkr.co/edit/d9PxCHXQH8yLv4wkNbhi?p=preview

[2015-05-06 03:28] heziqiang99 opened #3627 "Does angular-ui team plan to support Angular2?"
Angular2 by typescript1.5beta is in alpha preview.

[2015-05-06 08:22] felixbillon commented on #2974
+1

[2015-05-06 08:49] alippai commented on #3620
Please note, that your statement above is false. AngularJS 1.4 is out of beta, it's a RC now.

We love to use the fresh version of the 3rd parties, caught this bug testing the upgrade path on an experimental branch. Few weeks from now newbies will download AngularJS 1.4 with Angular Bootstrap 0.13 and it won't work, don't kill their learning process please. I can stick with the old version for mon

[2015-05-06 08:59] metrey commented on #3291
It seems that the issue raised here similar to this workaround solution: http://developer.the-hideout.de/?p=119

It's should be added into the core of datepicker here, isn't it?

[2015-05-06 09:06] #3627 closed

[2015-05-06 09:13] hugsbrugs commented on #102
Hi, I've created a gist for what we need : https://gist.github.com/hugsbrugs/c85a6b1c10d03e8cb0da

is there any chance for angular ui team to have a look at it to get the idea incorporated in next releases because I can't figure out the interest of vertical tabs without content on it's right ?

[2015-05-06 09:16] karianna commented on #3620
@alippai You're welcome to submit PRs to help out!

[2015-05-06 09:17] karianna commented on #2974
@aviram83 Have you tested this with the latest version (0.13.0)?

[2015-05-06 09:18] karianna commented on #3615
@chrisirhc - So this isn't a bug?

[2015-05-06 09:18] starf opened #3628 "tooltip-html, $sce and ng-repeat"
trying to switch from tooltip-html-unsafe to tooltip-html

in the example, the tooltip-html content is provided in the controller as
[code]
is there a proper solution for when the content is inside an ng-repeat?
simply switching to tooltip-html produces a $parse error

[2015-05-06 09:18] karianna commented on #3626
https://github.com/angular-ui/bootstrap#need-help

[2015-05-06 09:18] #3626 closed

[2015-05-06 09:25] karianna commented on #3628
https://github.com/angular-ui/bootstrap#need-help

[2015-05-06 09:25] #3628 closed

[2015-05-06 09:25] karianna commented on #102
@hugsbrugs Can you try with 0.13.0 and open a new issue if required.

[2015-05-06 10:00] prdolmos opened #3629 "Carousel - Not animating slide change"
Since updating to 0.13.0, slides don't animate due to them missing the transition classes.

This can be seen in the Plunker linked from the official Github Page: http://plnkr.co/edit/nIhlfK3095d1qjLgeKeC?p=preview

[2015-05-06 10:07] prdolmos commented on #3629
It appears that ngAnimate is now required for animation to work: https://github.com/angular-ui/bootstrap/issues/3615#issuecomment-99286634

[2015-05-06 10:10] #3629 closed

[2015-05-06 10:48] starf commented on #3628
https://stackoverflow.com/questions/30072924/ui-bootstrap-0-13-how-to-use-tooltip-html-inside-an-ng-repeat

I had put it here because it's directly related to the new version.

[2015-05-06 11:16] aviram83 commented on #2974
@karianna sorry but didn't use it eventually so the answer is no

[2015-05-06 11:16] rvanbaalen commented on #3627
Keep an eye on the meeting minutes in the wiki. Yes eventually we will support AngularJS 2, no, dont expect anything any time soon.

[2015-05-06 11:57] rvanbaalen commented on #3624
Also, take a look a t this:

https://github.com/angular-ui/bootstrap/blob/master/src/modal/modal.js#L422

The modal already creates a scope of its own. So basically it will create a new scope ON your new scope which probably causes the modal not to fire the methods you're calling on your new scope.

Take a look at the documentation page on how to use the scope option.

[2015-05-06 11:57] #3624 closed

[2015-05-06 12:19] Rafal2228 commented on #3615
Thank you for your commitment. Closing :)

[2015-05-06 12:19] #3615 closed

[2015-05-06 13:12] #2974 closed

[2015-05-06 14:11] pedro-meza commented on #3320
What is the resolution?  I did not see any further information in the link: https://github.com/angular-ui/bootstrap#support

[2015-05-06 14:30] pedro-meza commented on #3320
I figured it out....

set the is-disabled to true for the accordion-group, such as:

<accordion-group  is-disabled="true" is-open="status-open">

Then create an accordion-heading and add an ng-click to a specific text or element, such as:

<accordion-heading>
 Accordion Heading <button class="btn btn-primary" ng-click="open()">Open</button>
</accordion-heading>

[2015-05-06 14:31] JobaDiniz commented on #3573
This is really sad to hear. Is the latest 0.13.0 version already does not support angular 1.2.28?

[2015-05-06 14:34] Foxandxss commented on #3573
It is not. The whole ngAnimate library changed a lot from 1.2.x to 1.3.x so we had to drop support for 1.2.x.

There is NO reason to not update an application to 1.2.x.

[2015-05-06 14:34] #3573 closed

[2015-05-06 14:40] JobaDiniz commented on #3573
To 1.3.x you meant...

Well, you might be right in theory, but in reality moving to 1.3.x can have a big impact on an already solid project. We have a huge project with a lot of 3rd party libs (not just angular.ui)... truth be told, moving to 1.3 is the right move, but not so simple :grinning:

[2015-05-06 14:46] Foxandxss commented on #3573
An issue easily mitigated with proper tests :P

On 6 May 2015 at 16:40, Joberto Diniz <notifications@github.com> wrote:

[2015-05-06 15:07] jjsino opened #3630 "Test do not pass"
I have just forked the repo.
On master, commit for version 0.13.0 when I run grunt I have the follozing test that fail:

[code]

[2015-05-06 15:38] blkeagl commented on #3624
Makes sense, thank you. I will update the bug report on the library I’m using to change this there.

Tarik

[2015-05-06 16:28] johntmyers opened #3631 "v0.13: TypeError: Cannot read property 'initDate' of undefined"
This error shows up in the console even if ng-model and init-date are both present and given date objects.

Has anyone else had this problem?

[2015-05-06 16:29] mchlbrnd opened #3632 "Update NPM registry to 0.13.0"
0.12.0 => 0.13.0 :)

[2015-05-06 16:45] chrisirhc commented on #3620
This looks like a reasonable support to add, check for the presence of `$animate.on` and use that instead of `element.on('$animate:close'…`.

[2015-05-06 16:51] johntmyers commented on #3631
This is because init-date is expected to be a member of datepickerOptions, so if you pass something in via datepicker-options and init-date is not set as a member of that object, you'll get this error.

The docs do not explain this.

[2015-05-06 17:25] cstefanache commented on #2072
+1

[2015-05-06 17:47] PhGeek commented on #1582
:+1: Thank you for sharing the solution.

[2015-05-06 20:17] xingped commented on #3626
No one wants to answer the question there and I'm ignored/lost in the sea of comments on IRC (surprise surprise!): http://stackoverflow.com/questions/30080708/ui-bootstrap-datepicker-force-a-re-render-of-a-datepicker

[2015-05-06 20:51] rvanbaalen commented on #3626
Its not about 'not wanting to answer'. Its about using the issue tracker for issues instead of implementation questions.

Thanks for referencing the SO here for future visitors of this issue.

[2015-05-06 20:53] rvanbaalen commented on #3631
Thanks for letting know. Feel free to submit a PR to fix this.

[2015-05-06 21:21] aleksandrj1 commented on #2171
this finally worked for me :
<accordion-group ng-init="status.open = true" is-open="status.open">

[2015-05-06 21:23] danielsd opened #3633 "Modal Dialog doesn't fade out"
Under certain circumstances, the modal dialog will simply disappear instead of fading out (even though it successfully fades in).

The example in the documentation is what it should do (fade in and out).
https://angular-ui.github.io/bootstrap/#/modal

Ironically, the plunker link it generates shows the modal not properly fading out. I've saved my own to serve as an example here:
http://plnkr.co/ed

[2015-05-06 21:29] aleksandrj1 commented on #2171
Ahh - But the real problem for me was the ng-controller was spec'd on the accordion. It needs to be on a div that contains the accordion directive. Then: &lt;accordion-group is-open="status.isFirstOpen"&gt; works as expected.

[2015-05-06 22:04] icfantv opened #3634 "Documentation update request"
Hey, just a low priority nit.  I'm getting a CSS warning saying tooltip-html-unsafe is deprecated - we should probably update the docs to indicate this and that we shouldn't use it.

[2015-05-06 22:12] rvanbaalen commented on #3634
Will take a look at it.

[2015-05-06 22:15] icfantv commented on #3634
Thanks.  No rush, clearly.

[2015-05-06 22:20] bkanuck opened #3635 "Jumpy scroll to input fields within a modal window in IOS"
I haven't been able to nail down the cause of this problem, but I believe it may be a bug. It's not new to 0.13, but I can say that this does not occur in a Bootstrap jQuery based modal window, only Angular-UI Bootstrap modals.  I created a Plunker to illustrate the problem by adding a simple form with input fields to the Plunker example for modals on the Angular-UI Bootstrap page.  The problem on

[2015-05-06 22:51] rvanbaalen commented on #3632
@Foxandxss ?

[2015-05-06 23:30] icfantv commented on #3634
While we're at it, we should update the documentation to include that the value of the tooltip-template needs to be quoted if it's just a string since the directive uses an = instead of an @ for the parameter values.  I just spent an hour trying to figure this one out.

[2015-05-06 23:56] rvanbaalen commented on #3635
I can confirm the bug. But im not sure if its ours to fix. Will take a look at it. Any help is appreciated.

[2015-05-07 03:45] piyasak opened #3636 "Datepicker popup doesn't show popup for second time on directive(tab)"
when i use datepicker popup for second time doesn't show popup.

[2015-05-07 08:51] pkozlowski-opensource commented on #3636
https://github.com/angular-ui/bootstrap/blob/master/CONTRIBUTING.md#you-think-youve-found-a-bug

[2015-05-07 08:51] #3636 closed

[2015-05-07 08:54] pkozlowski-opensource commented on #3630
Hmm, all tests are passing on TravisCI: https://travis-ci.org/angular-ui/bootstrap/branches

[2015-05-07 10:15] rvanbaalen commented on #3630
Strange indeed @pkozlowski-opensource since I am actually able to reproduce this locally but as you said Travis haa no trouble at all.

[2015-05-07 11:24] LeleDev commented on #3620
+1

[2015-05-07 11:29] LeleDev commented on #3620
angular 1.4 here too, and this is the only critical bug that prevents me from upgrading to 0.13... It would be super cool to have this fixed soon!

[2015-05-07 11:41] RobJacobs commented on #3630
I'm seeing this to, I had to delete my node_modules folder and run npm to reproduce.

[2015-05-07 11:58] SoundLogic opened #3638 "[tooltip] tooltipService / event-based trigger"
I know there's a similar issue [Issue 590: popover/tooltip | Support Programmatic Triggers](https://github.com/angular-ui/bootstrap/issues/590), but I think this scenario is a bit different as it is a bit more involved.

I have a case that requires functionality similar to the `$modal` dialog. I created a `tooltipService` that works much like the modal dialog, but uses the `$event.target`

[2015-05-07 12:06] Hjertaas opened #3639 "Modal close fails in IE if modal was opened from js"
See stacktrace at the bottom.

Using angular: 1.4.0-beta.5 and angular-bootstrap: 0.13.0
Error seen on IE 9 and 11 (others not tested)

If modal dialog is initiated from javascript (say an Angular controller) there is no activeElement
See line 2209 in ui-bootstrap-tpls.js
var modalOpener = $document[0].activeElement;   // in IE this is undefined

This in turn results in a nullpointer in close() an

[2015-05-07 12:08] rvanbaalen commented on #3639
We don't support AngularJS 1.4 yet.

[2015-05-07 12:30] bartoszbobin commented on #3104
Problem is in 2nd condition:
https://github.com/angular-ui/bootstrap/blob/master/src/datepicker/datepicker.js#L591

new Date('1');
FF 37.02: Date {Invalid Date}
Chrome 42: Mon Jan 01 2001 00:00:00 GMT+0100 (Central European Standard Time)
IE 11: [date] Invalid Date[date] Invalid Date

I expect from user date in provided format.

[2015-05-07 12:41] jmayday commented on #3104
@bartoszbobin this behaviour was already described. Have a look at plunker (link provided in my previous post)

[2015-05-07 14:17] karianna commented on #3633
Is this on version 0.13.0?

[2015-05-07 14:35] karianna commented on #3639
Still a valid issue though, putting a 0.13.x milestone on it (e.g. Fix when we get round to looking at 1.4 support)

[2015-05-07 14:41] rvanbaalen commented on #3639
I get your point @karianna. But I would have to disagree on the part where this would be a 'valid issue'. Yes, this is probably a bug in UI Bootstrap. But like I said -- no one is stating that UI Bootstrap is expected to work with the latest beta AngularJS version.

If we would accept all these issues (and even without plunkrs to reproduce it!), next time we'll get a bunch of new issues about peop

[2015-05-07 14:51] karianna commented on #3639
Ah, I missed that this is angular 1.4 Beta.  OK, I'm going to shove this into purgatory for now.

[2015-05-07 14:52] pkozlowski-opensource commented on #3639
My take would be to have issues (or one meta-issue) for 1.4 support and a corresponding label / milestone. 1.4 is round-the-corner and pretty stable. There were substential changes in animatations support in 1.4, so this will be probably the only area where migration efforts will be needed.

 As for the 2.0 support - we should make it clear that the project, in the current form, focuses on 1.x.

[2015-05-07 14:57] karianna commented on #3639
OK, well we've attached the label, so this should be easy enough to find

[2015-05-07 14:57] #3639 closed

[2015-05-07 16:30] danielsd commented on #3633
Yes

[2015-05-07 16:58] chrisirhc commented on #727
Closing due to inactivity. It's also seems to be a support question and not an actual issue.

[2015-05-07 16:58] #727 closed

[2015-05-07 17:24] RevanProdigalKnight commented on #3633
+1 I can also confirm this issue.

[2015-05-07 17:25] hiebj commented on #3632
+1

[2015-05-07 17:56] rvanbaalen commented on #3633
Related: #3620

[2015-05-07 17:57] rvanbaalen commented on #3620
Continuing this discussion in #3633 since it has a more fitting issue title and description, describing exactly what is discussed here.

[2015-05-07 17:57] #3620 closed

[2015-05-07 18:00] rvanbaalen commented on #3632
No need to +1 this. We are on it. It's just not an automated process and thus it takes some (spare) time to update.

[2015-05-07 19:42] daveteply commented on #1350
This can also be remedied by specifying a specific prefix when configuring your app.
[code]
We had an issue with the carousel after adding another library that required ngAnimate.  This library uses CSS classes that begin with `anim-` so we configured our animate provider with that:

[code]

This tells ngAnimate to only animate classes that begin with `anim-`.

See https://docs.angularjs.org/api/n

[2015-05-07 21:07] bgold0 opened #3641 "Dropdown on float:left appears on right instead of underneath"
If i'm floating an element left that I want to be the toggle to be the toggle of the dropdown, the dropdown appears on the left side. I'm trying to get it to go to the bottom. Anyone have any suggestions?

    <span class="dropdown" dropdown on-toggle="toggled(open)">
		<a style="float:left" class="dropdown-toggle" dropdown-toggle>text</a>

		<ul class="dropdown-menu">
			<li ng-repeat="choice in

[2015-05-07 23:40] scottohara commented on #3632
Just out of curiosity, what is the relationship between the npm packages:

  - `angular-ui-bootstrap` (points to the `angular-ui/bootstrap-bower` repo); and
  - `angular-bootstrap` (points to *this* repo)

Clearly the former repo (`angular-ui/bootstrap-bower`) is for bower's `angular-bootstrap` and `angular-ui-bootstrap-bower` packages (why there are two **identical** bower packages with different

[2015-05-07 23:44] Foxandxss commented on #3632
@scottohara Neither of those two packages are made by us. Both packages were done by third party users.

I got handle into the `angular-boostrap` one which points to this repo, but we were thinking about creating a new repository to hold the `npm` files to match `bootstrap-bower` but that is still under discussion.

So the **TL;DR** here is that none of those is from us and there is no official wa

[2015-05-07 23:46] scottohara commented on #3632
Ah, I see...thanks for the explanation.

[2015-05-08 03:31] BobbieBarker commented on #1703
This issue is well over a year old and was against version .10

[2015-05-08 03:31] BobbieBarker commented on #1703
This issue is well over a year old and was against version .10

[2015-05-08 03:31] #1703 closed

[2015-05-08 03:38] BobbieBarker commented on #1783
Closing due to inactivity. Reopen if this is still an issue.

[2015-05-08 03:38] #1783 closed

[2015-05-08 03:40] BobbieBarker commented on #1719
Closing due to inactivity. Reopen if this is still an issue.

[2015-05-08 03:40] #1719 closed

[2015-05-08 03:43] stevecavanagh commented on #3570
My PR #3606 will cover this one.  It considers the format when parsing the min-date and max-date.
https://github.com/stevecavanagh/bootstrap/blob/fix(datepicker)MinMaxInputValidation/src/datepicker/datepicker.js#L601

[2015-05-08 03:46] BobbieBarker commented on #1735
Our drop downs have the same behavior as the current bootstrap 3 drop downs. Reopen if you'd like to submit a pull request.

[2015-05-08 03:46] #1735 closed

[2015-05-08 03:47] BobbieBarker commented on #1834
Closing due to inactivity. Reopen if this is still an issue.

[2015-05-08 03:47] #1834 closed

[2015-05-08 04:01] stevecavanagh commented on #3437
I think my PR #3606 will cover this one. It considers the format when parsing the min-date and max-date.
https://github.com/stevecavanagh/bootstrap/blob/fix(datepicker)MinMaxInputValidation/src/datepicker/datepicker.js#L601

[2015-05-08 06:32] metanav opened #3642 "Popover popover-template doesn't work with template url string"
If I provide scope variable as a value to popover-template it works but if I provide a templateUrl string it does not work. Is this behaviour intended? If yes, why? Otherwise, it is a bug.

$scope.templateUrl = 'js/controllers/templates/profile.html';

[code]

I am using latest ui-bootstrap 0.13.0.

[2015-05-08 09:38] rapmue commented on #3037
I found also something interesting today. Maybe it's the same place to search the problem.

Using the newest version (0.13.0)

If you select a date format other than yyyy-mm-dd and your date input numbers aren't zero padded, the date is parsed wrong in Chrome. In InternetExplorer and Firefox it's not parsing at all, doesn't matter if with padding zeros or not.

Example: http://plnkr.co/edit/9Tzjoc

[2015-05-08 09:44] chrisirhc commented on #3642
Similar to ng-include:
[code]

[2015-05-08 09:50] pkozlowski-opensource commented on #3642
Yep, this is an expression, works as designed.

[2015-05-08 09:50] #3642 closed

[2015-05-08 12:51] rvanbaalen commented on #3289
For startes, don't use both the Twitter Bootstrap JS and UI Bootstrap in one project side-by-side. UI Bootstrap is designed to *replace* Twitter Bootstrap JS (not the CSS) so you don't need a jQuery dependency in your Angular projects.

This is probably not an issue if you don't include the Twitter Bootstrap JS and use the latest 0.13.0 release.

[2015-05-08 12:51] #3289 closed

[2015-05-08 12:54] rvanbaalen commented on #2773
You're right that should be edited.

https://docs.angularjs.org/api/ng/type/ngModel.NgModelController#$setValidity

[2015-05-08 13:01] rvanbaalen commented on #2551
Can you provide a plunkr with the latest UI Bootstrap 0.13.0 to reproduce this problem?

[2015-05-08 13:03] rvanbaalen commented on #2572
Example not working. Please provide a working plunkr.

[2015-05-08 13:03] rvanbaalen commented on #3027
Please provide a plunkr reproducing this problem with UI Bootstrap 0.13.0.

[2015-05-08 13:06] rvanbaalen commented on #2528
Try again with the latest UI Bootstrap 0.13.0.

This seems like a support question on how to integrate to different libraries. Accordion without third party libraries is working just fine.

[2015-05-08 13:06] #2528 closed

[2015-05-08 13:07] rvanbaalen commented on #3641
https://github.com/angular-ui/bootstrap#need-help

[2015-05-08 13:07] #3641 closed

[2015-05-08 13:10] rvanbaalen commented on #3015
Feel free to submit a PR.

By the way -- there is (quite a big) difference between 'compressed' and 'gzip compressed'.

[2015-05-08 13:11] bgold0 commented on #3641
I'm pretty sure this is an issue rather than me needing help. Twitter's bootstrap doesn't do this.

[2015-05-08 14:04] jongunnip opened #3643 "datepicker 0.13.0 does not allow model updates after a parse error for certain dates when ng-model-options updateOn: blur is used"
Using 0.13.0 of datepicker with ng-model-options="{updateOn: 'blur'}"

When entering a date that causes a parse error (e.g. 'abc'), subsequently entering a 10-character 'mm/dd/yyyy' date (e.g. 01/01/2014) will not update the $modelValue.

Entering an 8-character date (e.g. 1/1/2014) or selecting the datepicker in the calendar does update $modelValue.

[Plunkr](http://plnkr.co/edit/zY1DiPfEskLmNONd

[2015-05-08 14:49] rnicholus commented on #3632
It doesn't seem like a new repo is necessary for publishing to npm, unless I'm missing something. To ensure only relevant binaries/source are published, you should be able to construct a build task that creates a dist directory with a copy of the package.json. Then change to the dist directory and `npm publish`.

[2015-05-08 14:55] RobJacobs commented on #3641
@bgold0 It's hard to help you without a plunk to work with, but I would try using the pull-left and clear-fix classes instead of float: left inline.

[2015-05-08 15:12] bgold0 commented on #3641
My apologies, here is a working plnkr. I tried to do the pull-left and the clearfix but it just moves to another line.

http://plnkr.co/edit/7naI9Eq9a5XaBv26BVnr

[2015-05-08 15:17] realityking opened #3644 "Datepicker has trouble with some dates"
This might be related to #3617 and/or #3643.

JSBin: http://output.jsbin.com/pasiweruhe/2/

I have a date field set up with the German date format (`dd.MM.yyyy`). After clearing the field and entering a date where the day part is larger than 12, it will fail and the date will be `undefined`.

The issue seems to be, that the date parser has trouble creating a valid date input when the input is an i

[2015-05-08 15:41] Fire-Dragon-DoL opened #3645 "Dropdown auto-close outsideClick not working when used with append-to-body"
Simple, when `append-to-body` is set, and `auto-close` is set to `outsideClick`, closing behaves like if it has the default value (`always'), I believe it's somewhat related to catching the "onclick" event attached to the wrong element.

Plunkr: http://embed.plnkr.co/WpARFC/preview

[2015-05-08 15:47] rvanbaalen commented on #3645
Can you please provide a plunkr so we can reproduce this issue and see what library versions you've used?

[2015-05-08 15:49] rvanbaalen commented on #1975
Closing due to inactivity.

[2015-05-08 15:49] #1975 closed

[2015-05-08 15:50] Fire-Dragon-DoL commented on #3645
@rvanbaalen Yes, give me a bit. I used the latest (I believe) version, 0.13.0, downloaded from the website (custom build) with templates integrated 5 minutes ago

[2015-05-08 15:50] rvanbaalen commented on #1968
Is this still an issue in UI Bootstrap 0.13.0? Can you reproduce this with the latest release?

[2015-05-08 15:57] realityking commented on #1968
@rvanbaalen Yes it is. Since JS largely lacks time zone supports I don't think this is feasible to fix. Note that angular's date filter behaves the same way.

[2015-05-08 16:11] Fire-Dragon-DoL commented on #3645
@rvanbaalen Here is the plunkr: http://embed.plnkr.co/WpARFC/preview

[2015-05-08 16:12] rvanbaalen commented on #1960
Please demonstrate this issue in a standalone plunkr and not in your own project.

[2015-05-08 16:55] rvanbaalen commented on #2005
@Im0rtality Any news on this?

[2015-05-08 16:56] rvanbaalen commented on #2034
@gazoakley Any progress on that PR? It's been over a year :wink: I assume this one can be closed. Feel free to re-open if still relevant.

[2015-05-08 16:56] #2034 closed

[2015-05-08 18:33] bgold0 opened #3646 "Popover "popover-append-to-body" does not work"
When I use the `popover-append-to-body` on my element, it still puts the popover inside the element instead of `body`.

    <div id="navContainer" class="slide" ng-controller="PopoverDemoCtrl">
	  <a href="#" id="new" popover-placement="right" popover-append-to-body popover="On the Right!" class="nav-item new fade"><div>click me</div></a>
	</div>

Anyone know what's going wrong? [Working Plunk](ht

[2015-05-08 18:36] #3646 closed

[2015-05-08 18:36] bgold0 commented on #3646
Was supposed to do `popover-append-to-body="true"`

[2015-05-08 19:16] niranjan- commented on #2072
+1
@weberste  you rock!!

[2015-05-08 19:56] equiet opened #3647 "Modal element is not removed if using animateProvider.classNameFilter"
If there is a `$animateProvider.classNameFilter(/whitelistedelement/)` then https://github.com/angular-ui/bootstrap/blob/master/src/modal/modal.js#L231 is never run (looks like the event is never triggered). As a result, the modal window is faded out, but never removed from the dom. It stays in the foreground with 0 opacity so that nothing on the page can be clicked.

Here's a plunk: http://plnkr.

[2015-05-08 20:24] chrisirhc commented on #3647
Thank you for reporting this. I was afraid I missed something. This will be fixed soon

[2015-05-08 20:47] Fire-Dragon-DoL commented on #3645
I temporary solved this using a simple `ng-click` on the `dropdown-menu` item and the function has this code inside

[code]

[2015-05-08 21:13] MishaTornes opened #3648 "Carousel (ui.bootstrap.carousel) - No Slide Animation on Plunker"
There is no slide animation in the Plunker for the  ui.bootstrap.carousel.

I was unable to figure it out in my own site.
Is it just missing a reference to a library ?

Does it means the demo code on ui.bootstrap is missing a config argument?

[2015-05-09 01:18] shawn-simon commented on #3647
Is there a workaround for this for now? Thx!

[2015-05-09 15:55] BobbieBarker commented on #2368
Thank you for opening this issue, what ever seems to have been causing your problem at the time is no longer reproducible. Feel free to reopen the issue if the problem persists.

[2015-05-09 15:55] #2368 closed

[2015-05-09 15:59] oliversalzburg commented on #2368
Can confirm that it no longer happens :)

[2015-05-09 16:01] BobbieBarker commented on #3031
Unfortunately this project no longer supports the use of jquery with our native angularJS directives.

[2015-05-09 16:01] #3031 closed

[2015-05-09 16:05] BobbieBarker commented on #2189
Closing due to a lack of activity, please test against latest version and reopen if this is still an issue.

[2015-05-09 16:05] #2189 closed

[2015-05-09 16:08] BobbieBarker commented on #2041
Please test against latest version and reopen if this is still an issue

[2015-05-09 16:08] #2041 closed

[2015-05-09 16:14] BobbieBarker commented on #2988
I wouldn't mind hearing everyone's opinions.

[2015-05-09 17:10] twwwt commented on #3618
Ditto.
+1 to fix that.

[2015-05-09 20:03] terales commented on #2583
Works fine for me:
[code]

View:

[code]

Controller:

[code]

[2015-05-10 10:21] pkozlowski-opensource commented on #3247
@rinatio we believe that there are better APIs as compared to events. For example, in the case of a modal you've got a promise that gets resolved when w modal is opened and closed.

I'm going to close this one as it is a conscious design decision to not support events and offer different (we believe that much better) API instead.

[2015-05-10 10:21] #3247 closed

[2015-05-10 11:01] karianna commented on #3644
@realityking Is this with the latest 0.13.0 and can you provide a plunkr?

[2015-05-10 11:02] karianna commented on #1968
I think this is one of the items that could get resolved if/when we move to using moment.

[2015-05-10 13:16] sagidayan commented on #3648
If you include ngAnimate as a dependency the animations will work.

note that ngAnimate is not included in the angular.js file. you need to include the angular-animate.js to your html.

[2015-05-10 18:03] realityking commented on #3644
@karianna Yes, this is with 0.13.0. I've got a JSBin (http://output.jsbin.com/pasiweruhe/2/) or do you specifically need a plunkr?

[2015-05-11 02:52] OzzieOrca opened #3649 "Typeahead matches don't show cursor pointer"
When hovering over the typeahead matches, they work fine but the cursor is not a pointer (hand) but instead alternates between an arrow and a text select cursor (when hovering over text).

This could be fixed by changing `template/typeahead/typeahead-match.html` from
[code]
to
[code]

We could also add a CSS file to apply that style. Or add a blank href but that might cause other issues.

Do any o

[2015-05-11 10:54] karianna commented on #3649
@OzzieOrca I'd say the CSS approach is best, PR welcome!

[2015-05-11 10:55] karianna commented on #3644
@realityking That's fine, thanks!

[2015-05-11 11:04] pfigueiredo opened #3650 "typeahead-on-select($item, $model, $label) and scope"
typeahead-on-select sould accept the current scope as a parameter so other scope properties could be changed on select...

Is there any way of passing the current scope to that function?

[2015-05-11 11:07] karianna commented on #3650
https://github.com/angular-ui/bootstrap#need-help

[2015-05-11 11:07] #3650 closed

[2015-05-11 11:29] RobJacobs commented on #3649
In the accordion-group template, heading element, the href attribute on the anchor tag is:

    href=\"javascript:void(0)\"

[2015-05-11 11:38] pkozlowski-opensource commented on #3649
Currently we don't have any CSS deliverable in this project and IMO we should keep it like this.

[2015-05-11 13:46] wesleycho commented on #3582
If I had to guess, this might be caused by angular-material decorating $$rAF - this may be an angular-material bug.

[2015-05-11 13:56] karianna commented on #3649
@pkozlowski-opensource & @OzzieOrca - I stand corrected!

[2015-05-11 13:57] karianna commented on #3582
@wesleycho see @hmillet 's comment

[2015-05-11 14:14] wesleycho commented on #3582
This is not reproduceable in just 1.3.15 - removing the `ngMaterial` module from the dependencies illustrate that it works fine.

[2015-05-11 14:24] MishaTornes commented on #3648
Adding the ngAnimate dependency resolved the issue.
It will be nice if the examples for each component (or plunker) included it's dependencies :) (if any)
My first assumption was ui.bootstrap element where self sufficient.
Thanks for the quick follow up!

[2015-05-11 14:48] abudarevsky opened #3651 "Date-picker"
Would be nice to have possibility to set button bar on top of picker, not only beneath like documentation says.

[2015-05-11 14:52] pkozlowski-opensource commented on #3651
Sure, this is totally possible already be overriding default templates as described here: http://stackoverflow.com/a/17677437/1418796

A template to override can be found here: https://github.com/angular-ui/bootstrap/tree/master/template/datepicker

[2015-05-11 14:52] #3651 closed

[2015-05-11 15:11] wawyed commented on #3624
Hmm, I've just upgraded to 0.13.0 and noticed that my modals don't seem to be closing anymore. I've also create my own scopes since I have a service to extend $modal functionality and allow the consumers of my service to pass custom properties to the newly created $scope.

How do you suggest that I get around this issue without having to change the implementation to use resolve blocks only?

[2015-05-11 15:45] karianna commented on #3624
@wawyed separate issue which we're looking at

[2015-05-11 15:49] rinatio commented on #3247
@pkozlowski-opensource What would you suggest to use in case development needs to manually close tooltip in case some modal opens? Right now I use this kind of event and listen for it in the tooltip directive:

[code]

Bootstrap built in events seems to be much better approach, no?

[2015-05-11 15:56] hmillet commented on #3582
if this can help, here is my (rich) bower.json :

    "bootstrap": "~3.3.1",
    "angular": "~1.3.12",
    "angular-i18n": "~1.3.12",
    "angular-sanitize": "~1.3.12",
    "angular-animate": "~1.3.4",
    "angular-bootstrap": "~0.12.0",
    "angular-ui-utils": "~0.2.1",
    "angular-ui-select": "~0.9.6",
    "angular-typeahead": "0.2.*",
    "angular-touch": "~1.3.15",
    "angular-ui-calendar":

[2015-05-11 15:56] pkozlowski-opensource commented on #3247
There are not enough details here to say what is the best approach - I'm not sure what you mean by "manually close tooltip". Do you have a reference to a tooltip? In this case you can simply close it when opening a modal. Or you could observe modal stack from your tooltip directive. Or you can broadcast events yourself as you are doing.

In short: there are many ways of tackling this problem, but

[2015-05-11 16:03] pkozlowski-opensource commented on #3448
Yeh, this is duplicate of #3371

[2015-05-11 16:03] #3448 closed

[2015-05-11 16:04] pkozlowski-opensource commented on #3205
OK, sounds like a support question that was sorted out. Closing.

[2015-05-11 16:04] #3205 closed

[2015-05-11 16:06] pkozlowski-opensource commented on #3371
Sounds like this is supported in 0.13: a5a82d9be7dc0bd1cfd510bacf9aa411c6efe1bc

[2015-05-11 16:06] #3371 closed

[2015-05-11 16:07] pkozlowski-opensource commented on #3204
Closing due to the lack of response

[2015-05-11 16:07] #3204 closed

[2015-05-11 16:08] pkozlowski-opensource commented on #3190
Sounds like a support question that would be better asked elsewhere: https://github.com/angular-ui/bootstrap/blob/master/CONTRIBUTING.md#got-a-question-or-problem

[2015-05-11 16:08] #3190 closed

[2015-05-11 16:09] pkozlowski-opensource commented on #2862
Sounds like @sangallimarco sorted it out, no reason to keep it open any more

[2015-05-11 16:09] #2862 closed

[2015-05-11 16:28] JordanSinko opened #3652 "Datepicker reset question"
Anywhere to default a certain date if the model is blank? For example, when I use the popup, I choose May 30, 2015. If I clear that date, it still shows that the selected date is May 30, 2015 in the popup. Anywhere to get it to show a certain date by default if a model is blank, for example today's date? I tried init-date and it doesnt seem to work the way I would like. Thanks!

[2015-05-11 16:54] 311chaos commented on #3624
@karianna  - Is there a separate issue # for this? I am not sure which issue I am seeing. Basically, I upgraded to 0.13.0 and to Angular 1.3 and my modals no longer close. From this thread it seems to be related to passing in a scope?

[code]

[2015-05-11 17:08] RobJacobs commented on #3624
@311chaos Just want to make sure you realize, with backdrop set to 'static': backdrop is present but modal window is not closed when clicking outside of the modal window.

[2015-05-11 18:12] 311chaos commented on #3624
@RobJacobs - Thanks, this is an application that I have only recently started working on. I am guessing that was the intended behavior. My issue is that the close functions do not close the modal.

[code]

or

[code]

[2015-05-11 20:01] OzzieOrca commented on #3649
So javascript:void(0) is the best option? I can submit a PR soon.

[2015-05-11 20:20] hugotorres commented on #2431
doesnt seem to be working now

[2015-05-11 20:23] rinatio commented on #3247
@pkozlowski-opensource

1. I don't have a reference to a tooltip from places where I open modals, since tooltip is quite simple html directive similar to (but not the same) bootstrap tooltip while modals are getting opened in controllers
2. I'm trying to keep this code DRY, so I don't `$broadcast('modal-opened')` on every modal I have in the system and use decorator
3. I'm not quite sure how can I

[2015-05-11 21:14] tompi commented on #3639
Hi, this has nothing to do with angular version.

It seems activeElement can be flaky in IE.

Try this plnkr in IE:
http://plnkr.co/edit/l48KCXXtqOHs0qV2pqhz?p=preview

If you have the console open you will notice a javasccript exception.
I'll try to attach a pull request.

[2015-05-11 22:31] xmlking commented on #3633
also conforming the same issue with 0.13.0 + angular 1.4

[2015-05-12 01:47] nethulap commented on #3644
I have the same issue..any work around??

[2015-05-12 08:18] Adhara3 commented on #3307
Thanks!

[2015-05-12 08:40] mndeveci opened #3656 "Translate issue on modals"
Hi,

When i try to open a modal window, its template contains angular-translate, the translation texts are not translated, modal shows the translation keys only.

I think, wiring the translation text to a function in controller will fix the issue but why it is not working on a normal usage, any ideas?

Thanks a lot.

[2015-05-12 08:45] pkozlowski-opensource commented on #3656
https://github.com/angular-ui/bootstrap/blob/master/CONTRIBUTING.md#got-a-question-or-problem

[2015-05-12 08:45] #3656 closed

[2015-05-12 09:31] vitaly-t opened #3657 "Dropdown menu visibility"
Is it possible to make menu for Dropdown button intelligent enough to expand upwards when there is no visible space below, but plenty at the top?

If not, can we at least force it to do so?

This would make a very nice feature, making it usable across all devices, and not just desktop.

Left/Right automatic expansion would make sense also.

[2015-05-12 14:41] sdhintGIT commented on #3648
This is still not resolved, adding the ngAnimate to the plunkr, and adding the injection to the module, allows for one transition, then it freezes on the slide. I am getting the same behavior on my app after upgrading to resolve other issues in 12.1

http://plnkr.co/edit/PaJXc8n7HJ5XvtTh9c0T?p=preview

[2015-05-12 14:47] Jacquelin commented on #3545
Hello,

I have the same issue ... here is my plunker:
http://plnkr.co/edit/FrjocQVyRKt0prwJtIzh?p=preview

I made two sample :
- One with ng-submit (handle the ENTER key), it does not close typeahead
- Second with ui-keypress (no form, no ng-submit) AND typeahead-on-select.

The both samples are fine for me :
Case 1 : The user enter a "word" -> Press Enter -> it submit a search
Case 2 : The user e

[2015-05-12 15:34] bguezzie commented on #2952
Using 0.13.0 library:
I was able to work around this by adding a directive to my element (the datepicker popup trigger) that basically did the following:

[code]

Once I did that, the datepicker used the $viewValue (a Date object in this case) as its model, and since a decent offset had been applied the correct date was shown in my input as well as in the graphical day picker.

Caveat:  Some furth

[2015-05-12 19:29] shamoons commented on #2189
Still an issue it seems

[2015-05-12 19:31] shamoons opened #3658 "datepicker max-date does not work"
My HTML
[code]

My JavaScript
[code]

This breaks both the min and the max. If I remove the max, then the min works fine. If I remove just the min, then the max is ignored.

This is with version 0.13

[2015-05-13 00:09] geoguide opened #3659 "Pagination length when 2 instances wrong"
I have pagination and it works fine when there is one instance of it but if I add a second and hit "Last" it goes to the right number but the bottom one shows more pages. If I click them and start changing pages from there insanity and unpredictable behavior ensues.

http://www.hypxr.com/ng-bootstrap-issue-pagination.jpg

[2015-05-13 00:17] #3659 closed

[2015-05-13 00:33] shawn-simon commented on #2742
Is this ever getting fixed?

[2015-05-13 00:49] jondthompson commented on #3633
Does anyone have a workaround for this bug? I really need to have it fixed by next week.

[2015-05-13 01:39] Leon-O opened #3660 "Modal-Footer too tall"
Hi, I'm using modal windows as a create/edit form, but for some reason the modal-footer gets taller than the modal-body.
http://plnkr.co/YCbGISumK555RCsw6BE3
![20150512-3](https://cloud.githubusercontent.com/assets/4379316/7602187/3d40d60a-f8ef-11e4-9dba-22ef7ce200d7.PNG)

I hope someone can give me nice solution to this.

[2015-05-13 07:13] CoenWarmer commented on #3633
+1

[2015-05-13 07:53] yetsun commented on #3607
Thank you @antoinepairet
The roof cause of this issue are
1. (as you said) dropdown and dropdown-toggle instead of class "dropdown" and "dropdown-toggle"
2. give ng-click="navCollapsed=true" at lower level, a.k.a each button or link in the nav bar, instead of the whole div containing all the buttons and links as the posted code.

[2015-05-13 08:10] lpsBetty commented on #618
hmm I am using the new ``popover-template`` directive, how can I achieve this, my current code:

[code]

[2015-05-13 11:47] Grottkjell commented on #3617
Having the same issue. Using angular 1.3.15.

[2015-05-13 12:42] furyscript opened #3661 "Error in tabset"
I have 2 errors when I try to use tabset
[code]
Template:
[code]
Maybe causes this is templateUrl in bootstrap code??

[2015-05-13 12:45] salemdar opened #3662 ""$animate:close" event is not triggering on modal close"
On modal close, modal window fades, backdrop stays visible, but both of them stays in the body. I tracked down the issue till the 'domEl.one("$animate:close".....' line. I think the problem is with "$animate:close" event.

[2015-05-13 13:24] shamoons commented on #2189
See http://stackoverflow.com/questions/30200122/angular-ui-datepicker-max-date-doesnt-work-properly for the code

[2015-05-13 13:28] maximumduncan commented on #3662
I've just had the same issue - started happening when I upgraded from Angular 1.3 to 1.4-rc2. What version of angularjs are you using?

[2015-05-13 13:59] salemdar commented on #3662
I use 1.4.0-rc2, didn't try with 1.3.15. I downgraded ui-bootstrap instead of angular.

[2015-05-13 14:06] piernik opened #3663 "How to get $element in modal's controller"
How I can get `$element` in modal's controller?
This is modal's controller's func. I always get `Unknown provider: $elementProvider <- $element`
[code]
I need modal element to get tag from a modal.

[2015-05-13 15:04] RobJacobs commented on #3662
This issue is been reported under #3633

[2015-05-13 15:04] #3662 closed

[2015-05-13 15:27] RobJacobs commented on #3630
Something is whacked with the build.  I tried checking in a fix for this issue but that surfaced another failing test:  Expected spy changeHandler to have been called. - datepicker.spec.js:1886:42.  So I reverted the change but the travis ci build is still failing???

The travis ci build is also set to use Firefox, which does not fail for the original issue, where Chrome does.

[2015-05-13 16:09] AWRyder opened #3664 "Typeahead inside a ui.grid (3.0)'s cell"
I've noticed that when I wrote a custom template for ui.grid's cellEdit in order to add typeahead, everything would show up as expected but when one of the typeahead suggestions was chosen, it wouldn't auto-complete. This only seems to happen if the edited template is the cell editing one. If instead we put the exact same template in the regular cell's (it becomes an <input> all the time instead o

[2015-05-13 16:20] #3630 closed

[2015-05-13 16:22] lapo-luchini opened #3665 "0.13.0 does not work with async loading"
I recently updated from 0.12.x to 0.13.0 and I have a few errors, the first I found is in the last line of both `ui-bootstrap.js` and `ui-bootstrap-tpls.js`: the function `angular.$$csp()` is called possibly before Angular itself is loaded. I fixed this wrapping it in a module `run` (and adding it to the dependencies in the first line):

    angular.module('ui.bootstrap.csp', []).run(function () {

[2015-05-13 16:30] rvanbaalen commented on #3665
Please provide a plunkr reproducing this problem.

[2015-05-13 16:57] lapo-luchini commented on #3665
[Here goes the plunkr.](http://plnkr.co/edit/nP6i7JxJYaKVscn06oGE)

[2015-05-13 21:00] ivaaaan opened #3667 "Events to change activeIdx"
I want to change the value of my model when I change the active element. I'm find this in ui-bootstrap.js this lines:
[code]
But why i can переполнение it  in my module?

[2015-05-13 22:00] rvanbaalen commented on #3667
https://github.com/angular-ui/bootstrap/blob/master/README.md#need-help

[2015-05-13 22:00] #3667 closed

[2015-05-14 04:49] ashanvabs commented on #3188
+1

[2015-05-14 16:11] icfantv opened #3669 "Breaking change in $tooltip service from 0.11.2 to 0.13.0?"
I have the following tooltip directive that no longer works in 0.13.0 because the object returned by the $tooltip service function no longer has a compile function.  Am I missing something?  Is there a breaking change from 0.11.2 to 0.13.0?

The issue appears on the line `var parentLinkFn = compile(element, attrs);` because `compile` is undefined.
[code]

[2015-05-14 19:33] abrahamgodoy commented on #3648
I have the same problem but i wasnt able to fix it, can you put the example in plunker to see the order of dependencies and check my error. @MishaTornes

[2015-05-14 20:02] MishaTornes commented on #3648
I just did what @sagidayan sugested.
Note I'm using Angular 1.3.13 instead of .14 (since @sdhintGIT sugested prtoblems in 12.1)

Here, I modified the Plunker from the UI website :
http://plnkr.co/edit/4MluOvr5AVc0qBKkyVpM?p=preview

[2015-05-14 21:12] ktiedt opened #3670 "documentation versioning - hard to tell what version features apply to"
Just spent way more time than was necessary trying to resolve why tooltip-class did not work in our application only to find out (via commit history here) that it was a brand new feature only in the latest release...

After going back to the documentation I looked for indications of what version I might have been looking at and the only reference to the actual project version # was in the Download

[2015-05-15 01:11] benjaminsuch commented on #3669
It also says that tooltip-html-unsafe is depreciated, but there is no documentation how to use tooltip-html (you can't just use tooltip-html like tooltip-html-unsafe; it throws an error).

[2015-05-15 04:57] natcohen opened #3671 "Popover template doesn't work with custom distribution"
I tried to use popover-template with a custom build (everything except the modal) and I get the error (/template/popover/popover-template.html not found).

The full distribution works well... I guess it's just a problem in the way the build is downloaded.

PS I'm using the last release of course...

[2015-05-15 06:20] kevintechie commented on #3632
Until the angular-bootstrap npm package gets updated you can use the angular-bootstrap-npm package.

[2015-05-15 09:05] seamuspc opened #3672 "<Alert> Colour Type ignored"
Do you know why when I specify the Alert tag with  type="success"

the type is ignored and messages are always displayed in the warning colour?

[2015-05-15 12:05] chrisfoster78 commented on #3617
I have this problem too and have had to downgrade to an older version to support nullable dates. Any other workaround?

[2015-05-15 12:25] Zion-ICS opened #3673 "Datepicker: after navigating within calendar, active day loses "active" class"
Minor bug, but annoying if you're trying to override datepicker styles.

Look at a datepicker in month view. I chose a month where the active date was today. Open the Chrome or Firefox inspector and note how the the current day on the calendar has a class called "active".
`<button type="button" style="width:100%;" class="btn btn-default btn-sm btn-info active"`

Navigate to a previous month, then

[2015-05-15 12:28] sime opened #3674 "External tooltip template?"
Hello,

Is it possible to use a external file as a tooltip template?

Note `tooltip-template.html` in the plunker.

http://plnkr.co/edit/iUPTDlOXtQRX2OT4M5lM?p=preview

[2015-05-15 12:30] joelbhansen opened #3675 "DatePicker gives validation error if date is cleared"
This is a problem in a form I'm making, in which the date doesn't have to be set. The form will then not validate, due to this date error.

[2015-05-15 12:47] RobJacobs commented on #3675
https://github.com/angular-ui/bootstrap/blob/master/README.md#need-help

https://github.com/angular-ui/bootstrap/blob/master/CONTRIBUTING.md#you-think-youve-found-a-bug

Closing pending more info.

[2015-05-15 12:47] #3675 closed

[2015-05-15 12:52] RobJacobs commented on #3674
Per the docs [here](http://angular-ui.github.io/bootstrap/#/tooltip):

tooltip-template attribute takes text that specifies the location of a template to use for the tooltip.  In the plunkr if you do:

    tooltip-template="'myTooltipTemplate.html'"

It works.  FYI:

https://github.com/angular-ui/bootstrap/blob/master/README.md#need-help

[2015-05-15 12:52] #3674 closed

[2015-05-15 12:53] RobJacobs commented on #3672
https://github.com/angular-ui/bootstrap/blob/master/README.md#need-help

https://github.com/angular-ui/bootstrap/blob/master/CONTRIBUTING.md#you-think-youve-found-a-bug

Closing pending more info.

[2015-05-15 12:53] #3672 closed

[2015-05-15 13:10] sime commented on #3674
Yes, though `myTooltipTemplate.html` is not an external file, but an inline `text/ng-template`
[code]

[2015-05-15 13:12] sime commented on #3674
I should note that hovering the tooltip in the plunker throws this error:
[code]

[2015-05-15 14:01] RobJacobs commented on #3674
Your template is just plain text, I don't think Angular considers that as a valid template.

[2015-05-15 14:10] whroman commented on #3632
Thanks @kevintechie

[2015-05-15 14:17] sime commented on #3674
Got it! Template needs to be wrapped by a single element.

Cheers.

[2015-05-15 15:38] NitroInside opened #3676 "Collapse broken in 0.13.0"
In 0.12.1 'collapse' works well, but in 0.13.0 the transition is lost. The element just hide/shows in a frame.

[2015-05-15 16:02] rvanbaalen commented on #3676
Demonstrate in a plunkr please. And since 0.13.0, ngAnimate is a requirement for transitions and animations. Please include ngAnimate and try again.

We know, the docs still lack this information.

[2015-05-15 18:15] nullstatement opened #3677 "Modal cannot be closed by clicking on the backdrop."
The commit 444c488d62e1b653a1b6c98f0bbeed4040835131 removed the ability to close the modal by clicking on backdrop. However the documentation still refers to the option backdrop having the 'static' option. With the current code it is always the static.

We should either make it clear in the documentation that the backdrop option is only true or false (with no ability to close the modal by clicking

[2015-05-15 18:43] tomauty commented on #2785
Pretty sure this is IE10 only

[2015-05-15 18:57] xingped opened #3678 "Datepicker in a Dropdown ignores auto-close definition if a date picked is outside of the current month."
See my plnkr for an example: http://plnkr.co/edit/cDD3nuL9SvMnTKXzSPLV?p=preview

Select any date within the current month and notice that it behaves as expected. Select a date outside of the current month (i.e. the 28th of the month before or the 3rd of the month after) and you'll see the dropdown close. It will also close if you click on the month to zoom out to a month-level view.

[2015-05-15 20:02] victorbstan opened #3679 "Angular UI tabs don't respect the Bootstrap CSS definitions."
Tabs are supposed to have a margin bellow them, to separate the bottom of the tabs from the content. You can check this in the Twitter Bootstrap documentation http://getbootstrap.com/javascript/#tabs.

This is not the case for the implementation of angular-ui, you can check the faulty implementation on the example page for tabs: http://angular-ui.github.io/bootstrap/ go see `Tabs (ui.bootstrap.tab

[2015-05-16 12:53] eladh opened #3680 "Integrate angular ui-mask and datepicker - non US dates format"
Hi.

after a long research i found that using the ui bootstrap datepicker with ui-mask using non US date format like : dd/mm/yyyy cause the ui-mask to display invalid date representation.

please see the following plunker: http://plnkr.co/edit/88ax7pkiEhsD5b74q3Bf?p=preview

also this stackoverflow :  http://stackoverflow.com/questions/28559033/ui-mask-and-datepicker-in-angular

the solution there

[2015-05-16 13:16] rvanbaalen commented on #3680
If you saw the same issue somewhere else stating that it was an invalid issue, why would re-posting that issue make it valid?

This is clearly an implementation question on how to use two libraries together. Questions are asked on StackOverflow.

[2015-05-16 13:16] #3680 closed

[2015-05-16 14:33] ntrifunovic commented on #3633
+1

[2015-05-16 15:08] alo commented on #3633
@jondthompson you can set animation to false so it works while fixes.

[2015-05-16 15:27] rvanbaalen commented on #3633
Like I said did anyone here confirm everything is working as its supposed to when you include ngAnimate?

[2015-05-16 15:34] DieterLi commented on #3050
We really need a good solution for this, because our users are multilingual ones. Please help, thanks.

[2015-05-16 15:35] eladh commented on #3680
Thanks for the Polite answer.

in the other issue it wasn't clear if its implementation issue in ui-mask or the datepicker.

next time i will be more careful not wasting your time.

10x

[2015-05-16 17:13] KillaBee1985 commented on #3679
@victorbstan Hello. You are not right. In original bootstrap.css is no margin. Margin which you can see on bootstrap website appears because custom styles have been used (docs.min.css)

[2015-05-16 17:15] victorbstan commented on #3679
Hmm, yes you are quite right! My bad.

[2015-05-16 17:15] #3679 closed

[2015-05-16 17:25] KillaBee1985 commented on #3660
@Leon-O Hello. .col- classes use float:left, so for expected behavior you should add .clearfix class to your <form> tag. It is not a bug of angular-ui.

[2015-05-16 17:29] rvanbaalen commented on #3050
Feel free to help out and submit a PR, @DieterLi.

[2015-05-16 17:31] #3660 closed

[2015-05-17 02:14] DieterLi commented on #3050
@rvanbaalen Thanks for the suggestion, I will give it a try , and here what I got for the localisation with a good idea: angular-dynamic-locale, https://github.com/lgalfaso/angular-dynamic-locale. It can change the locale dynamic without inject any javascript into html page, quite fantastic.

Unfortunately, since ui.bootstrap 0.11.0, the new mechanism for datepicker popup, it only works for the ve

[2015-05-17 04:11] DieterLi commented on #3050
@rvanbaalen Althought I didn't submit a PR for the issue. But I did find a solution for this, which is quite brilliant, and can do the dynamic locale switch with little efforts on codes, suiting for all versions of ui.bootstrap.

It's angular-dynamic-locale, https://github.com/lgalfaso/angular-dynamic-locale. And the plunker for reference: http://plnkr.co/edit/SriQrUbqzbDzfIaeyeO8?p=preview

Great

[2015-05-17 05:59] ttschupp commented on #2952
@bguezzie : I did something similar.

    app.directive('datepickerTimezone', function () {
        return {
            restrict: 'A',
            priority: 1,
            require: 'ngModel',
            link: function (scope, element, attrs, ctrl) {
                ctrl.$formatters.push(function (value) {
                    var date = new Date(Date.parse(value));
                    date = new

[2015-05-17 06:08] DieterLi commented on #3617
Same issue with 0.13.0, but good with 0.12.1

[2015-05-17 22:28] zmirc commented on #2700
@porjo Thanks a lot :+1:

[2015-05-18 02:55] natcohen commented on #3644
Here is a plunker... http://plnkr.co/edit/Dd6FKcboWGlIKh6Dy9cv?p=preview

[2015-05-18 03:31] neaped commented on #3633
@rvanbaalen With ngAnimate 1.40 rc.2 the modal close successfully, but the animation effect (fade out / in) won't work.

[2015-05-18 03:53] rvanbaalen commented on #3633
Please test with versions that we actually support. UI Bootstrap supports Angular 1.3 so you should test with Angular 1.3 and ngAnimate 1.3

[2015-05-18 07:53] Serginho opened #3681 "Apply one-time binding to typehead list items"
The ng-repeat of the dropdown div that appears when you write something should have an options to apply on-time binding for improving its performance.

[2015-05-18 08:56] neaped commented on #3633
@rvanbaalen  UI Bootstrap with Angular 1.3 and ngAnimate 1.3 working fine :)

[2015-05-18 10:08] realityking commented on #3644
Cause is the following commit: 1a9e88fe9e6a078943273012429788e742f8ebbd

After reverting that one I still have the issue described in #3617

CC: @chrisirhc

[2015-05-18 11:01] rvanbaalen commented on #3633
Thats what I mean. Everything else will be addressed soon when we implement Angular 1.4 compatibility (when the stable release is out).

[2015-05-18 13:52] callicles commented on #764
+1

[2015-05-18 13:53] sheymann commented on #764
+1, it's really useful on short list of options

[2015-05-18 15:16] skidvd commented on #157
+1

[2015-05-18 16:12] robertcasanova commented on #3633
Hope this can help you, seems to be related to:
[code]
Seems that ```$animate:close``` is not triggered

[2015-05-18 16:28] markni opened #3683 "Make dropdown menu close on $locationChangeSuccess optional"
When ui-bootstrap used together with ui-router, we have a menu like to stay open, while a nested sub state reloads  (with url changes) when user click on menu item.

Currently it seems impossible to do this, as dropdown is forced to close upon `$locationChangeSuccess`

Would be nice to have something like `close-on-location-change='false'` to make this behavior optional.

[2015-05-18 17:30] bleggett commented on #1228
Have a PR that add this functionality. Started with yarl's fix but made it an optional flag, added some tests, and removed the apparent dependency on jQuery.

[2015-05-18 20:04] rvanbaalen commented on #3683
Feel free to submit a PR implementing this feature. Although I must say I'm not sure if it will make it into the source since we want to keep the API as simple as possible. Adding very specific settings like this one does not add to that philosophy.

[2015-05-18 20:05] rvanbaalen commented on #3681
Feel free to submit a PR implementing this improvement. Seems to make sense -- any performance improvement is welcome.

[2015-05-18 20:07] rvanbaalen commented on #3678
Seems like a valid bug. However I'm not sure if this behaviour is intended or not. Doesn't make much sense to allow selecting these greyed out dates in the first place.

[2015-05-18 20:14] rvanbaalen commented on #3677
Please try the demo page. You can still close a modal by clicking on the backdrop. http://angular-ui.github.io/bootstrap/#/modal

You're referencing a commit from 2 years ago..

[2015-05-18 20:14] #3677 closed

[2015-05-18 20:16] rvanbaalen commented on #3673
Please provide a plunkr so we can see what you're seeing. Can be the default plunkr as well if that reproduces your problem.

[2015-05-18 20:17] rvanbaalen commented on #3671
Please provide a plunkr with the exact custom build you made. Seems like you missed something.

[2015-05-18 20:18] rvanbaalen commented on #3670
I feel your pain and understand the issue. However, a huge refactor session is required to do this the right way if I'm right.

[2015-05-18 20:26] rvanbaalen commented on #3665
This seems like something @chrisirhc was involved with. Perhaps he can take a look.

[2015-05-18 20:26] rvanbaalen commented on #3664
https://github.com/angular-ui/bootstrap#need-help

[2015-05-18 20:26] #3664 closed

[2015-05-18 20:27] rvanbaalen commented on #3663
https://github.com/angular-ui/bootstrap#need-help

[2015-05-18 20:27] #3663 closed

[2015-05-18 20:27] nozer opened #3686 "modal does not show up when on fullscreen mode on an element"
If I go full screen on a div element and then if I click on a button on this div to show a modal, that modal will not show up.

Here is a plnkr demo (it is a modified version of what you have on the bootstrap modal template page).
1 - Please click on "launch the preview in a separate window" icon of plnkr and then
2 - Click on "Go Full Screen" button.
3 - Then, when in full screen mode, click on a

[2015-05-18 20:29] rvanbaalen commented on #3661
Provide a plunkr reproducing your problem. Without a plunkr we can't debug your issue.

[2015-05-18 20:30] rvanbaalen commented on #3669
https://github.com/angular-ui/bootstrap#need-help

[2015-05-18 20:30] #3669 closed

[2015-05-18 20:51] ktiedt commented on #3670
It could be as simple as when publishing the docs, moving the existing to /docs/vXXX and letting the latest publication take /docs (granted I have not looked how how the docs generation currently works)

I am aware that projects that do this, typically start with that goal in mind.

A simple solution would just to tag features with their "added in" version number so no changes are really necessary

[2015-05-18 21:18] icfantv commented on #3669
@rvanbaalen i'm a little confused, if this is not a breaking change or bug, can you please indicate thus rather than just posting a link that says how to get help?  otherwise, it comes off as a little flippant.  thanks.

[2015-05-18 21:31] Zion-ICS commented on #3673
My apologies on not providing code!
Here's a plunkr
http://plnkr.co/edit/jWjlsmUjheKk84aD7TKJ?p=preview
You'll see that when you get to the page, the datepicker's current day has a blue background and white letters.
If you navigate to another month and then navigate back, the current day now has a gray background and navy blue letters.

The inspector seems to show that this is due to the class "ac

[2015-05-18 21:31] markni commented on #3683
@rvanbaalen I don't want to introduce new API either. Another option would be included it in the new `auto-close` setting.

It's not very intuitive right now: closing on `$locationChangeSuccess`  is clearly an action of "automatically close", but it always runs despite user explicitly choose `auto-close` to be `disabled` or `outsideClick` (with document states it **only** closes when click somewhe

[2015-05-18 21:46] rvanbaalen commented on #3669
The link I was referring to explains where you can ask questions regarding the library. As mich as Id want to help you out, this is an issue tracker to keep track of bugs. Not a forum to ask questions about all sorts of implementations.

I would suggest asking your question on the IRC channel as some of the UI Bootstrap crew likes to hang around there and to be sure Ill tag @chrisirhc since I beli

[2015-05-18 21:56] icfantv commented on #3669
Cool, thanks.

[2015-05-18 22:38] kienpham2000 opened #3687 "Popover directive doesn't work with Safari when using popover-trigger="focus""
Hi guys,

Ex: this works on chrome and firefox, but not on Safari (8.0.6). I'm on Mac OS X Yosemite
< a href="" popover="hola!" popover-trigger="focus">Hello!< / a >

When in Safari, when I click on that link, nothing shows up.

Thanks!

[2015-05-18 23:49] mjreddick commented on #3080
It should be noted that this is the current behavior in bootstrap as well.  The animation is done on the height (padding is not included in this value) and then when the animation is done the display is set to none and so the remaining padding pixels jump.

http://jsfiddle.net/xkL15guj/2/

[2015-05-19 00:41] nullstatement commented on #3677
Ahh I see what what happened. I upgraded from 0.6.0 to 0.13.0, but forgot to upgrade the css. So I had to modify the backdrop template so it would close again and found this commit where it was removed.

[2015-05-19 00:58] rvanbaalen commented on #3677
Aah thats quite a big step haha. Glad it worked out for you.

[2015-05-19 04:01] icfantv commented on #738
Hey all, it's been nearly seven months since the last update and nearly two years since this issue was first opened.  Are we any closer to an acceptable solution?  Thanks.

[2015-05-19 06:01] furyscript commented on #3661
I solve issue adding the dependency module of "ui-bootstrap-tabs".
So now I have "ui-bootstrap" and "ui-bootstrap-tabs". It's correctly?

[2015-05-19 06:15] natcohen commented on #3671
You're right! My bad...

[2015-05-19 06:15] #3671 closed

[2015-05-19 12:58] rvanbaalen commented on #3687
Please provide a plunkr reproducing your problem.

[2015-05-19 13:01] rvanbaalen commented on #3686
This has nothing to do with modal, it's an issue in your 'screenfull' implementation. Please ask questions on StackOverflow and report bugs on GitHub.

https://github.com/angular-ui/bootstrap#need-help

[2015-05-19 13:01] #3686 closed

[2015-05-19 13:19] rvanbaalen commented on #3658
Provide a plunkr.

[2015-05-19 13:20] rvanbaalen commented on #3657
Related #1012

[2015-05-19 13:33] rvanbaalen commented on #3652
https://github.com/angular-ui/bootstrap#need-help

[2015-05-19 13:33] #3652 closed

[2015-05-19 13:40] nozer commented on #3686
Thank you. I will do as you suggested.

[2015-05-19 13:53] vitaly-t commented on #1012
Ok, so what people should do to convince the authors to implement, after 2 years of +1 pestering?

[2015-05-19 14:15] rvanbaalen commented on #1012
@vitaly-t I think you're missing the point of an open source project. This is a free and open source project. We, the authors, are spending most of our free time to provide you with awesome tools that most of you use commercially and safe (and money) time with. That's all cool :+1:

We're not an organisation that builds features on demand. There simply are too much requests to satisfy everyone. Th

[2015-05-19 15:08] prettycode commented on #2216
+1

[2015-05-19 15:39] djehring opened #3688 "Date picker error after upgrade to Angular 1.3"
After upgrading my project to Angular 1.3 (and angular-bootstrap 0.13) I am getting an issue from directives using the date picker:
Error: [$compile:ctreq] Controller 'datepicker', required by directive 'daypicker', can't be found!

There is a related stackoverflow thread (http://stackoverflow.com/questions/28617876/strange-angular-ui-datepicker-dependency-error)

Using ng-if with a timeout  on th

[2015-05-19 15:50] xingped commented on #3678
It's not just the grayed out dates, but also clicking the "Month" button that zooms out to month level.

The way I've gotten around this problem for now (for anyone else that comes along) is to use a CSS rule to set pointer-events: none on the "Month" button and use the disable-date function to detect whether or not the current day is within the current month and if not, disable the date.

[2015-05-19 15:55] rvanbaalen commented on #3688
Can't do anything without a plunkr, mate.

[2015-05-19 16:50] kienpham2000 commented on #3687
@rvanbaalen http://plnkr.co/edit/qXQEMJZPj7zUHhg2DZhL

[2015-05-19 17:07] RobJacobs commented on #3687
I've found focus to be flaky in Safari, does it work when you switch to a click trigger.

[2015-05-19 17:13] rvanbaalen commented on #3661
https://github.com/angular-ui/bootstrap/wiki/FAQ#tldr

[2015-05-19 17:13] #3661 closed

[2015-05-19 17:13] jamime commented on #2058
I think most people use this to perform the action instead of calling this in their controller constructor. Do you have a specific example where this is not suitable?

[2015-05-19 17:16] rvanbaalen commented on #3665
Looking into it, this seems like a question suitable for StackOverflow. It's not actually a bug with this library, it's an issue you have when using this library in a certain manner that we don't support out of the box.

Indeed, one could expect UI Bootstrap to work in this situation and it would help if we implement a fix for it but basically this is an enhancement request instead of a bug.

[2015-05-19 17:17] rvanbaalen commented on #3619
Smells like a ngAnimate issue. ngAnimate should be added separately to your project.

[2015-05-19 17:20] rvanbaalen commented on #2447
Closing due to inactivity. Please test with the latest version and re-open if this issue is still valid.

[2015-05-19 17:20] #2447 closed

[2015-05-19 17:22] rvanbaalen commented on #2450
Please test with the latest version 0.13.0. This seems like a question that should be asked on StackOverflow since you're experiencing an issue when implementing a third party library.

Also, closing due to inactivity. Please re-open if this is still an active issue.

[2015-05-19 17:22] #2450 closed

[2015-05-19 17:22] rvanbaalen commented on #2457
Closing due to inactivity. Please test with the latest version (0.13.0) and re-open if this issue is still valid.

[2015-05-19 17:22] #2457 closed

[2015-05-19 17:24] rvanbaalen commented on #2436
Closing due to inactivity. Also, this seems like a question that should be asked on StackOverflow instead of in an issue tracker. We keep track of bugs here, not questions.

[2015-05-19 17:24] #2436 closed

[2015-05-19 17:29] rvanbaalen commented on #2431
Not an issue anymore: http://plnkr.co/edit/1bB0JSdpmE1zsHiPUlT2?p=preview

[2015-05-19 17:29] #2431 closed

[2015-05-19 17:31] rvanbaalen commented on #2058
Go to StackOverflow to ask about implementation questions. This is not a bug, but a feature.

[2015-05-19 17:31] #2058 closed

[2015-05-19 17:33] kienpham2000 commented on #3687
@RobJacobs awesome, your suggestion work perfectly! Thanks.

[2015-05-19 17:35] rvanbaalen commented on #3687
Glad you have a workaround. That still leaves this as a bug for Safari though, right @RobJacobs ?

[2015-05-19 17:37] rvanbaalen commented on #2426
Fixed in the latest UI Bootstrap 0.13.0:
http://plnkr.co/edit/pkOJeaV5gzz7HgvbJoG0

[2015-05-19 17:37] #2426 closed

[2015-05-19 17:38] rvanbaalen commented on #2417
No need to bind it to the scope, you can also use single quotes:

`<input datepicker-popup="" datepicker-mode="'month'">`

This is how AngularJS expressions work.

[2015-05-19 17:38] #2417 closed

[2015-05-19 17:43] rvanbaalen commented on #2408
https://github.com/angular-ui/bootstrap#need-help

[2015-05-19 17:43] #2408 closed

[2015-05-19 17:53] RobJacobs commented on #3687
I don't think it's a bug in our code, Safari just doesn't seem to propagate the focus event from a click event.

[2015-05-19 18:00] rvanbaalen commented on #3687
It's unfortunate that references as [this one](http://www.quirksmode.org/dom/events/blurfocus.html) aren't up to date with the newest browsers.

[2015-05-19 18:02] clicktravel-martin commented on #2450
The Plunker demonstrates it _without_ a third-party library, and the thread's inactive because I was waiting for it to be fixed. But since the code examples no longer make sense in Angular 1.3 (due to the introduction of $validators), I'm not going to re-open it.

[2015-05-19 18:05] kienpham2000 commented on #3687
Maybe a fix is to document such workaround for Safari at the Tooltip Set Trigger section?
http://angular-ui.github.io/bootstrap/#/tooltip

[2015-05-19 18:31] rvanbaalen commented on #1880
Closing due to inactivity. Feel free to reopen if this is still an issue in UI Bootstrap 0.13.0

[2015-05-19 18:31] #1880 closed

[2015-05-19 18:36] rvanbaalen commented on #1861
Closing due to inactivity. Feel free to reopen if this is still an issue in UI Bootstrap 0.13.0

[2015-05-19 18:36] #1861 closed

[2015-05-19 18:38] rvanbaalen commented on #1837
@cgastin Can you provide a plunkr and confirm this is still an issue in UI Bootstrap 0.13.0?

[2015-05-19 18:38] rvanbaalen commented on #1835
Overwrite the default template files.

https://github.com/angular-ui/bootstrap#need-help

[2015-05-19 18:38] #1835 closed

[2015-05-19 18:41] rvanbaalen commented on #1800
We would not consider such a PR unfortunately since it will add unnecessary extra API functions.

[2015-05-19 18:41] #1800 closed

[2015-05-19 18:44] rvanbaalen commented on #2059
This is fixed in the latest UI Bootstrap 0.13.0

http://plnkr.co/edit/Na1vA4PnRJwU4qMkImnM?p=preview

[2015-05-19 18:44] #2059 closed

[2015-05-19 18:45] rvanbaalen commented on #2046
Please provide a plunkr reproducing this problem with the latest UI Bootstrap 0.13.0

[2015-05-19 18:59] lapo-luchini commented on #3665
AngularJS module system supports out-of-order loading by default (using the official async loader), this only happens because `angular.$$csp` is currently used in the global namespace instead of inside a module, wrapping it with a `module.run` should solve the problem as far as I can see. (of course, the code would be executed as soon as the module and all his dependencies is loaded, not as soon a

[2015-05-19 19:26] rvanbaalen commented on #2662
https://github.com/angular-ui/bootstrap#need-help

[2015-05-19 19:26] #2662 closed

[2015-05-19 19:28] rvanbaalen commented on #2560
Please check if this is still an issue in UI Bootstrap 0.13.0 and provide a plunkr reproducing the problem.
Not sure if this can be fixed at all since fixed position elements can be a whole different ball game.

[2015-05-19 19:31] rvanbaalen commented on #2341
It sounds like you're using the wrong tool for the job and I still can't quite understand what you're trying to achieve if you don't provide a demo plunkr that at least shows some of the functionality you intend to implement.

[2015-05-19 19:38] rvanbaalen commented on #1317
Related: #1012

[2015-05-19 19:46] rvanbaalen commented on #1012
Related: #375

[2015-05-19 19:46] #3657 closed

[2015-05-19 21:16] charwking commented on #2785
I've been able to reproduce this in Chrome and Firefox. After some digging, I'm fairly sure [this change](https://github.com/angular-ui/bootstrap/commit/853fa4578a1f127fee9283e725d6e19789882121#diff-e8665eb306ddd26399e5b80f00dae5bbR125), available in `v0.13.0` has resolved the issue.

[2015-05-20 07:22] brandonam opened #3692 "Controller 'tabset', required by directive 'tabContentTransclude', can't be found"
I'm not sure if I'm perhaps doing something incorrectly as I'm still fairly new to AngularJS but after missing around I noticed I was getting the following errors on my states loading with tabs in them

Controller 'tabset', required by directive 'tabContentTransclude', can't be found!
https://docs.angularjs.org/error/$compile/ctreq?p0=tabset&p1=tabContentTransclude

Am I missing something? Current

[2015-05-20 07:49] piernik commented on #764
+1

[2015-05-20 08:34] pranaydutta89 opened #3693 "$modalinstance.dismiss not working in 1.4.0 -rc2"
it seems like $modalinstance.dismiss(),$modalinstance.dismissAll() $modalinstance.close() not working with angular version 1.4.0 -rc0 -rc1 -rc2

[2015-05-20 08:52] slepkaviba opened #3694 "$modal cant be dismissed if state [ui-router] is changed"
Hi,

Using ui-router and $modal brings confustion when $modal inherits scope from current state controller's scope. If state is changed, modal's methods are gone, and its impossible to close it (I tried using $stateChangeStart and $destroy events, but in both - its already too late and dismiss and close have no effect).

One solution was not using inherited scopes but in case they are needed - mod

[2015-05-20 09:52] nozer commented on #3686
Hi
Instead of using the `screenfull` library, I used `BigScreen` library to test this issue. I still have the same problem. This is not related to screenful implementation or BigScreen implementation.

When browsers go on fullscreen on an **element**, for ui bootstrap's modal to appear in front, i think that, it must be a child of the element that is on fullscreen (I verified this by editing the h

[2015-05-20 11:21] shilan commented on #3089
the datepicker-options doesn't work in new release.
the options is undefined at line 1522, here:
      if ( attrs.datepickerOptions ) {
        var options = scope.$parent.$eval(attrs.datepickerOptions);
        if(options.initDate) {
          scope.initDate = options.initDate;
          datepickerEl.attr( 'init-date', 'initDate' );
          delete options.initDate;
        }
        angular.for

[2015-05-20 12:17] zdila commented on #3371
Works, thanks!

[2015-05-20 13:12] cristifilip commented on #764
+1

[2015-05-20 13:31] fiznool opened #3695 "[typeahead] use as auto-complete?"
I know that we aren't supposed to use GitHub for support questions, and we should use SO instead, but I've had [this question](http://stackoverflow.com/questions/30118967/can-the-angular-ui-bootstrap-typeahead-be-used-as-an-auto-complete) posted for a while and there has been no answer, so I'm hoping somebody here can help me. Even if its a simple 'no, that can't be done'.

I'm looking to add an '

[2015-05-20 13:52] RobJacobs commented on #3693
Reported under #3633

[2015-05-20 13:52] #3693 closed

[2015-05-20 13:54] RobJacobs commented on #3633
Comments from #3620

There is a known issue with Angular 1.4 and the Modal/Carousel directives. The ngAnimate module had some significant changes documented here that breaks how those directives are chaining animations. The area that needs to be addressed in the modal is here. As a workaround, I changed that line from:

    domEl.one('$animate:close', function closeFn() {
        $rootScope.$evalA

[2015-05-20 16:30] hmillet commented on #3631
Same error in my console.
But I don't agree with the analyse.
In my app, it's seems to depends of the context. On my "big" page, I've got about 10 datepicker, all with the same html, attributes and options. Some works, some does not.

My option's variable is OK (```attrs.datepickerOptions``` return the correct value) , but the eval return sometimes "undefined" (line 1522).
[code]

I can see that t

[2015-05-20 17:27] vprasanth commented on #3633
Using 0.13.0 with angular 1.4 rc2, the modal dialog doesn't even appear for me. Just the dimmed backdrop.

[2015-05-20 18:06] hmillet commented on #3631
As for me, this error message was meaning that my ```attrs.datepickerOptions``` object was undefined.

In fact, it was not still setted when the datepicker directive was running.

The Bug was mine, the error message not very clear ...

[2015-05-20 18:37] hmillet commented on #3644
In fact, no need for a plunker, the same issue can be seen on the official example page of this project :-(

[2015-05-20 20:41] schulzzw commented on #3582
I would try to remove angular-animate. That seemed to do the trick for me.

[2015-05-20 23:03] citosid commented on #1643
@chrisirhc did you find any solution?

[2015-05-21 07:02] nozer commented on #3686
I solved this issue by editing the modal source.

It involved modal window to be appended to the element of my choice (in this case, element that goes full screen).

Options object we pass to the `$modal.open()` function now accepts an `appendTo` property which is a css selector that will be used by `document.querySelector`.

In modal code, I changed from these:
[code]
to these:
[code]

It would b

[2015-05-21 07:22] hmillet commented on #3582
I upgrade my "angular-bootstrap" 0.12.1 version to the 0.13.0.

Now the bug is no more, that's working fine for me (with all the other plugins, including angular-animate)

[2015-05-21 07:32] kris8889 commented on #612
Hi,
I have tried this solution

html
ng-change="selectDate(dt)"

js
$scope.selectDate = function(dt) {
console.log(dt);
}
but still not able to hit the event . Can anyone please post a plunkr link of this ?

Thanks in advance.

[2015-05-21 07:39] dev-mjoy commented on #612
@kris8889 here is the link-- http://plnkr.co/edit/rbB3nf?p=preview
[i have used moment js for parsing data.]

[2015-05-21 07:50] nozer commented on #3686
I solved this issue by editing the modal source.

It involved modal window to be appended to the element of my choice (in this case, element that goes full screen).

Options object we pass to the `$modal.open()` function now accepts an `appendTo` property which is a css selector that will be used by `document.querySelector`.

In modal code, I changed from these:
[code]
to these:
[code]

It would b

[2015-05-21 10:55] ermalmino commented on #3429
Thank you @RevanProdigalKnight for this suggestion, it was really useful.

[2015-05-21 11:22] char0n commented on #1350
The work around doesn't seem to work when you are displaying carousel in $modal.
My animate provider is configured like so:

$animateProvider.classNameFilter(/(app\-repeated\-item)|(modal)/);
// The modal inside the definition fixes https://github.com/angular-ui/bootstrap/issues/3647

When I remove the class name filter, arrws on carousel seems to work fine.

@simonykq solutions doesn't seem to wo

[2015-05-21 14:09] wesleycho commented on #3582
Closing as resolved - if it is an issue still, let us know.

[2015-05-21 14:09] #3582 closed

[2015-05-21 14:48] karolinkas opened #3696 "On Android tablet touching popover causes an overlay over navbar"
I´m using Angular-UI Version 0.11.2 and Bootstrap v3.3.4, my popovers are looking all find and are the way I want them now, but there´s this strange sideeffect. The overlay in the same color like the navbar.
These are the popover options:
thepopover = {
                                                        animation: 'compare comparepopover' + i,

[2015-05-21 14:54] hmillet commented on #3582
That's correct ! :+1:

@butaixianran: I try with your plunkr, I change the "angular-bootstrap" version from 0.12.1 to 0.13.0, and I can see that it's now working.

@wesleycho: thanks for your contribution to this usefull project

[2015-05-21 15:01] ermalmino commented on #3638
+1

[2015-05-21 15:02] rvanbaalen commented on #3696
Please update to the latest UI Bootstrap 0.13.0. We dont support older versions.

[2015-05-21 16:31] BobbieBarker commented on #2507
This should be covered by the popover-template attribute now exposed as apart of the popover's API. I'm closing this issue, feel free to re-open if you are experiencing a problem.

[2015-05-21 16:31] #2507 closed

[2015-05-21 16:37] BobbieBarker commented on #2268
It looks like if #2275 get's merged in that this issue will be fixed. I"m going to close this one for now, no need to keep a duplicate open, we can reopen if if #2275 doesn't resolve this issue.

[2015-05-21 16:37] #2268 closed

[2015-05-21 16:42] BobbieBarker commented on #2526
Please test against the latest version and reopen if this is still an issue.

[2015-05-21 16:42] #2526 closed

[2015-05-21 16:44] BobbieBarker commented on #2525
Looks like OP's question has been answered. Thanks to the community members who pitched in and helped him out.

[2015-05-21 16:44] #2525 closed

[2015-05-21 16:45] BobbieBarker commented on #2537
Please test against latest version of angularJS and this project and reopen if it is still an issue.

[2015-05-21 16:45] #2537 closed

[2015-05-21 16:48] BobbieBarker commented on #2468
I'm not sure what the problem is here exactly, I tried the plunker and it seems to be working... Please retest against the latest version of angularJS and this project. If it is still a problem reopen this issue.

[2015-05-21 16:48] #2468 closed

[2015-05-21 16:53] BobbieBarker commented on #2591
Please retest against the latest versions of angularJS and ui-bootstrap.

[2015-05-21 18:47] SoundLogic commented on #3638
80% of the way there on this one - had to set this aside for a bit, but picking it back up today. I was originally thinking of making this an extension of the tooltip, but given its nature is more like that of the modal dialog and the architecture of the tooltip is not very compatible with this approach, I've decided to create it as a separate control called the `tooltipDialog`.

[2015-05-21 19:02] canebat opened #3697 "How can I switch active tabs based on window width?"
I can't quite grasp how to switch from one tab to another based on window width.

ie,
[code]

When the window width is at least 900px, it should auto-switch to the first tab.
When the window width is less than 900px, it should auto-switch to the second tab.
But once the switch happens, the user should still be able to access the other tab (it should not lock a user into a particular tab).

I tried

[2015-05-21 19:21] rvanbaalen commented on #3697
The issue tracker is for bugs and issues, not implementation questions. Those can be asked on StackOverflow.

[2015-05-21 19:21] #3697 closed

[2015-05-21 20:35] f1ghtingfalcons commented on #2591
Appears to be fixed in the most recent versions of those code repositories: http://jsfiddle.net/t947zb6c/4/

[2015-05-22 04:59] mg1075 commented on #1081
I think this ticket should be reopened. In version 0.13.0, there is still no hook for applying css styles based on a css attribute to the datepicker wrapper. I believe this hook should be at the level of the ul.dropdown-menu. Otherwise, as @georgiosd has mentioned, you have to make another wrapping div div with a custom class.

[2015-05-22 05:20] brandonam commented on #3692
I thought the issue had resolved itself but I started noticing it again. I've narrowed down this issue this time though, it only occurs after the first time the view containing the tabs initially loads. Refreshing the page from then on through browser causes the console error to appear.

[2015-05-22 08:33] uguryilmaz commented on #1741
+1

[2015-05-22 09:31] karolinkas commented on #3696
Angular-UI is being updated,  when doing "bower update angular-bootstrap"? Just did, but still the overlay.

[2015-05-22 10:36] thomasgerard opened #3699 "[typeahead] dropdown doesn't hide on blur (ios only)"
Hi,
when using the typeahead component in a form with multiple fields, the dropdown doesn't hide when the field looses focus.
This only occurs on ios (safari and uiwebview).

Steps to reproduce:
- Browse to http://angular-ui.github.io/bootstrap/#/typeahead with iOS safari on any device.
- Start typing 'te' with the virtual keyboard, the dropdown appears
- Either use the ">" next field button or "o

[2015-05-22 10:46] EvilJohnny commented on #3676
@rvanbaalen I was having exactly the same problem. Including ngAnimate fixes it :+1:

And yes, it would be very useful to include a heads up for this in the docs... I've been looking around and testing stuff for one an hour before reaching this post :laughing: :laughing:

But anyways, thanks a lot for all the hard work!!!!

[2015-05-22 12:05] apandichi opened #3700 "Accordion animations not working in Plunkr example"
The accordion elements shown in the http://angular-ui.github.io/bootstrap/#/accordion page have animations. The ones shown in the associated Plunkr do not. If I replace the script version ui-bootstrap-tpls-0.13.0.js with ui-bootstrap-tpls-0.12.0.js, animations work. Is this some kind of a bug or regression? Or am I missing something here?

[2015-05-22 12:13] rvanbaalen commented on #3700
Unfortunately, you are right. This is indeed a bug.

[2015-05-22 14:54] pnowy commented on #1239
I will put here example for next generations:

[code]

[2015-05-22 17:02] gjmoyer opened #3701 "Datepicker clicking clear button on popup gives "ng-model" value must be a Date object"
If you have a Datepicker directive as a popup, and choose a valid date, then popup again and click the clear button, you get the following exception:
Datepicker directive: "ng-model" value must be a Date object, a number of milliseconds since 01.01.1970 or a string representing an RFC2822 or ISO 8601 date.

This then leaves the form.$invalid property as true, which is not correct, if this is not a

[2015-05-22 18:08] Jaff opened #3702 "Implementation details too sparse"
After a lot of manual downloading and dependency setup, I attempted to load a page with some example code. However, Safari java console shows:

[Error] ReferenceError: Can't find variable: angular
	(anonymous function) (ui-bootstrap-0.13.0.min.js, line 8)

Has anyone provided a self-contained demo instead of assuming everyone knows how to make these things work? Looking at demo examples, it does n

[2015-05-22 19:00] KatelynL commented on #2317
So this event just became even more necessary for me.  I did have a $watch on the isOpen booleans for my accordions and when the isOpen was true I would re-draw the highcharts inside my accordions.  However, with upgrading to version 0.13.0, the timing does not work out and the $watch beats the accordion opening.  This means that I can't get the desired effect without adding a $timeout to my $watc

[2015-05-22 19:02] rvanbaalen commented on #3702
@Jaff Sorry to hear that you weren't able to figure out UI Bootstrap to get it up and running. Did you check out http://angular-ui.github.io/bootstrap/#/getting_started ? That's a pretty extensive description on how to get started.

You can also checkout some of the plunkr demos on that same page.

[2015-05-22 19:02] #3702 closed

[2015-05-22 19:03] rvanbaalen commented on #3701
Plunkr please.

[2015-05-22 19:09] rvanbaalen commented on #3695
Sorry pal that simple rule stil applies even when your question doesn't get answered quick enough.
I'll take a look at your SO question though.

[2015-05-22 19:09] #3695 closed

[2015-05-22 19:59] CloudNiner commented on #3683
This is an issue not only with the ui-router, but also when using lower level angular APIs such as `$location.search` to update a get param in the url.

I like the idea of not closing the dropdown on `$locationChangeSuccess` when auto-close is disabled as well since that seems consistent with the current dropdown API and is more inline with what the docs suggest the behavior would be.

I'd be happ

[2015-05-22 22:07] RobJacobs commented on #2317
@KatelynL You should be using a $timeout in your isOpen watch as that will wait for any DOM manipulation to complete (i.e. ng-if directive).  You can implement the $timeout like so:

    $timeout(function() {
      ...
     }, 0, false)

So it won't trigger another digest cycle.

[2015-05-22 23:09] czegarram commented on #611
Thanks x 1000!

[2015-05-23 04:39] ognus commented on #590
I've found that using a simple custom directive worked best for my use case. I just want to be able to close the popover from within the popover template.

The directive exposes `scope.toggle` method that user custom trigger to open and close popover. I'm then using this method in the popover template.

# JS
[code]
# Example
### remove_popover_templ.html
[code]

### list_of_items.html
[code]

[2015-05-23 10:32] Radnyeechins commented on #1055
hello everyone hope everyone doing fine
my questions is ...
i want to close popover if it content input field....
here is demo
http://plnkr.co/edit/sIQevsrtTStDvqvG9ot4?p=preview
add groups and click on the tabs then rename tab but if we click outside then it doesn't close, it closed iff we click on same tab

[2015-05-23 16:00] rvanbaalen commented on #1055
@Radnyeechins ask questions on StackOverflow and dont hijack closed posts please.

[2015-05-23 19:33] scottrogers commented on #764
+1

[2015-05-23 21:09] NitroInside commented on #3676
@rvanbaalen I have included "angular-animate" version 1.3.0-rc.4 via Bower since a long time in my project (and just broke with this version of angular-ui-bootstrap)... can I use that module or must be ngAnimate mandatory?

And  I think the error is due because I'm using this module via Bower (through the wrapper https://github.com/angular-ui/bootstrap-bower) and it has no other dependencies than

[2015-05-23 21:22] rvanbaalen commented on #3676
@EvilJohnny Sorry for that pal :wink: We too make some mistakes sometimes haha.

@NitroInside It's never recommended to use an Release Candidate version if there's a stable release available instead.

[2015-05-23 23:34] chrisirhc commented on #3692
Could you please provide a Plunker that reproduces this issue?

[2015-05-23 23:45] chrisirhc commented on #3694
Could you create a Plunker that demonstrates this?
This sounds like usage with ui-router that's confusing rather than a bug.

[2015-05-23 23:52] chrisirhc commented on #3687
Similar issue at Twitter Bootstrap: https://github.com/twbs/bootstrap/issues/11788

[2015-05-23 23:57] chrisirhc commented on #3683
Sounds good, let's add this to `auto-close` . It's a newly added option (0.13), anyway, so it shouldn't break things for most users.

[2015-05-24 00:54] CloudNiner commented on #3683
Great thanks for the feedback! I'll submit a PR with this change for `auto-close="disabled"` in the next day or so.

[2015-05-24 03:25] NitroInside commented on #3676
@rvanbaalen totally agree with that, is an inherited project and it's dependencies are being gradually upgraded =)

[2015-05-24 04:15] rvanbaalen commented on #3683
Awesome! We always appreciate input from the community :+1:

[2015-05-24 08:51] DumboJetEngine commented on #590
+1

I am all for it. :)
That `$modal` service of your is the best angular thing I have laid my hands on.
Now I need a `$popover` service that works similarly, but apparently it doesn't exist yet. :(

[2015-05-24 12:03] C00per commented on #3700
Hi, Is it correct that the accordion animation is not working in ui-bootstrap-tpls-0.13.0.js?  Or the problem only with demo site and there is a way to turn it on for ui-bootstrap-tpls-0.13.0.js?

[2015-05-24 12:27] rvanbaalen commented on #3700
Please use the search function. This has been asked before.

Add ngAnimate to your project for animations support.

[2015-05-24 12:27] #3700 closed

[2015-05-24 20:36] Avcajaraville commented on #1350
@simonykq Thanks man, save my day :)

[2015-05-25 02:23] germanger commented on #3647
+1

[2015-05-25 07:19] johnnyreilly opened #3705 "Datepicker is-open weirdness"
Hi,

I've noticed that when setting `is-open` to `true` using an `ng-click` on the text element itself the date picker popup opens and closes as you would expect.  However, if you move the `ng-click` to a separate button (the calendar glyph for instance) that this does not work.

This [plunk](http://embed.plnkr.co/dJyF531w0QRGiAScRf15/preview) demonstrates the problem.

The solution is the pass `$

[2015-05-25 09:05] JohannesRudolph opened #3706 "Provide Snapshot builds"
It would be awesome if you could change the Travis build to also provide snapshot builds for download. Either as build Artifacts stored in travis or comitted to gh-pages branch. The former has the advantage of not bloating up the repo unnecessarily.

Using snapshot builds would make it much easier for possible contributors (like me) to quickly test recent changes and verify pull requests.

[2015-05-25 09:07] TurtleShip commented on #1193
In case an angular beginner like me stumbles upon here, the below is one way to add a random cacheBust param to modal
[code]

[2015-05-25 11:08] alexndlm opened #3707 "Open modal is shifting body content to the left"

[2015-05-25 11:13] rvanbaalen commented on #3707
Possibly the worst reported issue so far. Since this is so poorly formatted, I'm going to close this until you add all required info and reopen.

Read this before posting issues
https://github.com/angular-ui/bootstrap/blob/master/CONTRIBUTING.md

[2015-05-25 11:13] #3707 closed

[2015-05-25 13:14] pabacham commented on #1055
@rvanbaalen no one knows the answer http://stackoverflow.com/questions/29611355/is-there-any-way-to-close-angular-ui-tooltip-by-clicking-outside-it . Please pay attention to the problem.

[2015-05-25 13:19] alexndlm commented on #3707
Sorry.
http://plnkr.co/edit/ynWJUbnryVkSHdEjFRMw?p=preview

[2015-05-25 13:37] rvanbaalen commented on #1055
Same goes for you @pabacham

[2015-05-25 14:27] rodrigosaling commented on #590
@ognus thank you for your code. I was having a lot of trouble trying to add a simple close button in my popover, and you solved it perfectly!

[2015-05-25 17:46] twmulloy commented on #1518
https://github.com/angular-ui/bootstrap/blob/master/src/alert/alert.js#L22-L31

[code]

[2015-05-25 18:21] piernik opened #3709 "[performance] Dropdown - remove from DOM"
I see that all dropdown divs are always in DOM - they are only `display:none`
Why not remove them from DOM when they are hidden?
It could be good performance boost.

[2015-05-25 18:41] rvanbaalen commented on #3709
Can you provide some details/examples that confirm your assumptions?

[2015-05-25 20:05] Septh opened #3710 "Can't require tab in custom directives"
I'm trying to write a directive that would require tab as its parent :

    .directive('needTabAsParent', [ function()
    {
    	return {
		restrict: 'AE',
		require: '^tab',
		template: '<h2>I am a child of tab</h2>',
		link: function(scope, element, attrs, tab)
		{
			console.log(tab);
		}
	}
    }])

But this doesn't work. All I get is the Missing Required Controller error : https://docs.angul

[2015-05-26 01:52] ognus commented on #590
@rodrigosaling great, glad it helped :)
@pkozlowski-opensource +1 for $popover service

[2015-05-26 03:16] sgibberd opened #3711 "select strange behaviour in $modal"
http://plnkr.co/edit/ZqzCnMEIjR72nXh1Yd22?p=preview shows when I include a \<select\> in a $modal template, the first \<option\> is not selectable, and following  \<option\>s choose the \<option\> above. This behaviour occurs whether I bind to an angular controller \<select ng-model="obj.val"\> (ie a binding with a dot '.'), or not as in the example.

When I use \<select size="3"\> or \<select mul

[2015-05-26 06:08] piernik commented on #3709
It's exmaple from official site: http://plnkr.co/edit/?p=preview
dropdown menu is always in DOM - even when it's not visible.
With static menu it's not a problem but somtime that menu is created via ng-repeat with bindings, so removing dropdown after hiding could be usefull.

[2015-05-26 06:46] GregS2 opened #3712 "typeahead on Chrome/Android: Can't select options occluded by pop-up keyboard"
I initially posted this over on the Chrome forum here: http://bit.ly/1AuZ6AU , but I probably ought to have reported it here, so here it is:
Using the AngularJS ui-typeahead control, if the list of items is long enough to be occluded by the on-screen keyboard, and one scrolls down to select an item that is occluded, the chosen item is not actually selected. I have created a Plunk which demonstrate

[2015-05-26 07:46] dkavun commented on #3701
Looks like the problem is either in $viewChangeListener or in the dateParser: 'clear' passes an empty string as a selected value and the dateParser parses it to 'Invalid date'. It seems to me, that null should be returned in this case.

[2015-05-26 09:18] csvn opened #3713 "DatepickerPopup error when changing input field"
When changing an input field with the datepicker-popup directive (in 0.13.0), an error is thrown when the starting value is a time string ('yyyy-MM-dd').

**TypeError: baseDate.getFullYear is not a function**
http://plnkr.co/edit/oKNbNp07cJompsK6NBVr?p=preview

This does not occur in 0.12.1:
http://plnkr.co/edit/GFHEvBbmsgfHKK7NrYeN?p=preview

Is this a bug or am I missing something?

[2015-05-26 10:15] alexndlm opened #3714 "Open modal is shifting body content to the right"
When the page has a vertical scroll and opens a modal window, the vertical scroll on the page hiding. Because of this, the content moves to the right. In the Bootstrap this problem is solved by adding right padding to the body when scroll hiding.

http://plnkr.co/edit/ynWJUbnryVkSHdEjFRMw?p=preview

[2015-05-27 00:40] gjmoyer commented on #3701
In datepicker.js line 652, I changed the code to this, and it appears to fix the issue.
      ngModel.$viewChangeListeners.push(function () {
          if (ngModel.$viewValue) scope.date = dateParser.parse(ngModel.$viewValue, dateFormat, scope.date) || new Date(ngModel.$viewValue);
          else scope.date = null;
      });

[2015-05-27 01:36] stuart-harris commented on #3052
I agree with wesleycho.  Pagination typically uses a 1-based approach.  A 1-based approach also matches the view behaviour, which imho is appropriate for view controls.  A 0-based approach may, and in most cases would, match the model, but on balance I would prefer 1-based here.

[2015-05-27 06:19] yaelz commented on #3101
@chrisirhc same here, with angular 1.3.15 and angular-bootstrap 0.13.0. Chrome and Firefox with and without batarang and in incognito.

[2015-05-27 07:55] bridges23 commented on #3631
Hi there,

I am not sure that I understand - so maybe someone is able to comment whether there is a workaround for the issue? I'd like to use the datepicker but JS always crashes with that type error....

Thank you so much for any hint.
Steffen

[2015-05-27 08:55] hmillet commented on #3631
@bridges23 : as far as I am concerned, there is no issue. I've got this message when my var `datepicker.birthdate.options` was undefined when the following input render :

[code]

When I finally set correctly this variable, all was fine

[2015-05-27 10:51] bridges23 commented on #3631
@hmillet : Thanks for this. I think the question is rather how to set initDate as this is not working for me:

My piece of code:

  $scope.dateOptions = {
            formatYear: 'yy',
            startingDay: 1,
            initDate: new Date('01-01-1900')
        };

Your help is really appreciated

[2015-05-27 11:16] bridges23 commented on #3631
Or the right question would be: why does it return 'undefined' The $scope.dateOptions is declared in my controller and I cannot guess why the problem turns up...

[2015-05-27 12:07] hmillet commented on #3631
In a simple case, there is no reason for the variable to be undefined. My case was not simple, yours seems to be.

My options var is :

[code]

I can't see any problem on yours...

Maybe can you make a plunkr or equivalent that demonstrate your problem?

[2015-05-27 12:15] SlippySken commented on #3633
Yay, I think angular 1.4.0 was release tonight :). When I close a dialog, the dialog disappears but the backdrop is still there.

[2015-05-27 12:27] bridges23 commented on #3631
@hmillet: Thank you so much for your reply. In fact, it was a very silly mistake and it works now. have a great day!!!

[2015-05-27 12:37] rvanbaalen commented on #3705
@RobJacobs Mr. Datepicker, any thoughts on this?

[2015-05-27 12:38] rvanbaalen commented on #3450
#3706 related

[2015-05-27 12:38] rvanbaalen commented on #3706
Keep an eye on #3450

[2015-05-27 12:39] rvanbaalen commented on #3709
I meant perhaps you can demonstrate in a jsperf.com snippet that your suggestion is actually a significant performance boost.

[2015-05-27 12:39] rvanbaalen commented on #3710
https://github.com/angular-ui/bootstrap#need-help

[2015-05-27 12:39] #3710 closed

[2015-05-27 12:53] rvanbaalen commented on #3714
Not sure if this is something UI Bootstrap should do since it's part of the styling.
You can however easily implement this behaviour in CSS by styling the `body.modal-open` selector

[2015-05-27 12:58] alexndlm commented on #3714
More info for Bootstrap https://github.com/twbs/bootstrap/issues/9855

[2015-05-27 12:58] RobJacobs commented on #3705
The date picker popup binds a document click event [here](https://github.com/angular-ui/bootstrap/blob/master/src/datepicker/datepicker.js#L687). I believe if we wrap that in a $timeout the originating click event would not get captured. I'll test that theory later today or tomorrow.

[2015-05-27 13:01] rvanbaalen commented on #3714
This is my first thought as well:

https://github.com/twbs/bootstrap/issues/9855#issuecomment-22911988

[2015-05-27 13:03] citosid commented on #3633
@SlippySken I don't see the release on the official website, it is still on RC2. However, you can fix the issue as @RobJacobs mention. I did it in my code, and it is working now

[2015-05-27 13:04] rvanbaalen commented on #3714
Referencing this here, could be a solid fix:

https://github.com/twbs/bootstrap/commit/0907244256d923807c3a4e55f4ea606b9558d0ca

[2015-05-27 13:05] rvanbaalen commented on #3705
Cool @RobJacobs thanks for looking into it. Although I must say that my Angular-alert-system went off on the keywords 'wrap that in a $timeout'. Are you sure that's the way to go on this?

[2015-05-27 13:07] RobJacobs commented on #3709
The dropdown directive has no associated template, it simply handles positioning and toggling the css display value. A transclude template with ng-if bound to the isOpen property could work.

[2015-05-27 13:07] rvanbaalen commented on #3711
Your plunkr doesn't reproduce the problem -- the first item is selectable.

[2015-05-27 13:08] rvanbaalen commented on #3712
Not sure yet what our course is regarding mobile support. I'll label it accordingly but don't hold your breath for a fix.

[2015-05-27 13:15] RobJacobs commented on #3705
Using $timeout(function() { ... }, 0, false) prevents angular from triggering another digest cycle while waiting for the current cycle to complete. So there should not be a performance hit, but I could be wrong.

[2015-05-27 13:17] SlippySken commented on #3633
I was looking at https://github.com/angular/angular.js/releases. It seems that the official website isn't updated yet.
But the workaround is working :). Thanks :)

[2015-05-27 13:31] rvanbaalen commented on #3705
I would say go for it -- it's better to have a fix and refactor later if someone else has a better plan instead of not applying a fix at all.

[2015-05-27 13:33] rvanbaalen commented on #3633
@vprasanth @SlippySken We dont officially support Angular 1.4 yet. UI Bootstrap 0.13.0 has full Angular 1.3 support however.

[2015-05-27 14:16] lutzwuelfing opened #3717 "Remove inline styles from templates"
In the timepicker template (maybe in others too, i didn't check) the input elements have inline styles difining their width. This really isn't a good way to do it since we can not override these styles in our css. Instead the timpicker element should have a class="timepicker" so we can apply our own styles to it.

[2015-05-27 14:57] nikolasten commented on #2583
For me for version 0.9.0 works if u use `datepickerPopupConfig.dateFormat="dd.MM.yyyy";`

[2015-05-27 15:30] ksmirnoff opened #3718 "Issue with Tabs control in versions 12+ (worked in version 11)"
First of all you guys are doing an amazing job maintaining this library. Thank you.
The tab control that I am using gets populated dynamically from an array of objects. Each tab has a [x] remove link that removes a corresponding object from the array. When using ui-bootstrap 11.0 that action resulted in a tab disappearing from the view. When I tried upgrading to 12.0 or 13.0 this action results in

[2015-05-27 15:39] rvanbaalen commented on #3717
I agree that there shouldn't be any inline styles in the first place. However UI Bootstrap aims to have **no external stylesheets**. We only use Bootstrap's CSS. That's probably how this inline style got in the template.

On another note: you can easily overwrite the default template with one of your own and style it as such. That's one of the main aims of this project: extendibility by customisin

[2015-05-27 15:39] #3717 closed

[2015-05-27 15:41] rvanbaalen commented on #2583
Please don't discuss old versions. Upgrade to the latest release and test if your issues are still reproducible. If so, open a new issue instead of continuing on a closed thread.

[2015-05-27 15:43] rvanbaalen commented on #3718
The plunks dont seem to be working -- I get a blank screen.

Also, use the proper dependencies: no jquery, Angular 1.3 and UI Bootstrap 0.13.
For UI Bootstrap 0.11, use Angular 1.2

[2015-05-27 15:55] ksmirnoff commented on #3718
Thanks for a quick response. You don't see a blue 'Run Report' button showing up in the upper left corner? I tested the plunker links in in IE, Firefox and Chrome and they are working for me.
Can you give it another try. Thank you

[2015-05-27 16:09] kwisatz commented on #570
:+1:  for an explicit note of this in the docs

[2015-05-27 16:21] rvanbaalen commented on #570
Its already there @kwisatz. See demo / docs first paragraphs. And the wiki for that matter.

[2015-05-27 18:09] ksmirnoff commented on #3718
I tested the plunkers from multiple locations. They work. Can you please give it another try.

[2015-05-27 20:17] totszwai opened #3721 "Is it possible to transclude the tab content?"
Is it possible to create a tab with either HTML content or move the element directly to the content?

Example here: http://plnkr.co/edit/tYmoWE?p=preview

[2015-05-27 21:43] mpojeda84 commented on #1221
On the Plunkr, If you set to false the showFirst variable, it will hide the tab heading, but it won't hide the static content. I am having the same issue in my project.

[2015-05-27 22:49] varmint09 opened #3722 "0.13 Release?"
Hi,

I want to use this https://github.com/terranisu/angular-emoji-picker and it requires 0.13, so I wondered what timeframe for 0.13 release as the popover historically sounds like it was either buggy, or a bit weak.

Or, if there was a way to get callbacks from a popover so I could tell which item they clicked, that would work too, any ideas? or does 0.13 add that?

Thanks

[2015-05-28 00:07] rvanbaalen commented on #3721
https://github.com/angular-ui/bootstrap/blob/master/README.md#need-help

[2015-05-28 00:07] #3721 closed

[2015-05-28 01:21] rvanbaalen commented on #3722
Take a look at the releases. Its been out there for a while now.

[2015-05-28 01:21] #3722 closed

[2015-05-28 02:03] svarjavand commented on #1289
Why is this issue and all its referenced ones are closed? DatePicker still don't work with dd/MM/yyyy format when date is entered manually.
Try the plunker on https://angular-ui.github.io/bootstrap/#/datepicker and enter 24/05/2015
current version is:
angularjs: 1.3.13
bootstrap-ui: 0.13.0

[2015-05-28 02:07] rvanbaalen commented on #1289
@svarjavand it seems like either this is broken again or @bekos closed it too fast. Reopening.

[2015-05-28 02:08] rvanbaalen commented on #1289
On a second thought @svarjavand please create a new issue to prevent this one from being polluted. This is closed because the actual issue is fixed; dates with `dd.MM.yyyy` format work.

[2015-05-28 02:11] svarjavand commented on #1289
@rvanbaalen I can create a new issue but even dd.MM.yyyy format doesn't work.
Try the plunker on the demo page and enter 24.05.2015 in the popup date picker. Selected date will be empty.

[2015-05-28 02:12] rvanbaalen commented on #1289
Fair enough. Reason enough to keep this open.

[2015-05-28 02:22] quiz16 commented on #1114
+1

[2015-05-28 02:48] sgibberd commented on #3711
Ok - I checked on several browsers. It seems to be specific to iceweasel (firefox) version 31.6.0 running on debian . Firefox running on ubuntu and chrome don't have this problem. Thanks for your help.

[2015-05-28 02:48] #3711 closed

[2015-05-28 03:52] germanger commented on #3647
With angular 1.4.0 this is not working anymore!

         angular.module('packingApp').config(['$animateProvider', function($animateProvider){
               $animateProvider.classNameFilter(/modal/);
         }]);

[2015-05-28 04:18] rvanbaalen commented on #3647
@germanger FYI; As of this moment, a stable release of Angular 1.4 hasn't been released yet and thus UI Bootstrap doesn't support use of Angular 1.4 yet.

[2015-05-28 04:19] rvanbaalen commented on #3718
1 message asking to give it another try was sufficient. I simply don't have all the time to respond super fast to requests. Looking into it now.

[2015-05-28 04:38] rvanbaalen commented on #3718
Seems like you have a funky implementation error. The way you're removing tabs (using jQuery?!) is really odd. Look into Angular / vanilla javascript array manipulation and ask your question on StackOverflow if you can't figure it out.

Here's a demo plunkr that demonstrates the possibility of removing a dynamically generated tab:

http://plnkr.co/edit/U0rBkUaSDjWT28fi0jAH?p=preview

[2015-05-28 04:38] #3718 closed

[2015-05-28 07:00] Maidomax opened #3723 "Typeahead not working on the demo site"
This is more of a heads-up than an issue. When trying to use the asynchronous demo, the console says:
[code]

[2015-05-28 08:30] XmlmXmlmX commented on #3387
In case of tables inside panels it is also a problem.
http://getbootstrap.com/components/#panels-tables

[2015-05-28 09:16] Septh commented on #3710
Sorry if I didn't make myself clear : I was not asking for help but describing a situation that, unless I'm mistaken, seems to me like an issue. I'm editing my original post to clarify.

I've made a plunker to illustrate : http://plnkr.co/edit/GQh9svSMfXcRzkHJlCt1?p=preview

Note that if the tab requirement is made optional (ie. :require : '^?tab') then null is output to the console.

[2015-05-28 09:17] realityking commented on #1289
That's likely the issue described in #3644 (potential fix in #3682)

[2015-05-28 09:25] vaishali-saxena opened #3724 "Regarding server side pagination"
Hi,
I am using the pagination feature in my project using angular and it works fine but the issue is i am using the API which get the data like json using http. and total data will not load only the limited data will load which i will pass using the page-per-item attribute.
here is my controller, what i want to do here, limit is the page-per-item(currently i'm using static value) and the offset is

[2015-05-28 10:36] Septh commented on #3710
Hmmm... ok, sorry if I didn't make myself clear: I'm not looking for some help here but just describing a situation that, if I'm not mistaken, looks like an issue. I edited my post to clarify.

I also created a Plunk to illustrate : http://plnkr.co/edit/GQh9svSMfXcRzkHJlCt1?p=preview

[2015-05-28 10:59] jkelleher opened #3725 "Dropdown broken from 0.11.2 onwards"
I'm using mean.js stack and when I bump the bower packages to latest, the dropdowns fail to display on click. I worked back through the angular-bootstrap versions until it worked - 0.11.2 is the last time it worked (at least in my build).

[2015-05-28 11:02] Kepro opened #3726 "angular 1.4.0"
modal don't go away on angular 1.4.0 , window yes, but fade stay

[2015-05-28 11:02] Gamemaniak commented on #3725
This is because 0.12.0 has [breaking changes](https://github.com/angular-ui/bootstrap/blob/master/CHANGELOG.md#breaking-changes), always check the changelog when you want to upgrade.

[2015-05-28 11:30] pkozlowski-opensource commented on #3724
I'm sorry, but we can't handle support questions as part of GitHub issues, please see: https://github.com/angular-ui/bootstrap/blob/master/CONTRIBUTING.md#got-a-question-or-problem

[2015-05-28 11:30] #3724 closed

[2015-05-28 11:43] jkelleher commented on #3725
Thanks for reminder, still finding my feet.

[2015-05-28 11:47] #3725 closed

[2015-05-28 12:03] pkozlowski-opensource commented on #3726
https://github.com/angular-ui/bootstrap/issues/3633#issuecomment-105909927

[2015-05-28 12:03] #3726 closed

[2015-05-28 12:10] rvanbaalen commented on #3710
I get that but its still an implementation question and not a bug in the library

[2015-05-28 12:16] rvanbaalen commented on #3387
I would say creating your own accordion template for that use case is the way to go..

[2015-05-28 15:17] TimonVS commented on #3676
@NitroInside I created a gist with my solution for ngAnimate 1.4: https://gist.github.com/TimonVS/a40514121fb220495d8c.

[2015-05-28 16:03] johnnyreilly commented on #3705
Well this is encouraging!  Assuming the fix is made I'm guessing it would be **non-breaking**?  i.e. People out there using ` $event.stopPropagation()` wouldn't find their datepickers stopped working as a result of the upgrade.

[2015-05-28 16:17] ksmirnoff opened #3728 "Issue with dynamic tab removal (worked fine in ui-bootsrap 11.0)"
I posted this issue yesterday but it was dismissed on the grounds of using jquery. Below are two jquery-free plunks that still demonstrate the same issue with dynamic tabs removal. Please take a look at your convenience. Click on [x] to remove tabs
This one works (11.0) - http://plnkr.co/uLCmpf1ytsYp5DYutg9F
This one doesn't (13.0) - http://plnkr.co/ruQnm4eR0SU4UcheAIm8

Thank you

[2015-05-28 16:49] rvanbaalen commented on #3728
It was not dismissed on the grounds of using jQuery. It was dismissed on the grounds of your implementation. I was able to demonstrate with a plunkr that it is in fact possible to remove a dynamic generated tab. Please keep the discussion in one place or at least reference the previous issue if you feel the urge to open a new one.

[2015-05-28 16:56] rvanbaalen commented on #3155
Fix landed in ed10899d6b4dc4ab3c46c6b0288ecd8d98cc852a

[2015-05-28 16:58] rvanbaalen commented on #3723
Indeed, not really an issue. However I can't even reproduce it?

[2015-05-28 17:04] #3723 closed

[2015-05-28 17:10] rvanbaalen commented on #2305
Datepicker doesnt support epoch time. If you want to implement this, feel free to send us a PR.

[2015-05-28 17:10] #2305 closed

[2015-05-28 17:11] rvanbaalen commented on #2472
Closing as outdated.

[2015-05-28 17:11] #2472 closed

[2015-05-28 17:14] rvanbaalen commented on #157
We're moving all prefix-related discussion to one topic: #3396

[2015-05-28 17:14] #157 closed

[2015-05-28 17:14] rvanbaalen commented on #2458
We're moving all prefix-related discussion to one topic: #3396

[2015-05-28 17:14] #2458 closed

[2015-05-28 17:15] rvanbaalen commented on #2407
https://github.com/angular-ui/bootstrap#need-help

[2015-05-28 17:15] #2407 closed

[2015-05-28 17:16] rvanbaalen commented on #2702
Not an issue.

[2015-05-28 17:16] #2702 closed

[2015-05-28 17:17] rvanbaalen commented on #3017
Cant reproduce this with your plunkr.

[2015-05-28 17:17] #3017 closed

[2015-05-28 17:17] rvanbaalen commented on #2141
https://github.com/angular-ui/bootstrap#need-help

[2015-05-28 17:17] #2141 closed

[2015-05-28 17:18] rvanbaalen commented on #2655
https://github.com/angular-ui/bootstrap#need-help

[2015-05-28 17:18] #2655 closed

[2015-05-28 17:18] rvanbaalen commented on #2937
https://github.com/angular-ui/bootstrap#need-help

[2015-05-28 17:18] #2937 closed

[2015-05-28 17:20] rvanbaalen commented on #2745
Works in v0.13.0

http://plnkr.co/edit/05e7mw3Ep9x07QkSwQFG?p=preview

[2015-05-28 17:20] #2745 closed

[2015-05-28 17:21] rvanbaalen commented on #3053
Bootstrap 0.11 does not support Angular 1.3. Retest with UI Bootstrap 0.13.0 and Angular 1.3 and re-open if this is still an issue.

Also, if this is still an issue, provide a plunkr.

[2015-05-28 17:21] #3053 closed

[2015-05-28 17:22] rvanbaalen commented on #3111
Please reproduce with UI Bootstrap 0.13.0 and Angular 1.3 to confirm this is still an issue and re-open if it is.

[2015-05-28 17:22] #3111 closed

[2015-05-28 17:32] larvanitis commented on #2715
My workaround while working on a proper solution...

##### 1. Load the following script **after** `ui-bootstrap(-tpls).js` (for good measure):

[code]

##### 2. Then, on your tab element add `before-select` attribute:

[code]

##### 3. Use some logic in your controller to prevent the tab switch:

[code]

[2015-05-28 17:52] pjfsilva commented on #2655
Why closed? this is a bug report not a need for help...

[2015-05-28 17:54] rvanbaalen commented on #2655
Seems like the datepicker is working but not for a specific use case you're following. Therefore, this is an implementation question ("How do I use the datepicker within my own directive") instead of a bug report.

[2015-05-28 18:07] cho-is opened #3729 "Just click quickly among the indicators to break the carousel"
So, you just click quickly among the indicators to break the carousel.

Any clue?

[2015-05-28 18:07] pjfsilva commented on #2655
ok, I see your point, agreed.

[2015-05-28 18:23] rvanbaalen commented on #3729
Bug confirmed. Clicking aggressively on the carousel indicators temporarily breaks the functionality.

[2015-05-28 18:52] Kepro commented on #3633
+1

[2015-05-28 19:35] danielpquinn opened #3730 "ngAnimate 1.4 Breaks Modal Animations"
I'm not sure what exactly has changed in ngAnimate 1.4, but I will investigate and try to provide more information. Notice that after the modal is dismissed the background overlay remains in the dom. I've created a plunkr that reproduces the issue here: http://plnkr.co/edit/l63yXaNe3lwZtPuZKrzS?p=preview

[2015-05-28 20:53] Gamemaniak commented on #3730
Angular 1.4 isn't supported yet. Check #3633 for more information.

[2015-05-28 22:49] varmint09 commented on #3722
Taking a close look at npmjs says otherwise;

https://www.npmjs.com/package/angular-ui-bootstrap

When I want to take the latest version, I get 0.12, not 0.13.

[2015-05-28 23:05] rvanbaalen commented on #3722
Who said nom was the official resource to check for UI Bootstrap releases? Last time I checked, you check in the github repo for new releases or other official channels like bower.

The npm release is not maintained by the current team.

[2015-05-29 02:30] tom10271 commented on #743
This hack does not always work. For tooltip you cannot set custom template to dedicated URL.

I use require.js to construct and boot Angular application. Files are putting in different folders.

Angular UI NEVER able to grab the correct URL. It forces me to develop my own directive. It is good to provides UI component to developers but it is working yet not quite working great at all I am afraid.

[2015-05-29 06:30] latch opened #3732 "Datepicker"
If datepicker field set emty (for exemple, click "Clear" button in datepicker widget) in console write error: "Datepicker directive: "ng-model" value must be a Date object, a number of milliseconds since 01.01.1970 or a string representing an RFC2822 or ISO 8601 date." and  form (with datepicker)  be is not valid ($scope.form.$valid is false). I think, that empty (null) value for date field is not

[2015-05-29 06:54] ksmirnoff commented on #3728
Robin,thanks for a prompt response. The issue seems to appear when 'Remove Tab' button is placed inside the dynamically generated tabs' headings. I used your plunk and just added a remove button to each tab heading. When these buttons are clicked the tab control flickers without any tab being removed. When using 'Remove Second tab' button placed outside of the Tabs control everything seems to be w

[2015-05-29 11:30] rvanbaalen commented on #3728
Will do.

[2015-05-29 12:33] danielpquinn commented on #3730
Duplicates [#3633](https://github.com/angular-ui/bootstrap/issues/3633)

[2015-05-29 12:33] #3730 closed

[2015-05-29 12:48] bcd6 commented on #1550
@tinybigideas
I meet the same error. I wonder what your " contradicting directive" cause this? Thany you.

[2015-05-29 14:09] ksmirnoff commented on #3728
Thank you!

     On Friday, May 29, 2015 7:31 AM, Robin van Baalen <notifications@github.com> wrote:

 Will do. —
Reply to this email directly or view it on GitHub.

[2015-05-29 14:14] rvanbaalen commented on #3728
Looking into it, can you please post this question to Stack Overflow. This doesn't seem to be a bug in the library but rather an implementation question on how to do certain custom stuff.

If you post the link to your StackOverflow question here, we can close this and continue our investigation there.

[2015-05-29 14:14] #3728 closed

[2015-05-29 14:37] rvanbaalen commented on #3728
Nevermind. Got the working plunkr right here:

http://plnkr.co/edit/xSmLrrwl5A0sySxy8LCl?p=preview

You should take into account that you block the click event.

[2015-05-29 14:49] ecsplendid commented on #3633
+1

[2015-05-29 15:15] rvanbaalen commented on #3633
@ecsplendid We still don't support Angular 1.4 whether bower likes it or not. The official way to verify stable releases is going to www.angularjs.org and see what versions they are offering. Currently, AngularJS 1.4 is in a release candidate state.

Based on [this comment up here](https://github.com/angular-ui/bootstrap/issues/3633#issuecomment-102980690), I'm closing this issue. Someone can star

[2015-05-29 15:25] ksmirnoff commented on #3728
Robin,thank you so much. It works. Really appreciate your help.
K

     On Friday, May 29, 2015 10:38 AM, Robin van Baalen <notifications@github.com> wrote:

 Nevermind. Got the working plunkr right here:http://plnkr.co/edit/xSmLrrwl5A0sySxy8LCl?p=previewYou should take into account that you block the click event.—
Reply to this email directly or view it on GitHub.

[2015-05-29 16:15] danielsd commented on #3633
Including the corresponding version of ngAnimate and including it in the module does fix the issue. However I don't see this dependency documented anywhere on UI Bootstrap.

If we are supposed to include ngAnimate in order to get UI Bootstrap to fully function, then at a minimum the dependency needs to be added to both the Plunkr and the documentation I linked to. Oddly enough, this doesn't explai

[2015-05-29 16:18] rvanbaalen commented on #3633
@danielsd I agree with you. The documentation needs an update and the dependency definition of the bower project needs that as well. If I'm not mistaken @RobJacobs fixed the dependency recently. If so, that will be tackled as soon as the next release lands.

Since all code (including the docs) is open source, please feel free to help us out on that one and send a PR that includes a better document

[2015-05-29 19:05] deeg commented on #3694
Having a simmilar issue, I will try to create a plunkr.

Not sure it has to do with the state change in UI-Router, you should be able to watch for state change start and use $modalStack.dismissAll to close all open modals.

The issue I run into, is $modalStack.dismissAll will not work for all modals, specifically a modal which was passed a scope which is isolated from the rootScope. If I pass the

[2015-05-29 20:32] rvanbaalen commented on #3633
By the way:

ngAnimate is NOT required as a dependency. UI Bootstrap is fully functioning without it. ngAnimate only adds **optional** eye candy with animations. At least, that's how things are supposed to work.

[2015-05-29 22:38] mohsen1 opened #3733 "Dropdown menu issues with Angular 1.4"
I'm using `ui.bootstrap` in [Swagger Editor](https://github.com/swagger-api/swagger-editor). After updating to `angular@1.4` and `angular-bootstrap@0.13` (from `0.11`) via [this commit](https://github.com/swagger-api/swagger-editor/commit/d461094634adbfc9c88c52a42cc08f849a7d0a85) Dropdown menus [stopped working (failed tests)](https://travis-ci.org/swagger-api/swagger-editor/builds/64491889). I ha

[2015-05-29 23:07] RobJacobs commented on #3733
Angular 1.4 is not supported yet.

[2015-05-29 23:07] #3733 closed

[2015-05-29 23:51] prettycode commented on #2618
+1 `min-mode` isn't respected, whether it's specified as attribute or in `datepicker-options` attribute value object.

[2015-05-30 01:56] GregS2 commented on #3712
Thanks. I'm a bit surprised about what appears to be a lower priority for mobile than desktop. I'm a beginner, and I got the impression that generally, mobile support is considered to be as important, if not more important, than desktop. (I keep seeing "mobile first" design mentioned everywhere, for example). Indeed, the app I am working on will be used more often on mobile devices.  Can you help

[2015-05-30 02:09] rvanbaalen commented on #3712
Its not that we dont want to. Its just that this project has been around for quite some years now and back then, mobile first wasnt really a thing. And right now with 400+ open issues, weve got other priorities than to refactor the whole library to mobile first.

That being said, on the mobile Angular market are other players that do a great job as well such as Ionic Framework etc.

[2015-05-30 02:15] GregS2 commented on #3712
Thanks for the explanation - very much appreciated. Regarding Ionic, I started looking at that, but it seemed to me that in order to support Apple devices, I'd a) have to buy a Mac so I could do the build and b) either release my apps through the Apple app-store, or jump through hoops to get my app to my users some other way. (and I could not find a very simple way to do that).  I found a commerci

[2015-05-30 02:46] rvanbaalen commented on #3712
You have not. That is indeed what Ionic does. And if you're serious about app development, youshould get yourself either a mac or a developer account indeed. Preferably both.

Anyway I like the conversation but I suppose Ill be closing it now. Our focus is on stable desktop support. If we start supporting mobile devices, we're playing a whole different ball game.

[2015-05-30 02:46] #3712 closed

[2015-05-30 04:24] GUSCRAWFORD commented on #2571
my paginator is in a modal, I set the model and page counts on the modal scope, what gives why always page 1?

[2015-05-30 04:31] GUSCRAWFORD commented on #2571
### template.html
Page is always 1
[code]

### controller.js
Unless I'm missing something basic, this is an issue.

My first level $scope is passed into the controller for a directive.
[code]

[2015-05-30 05:07] rvanbaalen commented on #2571
@GUSCRAWFORD dont hijack closed issues and ask your questions on StackOverflow please.

[2015-05-30 09:21] slepkaviba commented on #3694
Sorry for delay. It was exactly same issue. I keep scopes separate and if scope becomes deattached $modalStack cant access methods from it anymore (neither can we).

[2015-05-30 12:15] RouR commented on #1518
[code]

[2015-05-30 12:34] RouR commented on #2599
[code]

[2015-05-30 16:43] rvanbaalen commented on #2599
What are you trying to say here @RouR ?

[2015-05-30 21:47] rvanbaalen commented on #3694
@slepkaviba Please answer the question and provide a plunkr. Without a plunkr reproducing the problem, we won't start investigating it.

[2015-05-30 21:49] rvanbaalen commented on #1837
Closing due to inactivity. Please re-open if you can provide a plunkr and confirm this is still an issue with Angular 1.3 and UI Bootstrap 0.13.

[2015-05-30 21:49] rvanbaalen commented on #2046
Closing due to inactivity. Please re-open if you can provide a plunkr and confirm this is still an issue with Angular 1.3 and UI Bootstrap 0.13.

[2015-05-30 21:49] #2046 closed

[2015-05-30 21:49] rvanbaalen commented on #2118
Closing due to inactivity. Please re-open if you can provide a plunkr and confirm this is still an issue with Angular 1.3 and UI Bootstrap 0.13.

[2015-05-30 21:49] #2118 closed

[2015-05-30 21:50] rvanbaalen commented on #2341
Closing due to inactivity. Please re-open if you can provide a plunkr.

[2015-05-30 21:52] rvanbaalen commented on #2193
Please provide a plunkr and confirm this is still an issue with Angular 1.3 and UI Bootstrap 0.13.

[2015-05-30 21:52] rvanbaalen commented on #2292
Please update the example code (preferably provide a plunkr) and confirm this is still an issue with Angular 1.3 and UI Bootstrap 0.13.

[2015-05-30 21:53] rvanbaalen commented on #2113
Please provide a plunkr and confirm this is still an issue with Angular 1.3 and UI Bootstrap 0.13.

[2015-05-30 21:55] rvanbaalen commented on #2190
Can you confirm this is still an issue with UI Bootstrap 0.13 and Angular 1.3?

[2015-05-30 21:55] rvanbaalen commented on #2282
https://github.com/angular-ui/bootstrap#need-help

[2015-05-30 21:55] #2282 closed

[2015-05-30 21:56] rvanbaalen commented on #2288
Can you confirm this is still an issue with UI Bootstrap 0.13 and Angular 1.3?

[2015-05-30 21:56] rvanbaalen commented on #2498
This can be achieved by using the min and max-date settings.

[2015-05-30 21:56] #2498 closed

[2015-05-30 21:57] rvanbaalen commented on #2481
https://github.com/angular-ui/bootstrap#need-help

[2015-05-30 21:57] #2481 closed

[2015-05-30 21:58] rvanbaalen commented on #2632
Please provide a plunkr and verify this is still an issue in Angular 1.3 with UI Bootstrap 0.13.

[2015-05-30 21:58] rvanbaalen commented on #2654
Please provide an updated plunkr and verify this is still an issue in Angular 1.3 with UI Bootstrap 0.13.

[2015-05-30 21:59] rvanbaalen commented on #2660
https://github.com/angular-ui/bootstrap#need-help

[2015-05-30 21:59] #2660 closed

[2015-05-30 21:59] rvanbaalen commented on #2666
https://github.com/angular-ui/bootstrap#need-help

[2015-05-30 21:59] #2666 closed

[2015-05-30 22:01] rvanbaalen commented on #3732
Sorry, your reported issue is very hard to understand if you don't use some interpunction here and there.

What is exactly your problem? And can you please reproduce this in a plunkr? Without a plunkr, we won't start investigating the issue.

[2015-05-30 22:02] rvanbaalen commented on #3696
Provide a plunkr reproducing your problem. That way we can help investigating it.

[2015-05-30 22:06] rvanbaalen commented on #3121
This is not a bug but an implementation question. Please ask on StackOverflow

https://github.com/angular-ui/bootstrap#need-help

[2015-05-30 22:06] #3121 closed

[2015-05-30 22:27] rvanbaalen commented on #3106
https://github.com/angular-ui/bootstrap#need-help

[2015-05-30 22:27] #3106 closed

[2015-05-30 22:29] rvanbaalen commented on #3072
https://github.com/angular-ui/bootstrap#need-help

[2015-05-30 22:29] #3072 closed

[2015-05-30 22:30] rvanbaalen commented on #3071
We do intend to refactor the datepicker to use momentjs indeed @bierdok. Unfortunately, there is still a lot to be done before we reach that moment.

[2015-05-30 22:52] UltCombo commented on #3072
Well, I don't quite "need help" anymore seeing as the project where I needed this has already been shipped half year ago.
Thanks for the link, though.

[2015-05-30 22:54] rvanbaalen commented on #3072
Yeah, as you can see there is a backlog of open issues and we're spending a lot time to triage these. Every issue will get our attention, even the old ones.

This wasn't an issue therefore I post the link to the 'need help' paragraph in the readme. Questions should be asked on StackOverflow, issues reported on GitHub.

[2015-05-30 22:56] UltCombo commented on #3072
Makes sense. Though, I believe the ["cannot select a time past `21:00`"](https://github.com/angular-ui/bootstrap/issues/3072#issuecomment-66348522) was an actual issue, but it seems to be fixed now.
I'll post future support questions to Stack Overflow or IRC.
Thanks. :smile:

[2015-05-30 23:14] robjames commented on #2660
@rvanbaalen yeah, that doesn't help. I was highlighting more of a bug, and solution, than asking for help. You will find on SO people with similar issues.

[2015-05-31 08:11] RouR commented on #2599
It is workaround. Instead of add ng-class to an <alert>, i add it to "type" property, witch will be translated to class

[2015-05-31 14:26] basco-johnkevin commented on #3631
We're getting the same error after we upgraded to version 0.13.

[2015-05-31 15:50] gtesslerge commented on #102
hi @karianna @hugsbrugs

I try all of the above and still get the panels BELOW the tabs when they need to be to the right of the panels.  Any advice?
thanks

+--------------+ +-------------------------------------+
|              |      |                                     |
+--------------+ |                                     |

+--------------+ |                                     |
|

[2015-05-31 15:51] gtesslerge commented on #102
hi @karianna @hugsbrugs

I try all of the above and still get the panels BELOW the tabs when they need to be to the right of the panels.  Any advice?
thanks

+--------------+ +-------------------------------------+
|              |      |                                     |
+--------------+ |                                     |

+--------------+ |                                     |
|

[2015-05-31 15:51] gtesslerge commented on #102
hi @karianna @hugsbrugs

I try all of the above and still get the panels BELOW the tabs when they need to be to the right of the panels.  Any advice?
thanks

[2015-05-31 15:52] gtesslerge commented on #102
hi @karianna @hugsbrugs

I try all of the above and still get the panels BELOW the tabs when they need to be to the right of the panels.  Any advice?
thanks

[2015-05-31 15:53] gtesslerge opened #3735 "Want latest ajs ui bs tabs on tabs-left to work with panel data to right side"
We cant get out tab panel data to appear to the right of the tabs-left.  they in error appear below.
see attached file

[2015-05-31 15:54] gtesslerge commented on #3735
+--------------+ +-------------------------------------+
|              | |                                     |
+--------------+ |                                     |
+--------------+ |                                     |
|              | |                                     |
+--------------+ |                                     |
                 |                                     |

[2015-05-31 19:43] marc-hughes opened #3736 "DatePicker - manually editing date to an invalid date then back to valid date not working."
Steps to reproduce:

Scenario 1:
http://plnkr.co/edit/vDeypZk4Gq7odCTGRIMf?p=preview
1. Place cursor at end of input
2. Type the number 2
Expected/Actual: This is an invalid date, the "Value" underneath goes blank
3. Delete the number 2
Expected: This is now a valid date again, the "Value" underneath should be displayed
Actual: The value stays blank

Scenario 2:
http://plnkr.co/edit/vDeypZk4Gq7odC

[2015-05-31 19:48] marc-hughes commented on #3736
I believe this is also causing a more common type of error.  If you completely clear the date and then type 2014-05-05
it will not work correctly.  I'm assuming because 2014-05-0 is an invalid date, and then you type the last "5" and hit the bug.

[2015-05-31 20:25] rvanbaalen commented on #3069
I dont see popovers in your plunkr. Can you update it with Angular 1.3 and UI Bootstrap 0.13 to test of this is still an issue?

[2015-05-31 20:26] rvanbaalen commented on #3067
Please provide a plunkr and retest in Angular 1.3 and UI Bootstrap 0.13

[2015-05-31 20:28] rvanbaalen commented on #3063
If I'm not mistaken, this is fixed since https://github.com/angular-ui/bootstrap/commit/9ca4ec399be0e0e8f6c3fe6fd924a7d94ce669b5

[2015-05-31 20:28] #3063 closed

[2015-05-31 20:57] rvanbaalen commented on #3034
Can you please re-test in Angular 1.3 and UI Bootstrap 0.13? Also, provide a link to a plunkr reproducing your problem.

[2015-05-31 20:59] rvanbaalen commented on #3736
At the moment Datepicker as quite a lot open issues. We're currently planning a large refactor on that particular module of UI Bootstrap but don't hold your breath.

[2015-05-31 21:00] rvanbaalen commented on #3735
This is complete rubbish. Come back when you are able to produce a solid issue description complete with plunkr.

[2015-05-31 21:00] #3735 closed

[2015-05-31 21:02] rvanbaalen commented on #3028
Can you please re-test in Angular 1.3 and UI Bootstrap 0.13?

[2015-05-31 21:03] rvanbaalen commented on #3023
Please ask implementation questions on StackOverflow. We'll be happy to answer your questions there.
https://github.com/angular-ui/bootstrap#need-help

[2015-05-31 21:03] #3023 closed

[2015-05-31 21:05] rvanbaalen commented on #3019
Check the current source code. If I'm not mistaken we have a `$modalStack` these days. Retry in UI Bootstrap 0.13 and Angular 1.3 please. Re-open if this is still an issue.

[2015-05-31 21:05] #3019 closed

[2015-05-31 21:06] rvanbaalen commented on #3016
I have no idea what you mean by this. Please provide more information and re-open if you feel the need to do so.

[2015-05-31 21:06] #3016 closed

[2015-05-31 21:13] rvanbaalen commented on #3014
I agree that this can be a useful feature. Feel free to send a PR this way.

[2015-05-31 21:15] rvanbaalen commented on #3013
Go for it! Demonstrate it in a seperate repo/plunkr and if it's cool, we can merge it in. You could also make it a standalone extension for UI Bootstrap.

[2015-05-31 21:16] rvanbaalen commented on #3011
Please ask implementation questions on StackOverflow. We'll be happy to answer your questions there.
https://github.com/angular-ui/bootstrap#need-help

[2015-05-31 21:16] #3011 closed

[2015-05-31 21:18] rvanbaalen commented on #3002
You can already do that by implementing your own custom template.

[2015-05-31 21:18] #3002 closed

[2015-05-31 21:20] rvanbaalen commented on #2991
Please ask implementation questions on StackOverflow. We'll be happy to answer your questions there.
https://github.com/angular-ui/bootstrap#need-help

[2015-05-31 21:20] #2991 closed

[2015-05-31 21:21] rvanbaalen commented on #2961
Closing due to inactivity. Please feel free to re-open once you've tested with the latest UI Bootstrap and Angular JS 1.3 and can confirm this is still an issue.

[2015-05-31 21:21] #2961 closed

[2015-05-31 21:22] rvanbaalen commented on #2957
Please ask implementation questions on StackOverflow. We'll be happy to answer your questions there.
https://github.com/angular-ui/bootstrap#need-help

[2015-05-31 21:22] #2957 closed

[2015-05-31 21:22] rvanbaalen commented on #2954
We don't officially support mobile platforms yet with UI Bootstrap.

[2015-05-31 21:22] #2954 closed

[2015-05-31 21:23] rvanbaalen commented on #2939
Closing due to inactivity. Please feel free to re-open once you've tested with the latest UI Bootstrap 0.13 and Angular JS 1.3 and can confirm this is still an issue.

[2015-05-31 21:23] #2939 closed

[2015-05-31 21:24] #2909 closed

[2015-05-31 21:26] rvanbaalen commented on #2905
Closing due to inactivity. Please feel free to re-open once you've tested with the latest UI Bootstrap 0.13 and Angular JS 1.3 and can confirm this is still an issue.

[2015-05-31 21:26] #2905 closed

[2015-05-31 21:31] rvanbaalen commented on #2877
Can you please re-test in Angular 1.3 and UI Bootstrap 0.13? Also, provide a link to a plunkr reproducing your problem.

[2015-05-31 21:32] rvanbaalen commented on #2877
Aside from the fact that the current day isn't active, this particular issue is fixed now:

http://plnkr.co/edit/7EZbYD3PBqab8WhzZuS1?p=preview

[2015-05-31 21:32] #2877 closed

[2015-05-31 21:34] rvanbaalen commented on #2778
We don't officially support mobile yet.

[2015-05-31 21:34] #2778 closed

[2015-05-31 21:35] rvanbaalen commented on #2753
Can you please re-test in Angular 1.3 and UI Bootstrap 0.13? Also, provide a link to a plunkr reproducing your problem.

[2015-05-31 21:39] rvanbaalen commented on #2752
Fixed in the latest UI Bootstrap 0.13 with Angular 1.3. Don't forget to add ngAnimate manually if you want animated slide transitions.

http://plnkr.co/edit/PcTjVbboIiPNZk4Jr7c2?p=preview

[2015-05-31 21:39] #2752 closed

[2015-05-31 21:40] rvanbaalen commented on #2751
Can you please re-test in Angular 1.3 and UI Bootstrap 0.13?

[2015-05-31 21:41] rvanbaalen commented on #2749
We don't support tablets and phones yet. Also, you can overwrite the template to achieve your goal.

[2015-05-31 21:41] #2749 closed

[2015-05-31 21:42] rvanbaalen commented on #2741
Can you verify this is still an issue? Thanks for reporting though :+1:

[2015-05-31 21:43] rvanbaalen commented on #2736
Please ask implementation questions on StackOverflow. We'll be happy to answer your questions there.
https://github.com/angular-ui/bootstrap#need-help

[2015-05-31 21:43] #2736 closed

[2015-05-31 21:43] rvanbaalen commented on #2714
Please ask implementation questions on StackOverflow. We'll be happy to answer your questions there.
https://github.com/angular-ui/bootstrap#need-help

[2015-05-31 21:43] #2714 closed

[2015-05-31 21:44] rvanbaalen commented on #2714
Closing due to inactivity. Please feel free to re-open once you've tested with the latest UI Bootstrap 0.13 and Angular JS 1.3 and can confirm this is still an issue.

[2015-05-31 21:45] rvanbaalen commented on #2700
Can you please re-test in Angular 1.3 and UI Bootstrap 0.13? Also, provide a link to a plunkr reproducing your problem.

[2015-05-31 21:45] #2700 closed

[2015-05-31 21:46] rvanbaalen commented on #2689
Can you please re-test in Angular 1.3 and UI Bootstrap 0.13?

[2015-05-31 21:46] #2689 closed

[2015-05-31 21:47] rvanbaalen commented on #2686
Use custom templates to overwrite the default ones with your own classes.

[2015-05-31 21:47] #2686 closed

[2015-05-31 21:48] rvanbaalen commented on #2680
Closing due to inactivity. Please feel free to re-open once you've tested with the latest UI Bootstrap 0.13 and Angular JS 1.3 and can confirm this is still an issue.

[2015-05-31 21:48] #2680 closed

[2015-05-31 21:48] rvanbaalen commented on #2669
Can you please re-test in Angular 1.3 and UI Bootstrap 0.13?

[2015-05-31 21:49] rvanbaalen commented on #2667
Can you please re-test in Angular 1.3 and UI Bootstrap 0.13? Also, provide a link to a plunkr reproducing your problem.

[2015-05-31 21:49] rvanbaalen commented on #2649
Can you please re-test in Angular 1.3 and UI Bootstrap 0.13? Also, provide a link to a plunkr reproducing your problem.

[2015-05-31 21:50] rvanbaalen commented on #2608
Can you please re-test in Angular 1.3 and UI Bootstrap 0.13? Also, provide a link to a plunkr reproducing your problem.

[2015-05-31 21:51] rvanbaalen commented on #2607
There are already plenty of alternatives for <select> out there. Even from the Angular UI team see our other repo's.

[2015-05-31 21:51] #2607 closed

[2015-05-31 21:52] rvanbaalen commented on #2603
Can you please re-test in Angular 1.3 and UI Bootstrap 0.13? Also, provide a link to a plunkr reproducing your problem.

[2015-05-31 21:52] #2584 closed

[2015-05-31 21:53] rvanbaalen commented on #2279
Can you please re-test in Angular 1.3 and UI Bootstrap 0.13? Also, provide a link to a plunkr reproducing your problem.

[2015-05-31 21:53] rvanbaalen commented on #2287
Please ask implementation questions on StackOverflow. We'll be happy to answer your questions there.
https://github.com/angular-ui/bootstrap#need-help

[2015-05-31 21:53] #2287 closed

[2015-05-31 21:54] rvanbaalen commented on #2291
Can you please re-test in Angular 1.3 and UI Bootstrap 0.13? Also, provide a link to a plunkr reproducing your problem.

[2015-05-31 21:54] rvanbaalen commented on #2228
Can you please re-test in Angular 1.3 and UI Bootstrap 0.13? Also, provide a link to a plunkr reproducing your problem.

[2015-05-31 22:24] jrief commented on #2607
@rvanbaalen Can you please point me on one of those. [angular-multi-select](http://isteven.github.io/angular-multi-select/#/main) is certainly not one of these, considering its code quality.

In the meantime I released my own [package](http://jrief.github.io/angular-bootstrap-plus/) in order to get this up and running. Adding something such as ``ng-option`` is not an option, because I want to be a

[2015-06-01 00:31] rvanbaalen commented on #2660
Feel free to re-open and provide a plunkr reproducing this issue if it is still an issue. I'm currently triaging 400+ open issues to see which are outdated, which are invalid and which can be closed and I'm trying to give each individual issue all the attention it deserves. However sometimes issues like this one seem to be a request for help while instead they are actually bugs.

If you think you

[2015-06-01 00:32] rvanbaalen commented on #2599
Please demonstrate it in a plunkr instead of providing some copy-paste code out of your project.

[2015-06-01 00:38] rvanbaalen commented on #2607
It's not that hard to click on Angular UI above and search for 'select'; you'll end up with this repo:

https://github.com/angular-ui/ui-select

From your new website:

What do you mean by that?

[2015-06-01 05:34] latch commented on #3732
I'm sorry for the bad explanation. Again briefly.

First I open my form with the datepicker. The Datepicker is empty, all ok. Then I choose some date, all is well. Then I decide to leave this field blank, press 'Clear' button... and that's a problem. In the console I see the error "Datepicker directive: "ng-model" value must be a Date object, a number of milliseconds since 01.01.1970 or a string r

[2015-06-01 05:36] rvanbaalen commented on #3732
Now I get it! Thanks for the explanation.

This issue is a duplicate of #3701

[2015-06-01 05:36] #3732 closed

[2015-06-01 06:08] jrief commented on #2607
OK, now that I saw the example code, things got clearer.
I wrote my first implementation in July/August 2014 and was not aware of angular-ui/ui-select then.

angular-strap offers a ``<select>`` element, but it was not possible to style the content, when I evaluated it.

[2015-06-01 06:25] robjames commented on #2660
Fair enough - thank you.

[2015-06-01 07:43] hoeni commented on #3647
+1 (with Angular 1.4)

[2015-06-01 08:35] NCC1701M opened #3738 "DatePicker: No events like "on-select" supported"
The DatePicker doesn't support events like onSelect. You can only use ng-model to change one date, but what's when you need to select multiple dates or you like to add dates to an array? You have no possibility to do so.

[2015-06-01 08:44] char0n commented on #3647
The only workaround for angular 1.4 that I could find, is to set animation: false when creating new dialog.

[2015-06-01 13:40] j-walker23 commented on #2108
fyi, i was getting this as well in the latest code just noe. I just put a `ng-if` on the same scope property that is set in `total-items` in the html of the directive.

This way the watch does not fire again and fudge up the calculation.

[2015-06-01 14:03] arjunasuresh3 commented on #2016
+1

[2015-06-01 14:49] SoundLogic commented on #3638
I've completed an initial pass on this - I decided to create a new control called `$popupDialog`. It is very similar to the `$modal` code. It's working great, but I found there can be an issue with an edge case (or maybe this is more common than an edge case?). One of my use cases is to show a preview of the popup dialog when the user mouses over a data point. If they don't click on that point, th

[2015-06-01 15:04] marc-hughes commented on #3736
I would suggest that the datepicker is marked deprecated in the documentation so people don't start using it in production environments.

[2015-06-01 15:12] JimmyBoh opened #3739 "Modals do not animate out"
When closing or dismissing a modal, the element is immediately removed from the DOM, instead of gradually fading or sliding back up and then being removed once the animation is done.

[2015-06-01 15:24] rvanbaalen commented on #3739
Please use the searchfunction. This has been reported before.

[2015-06-01 15:24] #3739 closed

[2015-06-01 15:26] rvanbaalen commented on #3736
It's not deprecated, it's just not actively developed at the moment.

[2015-06-01 15:29] marc-hughes commented on #3736
Perhaps deprecated was the wrong word.  A notice exactly like your comment would probably help set the right expectations so people don't feel burnt.

    At the moment Datepicker has quite a lot open issues.
    We're currently planning a large refactor on that particular
    module of UI Bootstrap but don't hold your breath.

[2015-06-01 15:32] rvanbaalen commented on #3736
Good one. I'll discuss it with the other maintainers right away.

[2015-06-01 15:51] codewzrd opened #3740 "Calendar popup squished in Firefox 39 Beta"
Check out the plunker http://plnkr.co/edit/XVUQfP

All I did was set the width on the second p.input-group to be 150px. The calendar popup is squished.

It's OK in Chrome and IE 11.

![datepicker](https://cloud.githubusercontent.com/assets/23690/7916827/4aa8b33e-0854-11e5-9c4f-a5fca4afd1ef.PNG)

[2015-06-01 16:01] RobJacobs commented on #3705
Under PR #3666 I moved the $timeout call for setting focus to the datepicker popup to this line:

https://github.com/angular-ui/bootstrap/pull/3666/files#diff-6240fc17e068eaeef7095937a1d63eaeR695

Moving the document click bind to the $timeout like so:

    $timeout(function() {
      scope.$broadcast('datepicker.focus');
      $document.bind('click', documentClickBind);
     }, 0, false);

Does n

[2015-06-01 16:06] johnnyreilly commented on #3705
Great - thanks for the update!

[2015-06-01 17:44] brandonarbini commented on #2956
+1, just ran into this. Not sure how to fix it or I'd submit a PR.

[2015-06-01 18:25] andrexx commented on #2669
Ok. I will check in the next few days.

[2015-06-01 20:35] ryanburnett opened #3741 "Modal close method keypress"
When you use the modal and press the Escape key it calls the `dismiss` method.

Is there a way to use the Enter (or Spacebar) key to call the `close` method?

https://angular-ui.github.io/bootstrap/#/modal

[2015-06-01 21:59] germanger commented on #3647
Is it possible to set that (`$modalProvider.options.animation = false;`) via config and not in every modal?

[2015-06-02 00:55] zerowang opened #3742 "Typeahead - Ability to set a class to the ul element"
It would be handy if css class could be applied to typeahead popup ul element, especially when typeahead-append-to-body set to true. Thank you.

[2015-06-02 03:17] rvanbaalen commented on #3742
You can just overwrite the typeahead template.

[2015-06-02 05:55] philBrown commented on #3647
@rvanbaalen you're wrong about the official Angular 1.4 release. It was tagged 6 days ago (one day prior to your comment) ~ https://github.com/angular/angular.js/releases/tag/v1.4.0

[2015-06-02 08:16] char0n commented on #3647
@germanger yes it is:

$modal.open({
    animate: true|false
});

[2015-06-02 09:36] rvanbaalen commented on #3647
@philBrown ah well.. Cant always be right :wink: thanks for correcting me.

[2015-06-02 10:27] MaxiSir commented on #2667
http://plnkr.co/edit/tY7i7NO3CxGe3NKBVj2O?p=info

it works now with UI Bootstrap 0.13.
To test it, just downgrade the version of UI Bootstrap to 0.11

[2015-06-02 11:07] MalteFabian commented on #3050
@DieterLi Some comments in your Plunker would be very helpful. I don't get where the $localeChangeSuccess event is fired. It wasn't simple to find the scope.move method (ui.bootstrap, datepicker directive), either.

[2015-06-02 11:18] DieterLi commented on #3050
@MalteFabian Please refer to this git repo: https://github.com/lgalfaso/angular-dynamic-locale, in line 112 of the source, you can find $localeChangeSuccess is broadcasted.

And as to "scope.move(0)", I think it's in the mechanism of AngularJS decorator function, which will be injected during the directive being compiled. While not a ui.bootstrap.datepicker scope, but a general scope under directi

[2015-06-02 13:21] bolemeus opened #3743 "improvement: add id's to tabs in tabset"
I have a tabset in my application and I'd like to add an id to the different tabs in a tabset, because of testing reasons.

I was able to do this by adding a tab-id to the tabs like so...

[code]

I changed the template for the tabs to the following

[code]

Offcourse I've added the tabId to the scope of the directive as well.

Can this be implemented in this library?

[2015-06-02 13:25] yourrock opened #3744 "Scope issue with modals"
Hi,

First, I'm new to GitHub so let me apologize beforehand for any mistakes.

I wanted to define a custom scope for the modal (I don't want to use dependency injection for reasons) I am using in my project, but I'm getting an error whenever I define a scope in `$modal.open`. Here is the plunk: http://plnkr.co/edit/rbtbpyqG7L39q1qYdHns

I tried debugging and saw that `(modalOptions.scope || $root

[2015-06-02 14:08] satheeshsanthosh opened #3745 "Toggle Collapse is not working"
Toggle collapse is not working in the current version. It works good in older version in ui-bootstrap-0.12.0.js

[2015-06-02 14:09] LeleDev commented on #3633
Angular 1.4.0 has been released

[2015-06-02 15:29] iorlas commented on #3619
Sooo... what's a solution here?

[2015-06-02 15:39] jberzins commented on #3633
animation: false is workaround for me.

[2015-06-02 16:37] rvanbaalen commented on #3743
Well the way you're implemented it, is exactly the way we suggest how to customise UI Bootstrap: overwrite default templates with your own custom templates. There's no need to actually add this to the library for two reasons:

- You're able to do this by overwriting the custom template with your own, just the way it's supposed to
- Adding ID's to tabs is perhaps useful for your specific use case,

[2015-06-02 16:37] #3743 closed

[2015-06-02 16:40] rvanbaalen commented on #3744
No need to apologize. But let me give you this advise: all open source project have a certain way of handling issues and questions. The issue tracker on GitHub is **not** a forum for questions. You can read about each project's individual do's and don't mostly in the [README.md](https://github.com/angular-ui/bootstrap) or the [Wiki](https://github.com/angular-ui/bootstrap/wiki).

In our case, plea

[2015-06-02 16:40] #3744 closed

[2015-06-02 16:41] rvanbaalen commented on #3745
Add a plunkr and a scenario for us to reproduce this problem (browser used, AngularJS version, UI Bootstrap version, etc.)

[2015-06-02 16:42] rvanbaalen commented on #3619
@iorlas There is no solution since @ScottFred didn't post a plunkr for us to reproduce the problem yet. When he does, we're able to check what's wrong and draw a conclusion. But it seems like, like I've said in my last comment, you should just include `angular-animate` in your project.

[2015-06-02 17:12] deeg commented on #3694
Creating a plunker wasn't working for me, so it must be another issue than the isolate scope. Still trying to pin it down.

Upon further investigation, I believe it has to do with the $animation service. If I change animation to false everything works fine.

When animation is on and it is not working the following callback is never called correctly:

          domEl.one('$animate:close', function

[2015-06-02 17:30] erquhart commented on #3515
@chrisirhc you mentioned exposing the triggers to allow custom handling logic - is that on the roadmap by chance?

[2015-06-02 17:30] adamdva commented on #3624
We are using ui-bootstrap 0.13.0 and using $modal also. Just tried upgrading to angular 1.4.0 and now see this issue. The modal appears to close, but the element is still there. We are using backdrop static, so the page is then unresponsive, and the divs are still found when using the developer element explorer.

[2015-06-02 18:16] iorlas commented on #3619
@rvanbaalen sadness ;_;
I'll try to make plnkr in spare time, but I'm not sure right now how to isolate problematic code part.
Btw, `angular-animate` is included in project, since its function mentioned in error traceback. But it is definitely something wrong with animation API in ng13, since it was reworked in ng13, I'm not sure.

[2015-06-02 18:40] luboid commented on #2228
Hi

http://plnkr.co/edit/RNXoQj?p=preview

I think it working, I expect when dialog is open and datepicker-popup is focused, then when I press ESC window to be closed.

[2015-06-02 18:54] rvanbaalen commented on #2228
Based on your plunkr, I consider this issue fixed.

[2015-06-02 18:54] #2228 closed

[2015-06-02 18:54] rvanbaalen commented on #3738
For support questions, please read:

https://github.com/angular-ui/bootstrap#need-help

[2015-06-02 18:55] rvanbaalen commented on #3740
Please check again when the stable Firefox 39 is out. We can't support beta releases.

[2015-06-02 18:55] #3740 closed

[2015-06-02 18:57] rvanbaalen commented on #3741
First of all; questions are asked on StackOverflow:
https://github.com/angular-ui/bootstrap#need-help

Second: your suggestion would be highly unintuitive if you ask me. A user won't expect to close a modal when they press space or enter.

[2015-06-02 18:57] #3741 closed

[2015-06-02 18:57] #3742 closed

[2015-06-02 19:02] YidingW commented on #2688
+1

[2015-06-02 19:46] CloudNiner commented on #3683
@rvanbaalen bumping since I'm not sure you guys would have seen a notification come through for the associated PR I submitted awhile back. If you're already aware of it, then nevermind!

[2015-06-02 20:13] rvanbaalen commented on #3683
Thanks @CloudNiner. Did miss the PR notification indeed. Will take a look at it this week I hope.

[2015-06-02 21:40] scrivy commented on #2123
@m0x72 worked for me! thanks!

[2015-06-03 05:05] NCC1701M commented on #3738
This is no seek for help. It's a feature request!

[2015-06-03 05:51] Slimmmo commented on #2618
The min-mode problem is very odd. Would love a fix.
http://plnkr.co/edit/CoqkFvOM7GGNPHzb3iGq?p=preview
Thanks.

[2015-06-03 06:06] rvanbaalen commented on #3738
Technically, you we're just venting your opinion. I'll re-open as a feature request :+1:

[2015-06-03 06:07] rvanbaalen commented on #2618
Feel free to submit a PR, @Slimmmo

[2015-06-03 06:41] NCC1701M commented on #3738
Unvented ;-)

[2015-06-03 07:43] satheeshsanthosh commented on #3745
Here the plunker link.
http://plnkr.co/edit/JiM9mRXaAUmY3H8mU9RO?p=preview
The smooth toggle effects is not working in current version.

[2015-06-03 07:52] rvanbaalen commented on #3745
Hmmpff.. Even with `angular-animate` included, it doesn't work. This issue is reproducible even in the demo plunkr. Thanks for spotting that bug! I'll tag Chief Animations @chrisirhc here so he can take a look when he's got time.

[2015-06-03 08:40] Digambar14 opened #3746 "Don't have ability in rating directive for mentioning step value?"
I am using **rating** directive but come to know that we can not specify the step value. I want user to be able to give half star but with this directive user can step by 1 only. Please any one help what changes I need to do in order to get desired output.

[2015-06-03 09:31] starf commented on #3634
Thanks for the quote tip, was struggling with this.

[2015-06-03 09:43] mario56 opened #3747 "modal close event"
how can i use $on to get modal close or dismiss event.

not use the result.then promise

[2015-06-03 09:57] sushantdhiman opened #3748 "[date-picker] Is it possible to get hook for current selected date when using the keyboard navigation"
Date-picker has good aria support, it allow navigation through keyboard. But date is changed only when user hits enter / space.

Are there any possible hooks which give the `current selected date` when navigating via keyboard.

[2015-06-03 10:37] pkozlowski-opensource commented on #3747
There is no such event and we are not planning on adding one, ad the thinking is that promises provide much nicer API. Unless you can provide a valid use case where event based api is much better.

[2015-06-03 11:51] jakobgoldstein opened #3749 "Controllers of tabs execute multiple times"
When I click on a tab, the corresponding controller gets executed 4 times. Whys that?

Html Tabs:
[code]
States:
[code]

[2015-06-03 11:53] leobudima commented on #3694
Agreed, came down to same conclusion, $animate:close never fires.

[2015-06-03 11:54] rvanbaalen commented on #3746
https://github.com/angular-ui/bootstrap#need-help

[2015-06-03 11:54] #3746 closed

[2015-06-03 11:55] rvanbaalen commented on #3747
In addition to the above, https://github.com/angular-ui/bootstrap#need-help

[2015-06-03 11:55] #3747 closed

[2015-06-03 11:56] rvanbaalen commented on #3748
I think you mean current focussed date, based on the fact that you're talking about keyboard navigation?

[2015-06-03 11:57] leobudima commented on #3745
Could be related to https://github.com/angular-ui/bootstrap/issues/3694

[2015-06-03 11:59] rvanbaalen commented on #3749
Plunkr please.

[2015-06-03 12:08] stefanwalther opened #3750 "Issue with closable tabs"
Hi,

I am having an issue with closable tabs. I wanted to add an icon to the tabs to be able to close the tab.
Strangely the content-panel is removed, but not the tab itself.
It is important for me that the directive itself is solving that.

Here is the example demonstrating that:
https://jsfiddle.net/stefanwalther/k9n17609/6/

Regards
Stefan

[2015-06-03 12:13] jakobgoldstein commented on #3749
Should this work? Never set up a plunkr for angular...

[2015-06-03 12:57] jakobgoldstein commented on #3749
How can I execute a controller for each tab?

[2015-06-03 13:08] trishrempel commented on #3736
Glad I found this thread, I've had tons of headaches getting the validation working properly.

[2015-06-03 13:42] sushantdhiman commented on #3748
I have noticed that there is already something like that [activeDate]( https://github.com/angular-ui/bootstrap/blob/master/src/datepicker/datepicker.js#L59) available. But its not exposed to public API.

May be if we can expose `activeDate`. Then code should be able to `watch` it safely without any performance issues.

[2015-06-03 13:58] jakobgoldstein commented on #3749
I fixed it by placing the ui-view outside the tab:

´´<tabset>
            <tab ng-repeat="tab in vm.tabs"
                 heading="{{ tab.text | translate }}"
                 ui-sref="p.search.details.{{ tab.id }}"
                 active="tab.active">
            </tab>
         </tabset>
         <div ui-view></div>``

[2015-06-03 13:58] #3749 closed

[2015-06-03 15:22] HarrisRobin commented on #3635
+1

[2015-06-03 15:23] icfantv commented on #3634
@karianna sorry, just saw your label.  can you please provide PR instructions?  i've never done one before and the contributing article doesn't seem to give steps.

[2015-06-03 15:52] rvanbaalen commented on #3750
Possible duplicate of #3728 ?

[2015-06-03 16:04] rvanbaalen commented on #3634
Well we don't provide such information since there are plenty of resources out there that do. 1 simple google search let me do this page for you:

https://help.github.com/articles/creating-a-pull-request/

[2015-06-03 16:11] rvanbaalen commented on #3634
Nevermind the PR, I'll fix this now.

[2015-06-03 16:12] #3634 closed

[2015-06-03 16:12] rvanbaalen commented on #3634
Next release, this will be fixed in the docs.

[2015-06-03 17:34] johnculviner commented on #3633
:+1:  on this issue. I'm going like this for now to globally fix it:
[code]

[2015-06-03 17:55] #3683 closed

[2015-06-03 18:02] stefanwalther commented on #3750
Hi, yes and no, but I realize that my question is about creating a **new directive** which is based on the AngularUI directive and also allows deleting a tab from within the tab.
So I posted the question on http://stackoverflow.com/questions/30619994/remove-tabs-from-angularui-tabs/30621529#30621529

[2015-06-03 18:02] stefanwalther commented on #3750
... ;-) although I still think it should work and is more or less a bug ;-)

[2015-06-03 19:14] canebat opened #3752 "Carousel does not do smooth transitions in v0.13.0"
The Carousel no longer smoothly transitions into the next slide in v0.13.0.  What happens now is it instantly switches to the next slide.

It was working in v0.12.1.

[2015-06-03 19:42] rvanbaalen commented on #3752
Use the search please. Duplicate of #3648

From that thread:

[2015-06-03 19:42] #3752 closed

[2015-06-03 19:43] rvanbaalen commented on #3750
Well since it's an issue with your **new directive** and not with UI Bootstrap, StackOverflow is indeed the right place to go.

[2015-06-03 19:43] #3750 closed

[2015-06-03 19:49] deeg commented on #3745
@leobudima, were you able to create a plunker showing the issue? When I tried the issue wasn't happening, which means there might be something else in my code which causes the issue.

[2015-06-03 19:49] deeg commented on #3694
@leobudima, were you able to create a plunker showing the issue? When I tried the issue wasn't happening, which means there might be something else in my code which causes the issue.

[2015-06-03 19:59] rvanbaalen commented on #3745
@leobudima how is a collapse bug related to a modal bug?

[2015-06-03 20:33] phil-arista opened #3753 "Tooltip on initially hidden button shows in wrong location"
Hello,
I'm using ng-mouseover and ng-mouseout to toggle the visibility of buttons in a table row. The problem is that each button tooltip anchors at the top-left corner of the table and not the button.

angular: 1.3.15
angular-ui: 0.12.1

Note: Also using angular-smart-table but I don't think that's related to the issue here.

[code]

[2015-06-03 20:42] pcnate commented on #3676
I have a similar issue. The element is hidden on page load, I set an initial `$scope.collapse = false;` as the first line in my controller. It just pops into view well after page load with no animation. Animation works after that.

[2015-06-03 20:44] stefanwalther commented on #3750
Any help would still be very appreciated ;-)

[2015-06-03 20:46] rvanbaalen commented on #3750
Yes, but not here. This is an issue tracker with 400+ issues that need attention, not a forum for help.

[2015-06-03 20:51] rvanbaalen commented on #3753
UI Bootstrap 0.12 does not support AngularJS 1.3.

Please update to the latest UI Bootstrap (0.13) first. If the issue still persists, create a plunkr that reproduces the problem.

[2015-06-03 20:52] rvanbaalen commented on #3351
Closing due to inactivity.

[2015-06-03 20:52] #3351 closed

[2015-06-03 20:53] rvanbaalen commented on #3384
@jareddlc Can you please answer @wesleycho's question?

[2015-06-03 21:00] stefanwalther commented on #3750
;-) You are right, sorry!

[2015-06-03 21:09] phil-arista commented on #3753
Success! Thank you

[2015-06-03 21:09] #3753 closed

[2015-06-03 22:12] mattvague commented on #3258
Would be nice if `debounce` was supported as well

[2015-06-03 22:17] jareddlc commented on #3384
@rvanbaalen I cant quiet remember, I know i've tried various ways and nothing ended up working correctly. I am certain I tried doing just that, but when you pass $scope I believed it only looked for specific objects. I ended up abandoning that entire feature because I couldn't get it working.

[2015-06-03 22:38] rvanbaalen commented on #3384
Either way; please add a plunkr reproducing your problem.

[2015-06-03 23:06] rhutchison commented on #3633
http://angularjs.blogspot.com/2015/05/angular-140-jaracimrman-existence.html

[2015-06-04 07:42] chrisirhc commented on #3609
You should see `28/04/200` in text box and typing `5`, it'll pass the date parsing. That's the intended behavior, but it might be broken. See #3736

[2015-06-04 07:43] Kenvdb opened #3754 "Modal backdrop isn't fading out"
Hi guys,

Hope you can help me out. I have the following setup:
    "angular-bootstrap": "~0.13.0",
    "jquery": "~2.1.4",
    "bootstrap-sass-official": "~3.3.1",
    "ui-router": "~0.2.15",
    "underscore": "~1.8.3",
    "angular-animate": "~1.4.0",
    "angular": "~1.4.0"

Everything is working fine, except for the Modal, it's showing properly, but when I close the modal, the backdrop isn't f

[2015-06-04 07:46] bondneverdies opened #3755 "[Carousel] TypeError: Cannot read property 'index' of undefined"
In [carousel.js#L76](https://github.com/angular-ui/bootstrap/blob/master/src/carousel/carousel.js#L76), if *slides.length == 0*, **newIndex** will be **NaN**.
This will cause **function getSlideByIndex(index)** to throw an error on [L52](https://github.com/angular-ui/bootstrap/blob/master/src/carousel/carousel.js#L52) :
[code]

[2015-06-04 07:47] sushantdhiman commented on #3748
I have created an addon which can work independently from Datepicker API.

[Here](https://gist.github.com/sushantdhiman/0b1957bfb096c1addccf) is the GIST if anyone need this feature without waiting for "Purgatory" updates.

It works by watching the [activeDate](https://github.com/angular-ui/bootstrap/blob/master/src/datepicker/datepicker.js#L59).

[2015-06-04 09:39] Kenvdb commented on #3754
Fixed by downgrading setup to:
    "jquery": "~2.1.4",
    "bootstrap-sass-official": "~3.3.1",
    "underscore": "~1.8.3",
    "angular": "=1.3.13",
    "angular-bootstrap": "=0.12.1",
    "angular-animate": "=1.2.16",
    "ui-router": "~0.2.15"

[2015-06-04 10:13] satheeshsanthosh commented on #3745
Thanks. But even after included angular-animate also not working. Check my plunkr again.

[2015-06-04 12:43] dlwhiteman opened #3756 "Button row with popovers squish together after popovers activated on Chrome"
I found an issue on Chrome & Safari that does not occur on IE11 or Firefox.  If you have a row of buttons, all with popovers defined, if you activate all the popovers simultaneously, the buttons move together with no gap between them.  This is evident in the demo found in the popover section of this site.  We are using these popups in our application and are having the same issue reported by our t

[2015-06-04 13:22] rvanbaalen commented on #3754
Please use the search function. This is a duplicate.

[2015-06-04 14:51] RobJacobs commented on #3756
What your seeing is whitespace between elements with the 'display: inline-block' style being rendered prior to the popover being injected into the DOM.  Once the popover element is injected between the inline-block elements, it seems to replace the whitespace.  See [this](https://css-tricks.com/fighting-the-space-between-inline-block-elements/) article for more info on dealing with that quirk.

[2015-06-04 14:51] #3756 closed

[2015-06-04 14:59] #3754 closed

[2015-06-04 14:59] rvanbaalen commented on #3755
Plunkr please.

[2015-06-04 15:10] #3649 closed

[2015-06-04 17:56] wesleycho commented on #3676
@pcnate can you reproduce this in a [Plunker](http://plnkr.co/)?

[2015-06-04 17:57] wesleycho commented on #3748
This sounds like a reasonable feature, although this should be opt-in if it were implemented.

[2015-06-04 18:01] wesleycho commented on #3745
You must specify `ngAnimate` as a dependency - you can see it working [here](http://plnkr.co/edit/NCqGLmgHVrfNKjA0mZjA?p=preview).

[2015-06-04 18:02] #3745 closed

[2015-06-04 19:40] ccadieux opened #3760 "Epoch time validation error"
When using epoch time (new Date.getTime()) as the model for the date picker. The date is displayed correctly but the field is marked as invalid.

Here is a demo:
http://plnkr.co/edit/Y0cw379HBTjqn7gIyqmG?p=preview

[2015-06-04 19:58] OverZealous commented on #3694
I'm experiencing the same issue.

[2015-06-04 22:11] wesleycho commented on #3699
Do you know what event gets fired when either of those buttons are entered on the iOS keyboard?

[2015-06-04 22:50] wesleycho commented on #3699
I did a little investigation using a monkeypatch of UI Bootstrap with [this Plunker](http://plnkr.co/edit/UObGhi7CKuB2Camep4LW?p=preview), and it looks like Safari is not firing any event when one presses tab, shift + tab, >, or <, the latter two being on the iOS keyboard.

I am not sure what we can do here, since it looks like an iOS Safari bug.

We can however catch the enter keypress, since `ev

[2015-06-04 23:27] mattvague commented on #764
+!

[2015-06-05 00:49] shashikantj commented on #892
@vanslly there is a size option for modal
[code]

[2015-06-05 02:58] rvanbaalen commented on #764
**No more +1 comments please**

That way we can be notified about comments that actually need attention instead of being flooded with +1's

[2015-06-05 04:43] atinsood opened #3763 "Preventing dismissal of typeahed when certain items in the list are clicked"
I am trying to implement a functionality where the type ahead list contains a list of suggestions and a View More at the bottom. Clicking on View More should bring down more suggestions and append the list with these new suggestions without dismissing the suggestion list. Clicking on any other item in the list should select the item and dismiss the list. Also I am fetching the items for this list

[2015-06-05 04:51] rvanbaalen commented on #3763
Please ask questions on StackOverflow.

https://github.com/angular-ui/bootstrap#need-help

[2015-06-05 04:51] #3763 closed

[2015-06-05 05:09] atinsood commented on #3763
Sorry, saw some old questions in github and assumed that you were handling questions via this approach. I did go ahead and open up the question on SO . Here is the link in case someone ends up on this link looking for the same information http://stackoverflow.com/questions/30658739/preventing-dismissal-of-angular-ui-typeahed-when-certain-items-in-the-list-are-c

[2015-06-05 06:00] wesleycho commented on #3403
I believe this issue is currently fixed in master - see the forked version of that Plunker based on current `master` [here](http://plnkr.co/edit/U3nuipb1Z0aLhLCRS536?p=info).

Let us know if this is still an issue.

[2015-06-05 06:02] wesleycho commented on #3342
Can you try using this proposed patch from #3759? In particular, try copy/pasting the built version of UI Bootstrap from [this Plunker](http://plnkr.co/edit/k54L20Ux3VkND7yAK2Kh?p=preview) and let me know if this fixes the issue.

[2015-06-05 09:04] satheeshsanthosh commented on #3745
sorry, i forgot that.

[2015-06-05 09:37] lucienbertin commented on #3676
I had problems with this too, could you update the dependencies on the [home page](http://angular-ui.github.io/bootstrap/#/getting_started)

also, the plunker for the collapse does not work due to the missing ngAnimate so that's a bit desorienting

[2015-06-05 09:41] apandichi commented on #3403
Hi @wesleycho, thanks for your input.

In your new plunkr, the date input is no longer formatted when String and Long values are set. Also, the  openStartDate($event) button on the right does not work anymore. When running the plunkr, the JS console is throwing an error: "TypeError: Cannot read property 'initDate' of undefined"

Is this expected behaviour? I see that ui-bootstrap.js version is 0.1

[2015-06-05 10:21] SvenJunga opened #3764 "Carousel slides in wrong order"
Hi,

there's a bug in the carousel when the number of slides increases. (ui-bootstrap 0.13.0)
Check this plunker example: http://plnkr.co/SDAVaJIULWhWFS3fWZHu
The indicator selected after page load is wrong. And proceeding through the slides lets the indicator jump rather arbitrary.

Regards
Sven

[2015-06-05 10:38] pkarikh commented on #981
@pkozlowski-opensource am I right that because of this bug there is no way to use ng-model-options getterSetter something like that?
`<input type="text" class="form-control"
                id="elem-{$ $id $}" ng-model="value.value"
                ng-model-options="{ getterSetter: true }"
                typeahead="option for option in value.getOptions()">`

[2015-06-05 10:50] rvanbaalen commented on #3763
No harm done. Thanks for posting the link.

[2015-06-05 11:07] raymMM opened #3765 "Modals that contain directives that require outer controller fail"
Problem: when a modal template contains directives that require an outer controller, this outer controller must be present in the template otherwise it will fail.
I have created a test case here: http://embed.plnkr.co/UN5gqhrdZXHmWbqDA6Xg/preview
Clicking 'Open Popup' opens the modal. Then clicking 'ok' should call a function from a required outer controller. Unfortunately it will not be found.

R

[2015-06-05 11:32] pkarikh commented on #981
Also, may be this bug is related: https://github.com/angular-ui/bootstrap/issues/3258

[2015-06-05 12:51] raymMM commented on #3765
Hi Robin,
could you give me some insight on your decision to put the code in the purgatory?
BR, Ray

[2015-06-05 12:55] SamMorrowDrums commented on #3034
I'm using the latest releases now, and I haven't encountered the problem in a long while. Not sure if it's still an issue.

[2015-06-05 12:57] stenebenau commented on #2108
I have the same issue; Is there anyone with a work-around?
My app is running on 0.13.0 release.

[2015-06-05 13:08] wesleycho commented on #3403
Hmm, so it looks like

[2015-06-05 13:09] wesleycho commented on #3403
I will take a look at that today then.

[2015-06-05 13:17] wesleycho commented on #3687
We should probably put a workaround in UI Bootstrap then, even if Safari's buggy behavior is the culprit in this case.

[2015-06-05 13:23] rvanbaalen commented on #3765
From what I can tell in this short time it's basically an implementation issue. I'm still researching if this is an enhancement request or just a question that should be asked on StackOverflow.

That's why I put it there and didn't close it right away.

[2015-06-05 13:27] rvanbaalen commented on #3034
Thanks for getting back. I'll go ahead and close this issue for now. Please re-open if you still encounter this problem.

[2015-06-05 13:27] #3034 closed

[2015-06-05 13:37] raymMM commented on #3765
Thanks Robin. I think that the current implementation does not allow what I
am trying to do here. Is it a bug? Depends on whether or not the modal
should follow the same rules as ng-include for example.

Therefore I created a possible solution,
https://github.com/angular-ui/bootstrap/commit/50a561a16bc538c8f895f6abfc268fe6e5084cbc

On Fri, Jun 5, 2015 at 3:24 PM, Robin van Baalen <notifications@gi

[2015-06-05 13:50] WydD opened #3766 "No true "[top|bottom]-left" available in $position"
Currently, "top-left" refers to the target element and the host element aligned on left due to:
left: function () {
    return hostElPos.left;
},

But there is no way to align, target's element to the left side of the host element like:
farleft: function () {
    return hostElPos.left - targetElWidth;
},

"top-right" does this (left side aligned with the right side of the host).

[2015-06-05 13:53] wesleycho commented on #3403
I updated the Plunker and removed the datepicker-options attribute there, since it was set to `undefined`. It appears that the formatting works, but the validation is not right when the number is set to a string representation. This would be buggy behavior here still and is a legitimate issue.

[2015-06-05 13:58] rvanbaalen commented on #3765
In my opinion, a modal should be self containing without parent controller dependencies. I'll ask some team members to take a look at this issue and make sure we're all on the same page.

[2015-06-05 14:13] dermoritz commented on #1114
+maxInt

[2015-06-05 14:24] Hotell commented on #2637
duplicate of #3306

[2015-06-05 15:53] kiksebegolovy commented on #2994
+1

[2015-06-05 16:11] thomasgerard commented on #3699
Wesley,
Thanks a lot for looking at that issue. I tested your plunkr on iOS (iPhone 5), the blur event is triggered, but setting 'hasFocus' to false doesn't fix the problem for "<", ">" and "OK" keyboard buttons. There's also a regression : if you try to edit a field you already filled, the cursor is stuck at the beginning and you can't write or delete.

I forked your plunkr and tried [a little fi

[2015-06-05 16:27] dozed opened #3767 "popover-template works in 0.13.0-SNAPSHOT but not in 0.13.0"
See http://plnkr.co/edit/rvkSvgdInhrsBNP4WXdy?p=preview

It could be related to `useContentExpr` which has been introduced after the SNAPSHOT.

Also `popover-class` does not work in SNAPSHOT, but it works in the 0.13.0 release.

[2015-06-05 16:48] rvanbaalen commented on #1114
**Adding more +1's does not add anything to the discussion**

*Please put your efforts in creating a PR or suggestions for creating this feature instead of posting +1's*

[2015-06-05 17:02] rvanbaalen commented on #3766
Please provide a plunkr

[2015-06-05 17:07] wesleycho commented on #3699
`hasFocus` is pre-existing code, and is involved with other logic.

I took a look at your suggestion with a re-addition of your variable, and it breaks on the iOS Simulator in Safari for the iPhone 6.

[2015-06-05 17:36] wesleycho commented on #3765
I do not believe we should support this. If a custom template is wanted, why not just specify this in a template and load the template with the $modal service?

This use case also has the additional issue that it is cumbersome to work with in general due to template clutter of mixed concerns.

I am inclined to reject this suggestion and close the issue, but I also would like to hear another opinio

[2015-06-05 17:42] deeg commented on #3633
Is there any update on this? Don't really want to have to turn animations off if possible.

I noticed this issue is labled with Angular 1.4 tag. The update in the top comment said it is for angular 1.3. I also have the issue on Angular 1.3.

[2015-06-05 17:46] rvanbaalen commented on #3633
I said this:

And @neaped replied:

That's why it has a AngularJS 1.4 label. If you're experiencing this issue in 1.3 with UI Bootstrap 0.13, please create a plunkr that demonstrates your problem.

[2015-06-05 18:18] RevanProdigalKnight commented on #3633
It originally started out as an Angular 1.3 issue due to the sudden inclusion of the ngAnimate dependency, but people latched on top the Angular 1.4 issue because the ticket title didn't specify a version. The 1.4 stuff really should be in its own ticket and this one should be closed, but... \*shrugs\*

[2015-06-05 18:44] pgkehle commented on #3633
FWIW: As much as I'd hate to have to call this simple function for every modal I'd use, this does work and keeps animations:

          $('div.modal').removeClass('fade').addClass('hidden');
          $('body').removeClass('modal-open');
          $('.modal-backdrop').remove();

[2015-06-05 19:12] jusopi commented on #759
I finally got this working after quite a bit of hassle with the aforementioned proposed solutions.  These were the scenarios that I had to have this working for:

- user clicks inside input to trigger opening of dropdown for:
  - existing values on model
  - when model is undefined/blank
  - when existing model value is a number

Sorry this is in Coffeescript.... should be self explanatory however

[2015-06-05 21:20] VictorCoding commented on #625
@courtneyfaulkner thanks alot! great plnkr. In my case i had to trigger the popover to close when selecting an item inside the popover.

[2015-06-06 00:27] CloudNiner commented on #3683
Great news, thanks!

[2015-06-06 15:46] vprasanth commented on #2780
Considering the plunkr is based on 0.11.2 and that I can't reproduce on versions >0.11.2, should this be marked closed now?

@pkozlowski-opensource @robianmcd

[2015-06-06 16:59] chrisirhc commented on #3403
I'm thinking we should consider dropping support for any input type that can't be parsed using the date format available described in https://docs.angularjs.org/api/ng/filter/date .

The reason for this is that this violates the idea of the date format. The format can't be used for parsing and if it's used for output, it makes the output/input asymmetric (input is number, output is string). That's

[2015-06-06 19:05] dtrebbien opened #3769 "collapse CSS transitions do not work with a Bootstrap navbar in ui-bootstrap 0.13"
Test case:

[code]

This was derived by:

 1. Copy the example Navbar code from http://getbootstrap.com/components/#navbar
 2. Add ` ng-controller="HeaderNavController as headerNav"` to the &lt;nav&gt; element.
 3. Add ` ng-click="isCollapsed = !isCollapsed"` to the menu toggle button.
 4. Add ` collapse="isCollapsed"` to the \#bs-example-navbar-collapse-1 element.

Run this example in a browser.

[2015-06-06 21:04] szabyg commented on #1114
Thank you for the hint! I didn't realize that this is not a discussions point but an open feature request waiting for a PR!
So what can you imagine as a solution? Should an empty timepicker field be shown as empty or should it be an option so that unchanged usage shows the same strange behaviour?
Anyways, is it on purpose that the current time goes into the field?

[2015-06-06 23:50] dtrebbien commented on #3769
Here is the test case as a Plunker:
http://plnkr.co/edit/PTlBoyemqbClajzyV1vj?p=preview

[2015-06-07 09:55] webilhan commented on #740
I have faced with the same problem.
Does anyone found a solution?

[2015-06-07 12:50] szabyg commented on #1114
What I figured out is that this seems to be a feature that noone requested for. Let me explain:

* There's a test [`it('has 'selected' current time when model is initially cleared', ...)`](https://github.com/angular-ui/bootstrap/blob/master/src/timepicker/test/timepicker.spec.js#L108) introduced by b08e993fb472f386c69b713d89c466ca642b1ffe that describes the behaviour as expected. Empty ng-model, n

[2015-06-07 16:47] j-walker23 commented on #2108
@stenebenau did my comment above not work for you? Has been working well for me so far, on `0.13.0`.

[2015-06-07 18:06] chrisirhc commented on #3760
I was considering removing support for epoch time as the model. Is there a particular use case you're fulfilling with this? As I commented on https://github.com/angular-ui/bootstrap/issues/3403#issuecomment-109617617 , this usage of the datepicker is quite confusing.

[2015-06-07 18:25] #3729 closed

[2015-06-07 18:48] chrisirhc commented on #3688
Closing due to inactivity.

[2015-06-07 18:48] #3688 closed

[2015-06-07 18:55] chrisirhc commented on #3673
This is intended behavior. The active class is only on the element when the mouse is down during a click. When the mouse button is released, the `btn-info` class is applied (`dt.selected == true`). To style it, you should restyle the `btn-info` class instead of `active`.

[2015-06-07 18:56] #3673 closed

[2015-06-07 23:04] chrisirhc commented on #2613
Looking into this issue and looks like https://github.com/angular-ui/bootstrap/pull/2619 adds 40 watchers on the typical use case, even if no custom class was provided.

[2015-06-08 02:04] rvanbaalen commented on #3769
Since 0.13, you should add Angular Animate (ngAnimate) as a dependency in order for transitions to work.

See forked plunkr:
http://plnkr.co/edit/B9suaOG8YeCvAvnZ3BA4?p=preview

[2015-06-08 02:04] #3769 closed

[2015-06-08 02:07] rvanbaalen commented on #3767
I'm confused what you are trying to say here. The GitHub issue tracker is for reporting issues on official releases of UI Bootstrap. We're not accepting issue reports for custom builds or unofficial releases.

[2015-06-08 02:09] rvanbaalen commented on #3767
Regarding your 'issue', you should just define the `popover-template` within single quotes:

http://plnkr.co/edit/5r1mJmBBAX8ucNHhjYW8?p=preview

[2015-06-08 02:09] #3767 closed

[2015-06-08 02:20] rvanbaalen commented on #3764
Seems like a legit bug. The question is however, do we support dynamic carousel items using ng-repeat?

I think we should, however the answer to the question defines if this is a bug or an enhancement request.

[2015-06-08 08:02] chrisirhc commented on #2780
Thanks for checking, @vprasanth . I'm closing this then.

[2015-06-08 08:02] #2780 closed

[2015-06-08 08:40] SvenJunga commented on #3764
Hey Robin,

maybe I didn't make myself clear enough. There's no dynamic adding/removing of slides involved in this. By "increase" I meant there's a certain number of static slides in the carousel and exceeding this certain number unveils the described bug.

Regards
Sven 

Am 08. Juni 2015 um 04:20 schrieb Robin van Baalen <notifications@github.com>:

Seems like a legit bug. The question is however

[2015-06-08 09:28] marcusstockton commented on #2391
Is there a way to clear the data? i've been trying and so far, can clear the data in the background, but the dates in the input don't get updated.
I'm resetting the data in a Angular ClearFilters directive?
The following is an extract. The other fields are all cleared on the call except this date picker. I've tried using null as well.

    $scope.clearFilters = function () {
        $scope.DatePic

[2015-06-08 10:21] SafiX opened #3772 "Expand / Collapse animation within table issue regression"
Hi,
I found that upgrading from version 0.12.0 to version 0.13.0 affected the way expand / collapse animation within a table works.

Here's an example of an expected behavior with a nice animation (version 12) -
http://codepen.io/SafiX/pen/jPmZEx

Here's the exact same example but with version 13. The animation isn't working -
http://codepen.io/SafiX/pen/vOmdOX

Thanks,
Asaf

[2015-06-08 10:43] slavafomin commented on #3701
This is a very annoying bug indeed. Is there a temporary workaround for this that we can use externally?

Thanks!

[2015-06-08 10:56] slavafomin commented on #1114
We need this so bad = )
:+1:

Is there a temporary workaround that can be used externally? Thanks!

[2015-06-08 11:11] dozed commented on #3767
You might want to improve the docs then a bit:

    popover-template takes text that specifies the location of a template to use for the popover body.

Also I surely did not want support for an "unofficial release", it was merely to help finding a possible issue.

But thanks for helping!

[2015-06-08 11:35] rvanbaalen commented on #3772
Please use the search function. Plenty of people reported this and it all comes back to including ngAnimate in your project.

If you add ngAnimate, do the animations work for you?

[2015-06-08 11:38] pkozlowski-opensource commented on #3772
Doesn't look like including ngAnimate is the only problem: http://codepen.io/anon/pen/wadyEx
@SafiX BTW, you do _not_ need to include Bootstrap's JS

[2015-06-08 11:51] xtreemrage opened #3773 "Typeahead demo async not working IE9"
The Typeahead demo, with async, does not work in IE9 (latest Chrome works).
Getting an error: Error: access denied. I assume that this is an CORS error.

angular-ui bootstrap: v0.13.0

[2015-06-08 11:51] SafiX commented on #3772
Hi,
Thanks for the responses.
As pkozlowski-opensource mentioned, it doesn't work with ng-animate included.

Expand / collapse does work outside of a table in version 13.

[2015-06-08 12:02] bhavnaberi opened #3774 "Customize typeahead popup template"
I have three typeaheads on my html page. Each of these use AngularJs Bootstrap Typeahead. I can modify the template of the match by using the following:
<script type="text/ng-template" id="template/typeahead/typeahead-match.html">
    <a class="abc" tabindex="-1" bind-html-unsafe="match.label | typeaheadHighlight:query"></a>
</script>

However I want to modify the outer template for the typeahead

[2015-06-08 13:35] intensite commented on #1903
Has this issue been resolved?  Is there a work around?

The problem appears when the user clicks on an item after partially typing content in the typeahead.  The blur event is fired with only the portion that was typed and not the full item selected, thus causing serious validation issues.

[2015-06-08 13:40] CharlJKruger commented on #3658
Im also having the same problem, the docs read 'min-date' but the directive reads, 'minDate'

Both dont work - plunker: http://plnkr.co/edit/tzPIcr3kdizlWr94pVDI?p=preview

[2015-06-08 13:52] michael34 opened #3775 "Datepicker disables months if the first day in a month is a disabled day"
*  version of AngularJS used: 1.3.15
*  version of this library that you are using: 0.13.0
*  3rd-party libraries used, if any: select2
*  and most importantly - a use-case that fails:
As described in the title datepicker disables the selection of months of which the first day is a disabled day.
See here:
http://plnkr.co/edit/7vOiIFppcexvPe3hXq6B?p=preview
Click und the year to select the months.

[2015-06-08 15:50] sebastianhenneberg commented on #2421
I added nesting capabilities to the dropdowns and created a PR. Please check out the referenced PR #3776 or grab my [monkey-patch](https://gist.github.com/sebastianhenneberg/acb0a5e7b0e63006c699). Any feedback is highly appreciated!