[2015-03-25 19:25] RobJacobs commented on #3437
Let's give others a chance to comment, I'm not sure if that's the intended behavior or not.

[2015-03-25 21:04] Rosewood99 commented on #2373
Throwing my vote in for configurable z-index.  Running into an issue right now.

[2015-03-25 21:22] wesleycho commented on #3440
Feel free to file a pull request fixing this.

[2015-03-25 21:25] Asvarduil commented on #3440
Will do gladly, when the time comes.  There are two other issues that came to my attention on the project that I am working on (the two tickets linked in the OP) that might affect the final shape of what gets pushed.  For the time being I was wanting to wait on those other issues, before making any hasty pull requests.

[2015-03-25 21:27] wesleycho commented on #3440
Understood, I will try to triage your other ticket in the next few days and see what would be the best courage of action on UI Bootstrap is (hopefully tonight, but I am tired today).

[2015-03-25 23:24] karianna commented on #2529
Will close for now - can be reopened if one of the OPs comes back.

[2015-03-25 23:24] #2529 closed

[2015-03-25 23:25] karianna commented on #3146
Thanks for the link

[2015-03-25 23:25] #3146 closed

[2015-03-25 23:29] wli commented on #2529
Works for me - thanks!

[2015-03-25 23:33] karianna commented on #2708
Closing, thanks

[2015-03-25 23:33] #2708 closed

[2015-03-25 23:37] karianna commented on #3436
https://github.com/angular-ui/bootstrap#support

[2015-03-25 23:37] #3436 closed

[2015-03-26 03:02] AdamBuczynski commented on #2910
Bootstrap 3.3 also seems to have some additional glyphicons which are not present in angular-ui/bootstrap. I've tried the following, but they don't work:

[code]

Possibly more are missing.

[2015-03-26 08:11] tkazec opened #3444 "Popover doesn't support html"
Even though tooltip does...

[2015-03-26 09:05] Foxandxss commented on #3444
We are working on that in #1848

[2015-03-26 09:05] #3444 closed

[2015-03-26 09:41] gregmuellegger commented on #3342
I assume that it's related to this JS behaviour:
![image](https://cloud.githubusercontent.com/assets/88278/6843538/6d096b74-d3a4-11e4-95c5-39fee75417f5.png)

Tested in Chromium Version 41.0.2272.101 (64-bit) on Linux

Firefox does the right thing:
![image](https://cloud.githubusercontent.com/assets/88278/6843569/9fa5a1d8-d3a4-11e4-9460-3d69b3362cb0.png)

[2015-03-26 13:20] danielbsig commented on #3101
To clarify even further: the problem disappears if the IP address (i.e. 127.0.0.1) is used instead of "localhost".

[2015-03-26 14:12] AlexCppns opened #3446 "Datepicker format inconsistent."
If I do something like:
[code]

The expected format of max-date is mm-dd-yyyy which is not what it should be.

[2015-03-26 14:38] uriklar opened #3447 "typeaheaed - before select callback"
Is there anyway to execute a callback after selection a value but before the ng-model actually changes?
Thanks! Uri

[2015-03-26 15:37] pgu commented on #3040
+1

[2015-03-26 15:39] jplegoff commented on #3040
+1

[2015-03-26 15:45] karianna commented on #3446
Fixed on master

[2015-03-26 15:45] #3446 closed

[2015-03-26 15:46] karianna commented on #3447
https://github.com/angular-ui/bootstrap#support

[2015-03-26 15:46] #3447 closed

[2015-03-26 15:57] quilicicf commented on #3040
+1

[2015-03-26 16:18] RobJacobs commented on #3040
You can already define the triggers for a tooltip like so:

    tooltip-trigger="focus manual"

Additional triggers can be added though the tooltip provider as described in the docs [here](http://angular-ui.github.io/bootstrap/#/tooltip).  PR #2148 adds access to the tooltip scope isOpen variable to allow for more control on when to show and hide the tooltip.

[2015-03-26 16:28] tdhsmith commented on #3432
@wesleycho well you *can* programmatically close the datepicker. Just change the value that you set in `is-open`; datepicker-popup watches that. :wink:  (Though I see that this isn't documented in the popup settings, even though the example uses it...)

However @cleon26, you shouldn't need to change anything about your scopes or have to manually determine if other datepickers are open. The issue i

[2015-03-26 19:55] steelsojka commented on #2373
+1

[2015-03-26 22:44] BobbieBarker commented on #3434
I think the core idea i was trying to communicate is we should be open to reinventing the API where it makes sense. We shouldn't box ourselves into supporting an API from 1.* if it doesn't make sense to do so. We should keep our options open.

[2015-03-26 23:01] chrisirhc commented on #1636
Note to self/maintainers refer to https://github.com/angular/angular.js/pull/10732

[2015-03-27 00:01] emgeee opened #3448 "Change keyboard dismissal from modal controller"
Is there anyway to disable the dismissal of the modal via the escape key from within the modal controller? The use case for this would be a modal that makes an http request. When a user opens the modal and is interacting with it, it's convenient to allow them to dismiss the modal via the escape key. Once a request has been sent, however, you want to remove that ability so they modal isn't closed a

[2015-03-27 00:26] NicoJuicy opened #3449 "Visual Studio - bower install angular-bootstrap can't use a correct dependency of angularjs"
bower install angular-bootstrap

Tried with both angular 1.2.16 and angular 1.2.28

Command + results
PM> bower install angular-bootstrap
bower angular-bootstrap#*       cached git://github.com/angular-ui/bootstrap-bower.git#0.12.1
bower angular-bootstrap#*     validate 0.12.1 against git://github.com/angular-ui/bootstrap-bower.git#*
bower angular#>=1 <1.3.0        cached git://github.com/angular/

[2015-03-27 02:59] BobbieBarker commented on #3449
The fact that you said it works fine if you use your regular command line tool indicates the problem isn't with bower or the angular-bootstrap project. Will re-open if additional information is provided that suggests otherwise.

[2015-03-27 04:23] chrisirhc commented on #375
@thegreatmichael thanks for mentioning that issue, we can use that as a reference implementation.

[2015-03-27 04:26] #96 closed

[2015-03-27 04:26] #1109 closed

[2015-03-27 04:31] chrisirhc commented on #3079
Is this related to https://bugzilla.mozilla.org/show_bug.cgi?id=1079720 ?

[2015-03-27 04:58] chrisirhc commented on #2952
@karianna I did that because we lacked resources to look into this and also, datepicker is pending quite a bit of refactoring. I'm putting it into Backlog. This is clearly a very desirable feature.

[2015-03-27 05:29] BobbieBarker commented on #3448
In my humblest of opinions this request is far to nuanced and based on your specific use case to justify exposing an API to disable certain key bindings.

[2015-03-27 05:36] chrisirhc opened #3450 "Make releases less painful"
Creating a stub issue here for discussion and thoughts.

Past work to reference: #1666

[2015-03-27 05:53] chrisirhc commented on #3366
Thanks for the reproduction. You're right #2155 isn't fixed.

[2015-03-27 06:01] chrisirhc commented on #2487
Moving to purgatory as there hasn't been any updates.

[2015-03-27 06:31] wesleycho commented on #3448
I don't think this should have been closed so fast.

This has some valid use cases, such as if the intent is to force user action on something.

[2015-03-27 06:40] wesleycho commented on #3449
There is a label for more info - in general give the benefit of the doubt.

@NicoJuicy please provide more info, there should not have been a conflict there from the bower CLI as far as I understand.

[2015-03-27 07:57] NicoJuicy commented on #3449
I think the same (Visual Studio bower = cmd.exe bower) but i haven't found anything that suggests there a difference... But there is one

NodeJS at version 0.10.33 (both)
Bower at version 1.3.12 (both)

It goes wrong here : validate 1.2.28 against git://github.com/angular/bower-angular.git#>=1 <1.3.0, for some reason. It thinks that 1.2.28 is not valid, so it can't find another version.

When i us

[2015-03-27 07:57] #3449 closed

[2015-03-27 09:11] techmodo commented on #1012
+1

[2015-03-27 09:33] boillodmanuel commented on #3040
I've found a solution in SO which can help for the PR.
- link to SO: http://stackoverflow.com/questions/20267967/create-hoverable-popover-using-angular-ui-bootstrap
- direct link to jsfiddle: https://jsfiddle.net/6awhrcec/

[2015-03-27 10:15] DumboJet opened #3451 "DatePicker - Performance issues with popup + other stuff"
Using one of Chromes add-ons for performance evaluation, I have seen this:

![image](https://cloud.githubusercontent.com/assets/8492662/6865702/38fd23e0-d479-11e4-842c-76be403524cd.png)

I have only one datepicker (if I am not mistaken) in sight, so this is quite disturbing...
I cannot imagine what happens with more...
Do you think it would be possible to remove the popup from the DOM when it is n

[2015-03-27 10:34] karianna commented on #3451
I *think* most of this is fixed in master - but we'll keep this around for reference

[2015-03-27 11:22] gitnik commented on #1012
:+1:

[2015-03-27 13:56] wesleycho commented on #3451
We actually had a meeting yesterday, and performance is an issue that we know of with the datepicker.  We are focusing on getting everything functional with Angular 1.3 first (1.4 compatibility should not be difficult from there from what I understand) for the 0.13.0 release, and then we intend on tackling performance optimizations across the board, but especially with the datepicker and paginatio

[2015-03-27 14:01] kipusoep commented on #1688
+1

[2015-03-27 14:15] hugsbrugs commented on #157
Where are we ?

I'm using angularjs 1.3.3, ui-bootstrap-tpls-0.12.1.min.js (and a bunch of other plugins) and still get this error :

[$compile:multidir] http://errors.angularjs.org/1.3.3/$compile/multidir?p0=match&p1=typeaheadMa…%3D%22match%22%20query%3D%22query%22%20template-url%3D%22templateUrl%22%3E

Where can I manually change the match directive name to avoid this conflit (If I have correctl

[2015-03-27 14:16] gitnik commented on #2216
:+1: this is super confusing

[2015-03-27 15:12] cdroulers opened #3452 "Auto open for tooltip"
As seen here : https://github.com/imcnally/bootstrap/blob/master/src/tooltip/tooltip.js#L163

The tooltip can't be opened automatically right now. I really don't know where to start but I'd love to contribute. If someone can point me in the right direction to get the tooltip open, I'll be more than happy to create a pull request!

[2015-03-27 15:47] gitnik commented on #2069
:+1: same issue here

[2015-03-27 16:03] RobJacobs commented on #3448
See #3371

[2015-03-27 16:04] RobJacobs commented on #3452
See PR #2148

[2015-03-27 17:08] cdroulers commented on #3452
I'll check it out, thanks.

[2015-03-27 18:05] ayakovlevgh commented on #3079
Partially yes.
Actually, I could reproduce three cases of this problem:

1. Win 7; GMT +3 /+6; current date = Dec 10, 2014.

   Problem with `new Date(2014, 0, 1)` and some other dates.

   This case is described in bugzilla's ticket you are referencing to.

2. Win 7; GMT -3; current date doesn't matter.

   Problem with `new Date(2016, 9, 16)` and lots of other dates.

   Also described in a topi

[2015-03-27 18:18] boillodmanuel commented on #3040
Another link with vanilla js solution: http://jsfiddle.net/WojtekKruszewski/Zf3m7/22/

[2015-03-27 19:01] alpemaca commented on #2373
+1

[2015-03-27 20:15] rvanbaalen commented on #3428
In my opinion this is not an issue but just native behavior. UI Bootstrap does not add custom CSS rules since the only CSS we depend on comes straight from Twitter Bootstrap.

So @jgehrcke regarding this:

It's none. It's expected browser behavior (browser adds outline on focussed elements).

If you don't want this to happen, you can just use the snippet you mentioned earlier in your own CSS to cu

[2015-03-27 21:37] austinpray commented on #3261
Would love to PR but don't know what problem https://github.com/angular-ui/bootstrap/blob/f13ed0fb8430128aec79473fe6e7398707afc16c/src/dropdown/dropdown.js#L16-L18 is solving.

[2015-03-27 22:16] #3452 closed

[2015-03-28 00:18] chrisirhc opened #3454 "Update devDependencies"
Stub issue to remember to do this

[2015-03-28 03:31] fernando-sendMail commented on #2884
Hello:
I found this issue too, and since I need to create a workaround for this I want to work out this this weekend. Is anybody working on this currently or is it done yet?

If not, let me know so I can do it, and do a pull request.

On a side note I've never made a contribution, do you have any additional guidelines besides the ones posted on github, say for this project in particular?

Thanks f

[2015-03-28 04:31] wesleycho commented on #1636
We definitely should look to try to tackle this sometime soon.

[2015-03-28 04:36] rvanbaalen commented on #1636
@wesleycho Added feature for 0.14?

[2015-03-28 04:42] wesleycho commented on #1636
We might want to think about doing this after 0.13.0 is out, and add support for CommonJS.

[2015-03-28 04:44] BobbieBarker commented on #1636
I agree with Wesley
On Mar 27, 2015 9:42 PM, "Wesley Cho" <notifications@github.com> wrote:

[2015-03-28 06:47] yabasha commented on #2216
+1 to super confusing, the documentation needs to be more clear

[2015-03-28 07:10] kether667 commented on #2875
+1

[2015-03-28 13:50] jgehrcke commented on #3428
@rvanbaalen: the existence of the outline is expected, clearly. That is not questioned in this issue (does it appear like that?).

It is the distorted geometry which is not expected.

[2015-03-28 13:55] rvanbaalen commented on #3428
Aah allright I misunderstood you on that point. I'm affraid we must close this issue though. This is clearly a browser and/or styling issue which we both aren't able or willing to influence.

[2015-03-28 13:55] #3428 closed

[2015-03-28 14:35] karianna commented on #2884
Nothing special, except for make sure it's covered by tests :-) go for it!

[2015-03-28 18:01] kama06 opened #3455 "pagination not update ng-model if use with ng-if"
Since I want to remove pagination if item count is 0, so I add ng-if to pagination element.
Let's check http://plnkr.co/edit/KULrMwX2UbcVAweOccpP?p=preview
when I click on each page, current page number not change.

[2015-03-28 18:46] chrisirhc commented on #3001
We plan to remove `$transition` in favor of `$animate` in the upcoming release.

[2015-03-28 19:47] chrisirhc opened #3457 "Consider dropping ngDocs"
Looks like this isn't used, and it's sort of broken. Doing `grunt ngdocs` creates a documentation page that doesn't seem to work properly. Not sure whether to remove it entirely or fix it later.

[2015-03-28 19:48] chrisirhc opened #3458 "Upgrade to Jasmine 2.2"
Now using old version of karma-jasmine because our tests need some work to update to Jasmine 2.2 .

[2015-03-28 20:44] #220 closed

[2015-03-28 21:36] QuentinFchx commented on #220
:joy:

[2015-03-28 21:41] texasinstrument commented on #1565
Disabling ngAnimate works for me, but I need animation for elements inside my carousel. Is there a proper fix for this so carousel works with ngAnimate?

[2015-03-28 22:42] ameckoni commented on #2171
Thanks @CarlosCuevas  I had the same question (first panel to be open by default) and the solution suggested by you worked.

[2015-03-29 03:55] wesleycho commented on #3457
We should probably remove it completely if it is broken - the demo page serves as our documentation page currently, as the library generally is pretty simple to use.

I know the Angular team created dgeni, we can probably try migrating to that as a docs solution.

[2015-03-29 08:21] nomospace commented on #220
Your guys kicked ass!

[2015-03-29 08:32] karianna commented on #3455
https://github.com/angular-ui/bootstrap#support

[2015-03-29 08:32] #3455 closed

[2015-03-29 08:43] #2171 closed

[2015-03-29 10:46] rkriitr commented on #2999
if (matches && matches.length > 0)  prevents the undefined error, but first time, the matched dropdown does not show up anyway. Please tell me what needs to be done.

[2015-03-29 11:10] rkriitr commented on #2999
sorry, in the code
<input ng-model="brandChainName"
			typeahead="name for name in brandChainNames | filter:$viewValue | limitTo:8"
			typeahead-template-url="columnTwo.html" >
brandChainNames  was not intialized. Now it is working. It is not a bug in bootstrap, it is bug on the coder's part.

[2015-03-29 16:34] chrisirhc commented on #1565
This is fixed on master.

[2015-03-29 16:56] texasinstrument commented on #1565
@chrisirhc  I tried using the latest angular ui (0.12.1) bootstrap and also angularJS1.3.14 but it still has the same problem when ngAnimate is included as dependency. Here's plunkr that demonstrate it http://plnkr.co/edit/G9TegO1cgJ2SenBV4I0Z?p=preview

[2015-03-29 18:26] rvanbaalen commented on #1565
@texasinstrument Like @chrisirhc said, it's fixed in the **master** branch, not in `v0.12.1`. Can you try again by using the master branch?

[2015-03-29 18:26] rvanbaalen commented on #1565
@texasinstrument Like @chrisirhc said, it's fixed in the **master** branch, not in `v0.12.1`. Can you try again by using the master branch?

[2015-03-30 04:34] BenBlazely commented on #2424
FYI, with the changes in master the issue I reported is no longer occurring. Nicely done! :-)

[2015-03-30 04:38] chrisirhc commented on #2670
It looks like this was a bug in AngularJS 1.2 . This is now fixed if you upgrade to AngularJS 1.3 . Since our next release (0.13) moves support to AngularJS 1.3 and above, this issue won't be valid once the 0.13 is released.

Reference Plunker with AngularJS 1.3: http://plnkr.co/edit/VNXiMsLlmqAhOwgy7Agt?p=preview

For AngularJS 1.2 users, an alternative fix is to insert the following style in you

[2015-03-30 04:41] #2670 closed

[2015-03-30 05:01] chrisirhc commented on #3437
Actually, there is a bug here, if the input is a string, we're not parsing it with the format specified. I would've expected that this would be resolved by changing the format to `yyyy-dd-MM`.
We should also clarify this behavior on the documentation once it's fixed.

Plunker with reproduction:
http://plnkr.co/edit/bUVOwxo2eDM1pkvpminW?p=preview

[2015-03-30 06:45] elgs opened #3466 "Is it possible to make tabs optionally dismissible/closable?"
Is it possible to make the tabs optionally dismissible/closable just like the dismissible alerts? Thanks. -Elgs

[2015-03-30 07:22] Yappli commented on #220
I want to cry. Thanks everybody.

[2015-03-30 07:59] #1007 closed

[2015-03-30 08:15] chrisirhc commented on #2545
Resolved via #3273 (7ccff028ff5ed19af63d9cf1f5e078223924f3a0)

[2015-03-30 08:15] #2545 closed

[2015-03-30 09:03] karianna commented on #220
FYI - Actually resolved in 0.13.0 but due to GitHub DDOS I can't change the milestone

[2015-03-30 09:13] metanav commented on #220
Will it be part of 0.12.2 release?
What is the expected release date (or month) of 0.12.2 or 0.13.0?

[2015-03-30 09:23] karianna commented on #1565
Closing - can be reopened if OP finds its not fixed on master.

[2015-03-30 09:27] karianna commented on #3466
https://github.com/angular-ui/bootstrap#support

[2015-03-30 09:27] #3466 closed

[2015-03-30 09:32] karianna commented on #220
There won't be a 012.2, 0.13.0 is the next release, no concrete ETA yet.

[2015-03-30 10:20] yabasha opened #3467 "Slide menu from left/right"
Hi,

I tried to make collapsed menu slide from left or right using angular-ui by adding custom css classes but I couldn't make it work as I described above, can anyone help me about that?

Thanx,

[2015-03-30 10:44] Foxandxss commented on #3458
With some we mean a lot, lot of stuff changed, but I can do that.

[2015-03-30 10:48] karianna commented on #3467
https://github.com/angular-ui/bootstrap#support

[2015-03-30 10:48] #3467 closed

[2015-03-30 12:39] rnicholls opened #3468 "Disable Year / Month Navigation"
Is there a way to disable month / year navigation. I can go into the code and do this, but I am just wondering if there is a way to do this within the options. Or if this will be a feature added to future versions.

Thank you.

[2015-03-30 12:41] Foxandxss commented on #3468
Yes: http://plnkr.co/edit/JKlxWfHV1n1qJyYOEpZx?p=preview

[2015-03-30 12:41] #3468 closed

[2015-03-30 13:44] bagnos opened #3471 "Bad format DatePicker in Angular 1.3.14 on init from Date JavaScript"
when we initialize DatePicker from Date Javascript Object bind by ng-model we have this string:

Mon Mar 30 2015 15:22:54 GMT+0200 (ora legale Europa occidentale)

instead of

30/03/2015

es:

<input type="text" class="form-control"
	datepicker-popup="dd/MM/yyyy" ng-model="evento.dt" is-open="opened"
	min-date="minDate" max-date="'2015-06-22'"
	datepicker-options="dateOptions"
	date-disabled="disa

[2015-03-30 13:53] wesleycho opened #3472 "Split Datepicker component off to its own repository"
The datepicker has been a big pain - the UI Bootstrap team has floated the idea of splitting it off to its own repository so it could get the maintenance that it deserves without bogging down the release cycle.

Thoughts?

### Possible challenges
- [ ] dependency on tooltip / position service
- [ ] dependency on dateparser service

[2015-03-30 14:46] rvanbaalen commented on #3472
Like discussed in [last meeting](https://github.com/angular-ui/bootstrap/wiki/Meeting-minutes#meeting-thursday-march-26th) I agree with splitting it out to it's own repo. That way we can channel efforts to the right components and keep a clear issue tracker for instance.

We also mentioned porting a full featured jQuery datepicker like the one from eterniecode to Angular without the jQuery depende

[2015-03-30 15:36] BobbieBarker commented on #3472
I also agree with what was said during the meeting obviously the datepicker
has become a noose around this projects neck
On Mar 30, 2015 7:47 AM, "Robin van Baalen" <notifications@github.com>
wrote:

[2015-03-30 16:25] tdhsmith commented on #3472
Interesting. I can definitely see even as a casual observer how this would be helpful. Almost half of the issues on the front page are datepicker-related.

datepicker also seems to draw more help/support tickets than its companions, so perhaps this would be an opportunity to address that (expanded docs, easier to browse issues, single meeting area for people knowledgeable in it). And smaller repos

[2015-03-30 17:58] karianna commented on #3471
Issue is fixed on master.

[2015-03-30 17:58] #3471 closed

[2015-03-30 18:11] emaish commented on #2308
+++

[2015-03-30 21:01] trendzetter opened #3473 "popover-placement not respected when using popover-template"
When using the new popover template the placement is always default.
I am using this branch:
https://github.com/chrisirhc/angular-ui-bootstrap/tree/feature/popover-template

[2015-03-30 21:38] ndarilek opened #3474 "Improve modal accessibility"
I'm attempting to improve the accessibility of some angular-ui modals, and am wondering if more can be done out of the box to make them workable by default. In general, modal accessibility is a bit complex and app developers almost always get it wrong, so it'd be great if the default experience could be better. But I'm unfortunately not familiar with Angular internals, so I'm hitting a bit of a wa

[2015-03-31 00:00] HasithaGunasinghe opened #3475 "Datepicker within a ngGrid, where the Grid is inside a modal"
date-picker is not working when the control is inside the ngGrid, where the grid is inside of a modal. It acts as an input text controls as the calendar popup does not popup on focus.

Plunkr:
http://plnkr.co/edit/CpzmNwwlXDDD0ZP6jgLf?p=preview

[2015-03-31 00:17] chrisirhc commented on #3473
Please create a Plunker to demonstrate your issue.

[2015-03-31 00:30] BenBlazely commented on #2424
Sorry, I've found cases where the modal still doesn't close smoothly when another animation on a child  element is running. I'll have a look at the new code in master and see if I can work out a fix for it.

[2015-03-31 00:50] chrisirhc commented on #2424
Do create a Plunker that demonstrates it, if possible.

[2015-03-31 01:00] BenBlazely commented on #2424
Will do if I can't track it down today.

I slowed down the .modal.fade and .fade transitions by a few seconds in bootstrap.css to try and make it easier to see... and it stopped occurring. :(

(not discounting that it could all be in my head)

[2015-03-31 01:04] BenBlazely commented on #2424
Now I can't reproduce it with the tighter timings back in place either. I wonder if I might have had the old code cached somewhere? Sorry, I'll keep an eye on it.

[2015-03-31 01:52] brysbra commented on #1012
+1

[2015-03-31 02:07] hamfastgamgee commented on #3451
FWIW, just using one-time bindings in the template gets you a long way towards good performance.

[2015-03-31 03:37] wesleycho commented on #3313
Closing, #3435 was merged.

Let us know if this is still an issue.

[2015-03-31 03:37] #3313 closed

[2015-03-31 03:37] wesleycho commented on #3375
Closing, as the popover was refactored to support ngAnimate.

Let us know if this is still an issue.

[2015-03-31 05:04] #2218 closed

[2015-03-31 05:06] wesleycho commented on #2218
Landed from #3045.  This will be in the next release.

[2015-03-31 05:45] trendzetter commented on #3473
My mistake. It works with popover-template-placement. I was trying with popover-placement.

[2015-03-31 08:47] alanquigley commented on #221
Why is this closed? ng-include does not work inside modals.

[2015-03-31 08:52] pkozlowski-opensource commented on #221
@alanquigley it was closed as a duplicate of another issue. If you believe that that it is not a duplicate please open a new issue with a live reproduce scenario: https://github.com/angular-ui/bootstrap/blob/master/CONTRIBUTING.md#you-think-youve-found-a-bug

[2015-03-31 10:41] karianna commented on #2424
Closing for now in that case

[2015-03-31 10:41] #2424 closed

[2015-03-31 11:54] jbutko commented on #2970
For me to fix the full height issue following addition into CSS fixed the problem:
[code]

[2015-03-31 14:50] rvanbaalen commented on #3154
So you're just hovering over the stars really quick and at a certain point they get 'stuck' on their active state?

If that's the case, I can't reproduce that in your plunker on Chrome. Which browser do you use?

[2015-03-31 14:52] rvanbaalen commented on #3153
Please take a look at https://github.com/angular-ui/bootstrap#support if you have any questions regarding usage of the datepicker.

If you actually think you have detected a bug, can you please provide a plunker reproducing this issue?

[2015-03-31 15:00] rvanbaalen commented on #3145
Can you please provide a plunker reproducing this issue? And could you verify for me that this is still an issue if you use the current master branch? A lot of bugs have been fixed lately.

[2015-03-31 15:21] rvanbaalen commented on #3136
Did you use `typeahead-editable="false"`? From the docs:

Can you provide a plunker reproducing this problem? And could you verify if the problem still exists in the latest master branch? Re-opening if you can verify this issue still exists.

[2015-03-31 15:21] #3136 closed

[2015-03-31 15:24] rvanbaalen commented on #3143
There are some API inconsistencies regarding the dateOptions and attribute options indeed. We will be looking into datepicker related issues before the `1.0` release.

[2015-03-31 15:48] CarlosCuevas commented on #3145
Used the plunker link provided on the accordion example page (http://angular-ui.github.io/bootstrap/#/accordion) as a starting point, which seems to be using the latest version:

http://plnkr.co/edit/QEQoS3V5qcrQkdlL4aIb?p=preview

[2015-03-31 16:35] davidda commented on #3154
Yes, exactly. I checked again with Firefox 37 and IE 11.

[2015-03-31 16:51] chrisirhc commented on #3422
Interesting. This is a good call for making typeahead more extensible. Users want to be able to customize the query matching logic.

[2015-03-31 17:07] RobJacobs commented on #3145
You just need to stop the event propagation, adding:

     ng-click="$event.stopPropagation();"

Will fix the problem.

[2015-03-31 17:07] #3145 closed

[2015-03-31 18:13] CarlosCuevas commented on #3145
thanks

[2015-03-31 20:45] chrisirhc opened #3477 "Add PR merge tutorial to wiki"
This is a stub issue for myself to get to this.

I've gotten down a pretty easy set of instructions involving pull, rebase, that should work for all cases of merging PRs cleanly.

[2015-04-01 08:05] jbmyid commented on #759
I tried above but could not make it work

[2015-04-01 08:11] zdila commented on #3375
Unfortunately it is still broken. Using `ui-bootstrap-tpls-0.13.0-SNAPSHOT.min.js` from today's clone. You can check it out at http://plnkr.co/edit/94yNAYcGjWcndpIH9AbL (`ui-bootstrap-tpls-0.13.0-SNAPSHOT.js` is there loaded from google drive).

[2015-04-01 08:25] zdila commented on #3371
@chrisirhc, that time the modal has been already closed

[2015-04-01 09:24] Repalogic opened #3480 "typeahead with bloodhound"
I have a very large set of objects which I currently use as dataset for typeahead:

  item as item.name for item in items | filter:{name:$viewValue}

This filter is very slow due to the data size. It is currently not usable at all. Therefore I am thinking to use a search optimized data structure. With bloodhound, twitter has already realized such an engine. However, I have not found any possibilit

[2015-04-01 09:26] chrisirhc commented on #3480
Are you referring to https://github.com/twitter/typeahead.js/blob/master/doc/bloodhound.md ?

[2015-04-01 09:27] Repalogic commented on #3480
yes

[2015-04-01 09:32] chrisirhc commented on #3101
That's odd, it sounds like a caching problem. Is the problem still there if you clear your cache, load the page with Shift+Refresh or use another browser? Also, which browser are you using?

[2015-04-01 09:38] chrisirhc commented on #3101
I still can't seem to reproduce this, can you create a Plunker where this issue is occurring?

[2015-04-01 17:10] BobbieBarker commented on #3472
I'm actually waiting for the pickers to be spun off into their own modules so I can tackle them.

[2015-04-01 17:28] BobbieBarker commented on #3405
I did a look over on how our resolve block is handled in modals and compared it to how ui-router handles their resolve block. Our resolve in comparison is a very simple implementation where all the promises are pushed into an array and $q.all is used. Which is where I think the break down that this issue high lights begins. For comparison if you look at resolve.js from ui-router
https://github.com

[2015-04-01 20:26] RobJacobs commented on #3405
What exactly is this use case, opening a modal from a modal?

[2015-04-01 20:29] RobJacobs commented on #3472
I agree, but would this new project take a dependency on ui-bootstrap?  I would hate to see a separate implementation to support what the tooltip and position service in ui-bootstrap are doing of the datepicker..

[2015-04-01 20:44] rvanbaalen commented on #3405
In my opinion there is something wrong with your application/UI design if you're opening modals in modals. As @RobJacobs said; can you provide a solid use case for it?

[2015-04-01 20:48] rvanbaalen commented on #3472
Good point @RobJacobs that is indeed one of the many issues we have to tackle before deciding what to do with it.

@wesleycho I took the liberty to add a checklist to your original post to keep track of possible issues involved with splitting off the datepicker project. Feel free to do as you please with it.

[2015-04-01 20:54] iamchairs commented on #3405
@RobJacobs @rvanbaalen

I'm not opening a modal from a modal...

[2015-04-01 20:55] rvanbaalen commented on #3405
@iamchairs my bad. I was only looking at @RobJacobs' response and didn't read your issue properly.

[2015-04-01 20:56] iamchairs commented on #3405
@BobbieBarker Do you think this should be updated? Is the expected behavior to work like ui-router resolve?

[2015-04-01 20:58] BobbieBarker commented on #3405
Looking at the code I don't think the expected behavior is to have an implementation like ui-routers, but also looking at ui-router's implementation I can see where an enhancement could certainly be made.

[2015-04-01 22:45] varmint09 opened #3481 "Add Example/Documentation for collapsing Navbar"
As per this thread, the following extracts work if added;

http://stackoverflow.com/questions/28667517/angular-ui-bootstrap-respopnsive-navbar-dropdown-not-working-properly-in-new-ver

[code]

In your controller (Such as NavController);

[code]

Just think its such a useful part of Bootstrap for it to not be mentioned is a waste.

[2015-04-02 01:18] pbellesa commented on #1012
+1

[2015-04-02 12:46] aug-riedinger opened #3483 "Add a Show/Hide Method to Bootstrap Modal"
In my situation, the modal contains some pretty heavy to load information. Instead of appending it to the DOM on open, I'd rather append it on load, and call a `show`/`hide` method on it. Instead, I'll have to do that manually, which is going to be dirty ...

[2015-04-02 13:47] rvanbaalen commented on #3311
@juffee Can you verify that PR #3352 fixes the problem you described?

[2015-04-02 14:18] #1030 closed

[2015-04-02 14:59] supercrabtree commented on #2073
Thanks for that, very helpful

[2015-04-02 16:40] Yappli commented on #2017
In my point of view, the hack describe below is not a decent solution. We need a real fix. I will work on it.

[2015-04-02 17:00] wesleycho commented on #3458
Hmm, looks like `Implements` doesn't work for closing issues. This is now in.

[2015-04-02 17:00] #3458 closed

[2015-04-02 18:24] elgs opened #3484 "[Tab] How does select know which tab is being selected?"
It seems when an inactive tab is clicked and becomes active, the `active` property is not set. So, in the code, is there a way to tell which tab is selected?

[code]

Is there a way for `alertMe()` to know which tab is clicked?

Thanks,
Elgs

[2015-04-02 18:29] elgs commented on #3484
Problem solved by adding `active="gridTab.active"`.

[2015-04-02 18:29] #3484 closed

[2015-04-02 18:38] Foxandxss commented on #3457
Yes, deleting it completely, then in a future consider other kind of doc.

[2015-04-02 19:22] shurique commented on #3101
@danielbsig Any chance that you are using Chrome + AngularJS Batarang (or something like that)? I faced with the same problem. And reproduced fully with you instructions. Removing Batarang solve this bug. I think thats why ... localhost -> 127.0.0.1 and thats why it's not reproduced in Plunker.

[2015-04-02 19:34] #2073 closed

[2015-04-02 20:16] retorres commented on #3262
+1 with clockpicker and modals.

[2015-04-02 21:34] maxfierke commented on #3339
I extracted my work from #3478 to an Angular module that you can include which overrides the necessary templates so that you don't need to provide overriden copies yourself.

You may find it useful: [maxfierke/ui-bootstrap-fontawesome](https://github.com/maxfierke/ui-bootstrap-fontawesome)

[2015-04-03 02:29] skfd commented on #3101
Wow. @shurique is right. I tried it in anonymous window and it works fine.

[2015-04-03 08:36] Schaemelhout commented on #3101
@shurique That's right, AngularJS Batarang seems to be the troublemaker! Works fine without, thanks

[2015-04-03 09:44] lewyue commented on #3356
I've the same problem
and any ideas?

[2015-04-03 10:27] danielbsig commented on #3101
Confirmed. Works correctly in other browsers, and in incognito mode in Chrome.

[2015-04-03 13:29] RobJacobs commented on #3483
@aug-riedinger I think the scenario you are describing is you make a service call to load information in the modal controller and don't want to show the modal till those service calls are complete?  I typically just make my service calls in the parent controller before I call the modal.open and pass the results in to the modal controller via the resolve property or use $cachefactory to hold the re

[2015-04-03 15:07] blakemcbride opened #3485 "Don't know what scripts and CSS to load"
Your page at:  https://angular-ui.github.io/bootstrap

Tells you how to download and build.  Wouldn't most people use bower?  A bower example would be much more useful.

You state:  "As soon as you've got all the files downloaded and included in your page you just need to declare a dependency..." but you never tell what scripts or CSS files to include.  I am lost.

On your github README.md you sho

[2015-04-03 15:21] pkozlowski-opensource commented on #3485
I hope not... it is broken in several ways and the JS community seems to be shifting to npm...

[2015-04-03 15:33] rvanbaalen commented on #3485
@blakemcbride thanks for the feedback. Will update the README.

[2015-04-03 15:34] blakemcbride commented on #3485
Thanks!  As soon as I figure out what scripts and CSS files to load, I'd like to start using it.

[2015-04-03 15:44] rvanbaalen commented on #3485
For now, there's some useful stuff in the Wiki pages for you

[2015-04-03 15:56] deisbel commented on #1565
@Stratus3D Thanks!
I downloaded the module two days ago and the issue is still present. I had to apply the parch!

[2015-04-03 16:55] benthepoet opened #3486 "pagination focusing on page that hasn't been clicked"
I've noticed that when working with the pagination directive that the focus style will be applied to a page button that hasn't been clicked. Versions I'm using are below.

- angular 1.2.27
- ui-boostrap 0.12.1
- bootstrap 3.3.4

This only happens when you have max-items set to less than the number of total pages. You'll see it when you click a page that shifts the visible range.

To demonstrate th

[2015-04-03 17:21] Microserf commented on #3101
Just want to add my +1 for seeing the problem with both (localhost + Batarang). I can confirm that I *don't* see the issue on (https://angular-ui.github.io/bootstrap/ + Batarang).

I haven't tested yet on localhost without Batarang, but I'll try tonight and report back.

[2015-04-03 21:11] hmendezm opened #3487 "Three DatePickers. onwatch or ng-change work only once."
I have three datepickers in my page. My problem is that I can select days but I can validate them because the ng-model is not updated and onwatch or ng-change is not trigged. I really need your help!!

VIEW HTML DATEPICKERS

<div class="form-group col-xs-6"  ng-hide="rule.fRecurrence">
							<label>Start Date</label>
							   <p class="input-group">
						              <input type="text" id="eve

[2015-04-04 05:29] marvoh opened #3489 "Too many errors when trying to include in my project"
I am using angular.js version 1.3.0 and have the included the js files in the index.html as below:

    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="https://code.angularjs.org/1.3.1/i18n/angular-locale_en-gb.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="js/ui-bootstrap-0.12.1.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.

[2015-04-04 08:48] realityking commented on #3489
First of all, you're loading UI Bootstrap twice. The file with "tpls" in the name contains the first file.

The issue you're seeing is that you're running JSHint over the minefield source for UI Bootstrap. You should change your build environment to only check your own files with JSHint, not 3rd party libraries.

Lastly, be aware that UI Bootstrap 0.12 is not fully compatible with AngularJS 1.3.

[2015-04-04 09:06] marvoh commented on #3489
I corrected that but still had errors. I resolved this by using the uncompressed version.

[2015-04-04 09:20] Microserf commented on #3101
I can now confirm that the bug becomes manifest when Batarang is enabled, and disappears when Batarang is disabled. Seems like a smoking gun to me...

[2015-04-04 14:30] karianna commented on #3101
Hopefully one of the more experienced maintainers can chime in with a fix/workaround...

[2015-04-04 14:31] #3489 closed

[2015-04-04 14:32] karianna commented on #3487
https://github.com/angular-ui/bootstrap#support

[2015-04-04 14:32] #3487 closed

[2015-04-04 16:34] hmendezm commented on #3487
There is nothing in the link that can help me with my problem. What was the intention of the link and why did you close my question?

Thx

Sent from my iPad

[2015-04-04 17:18] kraenhansen commented on #2970
+1

[2015-04-04 18:28] realityking commented on #3487
He closed the issue, because this is not the appropriate venue for support questions. Please read the *Need help?* section of the above link.

[2015-04-05 07:08] juffee commented on #3311
@rvanbaalen Yes it does fix it.

[2015-04-05 08:35] ckahle33 commented on #3080
@adrxlm  +1. Thanks. Glad it was this simple!

[2015-04-05 08:51] #3311 closed

[2015-04-05 12:46] leoncc opened #3490 "Pagination Improvement"
Hi,

I suggest the following change for the two watches for the PaginationController in ui-bootstrap-tpls.js.

<pre>
  $scope.$watch('totalItems', function() {
    $scope.totalPages = self.calculateTotalPages();
    ngModelCtrl.$render();
  });

  $scope.$watch('totalPages', function(value) {
    setNumPages($scope.$parent, value); // Readonly variable
  });
</pre>

as opposed to what you currentl

[2015-04-05 13:20] Foxandxss opened #3491 "Change tab's transclude function from the one on link function"
Just a stub issue to remind me to change that in a future.

[2015-04-05 15:04] #2227 closed

[2015-04-05 15:41] topless opened #3492 "Missing class from css overrides."
.nav, `.navbar-brand`, .pagination, .carousel, .panel-title a { cursor: pointer; }

[2015-04-05 15:44] wesleycho commented on #3492
I am confused about this issue - can you explain in more detail, and perhaps a reproduction?

[2015-04-05 16:01] wesleycho commented on #2789
Closing this, as we are moving to Angular 1.3 with 0.13.0.

[2015-04-05 16:01] #2789 closed

[2015-04-05 16:42] #3486 closed

[2015-04-05 16:42] chrisirhc commented on #3492
This looks like an issue for Twitter Bootstrap https://github.com/twbs/bootstrap . There aren't CSS overrides in this repository except for animations.

[2015-04-05 18:08] Lucasus opened #3493 "Collapsing bootstrap navbar menu - menu items shortened during collapsing"
Here is [plnkr reproduce scenario](http://plnkr.co/edit/cNiLd3rvKe1Ne3nwcZ8J?p=preview)

To reproduce: make the view narrow (so the toggle button appears) and expand a toggle menu. Now collapse the menu. Notice that menu items are shortened when menu is collapsing (a white "right margin" temporarily appears on the plnkr).

Possible cause and fix:

The height set in collapse directive's `collapse()

[2015-04-05 19:28] arg20 commented on #2889
+1, I need to display the typeahead above the input field. When I have time I'll look into the source code

[2015-04-05 20:02] emaish commented on #3423
[feat(typeahead): implement 'select on blur' option. #3445](https://github.com/angular-ui/bootstrap/pull/3445)

[2015-04-05 21:28] chrisirhc commented on #2069
Verified that #3494 fixes @cleftheris 's issue / use case.

[2015-04-05 22:55] BobbieBarker commented on #3483
If you want something to not be included into the HTML for the modal on load until the data has been resolved, then I would use ng-if and not a show/hide.

[2015-04-05 23:29] #3160 closed

[2015-04-06 00:24] chrisirhc commented on #3477
Added: https://github.com/angular-ui/bootstrap/wiki/Merging-a-Pull-Request

Please comment here about it / discuss. Closing this as it's done for now but it's still always open for discussion if needed.

[2015-04-06 00:24] #3477 closed

[2015-04-06 00:34] #2509 closed

[2015-04-06 00:34] #3159 closed

[2015-04-06 01:51] chrisirhc commented on #3473
Actually, this is my mistake, heh. It shouldn't be reading from `popover-template-placement`. It should be set as `popover-placement`. I'll fix that.

[2015-04-06 03:51] madhavabhyankar opened #3495 "Modal Dialog templateUrl requests application/json instead of text/html"
Here is a request from one of my modal calls
GET /app/views/wishDetails/wishDetailsModal.html HTTP/1.1
Host: localhost:51615
Connection: keep-alive
Accept: application/json
User-Agent: Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.101 Safari/537.36
Referer: http://localhost:51615/Index.html
Accept-Encoding: gzip, deflate, sdch
Accept-Language: en-US,en

[2015-04-06 04:12] #3349 closed

[2015-04-06 04:47] #3143 closed

[2015-04-06 05:42] chrisirhc commented on #3174
There was a mistake in the watcher count calculation where it may double-count the same scope. Here's the corrected Plunker: http://plnkr.co/edit/uKbnoiGXC4grM6Bf7tsQ?p=preview

This is still a lot of watchers and I'm looking into this.

[2015-04-06 05:50] chrisirhc commented on #3174
Actually, it amounts to about 7 watchers per tab. That's reasonable and it's not longer exponential. I'm marking this issue as invalid. We can look into this further if people find this really severe.

[2015-04-06 05:50] #3174 closed

[2015-04-06 05:55] chrisirhc commented on #3495
These are the default headers in AngularJS as [stated here](https://github.com/angular/angular.js/blob/master/src/ng/http.js#L233). AngularJS makes the requests for the templateUrl. Please file a bug at https://github.com/angular/angular.js/ instead.

[2015-04-06 05:55] #3495 closed

[2015-04-06 06:05] chrisirhc commented on #3084
Relates to #3375

[2015-04-06 07:30] chrisirhc commented on #3101
Most probably related to https://github.com/angular/angularjs-batarang/issues/205 . Please subscribe for updates on angularjs-batarang and only comment here if there's anything new to report. Otherwise, there's nothing we can (or should) do on this library.

[2015-04-06 07:43] chrisirhc commented on #3262
The reason the modal z-index can't be fixed is that we added support for multiple modals, so that modals can stack on top of one another.

[2015-04-06 08:58] aug-riedinger commented on #3483
I'm not sure I was clear here.

I have a modal, containing a video. And in the typical user-flow, the modal will be opened and closed several times.

So instead of calling `$modal.open({template: "<video></video>"})` several times, I'd rather do something like

[code]

I don't think I can achieve that at the moment without doing hacky things (either hiding the modal with another strategy like css,

[2015-04-06 08:58] intropedro commented on #2777
What procommerz says still happening. In the documentation (https://angular-ui.github.io/bootstrap/) puts this:

[code]

but it does not work. And this works:

[code]

[2015-04-06 12:59] cleftheris commented on #2069
@chrisirhc looks good!

[2015-04-06 13:10] wesleycho commented on #3375
Posting more useful [Plunker](http://plnkr.co/edit/4IFABsZFdDy4zDSdwnW7?p=preview) for reference

[2015-04-06 13:10] madhavabhyankar commented on #3495
The default headers are correct, when I try to call the modal dialog - with template url pointing to the html page, I get '406 - not acceptable'.  How do you recommend doing the pop up without embedding the html in one of the pages with the <script type="text/ng-template" id="itemBoughtModal.html"> tag.  The 406 error goes away if in the function - 'getTemplatePromise', I add the header  { Accept:

[2015-04-06 13:16] wesleycho commented on #3492
Closing as invalid unless there is more information - we do not bundle CSS for UI Bootstrap.

[2015-04-06 13:16] #3492 closed

[2015-04-06 13:19] wesleycho commented on #3490
We welcome a PR for this - this looks like it would be a nice optimization.

[2015-04-06 13:30] wesleycho commented on #3316
In this case, the anchor tag is inline in the text though - button isn't quite right either, as buttons tend to be discrete elements apart from a sentence.

I am not quite sure there is a better fit than an anchor tag here. In fact, you see Bootstrap itself use anchor tags as well in its [tooltip](http://getbootstrap.com/javascript/#tooltips).

Closing as invalid, feel free to respond with more in

[2015-04-06 13:30] #3316 closed

[2015-04-06 13:34] wesleycho commented on #3284
Can you reproduce this with [Plunker](http://plnkr.co/)?

[2015-04-06 13:35] wesleycho commented on #3262
We can change it to `index * 5` or something smaller - that would mitigate this issue.

[2015-04-06 16:03] ngloom commented on #2391
+1, date range picker needed :)
hope some day we can have a  date-range-picker like http://www.daterangepicker.com/
ps, Thanks for your work guys, you're really doing great !

[2015-04-06 16:33] RobJacobs opened #3500 "Datepicker previous months weeks displayed"
When the current month's starting day is the same as the calendar starting day, the calendar will display 2 weeks for the next month rather than 1 week for the previous month and 1 week for the next month.  Here is a [plunk](http://plnkr.co/edit/dBAt0HjVXNofg9Nd6a1g?p=preview) demonstrating.  The fix I came up with is to modify the daypicker directive - _refreshView function from:

     numDisplay

[2015-04-06 18:06] wesleycho commented on #3454
The referenced PR is merged, closing.

[2015-04-06 18:06] #3454 closed

[2015-04-06 21:31] pankas87 opened #3501 "0.13 release in Bower"
Hi,

thanks for all your hard work, this module is amazing, it has helped me a lot in a big project I'm doing.

Is there any release date for v0.13 via Bower?

I really need to use a template for the contents of a popover and got really excited when I read this would be released soon.

Thank you!

[2015-04-06 23:29] chrisirhc commented on #3262
That's not a bad idea. It needs to be an even number, as it needs to consider the zindex logic of the backdrop.

[2015-04-07 00:00] thebucknerlife opened #3502 "Carousel controller can't be found"
Whenever I try to use the carousel directive, I get this error in my js console:

[code]

I created a custom build with carousel and collapse. Requiring like this: `<script src="assets/js/vendor/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>`

I've included 'ui.bootstrap' as a dependency when creating my app.

Entire error:
[code]

Relevant part of the template:

[code]

and controller:

[code]

[2015-04-07 06:27] jsdevel commented on #2391
@aesnyder we were, but not without some hacks :(

[2015-04-07 07:54] jupake commented on #2326
+1. We also now need seconds to be changeable.

[2015-04-07 08:29] karianna commented on #3501
Not concrete ETA, https://github.com/angular-ui/bootstrap#impt---2015-plans-and-angular-13-support

[2015-04-07 08:29] #3501 closed

[2015-04-07 08:30] karianna commented on #3502
https://github.com/angular-ui/bootstrap#support

[2015-04-07 08:30] #3502 closed

[2015-04-07 09:20] realityking commented on #3501
@karianna That section was removed a week ago (https://github.com/angular-ui/bootstrap/commit/6355d8adc7d051e18739e617cba158f5d29c15d4)

[2015-04-07 09:30] karianna commented on #2069
I think this can be closed now.

[2015-04-07 09:30] #2069 closed

[2015-04-07 09:32] karianna commented on #3501
Heh - so it was, you can look for 0.13.0 milestone issues to get a guesstimate of how close we are to a release.

[2015-04-07 13:52] #3473 closed

[2015-04-07 14:02] wesleycho commented on #3396
would it be `uibAccordionController` then? (as an example)

[2015-04-07 14:04] wesleycho commented on #3302
That is fair.

It should be noted that fixing #3396 would also fix this. If you would like to submit a PR that adds a note about the directive controller for each component (it should be added in the `readme.md` file for each component, since they are discrete modules), I would be happy to review it and get it in.

[2015-04-07 14:13] swolfand commented on #3302
I'd be happy to do that for the current and future controllers. I was
trying to find some isolate scope tool in angular to somehow encapsulate
the ui-bootstrap controllers from the user but this solution is a good
workaround

On Tue, Apr 7, 2015, 10:04 AM Wesley Cho <notifications@github.com> wrote:

[2015-04-07 14:28] RobJacobs commented on #3396
@wesleycho I think the prevailing style guide has controllers named with the leading character capitalized, i.e: UibAccordionController.

[2015-04-07 14:37] wesleycho commented on #3396
That makes sense.

[2015-04-07 15:05] Asvarduil opened #3503 "Datepicker - Inconsistent validation behavior between IE11 and Chrome"
*Note: No Plunkers needed; simply use the datepicker control on the [https://angular-ui.github.io/bootstrap/](UI Bootstrap Documentation) to observe this issue.*

**Steps to Reproduce:**
1. Open an instance of Internet Explorer 11 and Chrome
2. In each instance, open the [https://angular-ui.github.io/bootstrap/](UI Bootstrap Documentation)
3. Navigate down to the Datepicker
4. In the text field, m

[2015-04-07 15:05] jwanglof commented on #2303
+1

[2015-04-07 15:29] RobJacobs commented on #3503
I'll do some testing on this and post results.  Latest master branch build is not behaving this way.  Documentation page has 2 datepickers (inline and popup) bound to the same date so that may be impacting the results as well.

[2015-04-07 15:59] mdsauer opened #3504 "Calling dismiss causing ng-submit handler to fire."
If a form with the ng-submit directive is included in a modal window, the submit handler is called when $modalInstance.dismiss is called.  My intent was to call dismiss on a cancel button but I am finding that the ng-submit method is being called as well as my ng-click handler on the cancel button.
Changing the code to not use ng-submit and instead use ng-click on the submit button works as expect

[2015-04-07 16:15] RobJacobs commented on #3503
I think this is just a difference between how the 2 browsers handle dates.  You will notice entering 4/90 causes Chrome to display the invalid states correctly, where 4/ could possibly be a valid date.  Closing for now.

[2015-04-07 16:15] #3503 closed

[2015-04-07 16:54] karianna commented on #3503
Moving the datepicker to moment.js in 1.0 will resolve this long term, there are dup issues open for that.

[2015-04-07 17:51] RobJacobs opened #3506 "tooltip - Issues with PR #3126"
PR #3126 introduced the ability to support defining a class for the tooltip as an attribute.  This is causing issues with how the popover adds the placement and animation classes, this [plunker](http://plnkr.co/edit/hp2hIKSiZXP0iRU6lhkM?p=preview) demonstrates the issue.  You will notice the popover does not display the arrow correctly and the animation doesn't run when it opens and closes.  I've

[2015-04-07 18:05] chrisirhc commented on #3506
Thanks! Looks like my fix (https://github.com/angular-ui/bootstrap/commit/461087b5ff360e1d06d6724375ab29169a89fcf2) was incomplete. I'll look into this very soon.

[2015-04-07 18:05] chrisirhc commented on #3375
Reopening as this isn't fixed on master at the moment. Ref: #3506

[2015-04-07 19:07] RevanProdigalKnight commented on #3483
It would certainly be a handy feature to have in some cases. It would probably be best to leave the current `modal.open()` and `modal.close()` methods for the majority of modals, though, and maybe just introduce a `modal.show()` and `modal.hide()` to the `$modalStack` factory.

[2015-04-07 22:06] zwhitchcox opened #3507 "there is no build in the project"
Under installation, all it says is to download the project. It doesn't tell you how to build. I downloaded and included tooltip.js, and added ui.bootstrap to the dependencies, but I get a module error, because it could not find that dependency, so I feel like I'm supposed to include some other javascript file or build it or something.

[2015-04-07 22:18] rvanbaalen commented on #3507
Im working on improving the README soon. All the information you need should be in the Wiki. Let me know if that helped you.

[2015-04-07 22:28] zwhitchcox commented on #3507
Ok! Got it. Thanks :)

[2015-04-07 22:28] #3507 closed

[2015-04-08 00:12] fernando-sendMail opened #3508 "Typeahead ngForm validation proposal"
Hi Everyone:

I've been using some of the components in the library, and I've noticed that the typeahead validates right after the user starts typing to look up for an element. I'm unaware of the thought process of why this has been done like this.

I tried to find any issue open addressing this behavior and I couldn't find any. I would like to make a proposal or start a discussion on how the type

[2015-04-08 00:21] v4l3r10 commented on #1824
+1

[2015-04-08 00:36] rvanbaalen commented on #3508
If you're using AngularJS 1.3, I think you can work around this behavior by setting your `ng-model-options`

[code]

If you can setup a plunkr demonstrating your issue, I'll test of this fixes it.

[2015-04-08 04:01] dev-mjoy commented on #612
@johntom I nearly went through 7 hrs searching and finally got this small magic :+1:  ,Thanks a Lot!

[2015-04-08 07:19] chrisirhc commented on #3503
This will also be fixed once we merge in #3294, by completely disallowing dates that don't parse through the dateParser.

[2015-04-08 07:25] kodecraft commented on #2659
just wanted to feedback that the issue of the datepicker displaying the date unformatted is occurring for angular v1.4 also and davewm's workaround fixes the issue...tks dave+meyerds

[2015-04-08 07:30] chrisirhc commented on #3396
I initially intended `uibAccordionController`, but I'm completely open to this. If there's a prevailing style guide, let's go with it.

[2015-04-08 07:32] chrisirhc commented on #2326
Maybe fulfilled via resolving #3312 . Will look into time input types as well.

[2015-04-08 09:06] m3l7 commented on #1012
+1

[2015-04-08 09:45] xvitcoder commented on #3203
Very bad decision

[2015-04-08 10:09] snehatulsi opened #3511 "Issue in dropdown after angularjs update"
On upgrading angularjs to latest version, dropdown toggle function behaves wrong.
The on-toggle function of dropdown should be called after the dropdown is toggled. But the opposite happens.

Reason, is the animate function in dropdown controller.

[code]

Here the toggleInvoker should be inside the resolve function of animate, as animate happens in the next digest cycle.

[2015-04-08 10:12] snehatulsi commented on #3511
To test this issue, take the dropdown example code in the official website , update the angularjs, and in the toggle function, print the width of the dropdown container. As the function is called before the dropdown opens, it will print zero.

[2015-04-08 10:12] karianna commented on #3511
Pretty sure this is fixed on Master

[2015-04-08 10:14] snehatulsi commented on #3511
I guess not, i took the latest stable version just now. Also the official website says, angularjs bootstrap is tested in angularjs 1.2.x, and angularjs is updated to 1.3.15. So bootstrap angular also needs an update. It would be great.

[2015-04-08 11:12] #3375 closed

[2015-04-08 11:12] #3506 closed

[2015-04-08 11:24] karianna commented on #3511
@snehatulsi - by master I mean the HEAD of the master branch (the upcoming 0.13.0 release which will support angular 1.3)

[2015-04-08 12:31] lucianenache commented on #3040
well the idea was to have something out of the box, without having to implement additional hooks to the events, but if that's not available for me, the fix was to hook on the events manually and alter the behavior.

[2015-04-08 12:39] RobJacobs commented on #3040
@lucianenache Tooltip and popover are 2 separate directives.  The links provided by @boillodmanuel refer to the popover widget, not the tooltip.  If you are looking for a widget that presents a popup window for user interaction then the popover directive is the better choice, the tooltip directive is not designed for that.  Closing this for now.

[2015-04-08 12:39] #3040 closed

[2015-04-08 15:30] ValentinH commented on #3343
:+1:
I am also looking for a weekpicker and haven't found anything for Angular.
The best example I've found is this one which is an Ember component:
http://rsschermer.github.io/ember-rl-week-picker/

[2015-04-08 15:42] rvanbaalen commented on #3343
Basically, by taking @thuey's plunkr and adding 'w' and 'ww' date format support to the dateParser, you have yourself a weekpicker. You could just set the format to `yyyy ww` for instance which could result in `2015 12` for week 12 in 2015.

That being said, the dateParser needs some extra love to support a wider variety of date formats.

[2015-04-08 15:44] borislit commented on #2678
+1
In my case, I have closed one modal (lets call it Modal A) and immedialtly opened another one (lets call it Modal B). Modal A has a backdropClass defined for it.
When modal B is opened, the backdropClass is not removed.

[2015-04-08 15:45] rvanbaalen commented on #3135
I suppose this can be closed by now since we have a pretty solid team of maintainers for the time being.

[2015-04-08 15:45] #3135 closed

[2015-04-08 15:52] rvanbaalen commented on #3264
@kwinters I think you have a totally valid point there. @chrisirhc Any idea why the buttons where changed to labels back then?

[2015-04-08 15:56] twler opened #3514 "dropdown is-open attribute only closes dropdown, won't open it"
The dropdown `is-open` will only close the dropdown (i.e. will only set the `is-open` variable to false)

Here's an example with the JS unchanged from the official docs:
http://plnkr.co/edit/3pzUhAklYFcCl04mXaI9?p=preview

[2015-04-08 16:00] rvanbaalen commented on #3129
@zorkus Can you setup a plunkr reproducing your problem? And have you tried if the master branch has this issue fixed?

[2015-04-08 16:08] rvanbaalen commented on #3103
Is this still an issue for you in the current master branch? Can you create a plunkr reproducing the problem?

[2015-04-08 16:19] fernando-sendMail commented on #3508
Thanks for the info @rvanbaalen I was aware of that new feature and I tried it before, the problem is that if you are using typeahead with promises (`$http`) it doesn't show the results until you blur that element.

Here's a plunkr with that issue:

http://plnkr.co/edit/TEIy8qofsVO87q40IZSj?p=preview

As you can see in the first typeahead the results wont popup until the typeahead input looses foc

[2015-04-08 16:43] karianna commented on #2678
plunkr to demonstrate please

[2015-04-08 16:45] karianna commented on #3514
This has been fixed in master, hoping to get 0.13.0 out soon!

[2015-04-08 16:45] #3514 closed

[2015-04-08 16:53] blackat commented on #3481
Hi,
thanks a lot for the hint, I have looked around a bit and I have notice the problem was not showing with ui-boostrap-tpls version 0.6.0.

May be it is even possible to refer [this plunker](http://plnkr.co/edit/dUGbvnmc089C9rnKFh4f?p=preview) some attributes have been introduced but not documented, moreover no need to add a controller everything smooth on the same line.

It would be cool if you

[2015-04-08 17:09] boillodmanuel opened #3515 "Popover to remain open when hovering over it"
Popover triggered by mouseenter event hide himself as soon as the mouse leave the target element. And it's impossible to click on a link which was in the popover.

I've found some solution in SO which can help for the PR :
- link to SO: http://stackoverflow.com/questions/20267967/create-hoverable-popover-using-angular-ui-bootstrap
- direct link to jsfiddle: https://jsfiddle.net/6awhrcec/

And anot

[2015-04-08 17:09] boillodmanuel commented on #3040
I've created a separate issue for the popover: #3515

Thks

[2015-04-08 18:27] rvanbaalen commented on #3508
There are no typeaheads in your plunker @fernando-sendMail. Perhaps you forgot to save.

Also, when checking for validation, always check for both `dirty` (or !pristine) **and** error. In the plunker you showed you only set the `.ng-invalid` style.

[2015-04-08 19:15] fernando-sendMail commented on #3508
Sorry about that @rvanbaalen, now it's working and yes, I also checked for that in this version.

http://plnkr.co/edit/TEIy8qofsVO87q40IZSj?p=preview

[2015-04-08 19:28] chrisirhc commented on #3264
This refers to the demo site's code. We can improve on this by including the `input` checkboxes but state in that they're not required. As it's a lot more code but it's good for accessibility.

However, @rvanbaalen just found that the Bootstrap CSS only hides the inputs when it's nested inside a `data-toggle`: https://github.com/twbs/bootstrap/blob/master/less/button-groups.less#L221-L243
As such,

[2015-04-08 19:28] rvanbaalen commented on #3264
After digging in and checking bootstrap's source I would say for semantical and accessibility reasons we should add an `<input>` inside the `<label>` tag.

But, after I checked out Bootstrap's CSS I noticed that they target the internal `<input>` element with a css selector prefix:

[code]

So either we have to add `data-toggle="buttons"` to the wrapping `div` or we have to handle the hiding of th

[2015-04-08 19:30] rvanbaalen commented on #3264
I would say adding `[data-toggle="buttons"]` adds no added value to our templates and could possibly result in unwanted behavior. My vote goes to hiding the `<input>` ourselves within the `btnCheckbox` directive.

[2015-04-08 19:37] chrisirhc commented on #3511
Also, a Plunker to reproduce this would be very helpful for investigration.

[2015-04-08 19:47] RobJacobs commented on #3515
The popover-trigger attribute allows you to define which triggers show and hide the popover using the following format:

    popover-trigger="showtrigger hidetrigger"

The directive is simply doing the following for you:

    element.bind(showtrigger, showTooltipBind)
    element.bind(hidetrigger, hideTooltipBind)

The [plunker](http://plnkr.co/edit/ScAI7a5lliaCpxWPVaA6?p=preview) demonstrates usi

[2015-04-08 20:39] NewMediaRoc commented on #3339
+1

[2015-04-08 20:43] soul2197 opened #3517 "Dropdown label doesn't update properly when Google map is present"
If you have a Google map before the dropdown, the label only updates when you hover the mouse over it.

See simplified test case here: http://codepen.io/soul2197/pen/azgowj?editors=101

Versions:
Angular: 1.3.15
Angular Bootstrap: 0.12.1
Bootstrap: 3.3.2
Google Maps: v3

[2015-04-08 20:47] soul2197 commented on #3517
Also filed with google maps: https://code.google.com/p/gmaps-api-issues/issues/detail?id=7881

[2015-04-08 21:01] borislit commented on #2678
http://plnkr.co/edit/KCBVGVzirLlApozRrbjl

The flow is as follows: Once to open the first modal, clicking OK will close it and will open the second one right away.
Notice that the first modal add a "custom-backdrop" class which is not removed when the second modal opens.

[2015-04-08 21:52] andrewboni commented on #764
+1 for getting this in

[2015-04-08 23:35] fernando-sendMail commented on #3508
@rvanbaalen I tried the approach of the checking the dirty but the issue is that angular sets the dirty just after you start typing and also the $error object, this makes perfect sense when styling just the input element, but not for other elements such as inline error messages in the form.

@karianna Is there any specific reason on why this was closed? (In the previous comment I meant that the pl

[2015-04-09 01:04] rvanbaalen commented on #3508
I think @karianna was a bit trigger happy :wink:

I'll close this when it's done

[2015-04-09 01:05] rvanbaalen commented on #3508
@fernando-sendMail the behavior you describe is not something we came up with its default Angular model behavior. Like I said before you can address this by manipulating the ng-model-options.

[2015-04-09 01:09] rvanbaalen commented on #3339
For everyone else interested: use @maxfierke's solution. Customize the templates to your needs if you need to change anything like icons etc.

[2015-04-09 01:09] #3339 closed

[2015-04-09 03:36] rvanbaalen commented on #3508
I managed to reproduce your problem in a seperate plunkr indeed.

http://plnkr.co/edit/BvHemSy1iaADwGkPU1Ly

This problem only exists when using the typeahead directive in combination with `typeahead-editable=false`. It's related to the way Angular 1.3 handles model values.

[2015-04-09 05:53] snehatulsi commented on #3511
A plunker for the same:
http://plnkr.co/edit/HPUEsVcSMu2Z7A2bDVBB?p=preview

The example is from the official site. In the newer angularjs version, open state has the width as 0, and closed state has the width to 2xx px.
Change the angularjs version to 2.1.x, then the opposite happens , which is the correct behavior.

[2015-04-09 06:05] snehatulsi commented on #3514
In the button ng-click,
     ng-click="toggleDropdown()"
u missed out passing $event to the function. This will solve the issue.
     ng-click="toggleDropdown($event)"

[2015-04-09 06:20] chrisirhc commented on #3508
I think the bug here is that when `ng-model-options="{'updateOn': 'blur'}"` is used, the popup only appears on blur. This looks definitely looks like it needs to be fixed.

[2015-04-09 06:58] chrisirhc commented on #3511
I see, you're saying that the toggle doesn't run at the correct time. It should run after the animation rather than before the animation. That sounds reasonable.

Adding your PR, #3513 for reference.

[2015-04-09 07:03] chrisirhc commented on #3264
I see, that sounds reasonable. If a btn-checkbox element contains any input elements within, hide them.

[2015-04-09 07:12] snehatulsi commented on #3511
Yes thats the behavior in the previous versions. Also, after the dropdown is toggled in DOM, it should call the on-toggle function.

[2015-04-09 10:58] breynolds commented on #2017
I agree with Yappli. This needs to be fixed. It's outrageous that something as simple as a modal window doesn't work across all mobile devices and this bug has been sitting here for a year. We shouldn't have to sprinkle directives all around our code and mess around with the event model just to get a simple modal to work.

[2015-04-09 11:42] rvanbaalen commented on #3264
Good point! I'll take care of this after 0.13 is out.

[2015-04-09 11:49] RobJacobs commented on #3508
I think this is related to PR #3187

[2015-04-09 12:05] rvanbaalen commented on #3508
Good find @RobJacobs. This one is related as well:

https://github.com/angular-ui/bootstrap/issues/3219

[2015-04-09 12:28] DrHelmut commented on #2571
got the same issue, it's about time to fix that or specify the limitation in the doc! ;)
thx for the tip, it works with ng-show :dancers:

[2015-04-09 12:30] qz2rg4 commented on #3502
Have you found a fix to this problem?

[2015-04-09 12:53] mirow commented on #3196
+1
The offending line in the code is:
[code]
So if the date doesn't match the given format, bootstrap tests whether the value happens to produce a valid js date, which of course it shouldn't try to do at all.

[2015-04-09 14:24] covus-benjamin-schuch commented on #3507
You really don't need to update the readme in order to explain how to use grunt, just ship the compiled files like it's normal. If somebody wants to exclude some components from build he can still use a custom build.

This is really the only library where I have to manually compile from source and I use a lot of libraries.

[2015-04-09 14:26] karianna commented on #3196
suspect that this is now fixed on master if you'd like to give the bleeding edge a try

[2015-04-09 15:28] RobJacobs commented on #3196
Here's a [plunk](http://plnkr.co/edit/gE8IaZ?p=preview) with the latest version from master demonstrating the problem.

[2015-04-09 15:34] fernando-sendMail commented on #3508
Thanks for your attention to this issue, do you know if somebody is working on this issue? (I couldn't find anyone that is working on this)

If not I might be able to work on a solution for this problem and create a PR.

[2015-04-09 16:06] rvanbaalen commented on #3508
As you can see @fernando-sendMail, @RobJacobs already pointed to a PR. You can go ahead and verify if that PR fixes your issue as well.

[2015-04-09 16:12] rvanbaalen commented on #3508
@fernando-sendMail My bad, @RobJacobs called it a PR but it's a related issue, not a PR.

[2015-04-09 16:18] fernando-sendMail commented on #3508
Yes haha, don't worry, I can see that someone is trying to work on that but he/she just referenced the issue and didn't create any PRs or test for the solution. I'll try to look at the problem and see what I can do.

[2015-04-09 16:38] spock123 commented on #2110
Hi guys,
- as I see it, when using controllerAs, there is no $scope injected into the controller.
Any of you know how to inject a scope to a modal service from a controller that doesn't have $scope injected in the first place?

It feels a bit akward having to inject the $scope into a controller JUST to be able to put a scope on the dialog... I'm not feeling it :)

[2015-04-09 17:12] gustavobigardi commented on #1350
@simonykq thanks!!! I lost almost a day trying to resolve this!

[2015-04-09 17:21] reinaldorauch commented on #1012
+1

[2015-04-09 17:45] thebucknerlife commented on #3502
@qz2rg4 no :( I ended up ripping out ui-bootstrap and figured out how to use a vanilla bootstrap Carousel. Let me know if you want to see how I did it and I cal post that.

[2015-04-09 20:29] mpaul31 opened #3520 "Typeahead within responsive table not working correctly"
Typeahead list gets cutoff when contained in a responsive table. has anyone got this too work?

thanks!

[2015-04-09 20:40] pkozlowski-opensource commented on #3520
https://github.com/angular-ui/bootstrap#need-help

[2015-04-09 20:40] #3520 closed

[2015-04-09 23:08] goldcaddy77 commented on #2644
Hey, I just got confused by this, too.  If this shouldn't be consumed directly, why do the instructions say:

[code]

Shouldn't they say:

[code]

I'm happy to make the doc updates if that's the case.

[2015-04-09 23:34] c-johnson commented on #1012
+1

[2015-04-09 23:45] goldcaddy77 commented on #2622
@stephaneeybert - You actually need to `bower install angular-bootstrap`.  I've put in a PR for this: #3521.  Then you just need to include a script tag referencing "angular-bootstrap/ui-bootstrap-tpls.js"

[2015-04-10 02:52] greengerong opened #3522 "Components which install from bower did not have one min file."
Components which install from bower did not have one min file.

I would like to include one min file to my project.

Thanks

[2015-04-10 03:01] greengerong commented on #3522
bower install bootstrap-bower. But this doc for ui-bootstrap confused us.

[2015-04-10 03:01] #3522 closed

[2015-04-10 10:03] artem-galas opened #3523 "Collapse event"
Hi everyone!

I've recently got stuck with such a problem.
I use `angular-ui bootstrap` and I want to call `show.bs.collapse` callback for collapse, but nothing happens. Here's my [plank] (http://plnkr.co/edit/rD1w7lqdBgJjAuGGEfQE?p=preview) .

Pls, help.

[2015-04-10 10:05] karianna commented on #3523
https://github.com/angular-ui/bootstrap#need-help

[2015-04-10 10:05] #3523 closed

[2015-04-10 10:15] artem-galas commented on #3523
Sorry...
This is [question on stackoverflow] (http://stackoverflow.com/questions/29558672/collapse-event-doesnt-work-in-angular-js)

[2015-04-10 10:49] alecha commented on #2317
any news? I have the same issue

[2015-04-10 11:29] qz2rg4 commented on #3502
Thanks. Did you  use it in conjunction with angular or did you use the bootstrap.js ?

[2015-04-10 11:36] cyberlake opened #3524 "Vertical Carousel"
Is it possible to make Vertical Carousel?

[2015-04-10 11:46] nithi commented on #603
dsadasd

[2015-04-10 12:02] karianna commented on #3524
https://github.com/angular-ui/bootstrap#need-help

[2015-04-10 12:02] #3524 closed

[2015-04-10 13:35] Delapouite commented on #3517
It appears to be Chrome specific, I can't reproduce it on Firefox

[2015-04-10 14:58] goldcaddy77 commented on #2644
FYI: doc updates: https://github.com/angular-ui/bootstrap/pull/3521

@karianna - any interest in chatting about getting proper build tools and the bower / npm files into this repo - it's become pretty much a standard.  I would be more than happy to put in a PR, too.

[2015-04-10 15:07] karianna commented on #2644
I'll have to get the other maintainers involved (I'm more of the admin guy here). I've pinged them

[2015-04-10 15:14] rvanbaalen opened #3525 "Docs: README quicklinks not working"
All quicklinks under 'Installation' aren't properly working.

[2015-04-10 15:15] #3525 closed

[2015-04-10 16:05] ingshtrom commented on #590
1. I tried @luthur's fix by loading 0.12.1 of ui.bootstrap, but couldn't get it to work. I followed the examples given in this thread but nothing worked.  I am using angular 1.2.28 and it looked like it was compatible with that version. What exactly do I need to do to get it working?
2. Alternatively, I tried the plunkr given by @christopherthielen, but had to modify it to get it to work. The `clo

[2015-04-10 16:11] rvanbaalen commented on #1617
Continuing in #1496

[2015-04-10 16:11] #1617 closed

[2015-04-10 16:11] rvanbaalen commented on #1539
Continuing in #1496

[2015-04-10 16:11] #1539 closed

[2015-04-10 16:12] rvanbaalen commented on #1791
Continuing in #1496

[2015-04-10 16:12] #1791 closed

[2015-04-10 16:38] rvanbaalen opened #3526 "Discussion - Adding Aria compatibility & improving accessibility"
Opening this tread to discuss Aria compatibility / accessibility in general with @angular-ui/bootstrap and it's community. I'll also reference all Aria related PR's and issues in here.

Related issues:  #494, #2249, #2303, #2688, #3095, #3199, #3253, #3264, #3474

Related PR's: #1714, #2174, #3329, #2316, #2515, #3329

### Resources (curated list)

- http://www.w3.org/TR/wai-aria-practices
- https

[2015-04-10 16:42] rvanbaalen commented on #2511
Will be fixed when `0.14` lands.

[2015-04-10 16:44] goldcaddy77 commented on #2644
:+1:

[2015-04-10 18:04] rvanbaalen commented on #3095
@shimy1984 Please keep an eye on #3526. Accessibility will get the attention it deserves soon.

Do you happen to use voice overs / screenreaders a lot or were you just testing it? If you're using it yourself, any feedback & tips on the accessibility progress in #3526 would be highly appreciated.

Is this still an issue in the current master by the way?

[2015-04-10 18:06] rvanbaalen commented on #3526
Related:

#494
#2249
#2249
#2303
#2688
#3095
#3199
#3253
#3264
#3474

[2015-04-10 18:14] shimy1984 commented on #3095
I've actually done a great deal of work related to this already for the project I'm working on.

I'll see if I can put together a clean pull within the next couple weeks for you all to review. Just gotta work it into my schedule.

On a side note, I've added some pretty cool enhancements to the the various components, such as a drop up functionality to the date picker.

I'll create another pull whe

[2015-04-10 18:25] rvanbaalen commented on #2249
@PhilipHoyt and @hack006 Check #3526 I just created. Any help and input are appreciated.

[2015-04-10 19:40] Kepro commented on #1741
+1

[2015-04-10 21:02] austinpray commented on #2970
+! Upgrading from 3.3.0 to 3.3.4 fixed this with no other changes.

[2015-04-11 10:11] davious commented on #3419
@RobJacobs thanks for considering this.

For 1. would a broadcast and on be any better?
For 2. let's mimic bootstraps use of `[aria-expanded]`

over on [bootstrap's example](http://getbootstrap.com/javascript/#collapse-example-accordion)
they have an `aria-expanded` = `true`/`false` attribute on `a`. We could mimic this in ui bootstrap.

the styling could then be:
[code]

[2015-04-11 12:22] mesuttalebi opened #3527 "$touched not set to TimePicker"
when hour control or minute control touched and value changed, we must could be able to get
form.[TimePicker control's name].$touched == true

but it not set. mean ng-touched must be added to control's classes.

[2015-04-11 12:40] karianna commented on #3527
plunkr please.

[2015-04-11 13:04] mesuttalebi commented on #3527
http://plnkr.co/edit/zYXJ9GU0LU6ReEDqO2EU?p=preview

change $touched to $dirty to see what I mean.

[2015-04-11 17:35] sebastianovide commented on #220
fantastic !. any ETA yet ?

[2015-04-11 19:16] ankit5990 commented on #3054
IMO it is not possible to fix this issue,
say we solve the issue in some way so that a statement like:
"state.flag as state.name for state in states" is interpreted correctly.

For such an implementation whenever a value is selected from the typeahead, the value "displayed" will correspond to 'name' field of the state, whereas the model will have the value corresponding to 'flag' field of the stat

[2015-04-11 23:11] #2622 closed

[2015-04-11 23:50] karianna commented on #3054
Needs brighter minds than mine - have asked the core maintainers.

[2015-04-12 06:16] TigerSoaring opened #3530 "How to reset main body size of datepicker?"
I'm try to reset the body size of datepicker followed the example,but the main body size of datepicker is not changed?
<div style="display:inline-block; min-height:400px; min-width:400px">
        <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm">  </datepicker>
</div>
I wonder how to reset it?

[2015-04-12 07:56] chrisirhc commented on #3084
Tooltip should now be fully compatible after #3510 . Closing.

[2015-04-12 07:56] #3084 closed

[2015-04-12 07:57] chrisirhc opened #3531 "Use $animate for tooltip animation"
There's still some cruft for animating the tooltip, such as a fixed timeout for the closing animation.

[2015-04-12 08:29] TigerSoaring commented on #611
@gilluminate
+10086
^_^

[2015-04-12 10:02] karianna commented on #3530
https://github.com/angular-ui/bootstrap#need-help

[2015-04-12 10:02] #3530 closed

[2015-04-12 12:35] RobJacobs commented on #3054
Here is a [plunk](http://plnkr.co/edit/XgNGbk3xWMQQg52K29ZM?p=preview) running against the latest from master that shows a comparison of the angular select directive against the ui-bootstrap typeahead directive.  You will notice the ng-model implementations behave the same, the value gets set to the property defined as the 'track by' property.  From the [ngOptions](https://docs.angularjs.org/api/n

[2015-04-12 12:35] #3054 closed

[2015-04-12 13:28] wesleycho commented on #3123
I'm a bit confused here - is this when using stacked bars?

[2015-04-12 13:39] wesleycho commented on #3073
I was able to fix this behavior with `$event.preventDefault()` [here](http://plnkr.co/edit/Vs2uWqd1ie5mUQqUH8Vm?p=preview).

[2015-04-12 13:42] wesleycho commented on #3081
This requires more info like a reproduction on [Plunker](http://plnkr.co/) - it is difficult to follow without accurate steps to reproduce.

[2015-04-12 13:44] wesleycho commented on #3052
It should be noted that this request is a breaking change, and would depart from the typical use case with paginated api.

I am not sure if I agree that this is desired given that. Thoguhts?

[2015-04-12 13:47] karianna commented on #3073
@wesleycho So should this be closed as a resolved via support?

[2015-04-12 13:48] wesleycho commented on #3036
Confirmed [here](http://plnkr.co/edit/TwCEn93DhmoYcpnPxded?p=preview) with up to date UI Bootstrap (as of this comment).

[2015-04-12 13:50] wesleycho commented on #3043
This sounds reasonable. PRs are welcome!

[2015-04-12 14:00] wesleycho commented on #3004
I am closing this as `wontfix`. The decision was made to not support the class option after the discussion mentioned.

[2015-04-12 14:00] #3004 closed

[2015-04-12 14:02] wesleycho commented on #3073
I would like more info first before closing.

[2015-04-12 14:07] wesleycho commented on #2851
Closing as fixed in master.

[2015-04-12 14:07] #2851 closed

[2015-04-12 14:09] wesleycho commented on #2803
Closing as fixed by #2724.

[2015-04-12 14:09] #2803 closed

[2015-04-12 14:10] wesleycho commented on #2794
Closing as fixed, let us know if this is not the case.

[2015-04-12 14:10] #2794 closed

[2015-04-12 14:12] wesleycho commented on #2767
Closing as resolved by support, let us know if this is still an issue.

[2015-04-12 14:12] #2767 closed

[2015-04-12 14:14] wesleycho commented on #2746
You should open up a PR @ProLoser :) .

[2015-04-12 14:16] wesleycho commented on #2682
This could be useful - PRs welcome!

[2015-04-12 14:17] wesleycho commented on #2639
A PR for optional support for this would be welcome.

[2015-04-12 14:18] wesleycho commented on #2644
Closing as resolved since I merged #3521.

[2015-04-12 14:18] #2644 closed

[2015-04-12 14:24] wesleycho commented on #2613
We are planning on tackling the performance issue with the datepicker once we release 0.13.0.

[2015-04-12 14:25] wesleycho commented on #2544
For reference, the current lines are https://github.com/angular-ui/bootstrap/blob/master/src/modal/modal.js#L253-L265 .

[2015-04-12 14:27] wesleycho commented on #2516
This is related to ARIA support.

We welcome PRs to address this.

[2015-04-12 14:32] rvanbaalen commented on #2746
No offense or anything but I could also ask one of my designers to take a shot at it if you're interested.

[2015-04-12 14:32] wesleycho commented on #2448
This appears to still be an issue: http://plnkr.co/edit/QeqiU3pOWmzV5apLc7BG?p=preview

[2015-04-12 14:33] RobJacobs commented on #3036
Possibly related to PR #3376

[2015-04-12 14:34] wesleycho commented on #2418
Closing as invalid, as it seems to be fixed in later Firefox versions.

[2015-04-12 14:34] #2418 closed

[2015-04-12 14:36] wesleycho commented on #2416
This is now fixed, as can be seen by clicking the links.

[2015-04-12 14:36] #2416 closed

[2015-04-12 14:41] wesleycho commented on #2405
I think this is a misunderstanding - the templateUrl is for the template of each of the matched items.

[2015-04-12 14:44] wesleycho commented on #2314
This should be an opt in feature.

[2015-04-12 14:47] wesleycho commented on #2264
This is likely due to the drop of class support for the dropdown directive.

Closing - let us know if there is something important about this prior behavior.

[2015-04-12 14:47] #2264 closed

[2015-04-12 14:49] wesleycho commented on #2258
Hijacking this issue - a PR with documentation updates about the `is-open` attribute is welcome.

[2015-04-12 14:50] wesleycho commented on #2192
This is now resolved, as can be seen in the demo page.

[2015-04-12 14:50] #2192 closed

[2015-04-12 14:53] wesleycho commented on #2024
This appears to no longer be an issue with current master at least: http://plnkr.co/edit/Pz7kosxLbhyHyAVEMvwv?p=preview

[2015-04-12 14:53] #2024 closed

[2015-04-12 14:55] wesleycho commented on #2030
Looking at the source, I believe the $invalid and `has-error` class issues are resolved. The `has-success` behavior should be opt-in though, and a PR would be welcome for this.

[2015-04-12 14:58] RobJacobs commented on #2448
I think part of the problem is that both dropdowns are binding the is-open attribute to the same variable.

[2015-04-12 15:01] wesleycho commented on #1547
As there appears to be a good enough workaround to the issue (thanks to @johnnyaug), I am closing this issue.

[2015-04-12 15:01] #1547 closed

[2015-04-12 15:04] wesleycho commented on #1598
I think the padded version should be on the minutes version by default, but not necessarily the hours - the hours should be opt-in.

[2015-04-12 15:48] wesleycho commented on #3527
I think this might be fixed in master - check out this [Plunker](http://plnkr.co/edit/PK8xTh2IZB3AUv87OqLt?p=preview).

[2015-04-12 15:54] wesleycho commented on #3396
Those who use the older versions should also see a $log message mentioning that the old usage is deprecated. Use of `$compileProvider.directive` and `$provide.factory` (and similar) should be useful for defining the old names.

[2015-04-12 18:10] ProLoser commented on #2746
@rvanbaalan go ahead

[2015-04-12 19:17] rinatio commented on #3247
@ansonkao This is a question of compatibility with bootstrap events, I don't see how it goes against AngularJS if you use those events in directive (plunker is just a simplest example).

[2015-04-12 23:22] goldcaddy77 commented on #1636
All, more than happy to help out tackling this problem if you need more hands.

[2015-04-13 00:30] ariqEmtenan opened #3534 "Ui-bootstrap alerts do not show any color"
Hi,

I have the following ui-bootstrap specific code:

alert close='closeAlert($index)' ng-repeat='alert in alerts' type='alert.type'
        {{alert.msg}}
-----------------------------------------------------------------------------------------------------
 $scope.alerts.push({type: 'info', msg: 'Order Sent!'})
However, after trigerring the alert, I don't see any colors, only the message in a whi

[2015-04-13 01:02] ariqEmtenan commented on #3534
Please ignore this issue, putting braces around alert.type solved the issue.

[2015-04-13 01:02] #3534 closed

[2015-04-13 05:16] chrisirhc commented on #3504
Could you please post a Plunker demonstrating this issue?

[2015-04-13 05:42] domakas commented on #2405
@wesleycho after a second look I have noticed that you are right, ```templateUrl``` is assigned to scope and then used in ```typeahead-popup.html``` template. However in this case it seems that it's impossible to overwrite templateUrl of ```typeaheadPopup``` itself, so you need to be sure you have popup template in ```template/typeahead/typeahead-popup.html``` directory.

How this could be solved?

[2015-04-13 06:09] mikethejet commented on #1565
The same issue on Bootstrap v3.3.1 and Angular 1.3.10

[2015-04-13 06:42] arjunasuresh3 commented on #3286
+1

[2015-04-13 07:26] chrisirhc commented on #3515
I'm marking this as Purgatory as I think this sort of custom handling should be left to the user/developer. Instead, we should expose the triggers through a directive controller to allow users to show/hide the tooltip/popovers with their custom handling logic.

If this becomes a high frequency problem, we can consider it further. However, right now, this adds a new feature that isn't there on Boot

[2015-04-13 07:28] chrisirhc commented on #1376
Related to #1012

[2015-04-13 07:33] chrisirhc commented on #946
Closing due to inactivity.

[2015-04-13 07:33] #946 closed

[2015-04-13 07:35] chrisirhc commented on #910
Closing due to inactivity. Reopen if this is still an issue.

[2015-04-13 07:35] #910 closed

[2015-04-13 07:36] HeavenGoGo commented on #220
just wait the release version, the issue last for too much time

[2015-04-13 07:40] chrisirhc commented on #3307
#2306 resolves this but hasn't been merged yet. Linking here for reference.

[2015-04-13 07:41] chrisirhc commented on #3315
Closing due to inactivity.

[2015-04-13 07:41] #3315 closed

[2015-04-13 07:44] chrisirhc commented on #3480
I'm open to this if it can be opt-in and typeahead can be *extended* to use bloodhound.

[2015-04-13 07:48] chrisirhc commented on #3399
Moving to Purgatory as this deviates from expected behavior from twbs.

[2015-04-13 07:50] chrisirhc commented on #3399
Actually, as @RobJacobs mentioned, this is a trivial change on the template, so I'm closing this. The wiki shows you how to customize the templates: https://github.com/angular-ui/bootstrap/wiki/Development#customize-templates

[2015-04-13 07:50] #3399 closed

[2015-04-13 08:55] bimal1331 commented on #3308
Will it ever get fixed?

[2015-04-13 10:59] seenimurugan commented on #3073
Great. The solution works. Thanks a lot. But i feel this is bit of hack rather than a fix. Anyway thanks.

[2015-04-13 13:27] wesleycho commented on #2405
You would need to override the template by updating the template present in templateCache or using your own template.

[2015-04-13 13:38] domakas commented on #2405
Yup, that's what I meant. For me it seems to be a problem to override it in templateCache because it's seems hacky and separation of concerts might not be followed here, and when using your own template file you need to place it directly at ```template/typeahead/typeahead-popup.html``` because it's hardcoded in the directive.

Is this a problem or it isn't?

[2015-04-13 13:58] wesleycho commented on #2405
You can use a build tool to compile it into the $templateCache, or manually just define the template in $templateCache yourself (i.e. `$templateCache.put('template/typeahead/typeahead-popup.html', ...)`). It is a pretty standard procedure IMO if a library's template doesn't match your needs.

[2015-04-13 14:48] domakas commented on #2405
It just seemed strange that it's possible to change item template in this simple way, however popup template needs different approach.

Thanks for you comments, closing this :)

[2015-04-13 14:48] #2405 closed

[2015-04-13 15:01] Repalogic commented on #3480
Currently, I have succeeded to use bloodhound using the internal get function:

[code]
Then you can use bloodhound directly:
[code]

However, the internal get method is synchronous which causes a small delay when typing. The non-internal get method (engine.get) is asynchronous which prohibits this delay. In Chrome, the delay is nearly not measurable, however in firefox, it is absolutely anoying (n

[2015-04-13 15:02] Kizmar commented on #220
Why is this not released yet? The popover is mostly useless without the ability to use templates. Might as well just use tooltips.

[2015-04-13 17:09] pabacham opened #3536 "Is there any way to close tooltip by clicking outside it?"
In order to get this ability i have extended tooltip provider.
[code]
But this approach doesn't work already because there is no tt_isOpen property in scope now. Actually i can't see any of tooltip properties just only my parent scope. I guess this happend because of changes in tooltip.js 124 line https://github.com/angular-ui/bootstrap/blob/master/src/tooltip/tooltip.js#L124. Is there any way now

[2015-04-13 17:18] rvanbaalen commented on #3536
Please take a look at https://github.com/angular-ui/bootstrap#need-help

[2015-04-13 17:21] #3536 closed

[2015-04-13 19:07] bORm commented on #3384
+1

[2015-04-13 19:37] rvanbaalen commented on #3517
Have you tried implementing http://angular-ui.github.io/angular-google-maps/?

I can indeed confirm that this issue appears in Chrome. Also in Safari.

[2015-04-13 20:10] rvanbaalen commented on #3517
I've done quite some testing in this plunkr:

http://plnkr.co/edit/nQvMHyfsEvZiFiRZ4KcD?p=preview

So far I can only conclude that this is some glitch caused by Google Maps. As you can see, the second and third dropdown in my plunkr works just fine. Unfortunately it has nothing to do with it (the third dropdown) being wrapped in another `<div class="container">` element.

I'm closing this now as i

[2015-04-13 20:10] #3517 closed

[2015-04-14 05:58] BenjaminCh commented on #1688
+1

[2015-04-14 06:07] #1598 closed

[2015-04-14 06:07] chrisirhc commented on #2639
Just wondering, after merging #3533, is there still any action needed here for this issue?

[2015-04-14 06:52] EdwinRikkers opened #3538 "windowClass not correctyle set on modal"
from bootstrap-ui 0.11+ the windowClass property on the modal is not properly set in the html anymore. In bootstrap-ui 0.10.0 everything is working fine. Also the size option is not working.

[2015-04-14 06:58] karianna commented on #2639
@Gils14 - Can you please try master and reopen if needed.

[2015-04-14 06:58] #2639 closed

[2015-04-14 07:22] karianna commented on #3538
plunkr please

[2015-04-14 07:43] TomerAvni opened #3539 "Use tooltip combined with other elements cause collision of $digest."
Using the tooltip directive alongside another directive might cause collision in $digest having both directives $applying their phase.
Specifically in line 2589 on the hideTooltipBind function, a better approach might be
scope.$evalAsync(hide);
instead of:
 scope.$apply(function () {
                hide();
              });
To avoid collision in $digesting.

P.S.
There other ways to solve this pr

[2015-04-14 08:01] Gamemaniak commented on #3539
Isn't this a duplicate of #516?

[2015-04-14 08:04] TomerAvni commented on #3539
It is... Sorry for this.

[2015-04-14 08:06] #3539 closed

[2015-04-14 08:10] chrisirhc commented on #3539
Actually, @TomerAvni , could you post a reproduction? I want to figure out which use cases are missing. Perhaps you can add a reproduction on #516 .

[2015-04-14 08:13] chrisirhc commented on #3308
Please post a Plunker to demonstrate this is broken.

[2015-04-14 08:14] chrisirhc commented on #1643
@karianna , let's not be hasty to reopen this. #3308 doesn't explain what's broken and doesn't have a reproduction.

[2015-04-14 08:16] #1643 closed

[2015-04-14 08:16] chrisirhc commented on #1565
This is on master, it hasn't been released. I think you're referring to downloading the released module on the angular-ui/bootstrap website. The master build can only be obtained by cloning the code and building.

[2015-04-14 08:16] #1565 closed

[2015-04-14 08:18] chrisirhc commented on #1688
Related work: #3020

Please don't +1, we already know this is a priority.

[2015-04-14 08:29] chrisirhc commented on #3073
This is a bug with Angular 1.3.5 .
Plunker is working after upgrading to 1.3.13 :
http://plnkr.co/edit/EKBQZhz084WRfYPSJuDn?p=preview

[2015-04-14 08:34] seenimurugan commented on #3073
Yes, it is working after angular upgrade. You are a star.

[2015-04-14 09:29] #3073 closed

[2015-04-14 09:34] bimal1331 commented on #3308
Apologies, my mistake. It turned out to be inheritance issue for me. The modal scope was getting destroyed. Thanks.

[2015-04-14 11:24] mdsauer commented on #3504
I posted the following at plunker:
http://plnkr.co/edit/dEYpnULoBFjQn3YLGesj?p=preview

Open a console.
If you press 'Open modal with ng-submit' and then cancel the modal, you should see two entries in the log, one from the cancel action and another from the submit action.

If you plress 'Open modal without ng-submit' and then cancel, only the cancel entry appears in the log.

[2015-04-14 11:50] RobJacobs commented on #3504
@mdsauer You need to stop the cancel click event from bubbling by using preventDefault() and stopPropagatiion().  This [plunker](http://plnkr.co/edit/zRIKqzw4GWW4wHilA3F9?p=preview) demonstrates that.

[2015-04-14 11:50] #3504 closed

[2015-04-14 13:13] RoelRoel commented on #2671
It should have ng-model support: Now it has hardly any use..

+1 for ng-model support

[2015-04-14 13:30] gufigueiredo commented on #516
Another scenario:

If i use tooltip with "tooltip-trigger=focus" and ui-datepicker, same error occurs:

[code]

[2015-04-14 14:05] robbse commented on #759
For everyone having the same issue, the following example works for me.

[code]

[2015-04-14 15:34] pkarikh commented on #3258
Any updates about this issue? I've got the same prbolem while trying to use ng-model-options ans angular getterSetter feature. Looks like typeahead knows nothing about `ng-model-options` directive.

I've inspected typeahead's code (version 0.12.1) and as far as I understand, typeahead doesn't use `ng-model-options` at all. Am I right?

Also, if there are any patches or workarounds for it, I would

[2015-04-14 17:14] dmitriz commented on #3350
The string "(key, value) as value in data" indeed is rejected as invalid expression - just added this test and it passes:

      prepareInvalidDir = function () {
        prepareInputEl('<div><input ng-model="result" typeahead="(key, value) as value in data"></div>');
      };
      expect(prepareInvalidDir).toThrow();

[2015-04-14 17:21] vitaly-t commented on #3350
@dmitriz Shouldn't this be the other way round, the dictionary should work and there should be a positive test?

Your test suggests that the current restriction is supposed to be there. Why? It should be fixed instead.

[2015-04-14 17:36] dmitriz commented on #3350
As per documentation http://angular-ui.github.io/bootstrap/#/typeahead, supported expressions are

- label for value in sourceArray
- select as label for value in sourceArray

so yes, "(key, value) as value in data" is of not of the type, and is correctly rejected.

[2015-04-14 17:42] dmitriz commented on #3350
The string "(key, value) as label for value in data" is also rejected, so you can't use parentheses like that inside the expression, as of now.

[2015-04-14 17:42] vitaly-t commented on #3350
They simply forgot to add `(key, value)`, it is an omission, because there is not reason for not supporting it.

[2015-04-14 17:59] dmitriz commented on #3350
It it were not rejected, it would become the parsed expression assigned to `modelMapper` here:

https://github.com/angular-ui/bootstrap/blob/master/src/typeahead/typeahead.js#L26

and then evaluated to `model` here:

https://github.com/angular-ui/bootstrap/blob/master/src/typeahead/typeahead.js#L259

So how would `(key, value)` evaluate to a single object?

[2015-04-14 18:14] dmitriz commented on #3189
However, the text jumps back to the first character as soon as that window loses focus.
Would there be any better behaviour?

[2015-04-14 18:33] RobJacobs commented on #516
@gufigueiredo That is not a valid use case, see the Wiki faq section [here](https://github.com/angular-ui/bootstrap/wiki/FAQ#my-input-elements-stop-working-when-i-place-a-tooltip--popover-on-it) for an explanation.

[2015-04-14 18:53] rvanbaalen commented on #3189
I don't think this is an actual issue. It has nothing to do with UI Bootstrap, this is just default browser behavior for these browsers.

[2015-04-14 18:53] #3189 closed

[2015-04-14 19:02] rvanbaalen commented on #3538
As you can see in the demo's plunkr, the size option is working just fine:

http://plnkr.co/edit/HNmnv5yegRdRHBAhhLwj?p=preview

And there's nothing wrong with the `windowClass` either as demonstrated in this plunkr:

http://plnkr.co/edit/w46FTequFL0LHtsuJGMp

Closing until more information is provided.

[2015-04-14 19:02] #3538 closed

[2015-04-14 19:31] rvanbaalen commented on #3128
Please take a look at https://github.com/angular-ui/bootstrap#need-help

[2015-04-14 19:31] #3128 closed

[2015-04-14 20:27] karianna commented on #2671
Re-opening for further comment by maintainers

[2015-04-14 21:17] AnirbanKundu commented on #2830
The pagination control from angular bootstrap ui does not work with angular 1.3. Any thoughts on this ?

[2015-04-14 23:38] dmitriz opened #3542 "Running tests only for a module?"
I would like to run TDD tests only for a selected module. Is there any Grunt task for it?

Development instructions in
https://github.com/angular-ui/bootstrap/wiki/Development
only mention `grunt watch`, which is massive and slow.

For specific modules, only `build:module` is mentioned,
(whereas `watch:module` ignores the `module`),
with further instructions somewhat sketchy:
"Check the Grunt buil

[2015-04-15 00:00] dmitriz commented on #3049
I wonder what kind of behaviour was actually intended with `typeahead-editable="false"`?

It indeed does not prevent user from typing garbage.
However, not letting user type for no visible reason isn't user-friendly.

Even more problems restricting user edit would come from async loading...

[2015-04-15 00:15] RobJacobs commented on #3049
Comments in the code:

    should it restrict model values to the ones selected from the popup only?

[2015-04-15 01:28] dosapati opened #3543 "Tabset content ng-model is not working"
Facing a weird issue, where a simple text field value is not getting getting printed when using tabset. Wrote a sample to demo the same. Please check it below link

http://plnkr.co/edit/JczXnsFj9MZR9kpyBVn5?p=preview

Do suggest, what would have been missed out.

Thanks in advance.

[2015-04-15 06:40] chrisirhc commented on #3542
You can edit karma.conf.js to include files only from the modules you need. Otherwise, you can modify the tests to use `fdescribe` for the particular tests you want to run.

[2015-04-15 07:11] karianna commented on #2830
@AnirbanKundu - being worked on.

[2015-04-15 07:48] dmitriz commented on #3542
I was hoping for a cleaner solution, don't want getting merge conflicts when pulling updates from upstream.

I would prefer to use a separate custom karma config but not sure how to make it run.

There are also subtleties when modifying karma:
- one does not forget the dependencies of modules, e.g. `bindHtml` and `position` for typeahead:
- the following elegant brace matching globs will NOT watch

[2015-04-15 07:57] dmitriz commented on #3542
The other solution with `fdescribe` unfortunately doesn't work (without additional hacking) because `fdescribe` breaks the validators:

    $ grunt watch
    Running "enforce" task

    Running "ddescribe-iit:files" (ddescribe-iit) task

    Warning: Task "ddescribe-iit:files" failed. Use --force to continue.

    Aborted due to warnings.

[2015-04-15 08:35] dmitriz commented on #3542
See working config here:

https://github.com/dmitriz/bootstrap/commit/f5e4dcbf009945a566142e33e97f3daab4b0eb30

[2015-04-15 08:45] dmitriz commented on #2560
Is this a bug? Any jsbin reproducing it?

[2015-04-15 09:00] ayeletdn opened #3545 "typeahead close select on form submit"
I would like to get the select list to close when the form is submitted with a value which is not on the list (using `typeahead-focus-first` set to `false`).
I used the [typeahead](http://angular-ui.github.io/bootstrap/#/typeahead) plunker example as a starting point.

When the user hits enter, the `storeItem` function fires, but the list does not close.
[code]
The full function:

[code]

See full

[2015-04-15 09:51] neekey commented on #1496
any progress on this issue?

[2015-04-15 10:41] karianna commented on #3543
https://github.com/angular-ui/bootstrap#need-help

[2015-04-15 10:41] #3543 closed

[2015-04-15 11:53] RobJacobs commented on #3545
This issue is in the typeahead directive keydown method:

    // if there's nothing selected (i.e. focusFirst) and enter is hit, don't do anything
    if (scope.activeIdx == -1 && (evt.which === 13 || evt.which === 9)) {
      return;
    }

Which will leave the popup open when the input element loses focus.  To reproduce in the [plunker](http://plnkr.co/edit/nsQXVAyjuB5WpIgE2rWZ?p=preview) mentio

[2015-04-15 12:25] trueqbit commented on #3155
How big are the chances that the fix gets in? It always happens when datepicker-mode is specified as a string literal, whenever you switch the mode browsing the dates.

It's fixable by using a binding, though. So I assume that the correct fix would be to not let the scope watch the value at all, since it's a constant string anyway...

[2015-04-15 13:59] sheymann commented on #2308
+++

[2015-04-15 14:59] marioidival commented on #1193
I'm also a caching problem using modal.
When I make any change in the template that is modal, this change is not returned ...

[2015-04-15 15:30] yankee42 commented on #2661
Even if you use getter/setter you somehow need a date. So `$scope.model.fromDate = function(value) {};` does not return a date. Have you tried e.g. `$scope.model.fromDate = function(value) {return new Date()};` ?

[2015-04-15 15:56] yankee42 commented on #2661
But there is another problem which prevents gettersetter from working correctly:

If a user inputs a date, but the date is not valid (yet), then the date formatter will parse the value to `undefined`:
https://github.com/angular-ui/bootstrap/blob/82cb637dd12288d9fa0d42783f672fc71b94ffda/src/datepicker/datepicker.js#L562
https://github.com/angular-ui/bootstrap/blob/82cb637dd12288d9fa0d42783f672fc71b

[2015-04-15 16:10] seiyria commented on #1759
+1 -- just needed this, glad I found this issue.

[2015-04-15 17:48] SoundLogic opened #3549 "extending the tooltip"
I'm attempting to build an extended version of the tooltip although it's really more of a translation of the `$modal` provider into a tooltip provider

my intent is to create a tooltip that can have its own controller in much the same way as can be done with the `$modal` provider

I tried creating a `tooltipExtended` directive like so:

	    app.directive('tooltipExtended', [ 'tooltipStack', '$tim

[2015-04-15 17:57] eabovsky commented on #220
+1

[2015-04-15 20:05] rvanbaalen commented on #3549
Great work! I can see you put quite some time in there. But this still isn't the place to discuss this. Issues are meant for issues. Please take a look at: https://github.com/angular-ui/bootstrap#need-help

[2015-04-15 20:05] #3549 closed

[2015-04-15 20:14] SoundLogic commented on #3549
yep, my bad - thanks

[2015-04-15 20:58] chrisirhc commented on #3542
To get around the ddescribe tests, just use `--force` like:
[code]

I don't think we should change anything in the code to support this as we do want *all* the tests to run by default.

Perhaps it's a good idea to add these instructions to the wiki.

[2015-04-15 21:17] thebucknerlife commented on #3502
Pure bootstrap JS.

Sent from my mobile. Please excuse the brevity, punctuation and spelling.

On Fri, Apr 10, 2015 at 4:30 AM, Anton <notifications@github.com> wrote:

[2015-04-15 21:49] AnirbanKundu commented on #2830
I solved the issue by taking the templates from ui-bootstrap-tpls and loading all templates  into a templateCache in a separate module. In that way, I had complete control of the html templates and injected few styles wherever required.

[2015-04-16 00:31] CrackerakiUA opened #3550 "removing Bootstrap - custom bootstrap"
How can i remove bootstrap without ruing the carousel you have implemented?

[2015-04-16 00:36] rvanbaalen commented on #3550
https://github.com/angular-ui/bootstrap/blob/master/README.md#need-help

[2015-04-16 00:36] #3550 closed

[2015-04-16 03:54] dmitriz commented on #3542
Thanks, it is better :)

But still not ideal.

When I am working on specific module, I want to keep running __all related tests__, not just one I changed to `fdescribe`. Some related tests are spread over several files. Manually editing them back and forth just doesn't feel right.

[2015-04-16 04:21] dmitriz commented on #3542
Concerning running _all_ tests...

It takes 25 seconds (!) for the whole run on my Macbook Pro (8 GB RAM, 1600 MHz DDR3), I don't want to think how slow it is on cheaper less powerful machines.

Worse - I get 3 full screens of warnings not related to the module I am working on - do you really want to see them all after _every single edit_?

But wait - it gets even worse!
As I type and save, your _

[2015-04-16 04:29] dmitriz commented on #3542
Here I submitted a related PR:
https://github.com/angular-ui/bootstrap/pull/3548#issuecomment-93482302

[2015-04-16 06:12] dmitriz commented on #3396
Guys,

Can anyone please update what is the real problem here?

I have nearly broked the leg of my chair from laughing - so true:
https://github.com/angular-ui/bootstrap/issues/1994
:laughing:

Beside my own issue https://github.com/angular-ui/bootstrap/issues/2581 over half year ago, there is a whole sophisticated network of highly interlinked discussions on that matter. If I could export it to a

[2015-04-16 07:30] chrisirhc commented on #3542
You can set `fdescribe` on multiple describe blocks. I don't think this should go into core. If you're working on a module, this is a temporary state. I don't think the core should support your use case. We want to run all tests all the time. If anything, we should instead spend time and effort on making the tests run *faster*.

[2015-04-16 07:32] pkozlowski-opensource commented on #3542
Agreed with @chrisirhc here. And we should really remove `fdescribe` checks on watch - we only care that are not left behind in the final build - having them during watch is OK.

[2015-04-16 07:36] chrisirhc commented on #3542
Ah right, indeed, it makes sense to remove those fdescribe checks on each watch run. It can run it when it's not a watch statement or during the initial run but not on each subsequent watch run.

[2015-04-16 08:13] chrisirhc commented on #2544
Also, for reference, Twitter Bootstrap has the escape key listener only on the modal element itself rather than on the $document.

[2015-04-16 08:33] paullo0106 commented on #819
So how to fix this? Ran into the exact same problem...

[2015-04-16 08:36] chrisirhc commented on #3542
Hm. I'm running it on my machine and I don't see the warnings on every run. I only see it on the initial run. Perhaps @dmitriz has a different configuration?

[2015-04-16 08:55] chrisirhc commented on #2308
You should do a check on the validity of the form before calling submit, like `<form name="myForm" ng-submit="myForm.$valid && submit()">`.

See this Plunker: http://plnkr.co/edit/CK9rUM?p=preview

Just using `require` won't allow Angular to check the form's validity. To the browser, as long as there's a value in the input field, it's valid.

[2015-04-16 08:57] stryju commented on #2544
there you go

[2015-04-16 10:40] emikus commented on #2671
+1 for ng-model support

[2015-04-16 11:21] karianna commented on #3396
@dmitriz You can see its been scheduled for 1.0.0.

[2015-04-16 11:27] karianna commented on #2308
@chrisirhc Should we close this as a support issue in that case?

[2015-04-16 12:03] rvanbaalen commented on #3396
@dmitriz as said before me it is indeed planned for v1.0.0. The reason we didnt make this a higher than 1.0 priority is mainly due to two things:

- Make it work first. We have hundreds of PRs and issues related to functionality/bugs
- Its a boat load of work as you can imagine. That shouldnt be a reason but given the limited time we all have available to spend on this project, this can be an issu

[2015-04-16 13:43] dmitriz commented on #2421
Here is a pure CSS implementation if that helps:
http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3

[2015-04-16 14:32] rufinitsw commented on #375
+1

[2015-04-16 14:49] Blackbaud-PatrickOFriel opened #3552 "Tooltip > Mobile orientation change"
Not sure if this is already known, but when you specify the `tooltip-placement` while using tooltip, then the tooltip repositions itself incorrectly on orientation change in mobile. It seems that the tooltip repositions itself perfectly on orientation change when `tooltip-placement` is not indicated. You can see the issue [here](http://plnkr.co/edit/xchLBGlFks7LfvLOkRUt?p=preview) (which is shamel

[2015-04-16 14:53] jpetraws opened #3553 "injecting html in a popover doesn't work/popover templates do not work"
Not sure if I am doing this wrong or what...

    <div class="col-lg-12">
      <legend>Android Industries
        <i class="fa fa-truck"
           popover-placement="bottom"
           popover-template="{{templateUrl}}"
           popover-title="Requests for shipments">
          <span class="badge">2</span>
        </i>
      </legend>
    </div>

##js

    $scope.templateUrl = 'app/views/andro

[2015-04-16 14:56] rvanbaalen commented on #3553
This feature has not landed in a stable release yet. Unless you're using a manual build from the current master branch, this feature does not exist.

What version of Angular and UI Bootstrap are you using and if it's one of the officially release versions, please provide a plunkr reproducing your problem.

[2015-04-16 15:27] jpetraws commented on #3553
I am using a manual build by copying the new popover.js into the latest release.

    AngularJS v1.3.9, Bootstrap v3.3.1

Here is a quick plunker of my problem

http://plnkr.co/edit/bBAeHhFF6oE7XvCfUibc?p=preview

[2015-04-16 15:29] lc-nyovchev opened #3554 "Expose $modalstack openedWindows"
For various reasons I'd like to have the map of openedWindows (and not only the top one) easily accessible. Currently it can be (cleanly) achieved through a $delegate that wraps open/close/dismiss functions and keeps track of the instance or through some nasty hacks like using some service to wrap any call $modal.open. However, to avoid such ugliness, it'd be nice if we could expose openedWindows.

[2015-04-16 15:31] rvanbaalen commented on #2449
Closing due to inactivity. No extra info provided.

[2015-04-16 15:31] #2449 closed

[2015-04-16 15:31] pkozlowski-opensource commented on #3554
Could you name one or two of those reasons to convince us to expose "private parts"?

[2015-04-16 15:36] pkozlowski-opensource commented on #3181
@TakLee96 you must be using some older version of the library since the version from master is using `@` binding (see: https://github.com/angular-ui/bootstrap/blob/82cb637dd12288d9fa0d42783f672fc71b94ffda/src/alert/alert.js#L16)

A plunker forked from our demo page seems to work without problems: http://plnkr.co/edit/k3Ht33YP8ncrjyuTbds4?p=preview

Closing this one for now, but please do re-open i

[2015-04-16 15:36] #3181 closed

[2015-04-16 15:39] pkozlowski-opensource commented on #3356
Closing due to the lack of reproduce scenario. @lewyue if you've got the same issues provide a reproduce scenario.

[2015-04-16 15:39] #3356 closed

[2015-04-16 15:44] lc-nyovchev commented on #3554
Yes, in the app I am currently developing, I have a generic error handling thing which creates a different modal based on the type of error it encounters.

I want to cater for cases where I can have more than one modals opened at the same time. I also want various components to be able to make decisions upon inspecting a modal whether to close it or not.

For example, let's say I have a service A

[2015-04-16 16:17] hrajchert opened #3555 "Popover-tempate not working with jqLite"
If I have simple popover it works great, but when I change to popover-template I get

Error: [jqLite:nosel] Looking up elements via selectors is not supported by jqLite!

[2015-04-16 16:46] rvanbaalen commented on #3555
Plunker please. Popover-template is not available as a feature yet. Will be released withversion 0.13.0

[2015-04-16 17:20] RobJacobs commented on #2421
@dmitriz Nice find, thanks for sharing.

[2015-04-16 17:44] RobJacobs commented on #3553
@jpetraws A problem I see right off is that you are using the bootstrap javascript library and the angular-ui-bootstrap library.  The plunker provided does not have the latest angular-ui-bootstrap library or a manual build, it's pulling from http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js.  Here is a [plunk](http://plnkr.co/edit/nbbfpG2TjB3uvSORsSAJ?p=preview) with the latest

[2015-04-16 17:44] #3553 closed

[2015-04-16 17:47] RobJacobs commented on #3555
@hrajchert  Here is a [plunk](http://plnkr.co/edit/nbbfpG2TjB3uvSORsSAJ?p=preview) with the latest build from the master branch with a popover-template demo.  I don't see any jqLite errors.  If you can reproduce the problem using that plunk I'll reopen the issue, thanks.

[2015-04-16 17:57] hrajchert commented on #3555
I used this [plunkr](http://plnkr.co/edit/mYiDJpdCqKGXvOzcOOFR?p=preview), In which I grabbed the latest commit and made a custom build using this command
[code]

If I add jquery as a library I don't get the error but it still doesn't work. I will now see @RobJacobs plunkr to see whats different

@rvanbaalen I do know that this is supposed to be in 0.13.0 but I wanted to test it out.

[2015-04-16 18:01] chrisirhc commented on #2308
Yep closing. If anybody disagrees, they can reopen / post a comment.

[2015-04-16 18:01] #2308 closed

[2015-04-16 18:09] chrisirhc commented on #2544
Re-looking at this, what's the actual use case where this is breaking things? Why would a user need to type escape while inputting a form?

Changing this may break expected behavior. Typically, if a form control requires the use of the Escape key to perform some action, it should do `event.stopPropagation()` to prevent other components, such as the modal from capturing the escape key.

[2015-04-16 18:12] stryju commented on #2544
well, when i'm typing something in an input and i press escape (input still `:focus`), i expect the value to be gone, not closing of the "window" (modal, in that case)

[2015-04-16 18:13] chrisirhc commented on #3396
I welcome PRs on this issue to speed things along but be aware that it might need some rebasing later.

[2015-04-16 18:21] stryju commented on #2544
IMO it would be better if developer explicitly triggered blur on the form elements when they're "empty" so the next `esc` key press would close the modal

[2015-04-16 21:37] lloiser commented on #2208
+

[2015-04-16 22:52] pyella commented on #375
+1

[2015-04-16 22:56] chrisirhc commented on #2544
Hm what kind of input is this? I don't think this is the default behavior in browsers. It's not the behavior in the input text boxes in GitHub for example. If a developer triggers `blur`, the developer should also stop the event from propagating afterwards.

[2015-04-17 00:12] 311chaos commented on #3451
Just found this. I am currently on 1.12.1, but I came here looking for performance related issues with the datepicker. I am on a $asqwatch hunt (see ng-conf talks for this reference), and I found that a single datepicker brings along 232 watches. There are 5 per 'day', which is the bulk of them.

I can fork 1.12.1 and change the templates to one time bindings (using a bindonce 3rd party library) ,

[2015-04-17 00:33] dmitriz commented on #3542
I have created Gist to demonstrate testing output:
https://gist.github.com/dmitriz/6bdf94d41f6c652bd15f

By changing `reportSlowerThan:` inside `karma.conf.js` I can suppress the warnings.
Note that time can slightly change for different test runs, so suppressed warnings can also change.

With  `reportSlowerThan: 300` all warnings disappear.

But the problem is not the warnings, it is the **25 sec

[2015-04-17 00:47] dmitriz commented on #3062
Maybe close and link to:
https://github.com/angular-ui/bootstrap/issues/3396

[2015-04-17 00:52] RobJacobs commented on #3451
Related to PR #3443

[2015-04-17 00:53] dmitriz commented on #1893
Any examples of real use cases to justify the suggestions?

[2015-04-17 05:29] chrisirhc commented on #3542
I'm using `fdescribe` when developing specific modules.

[2015-04-17 05:40] chrisirhc commented on #2544
I realized we can also check whether the event has default prevented to avoid closing the modal if the isDefaultPrevented returns true. That way, developers can signal that the keyboard event has been canceled and avoid closing the modal when event.preventDefault has been called.

[2015-04-17 05:46] chrisirhc commented on #516
@gufigueiredo , that might be a possible use case to support after we release 0.13 . I've opened another issue for that.

[2015-04-17 05:48] chrisirhc opened #3557 "Tooltip $apply in progress error when using focus trigger"
Reported by @gufigueiredo in #516

                    <div class="form-group">
                        <label for="DateField" class="required">Date Field</label>
                            <div class="input-group date">
                              <input name="DateField" type="text" class="form-control"
                                     tooltip="Choose a date"

[2015-04-17 05:56] chrisirhc commented on #3451
@311chaos , we could use help in testing the changes in #3443 . If you find any bugs caused by the PR, do report on it. Otherwise, it's also good to indicate that it works for you.

[2015-04-17 05:58] chrisirhc commented on #3062
Good point. Closing as duplicate of #3396 .

[2015-04-17 05:58] #3062 closed

[2015-04-17 05:59] chrisirhc commented on #2208
Duplicate of #1012

[2015-04-17 05:59] #2208 closed

[2015-04-17 06:14] chrisirhc opened #3558 "Change popover/tooltip-template to evaluate expression"
**Must do this before 0.13.0 release**, as it would be a breaking change if we do this after release.
Before:
[code]
After
[code]

The reason for this is to support $sce trusted urls. In order to pass a trusted URL, one needs to use an expression.
[code]

[2015-04-17 06:22] chrisirhc commented on #3555
This is because your template only contains text. It doesn't contain at least an HTML tag. Looking at the jqLite implementation, there's no easy way to fix this.
As such, we may need to improve the documentation to specify that if a template is used, it needs to be wrapped in a tag.

[2015-04-17 06:36] chrisirhc commented on #2671
I don't think this is within the scope of this project at the moment.
We're focusing on stability of the current components.
We want a basic core set of components most people will find useful. Hence, the name **bootstrap**.

This falls into the category of useful for *some few* people. It also makes dropdowns much more complicated. In bootstrap, the use of dropdowns are for very basic menus. I do

[2015-04-17 06:52] nikkwong opened #3559 "$transclude is not a function"
[code]
upon trying to open a modal I am getting the TypeError:
[code]
Anyone know how this could originate? Thanks :-)

[2015-04-17 07:34] ankit5990 commented on #3049
When typeahead is used with configuration <code>typeahead-editable="false"</code>, any garbage value entered by user sets the value of typeahead model to <code>undefined</code>.

The approach used in the demo plunk tries to reset the values in the form by setting the corresponding value of the model to <code>undefined</code> again. As there is no actual change in the value of the model, the ngMode

[2015-04-17 07:37] ankit5990 commented on #3049
There seem to be no straight forward way to fix this issue.

The typeahead directive reads the input value and tries to assign a model value to it by using ngModel.$parsers. In case when model value can only be selected from the typeahead dropdown, the parser returns <code>undefined</code> to mark the input parsed value as invalid-parsed.

As mentioned in <a href="https://docs.angularjs.org/api/ng

[2015-04-17 07:44] chrisirhc commented on #3049
Agreed. This isn't restricted to just typeahead. Any form input that requires a parser would have this same issue. I believe this is by design (by AngularJS) though. As @ankit5990 mentioned, you need the explicit null.

[2015-04-17 07:44] #3049 closed

[2015-04-17 08:34] stryju commented on #2544
hm - true

[2015-04-17 09:54] karianna commented on #3559
plunkr please

[2015-04-17 10:07] Skypus opened #3560 "Issue with typehead not working in modal dialog called from modal dialog"
Env: IE 11.0.xx

Issue description: typehead not fire keydown event and typehead not working as a result.

Fix:
Changes to angularjs.js 1.3.14

Method: function $SnifferProvider()
                           hasEvent
Line:
Before        if (event === 'input' && msie <= 11) return false;
After:
                          if (event === 'input' && msie <= 10) return false;

This is fixing issue with re

[2015-04-17 10:21] karianna commented on #3560
Can you provide a plunkr please

[2015-04-17 11:27] Skypus commented on #3560
Here it is:

This is how it works

http://plnkr.co/edit/roCvxWQkxIGIo9Qui6Fx?p=preview

To replicate issue change angular version to 1.3.15

This will kill keydown event to reaching typehead element.

[2015-04-17 11:32] rvanbaalen commented on #3560
Can you explain the use case where you need to open a modal in a modal?

[2015-04-17 11:34] RobJacobs commented on #1893
Angular [spec](https://docs.angularjs.org/api/ng/type/$compile.directive.Attributes) for directive attributes support:

    <span ng:bind="a" ng-bind="a" data-ng-bind="a" x-ng-bind="a">

Looking at the angular code, $normalize calls directiveNormalize which calls camelCase:

    function camelCase(name) {
      return name.
        replace(SPECIAL_CHARS_REGEXP, function(_, separator, letter, offse

[2015-04-17 11:36] rvanbaalen commented on #2671
I completely agree with @chrisirhc on this one. People are trying to use a dropdown as a **select**. We have a different project for selects:

https://github.com/angular-ui/ui-select

UI Select is basically a dropdown with ng-model support.

[2015-04-17 11:36] #2671 closed

[2015-04-17 12:40] Skypus commented on #3560
Not sure what you mean. But when I have typehead in the second modal dialog its failing to work in angularjs 1.3.x.
This all need to be tested in IE, I would say IE 11.x
Thanks,

[2015-04-17 13:16] shootermv commented on #3545
I curious if something like this can help
[here](http://plnkr.co/edit/Oe4RcBb4KVmIwKE50HBI?p=preview)

[2015-04-17 13:51] pluma commented on #1893
I don't have a dog in this race any more because I have pretty much abandoned AngularJS at this point. If nobody else takes any interest, feel free to close this issue.

[2015-04-17 14:27] rvanbaalen commented on #3560
Well I can reproduce this in Chrome as well. But what I meant with 'what is the use case' is please explain why you would trigger a modal from another modal. It smells like there is something wrong with your UI design rather than the library having to support such edge cases.

From what I can see, this seems to be a z-index issue since the modals just keep stacking up but the typeahead dropdown ha

[2015-04-17 14:31] rvanbaalen commented on #3559
@nikkwong https://github.com/angular-ui/bootstrap/blob/master/CONTRIBUTING.md#you-think-youve-found-a-bug

[2015-04-17 14:32] demiro opened #3561 "typeahead menu does not close on form submit"
So, when the typeahead menu is appended to the body, and I hit submit or press enter while in the typeahead input box, the menu does not disappear if I am too quick.

I would like to be able to close it or disable it from my controller, while submitting the form with ajax as well...

[2015-04-17 14:33] rvanbaalen commented on #3561
https://github.com/angular-ui/bootstrap/blob/master/CONTRIBUTING.md#you-think-youve-found-a-bug

[2015-04-17 14:35] rvanbaalen commented on #3561
Sounds like you're not using the formController or modelControllers to verify the form's state before you submit or even allow the user to submit. Please provide a plunker reproducing your problem. If this is not an actual bug, please ask you question on Stack Overflow and label it with the `angular-ui-bootstrap` tag.

[2015-04-17 14:41] Skypus commented on #3560
Well, UI is fine. Main, first level modal dialog looks much bigger and second is just to provide user input etc.
There is nothing to do with z-index.

This is just and example how it works on production system.

If you would dig deeper you will see that typehead not getting 'keydown' event.

So I did provided you with the quick fix above and would like to have more appropriate solution etc.

Thank

[2015-04-17 14:45] demiro commented on #3561
what do you mean by formController?

I did open it on stackoverflow some days ago, but with no answer
http://stackoverflow.com/questions/29558406/hide-dropdown-on-form-submit

[2015-04-17 14:49] rvanbaalen commented on #1640
Closing this due to inactivity. I'm thinking something similar could be achieved by (ab)using the $asyncValidators pipeline in Angular 1.3 these days? But that's just a wild guess and you'll probably be using the validator pipeline for formatting purposes in that case which smells bad.

[2015-04-17 14:49] #1640 closed

[2015-04-17 15:02] nikkwong commented on #3559
My apologies. ^_^

http://plnkr.co/edit/uIOIOQEnz6528HavV4s5?p=preview

Thanks!

[2015-04-17 15:04] rvanbaalen commented on #1236
This is fixed when using the most recent `ui-bootstrap` and `bootstrap css`.

http://plnkr.co/edit/0s6RbB?p=preview

[2015-04-17 15:04] #1236 closed

[2015-04-17 15:27] rvanbaalen commented on #740
I just confirmed this is still an issue with the current master branch and the latest Bootstrap CSS:

http://plnkr.co/edit/DJy5k5uNWHSTqtAFUgVM?p=preview

[2015-04-17 15:35] rvanbaalen commented on #3559
Thanks for the plunker @nikkwong. But I can now conclude that this is a support question rather than a bug in modal.

A word of advise -- get back to the core basics of opening the modal from a controller. When that works, slowly build up your directive again and see when you get the error.

[2015-04-17 15:35] #3559 closed

[2015-04-17 15:46] rvanbaalen commented on #3561
I suggest you take a look at the Angular documentation. Also, questions are asked on Stack Overflow (like you did) and actual bugs with the library are reported as an issue on GitHub.

This is not a bug, therefore I'm closing it. If someone has an answer to your question, they can answer it on StackOverflow.

[2015-04-17 15:46] #3561 closed

[2015-04-17 16:06] AndrewIsh commented on #3451
@hamfastgamgee I'm having real problems with this due to having a number of datepickers in my view. I'm intrigued by your suggestion of using one-time bindings in the template, but I can't figure out where I'd use them (I'm fairly new to Angular). Can you please advise? Here is an example datepicker from my markup:
[code]

I assume I'd use them in the ng-model attribute, as per:
[code]
but that di

[2015-04-17 16:12] rvanbaalen commented on #1690
Closing due to inactivity.

[2015-04-17 16:12] #1690 closed

[2015-04-17 16:20] hamfastgamgee commented on #3451
I meant in the angular-ui datepicker templates.  AKA PR #3443 :)

[2015-04-17 16:22] rvanbaalen commented on #2388
@musketyr If I understand you correctly, you want the typeahead to have a default value before you start initiating the async call? Like this: http://plnkr.co/edit/4Aq2DUIQ4yclWZeIcWB8  ?

Seems like a support question rather than a bug report to me.

[2015-04-17 16:26] rvanbaalen commented on #1742
@rpocklin's https://github.com/rpocklin/ui-router-tabs seems like a fine solution to this challenge.

Closing due to inactivity.

[2015-04-17 16:26] #1742 closed

[2015-04-17 17:25] RobJacobs commented on #3451
@AndrewIsh PR #3443 only solves part of the problem, the datepicker popup needs to be wrapped in an ng-if as there is a lot of overhead rendering the elements.  PR #1915 implements the ng-if but you could also use an inline datepicker and wrap that in an element that uses ng-if.

[2015-04-17 17:38] nikkwong commented on #3559
Hi, sorry don't mean to re-open, but even in the most simple documented use case this error is still being generated.

http://plnkr.co/edit/uIOIOQEnz6528HavV4s5?p=preview

[2015-04-17 17:53] rvanbaalen commented on #3559
This is not an issue if you use a more recent version of AngularJS:

http://plnkr.co/edit/gBMGMZ2uGD1Ek9HRGJxP?p=preview

In the upcoming `0.13.0` release, AngularJS 1.3 will be the minimum requirement.

[2015-04-17 17:53] pkozlowski-opensource commented on #3559
@nikkwong you are using _very_ old AngularJS version, the err goes away if you switch to the latest released 1.2.x: http://plnkr.co/edit/itF3gPyBjQKEJCQFaePX?p=preview

[2015-04-17 17:57] nikkwong commented on #3559
Tks :-)

[2015-04-17 18:03] AndrewIsh commented on #3451
Thanks very much @hamfastgamgee and @RobJacobs , I'll take a look at those PRs :)

[2015-04-17 18:23] demiro commented on #3561
if the typeahead is not closing, when it is supposed to, then it's a bug!

[2015-04-17 20:21] pjukalkar commented on #2171
thejohnfreeman solution works for my problem!

[2015-04-17 20:48] chrisirhc commented on #2544
If you could modify your PR or create a new PR for that change, I'll be happy to get it merged :smile:

[2015-04-18 04:57] musketyr commented on #2388
no, this is not the issue at all. please, reopen the issue.

let's try it again:

I have a typeahead (let's say for location as in that [plunk](http://plnkr.co/edit/hlS3LVcVfJmqTqU2aRvg?p=preview). and I have some preferred/predefined *select options* (not preselected/default value as you suggested) and as calls to `getLocation()` function can take a while I would like to show these *select option

[2015-04-18 08:00] dmitriz opened #3562 "Cleanup Demo Inconsistency and Readability"
There is some inconsistency and lack of clear explanation for a few components on

http://angular-ui.github.io/bootstrap/

- The descriptions for **Button** and **Collapse** do not say what the actual directives are.

- Some directives are used as Elements and some as Attributes. It would be good to state the actual rules rather than guess them from demo examples.

- Typeahead description does not

[2015-04-18 08:42] dmitriz commented on #3396
Thanks for the update!

Unless I am overlooking something, a simple job would be:
- Add names to the anonymous functions defining directives.
- Additional prefixed directives declarations linking to those functions.

That would allow both custom prefixed and un-prefixed versions.

Would that not do it?
Am I too naive? :)

[2015-04-18 13:08] karianna commented on #3562
@dmitriz PR welcome!

[2015-04-18 13:24] dmitriz commented on #3562
Ok  :)

Any easy way to build and view the doc locally?

Couldn't find in Grunt but I'm no Grunt (I'm Gulp :-)

[2015-04-18 16:56] chrisirhc commented on #3562
When you run `grunt` it builds the documentation in the `dist` folder. You can run a http server (such as `http-server` on npm) and point your browser to `dist/index.html` .

[2015-04-18 18:36] ankit5990 commented on #3049
:)
my pleasure...
I am glad you found the analysis useful

[2015-04-18 20:04] chrisirhc commented on #3396
This change isn't referring to directive prefixes, which is in #157 . This change is to ensure that controllers, services, constants, anything we declare on the module (except directives) must be prefixed.

For example, in https://github.com/angular-ui/bootstrap/blob/master/src/tabs/tabs.js, the `TabsetController` will now be `UibTabsetController`. Note that the references to the controller, in th

[2015-04-18 23:31] RobJacobs commented on #3396
Should we try introducing a style guide as well?  [Todd Motto](https://github.com/toddmotto/angularjs-styleguide) and [John Papa](https://github.com/johnpapa/angular-styleguide) have published a couple that do a good job of explaining the how and why of their recommendations.

[2015-04-19 13:14] charleston10 commented on #3094
thanks, also solved my problem

[2015-04-20 00:20] smilelizy commented on #618
@vchatterji
Thanks for the hacks there.

$('body').on('click', function (e) {
   $('*[popover]').each(function () {
                //Only do this for all popovers other than the current one that cause this event
                if (!($(this).is(e.target) || $(this).has(e.target).length > 0)
                     && $(this).siblings('.popover').length !== 0
                     && $(this).siblings(

[2015-04-20 02:22] dmitriz commented on #3562
Thanks!
Didn't expect the demo pages "hidden" inside `dist`. :)

PR submitted!

[2015-04-20 03:04] dmitriz commented on #3396
Sorry for the confusion and thanks @chrisirhc for clarification (I am sort of lost in the interlinked network :)

## So here is a proposal (hopefully in the right issue :) that looks simple to me:
- Create a dedicated "prefixed" branch for all the work on prefixes.
- Manually add prefixes to all **internal** controllers and services.
- Release prefixed versions as `1.0.x-prefixed-prereleased` or s

[2015-04-20 03:19] dmitriz commented on #3562
Unfortunately, I could not find an easy way to <mark>highlight</mark> the demo code as I previously proposed. Too bad as that would really improve the readability.

The main problem seems to be that the same files are used as actual code and again to show the markup. Which is a good precaution against putting messy code on the Demo. But this makes it very hard to add markup without affecting the f

[2015-04-20 03:28] dmitriz commented on #157
### Proposal
- Add names to the anonymous functions defining directives.
- Add prefixed directives declarations linking to those functions.

### If this is considered a breaking change, follow the same route as in my proposal
https://github.com/angular-ui/bootstrap/issues/3396#issuecomment-94344993

[2015-04-20 09:21] vlapo commented on #2373
+1

[2015-04-20 12:53] rvanbaalen commented on #3562
I think it will be too much to highlight the demo code where actual UI Bootstrap code is used. It's expected from users that they have some sort of experience with using Twitter Bootstrap and by having that, I think it's fairly clear to read the code examples and know what's 'new' (e.g. from UI Bootstrap).

[2015-04-20 13:39] mizrael commented on #2373
+1

[2015-04-20 17:17] mdsauer commented on #3504
Thanks Rob.  I should have seen that this was an issue with the way I did the form regardless of whether I was using a modal.  For those interested, another fix is to make sure that the cancel button has type="button".  Without this the button defaults to type submit and hence both the ng-click and the submit action both fire.

[2015-04-20 20:18] lc-nyovchev commented on #3554
For those interested, here is a plunkr demonstrating the $delegate way. Imo it is way uglier than just exposing the opened modals.

http://plnkr.co/edit/yKU2oObUaejuimMWxoDA?p=preview

[2015-04-20 20:27] smaye81 commented on #3328
So is this actually a bug?  The functionality you describe above doesn't seem to be expected behavior to me.

[2015-04-20 22:26] Foxandxss commented on #3328
To be honest, it always worked like that and I never questioned it.

[2015-04-21 08:16] matt-major opened #3570 "Datepicker min-date Ignores Format"
**Angular**: 1.3.2
**Angular UI**: 0.12.1

I'm formatting my dates to the format ```dd/MM/yyyy``` (UK-style) and trying to use these for the ```min-date``` attribute on the DatePicker directive.

This directive is reading the date in the format of ```MM/dd/yyyy```, which causes (for example) April 5th to be read as May 4th.

I believe the directive should use the format provided in the ```datepick

[2015-04-21 10:40] karianna commented on #3570
Pretty sure this is a duplicate - have you tried against master?

[2015-04-21 11:23] egaga opened #3571 "Add strict date parse mode to datepicker"
Inside parseDate(viewValue):
          var date = dateParser.parse(viewValue, dateFormat) || new Date(viewValue);

There should be a configuration option that if dateParser.parse returns undefined, then the value is invalid.
One reason for strict parsing is that if the dateFormat is 'dd.MM.yyyy', then "1.12.2015" is interpreted as 12.1.2015! (month and day are otherway around). This results in sub

[2015-04-21 11:32] #3571 closed

[2015-04-21 12:20] rvanbaalen commented on #3570
@matt-major Please add a plunkr demonstrating your issue.

[2015-04-21 12:53] matt-major commented on #3570
@rafbgarcia sure, http://plnkr.co/edit/hxEiaVDvGyRheOV6VzCA?p=preview

As you can see with this demo, I'm passing in the min-date of 05/04/2015, and the data-datepicker-popup format as "dd/MM/yyyy" as this date is in UK format.

The directive however just creates a new Date from 05/04/2015 with no localization/formatting which results in May 4th rather than April 5th.

[2015-04-21 16:26] gflandre opened #3573 "Angular bootstrap not compatible with AngularJS 1.2.3"
The website states that the project `requires AngularJS 1.2.x`.

However the jqlite AngularJS 1.2.3 embeds does not support the `$element.empty` method (cf. https://code.angularjs.org/1.2.3/docs/api/angular.element) that is used in the latest angular bootstrap version.

This causes the Modal directive to crash.

[2015-04-21 16:32] karianna commented on #3573
You should be using the latest 1.2.x (1.2.14 I think?)

[2015-04-21 16:55] gflandre commented on #3573
My point was that the doc is misleading and should be updated.

[2015-04-21 17:49] karianna commented on #3573
Ah sorry, whereabouts in the docs is this, I can't find that reference..

[2015-04-21 19:56] viveleroi opened #3575 "Detached elements on $modal close"
Using angular 1.3.15, also reproduced with 1.2.28, and angular-bootstrap 0.12.1 - 2015-02-20

When closing a modal, DOM elements are left detached and in our case the issue impacts rendering next time the modal is opened. I have a `ui-grid` inside the modal and if someone opens the modal a second time, the ui-grid code doesn't have the proper sizing information and does not render correctly.

Look

[2015-04-21 22:29] BoeFly commented on #1976
+1

[2015-04-22 03:38] jodytate commented on #3573
I think the relevant line is in the site docs, e.g.:

https://github.com/angular-ui/bootstrap/blob/master/misc/demo/index.html#L148

    <li><a href="http://angularjs.org" target="_blank">AngularJS</a> (requires AngularJS 1.2.x, tested with <%= ngversion %>)</li>

Not sure if this is referenced elsewhere.

[2015-04-22 04:26] majgis opened #3577 "popover with popupDelay is first visible to right then hops to bottom"
I'm seeing this issue in chrome but not in firefox.

Setting a popupDelay with a placement of top or bottom results in a visible hop for a popover.

Here is the [plunk](http://plnkr.co/edit/6J1f6z?p=preview).

[2015-04-22 06:51] Vnthf opened #3578 "I can't find proper way to get model element."
I cannot find any way to get modal element in modal controller.
Most of all injection are fobbidden like $element

[code]

[2015-04-22 08:36] karianna commented on #3578
https://github.com/angular-ui/bootstrap#need-help

[2015-04-22 08:36] #3578 closed

[2015-04-22 08:44] pkozlowski-opensource commented on #3578
Yeh, it is not clear what is meant by "get modal element in modal controller.". I suspect that it is about getting a hand on a DOM element and we shouldn't be doing this any easier on people :-)

[2015-04-22 08:45] karianna commented on #2448
Is this really an Angular 1.3 /  0.13.0 issue?

[2015-04-22 11:47] RobJacobs commented on #2448
This [plunk](http://plnkr.co/edit/u25BuHp5Fg1LChwFR4K5?p=preview) forked from @wesleycho plunk above shows multiple dropdowns working using the internal directive open flag and the is-open attribute.  Both seem to be working fine to me.

[2015-04-22 12:36] jrauschenbusch commented on #2373
+1

[2015-04-22 13:07] rvanbaalen commented on #2448
As @karianna said; this doesn't seem to be a critical 'Angular 1.3 support' issue, is it?

[2015-04-22 13:16] rvanbaalen commented on #2373
As @pkozlowski-opensource already said months ago, we won't be adding another option to the already extensive config possibilities of the modal. You can easily use a custom template with the correct z-index by using `templateUrl`. That, in combination with the options to overwrite the default template or to add a `windowClass` you should have enough tools to achieve what you want.

Please **don't*

[2015-04-22 14:19] Digambar14 opened #3579 "Nested accordion issue"
I want to create accordion with nested levels. The levels are created properly, but the last level contains list of subcategories which should get listed one by one on new line. But what happens in my case all sub categories gets listed in one line. I seen in console that all sub categories getting listed in one panel body, they should get separate class for each of the sub categories. I have crea

[2015-04-22 14:50] Digambar14 commented on #3579
I need to repeat this div
[code]

Please help...

[2015-04-22 15:01] rvanbaalen commented on #3579
https://github.com/angular-ui/bootstrap#need-help

[2015-04-22 15:01] #3579 closed

[2015-04-22 15:06] rvanbaalen commented on #3577
You should be using the latest UI Bootstrap:

http://plnkr.co/edit/FkHhsf?p=preview

[2015-04-22 15:06] #3577 closed

[2015-04-22 15:22] rvanbaalen commented on #2648
https://github.com/angular-ui/bootstrap#need-help

[2015-04-22 15:22] #2648 closed

[2015-04-22 15:28] rvanbaalen commented on #2665
@chrislhardin Can you please verify if this is still an issue with the latest AngularJS 1.3 release?

[2015-04-22 15:30] rvanbaalen commented on #1964
https://github.com/angular-ui/bootstrap#need-help

[2015-04-22 15:30] #1964 closed

[2015-04-22 15:36] majgis commented on #3577
The latest on npm is v0.12.0.  Can you publish v0.12.1 to npm?

[2015-04-22 15:37] davidwparker opened #3580 "Modal - Ability to modify z-index"
@rvanbaalen - I'm opening a new issue for this, since you locked the other one. I'm not satisfied with you locking it, especially after I made a clear comment on the issue, which was never addressed and still isn't addressed- back in November 2014 (https://github.com/angular-ui/bootstrap/issues/2373#issuecomment-63193732).

Here's the comment / concern, in case you didn't want to click the link:

[2015-04-22 15:48] rvanbaalen commented on #375
It's already clear that this is a wanted feature.

#### Please stop all the +1 responses

We'd like to keep this open for on-topic discussion instead of having to receive notifications for all +1 responses.

[2015-04-22 15:57] rvanbaalen commented on #3580
@davidwparker I locked the issue mainly because it was flooded by '+1' comments months after it got closed.

As for all issues -- demonstrate your problem by posting a plunkr and we can take a look at it.

[2015-04-22 16:00] davidwparker commented on #3580
@rvanbaalen - I'll see what I can do. We had to customize Angular-UI to get our modals working and haven't touched/upgraded it since. Thanks and agreed that +1 isn't useful.

[2015-04-22 16:01] pkozlowski-opensource commented on #3580
@davidwparker it would help if you could present a real-life use-case instead of general comments like

Do you have this use case? How often? What are the alternative solutions we could have?

The problem with adding everything for every use case is that:
* API is growing
* library size is growing

So we need to weight those factors and having details on your use-case help with this.

[2015-04-22 16:01] rvanbaalen commented on #3577
We currently don't officially support the npm channel release. However once we get back in touch with the owner about it, we'll publish npm installation instructions in the readme.

As for now, you can either manually build the latest version, get it from a cdn or use bower to install `0.12.1`

[2015-04-22 16:19] davidwparker commented on #3580
@pkozlowski-opensource - our use case is we have 4x different modal types within our application. Two of the modals are heavily customized (think modal-style dropdowns like Facebook's notifications / messages), one is more of a general purpose modal (using mostly defaults), and the last is like a general purpose modal, but with a few minor changes.

I'll see about putting together a plunkr so you

[2015-04-22 17:10] RobJacobs commented on #2448
@rvanbaalen I would argue it's not an issue at all, unless I missed something in the plunk I created?

[2015-04-22 17:59] karianna commented on #2448
Closing as fixed in that case, OP can reopen if they can repeat the issue with master.

[2015-04-22 17:59] #2448 closed

[2015-04-22 18:02] rvanbaalen commented on #3580
And there is a situation in your use case where multiple modals are open at the same time and thus you need to modify it's z-indexes?

[2015-04-22 18:07] rvanbaalen commented on #1872
Closing due to inactivity.

[2015-04-22 18:07] #1872 closed

[2015-04-22 18:09] rvanbaalen commented on #1893
I would classify this as a bug since the tabheading *should* support `x-` notation according to the Angular spec as @RobJacobs stated.

[2015-04-22 19:03] ryancarlson commented on #2246
@mastix @fno @pkozlowski-opensource I just hit the same issue using ui-bootstrap with these tools.  The larger file size isn't an issue for me, so I'll work around it by not minifying that file.  Curious though.. did resolving this issue get set aside for one reason or another?

[2015-04-22 20:02] davidwparker commented on #3580
@rvanbaalen - exactly right.

[2015-04-22 20:22] rvanbaalen commented on #3580
I simply think you're using a hammer to drill a screw in the wall if you know what I mean. Consider this definition of a modal:

I think your implementation needs something other than multiple modals with different z-indexes.

[2015-04-22 21:22] davidwparker commented on #3580
@rvanbaalen - interesting. I think it's a matter of trying to not recreate the wheel, and using something that does what it needs to 99% of the time. Consider the FB examples again, they're somewhere between a lesser modal / a super dropdown. For our particular application, we figured that the functionality provided by angular-ui modal fulfilled more of what we needed to do to customize that the o

[2015-04-22 22:04] c-johnson commented on #2783
+1, thanks for your comment poupougnac, that worked great for me.  Is there a reason why "focus" wouldn't be the default?  I know you all are busy though :)

[2015-04-23 02:44] dmitriz commented on #3573
`element.empty` is supported by the latest 1.2.x version:

https://code.angularjs.org/1.2.27/docs/api/ng/function/angular.element

Here 1.2.x means the latest version, maybe it should be made more clear?

[2015-04-23 04:04] butaixianran opened #3582 "Arrows of Carousel won't work with Angular Material"
When Angular material is used in same module, the left/right arrows of carousel can only click once, then they just won't work anymore.

check this:
http://plnkr.co/edit/sKYU5SyHNlKklYQpErtR?p=preview

Angular Material Version: 0.83

[2015-04-23 06:23] dmitriz commented on #3480
@Repalogic Can you provide a plunkr showing the delay?

[2015-04-23 09:45] thetaylor82 commented on #618
Infuriating problem that should have been fixed long ago. On 0.12.1 I'm completely stuck as I have no access to tt_isOpen (or isOpen). Why can't I just trigger a close on the elements?

[2015-04-23 09:56] RopoMen commented on #1226
When these features are ready and added into main build? Project description states clearly "no 3rd party JS dependencies" but that is not true unless these are available.

[2015-04-23 10:10] tmundt commented on #618
+1

2015-04-23 11:46 GMT+02:00 thetaylor82 <notifications@github.com>:

[2015-04-23 10:17] Foxandxss commented on #3573
It is misleading indeed. Sometimes it is hard to realize that something you added weren't there on a previous version.

We will fix that for the next version, since we are dropping 1.2.x support.

[2015-04-23 11:08] Kishor-Parmar123 opened #3583 "Date and time picker please"

[2015-04-23 11:11] #3583 closed

[2015-04-23 12:17] brbradford commented on #2428
+1

[2015-04-23 12:38] lmk123 commented on #590
@danludwig I use your solution and it works well for me, thanks!

[2015-04-23 14:09] stryju commented on #2544
ok, so that bugged me for a while...

1. `input[type="search"]` is cleared (webkit/blink)
2. `input[type="date"]` deactivates/collapses, when in *active/expanded* state
3. `select` deactivates/collapses, when in *active/expanded* state

http://jsbin.com/quyavunemo/1/

[2015-04-23 16:26] tmcgee123 commented on #3515
I had a similar issue and addressed it by creating a close delay that I could set through the popover directive. The problem is that if you attempt to override the fade class that bootstrap provides or attempt to hijack the listeners, things get a little wonky. I have created this feature via PR #3576 https://github.com/angular-ui/bootstrap/pull/3576

[2015-04-23 17:26] AshCoolman commented on #2196
+1

[2015-04-23 21:01] thetypebeast commented on #2925
For those looking for a quick css fix:
After examination, in my instance, `.modal-backdrop` has `z-index: 1040;` which is the same as `.modal`. I placed the modal html snippet just above `</body>`, but it seems that the html for `.modal-backdrop` is generated and inserted just before the body tag too, placing it after `.modal`. Since the z-index is the same `.modal-backdrop` gets placed on top of

[2015-04-24 04:26] dmitriz commented on #3350
@vitaly-t Can you give a use case to illustrate the reason why you want object iterators to be added?

[2015-04-24 05:42] canebat opened #3584 "Dynamically setting height for carousel (for enforcing a certain aspect ratio)"
Is there a way to force the carousel to use a certain aspect ratio? At the moment, the carousel adjusts its height to the height of the active image, so if i have images with varying heights, the carousel will cause the entire webpage to shrink/expand depending on what image is being rendered.

I've seen css solutions where people would add a fixed height, but this is a problem when viewing the im

[2015-04-24 07:05] cmichal commented on #3439
What is the reason for setting disabled control to invalid? I would like to see it fixed.

[2015-04-24 09:51] dmitriz commented on #3422
This sounds like a case for custom filter.

Just create your own filter doing the matching and add it to the comprehension expression (see examples in http://angular-ui.github.io/bootstrap/#/typeahead).

Would that not do it?

[2015-04-24 09:56] pkozlowski-opensource commented on #3422
Totally agree with @dmitriz that it can be handled, even today, very elegantly. A user has full control over a collection that goes into the typeahead results and cold write a custom filter or even simply call a function.

[2015-04-24 10:05] dmitriz commented on #3310
When I copy-paste "Arizona" and click away - it does remain in the `input` form as it should.

When I do the same with "Ariz", then it also remains "Ariz".
Which seems to be the correct behaviour too as the user might want to come back
to continue typing further rather than have the string jump to something else.
Just my view.

[2015-04-24 10:10] dmitriz commented on #3253
It is my understanding that the `typeahead` completion window should fit into the screen and not be paginated. Page Up/Page Down works and paginates the whole page.

Is this not the correct behaviour?

[2015-04-24 10:22] JonathanAaron commented on #2038
Finding this post helped me out.  I would have spent hours figuring out why my tooltips weren't lining up right in Chrome.  Thanks Aritz!

[2015-04-24 10:49] dmitriz commented on #3240
Looks like a bug!

Typing immediately sets the expression of `typeahead-loading` to `true` in
https://github.com/angular-ui/bootstrap/blob/master/src/typeahead/typeahead.js#L127
 and then makes `ng-disable=true`, which effectively disables the `input` and closes the pull-down.

What makes it worse, any other change on the scope that leads to the `ng-disable` expression evaluate to `true`, will eff

[2015-04-24 11:14] dmitriz commented on #3223
@SantjagoCorkez  Could you write a unit test for `typeahead` that is failing because of this but shouldn't?

[2015-04-24 13:14] andrenarchy commented on #2830
What do you think about shipping a pre-release for `0.13.0`, e.g., `0.13.0-beta.1`?

I'm currently using the latest release (0.12) with angular 1.3 and the overall experience is quite bad. The current master seems to play nicely with angular 1.3 already. If there are still a few issues/PRs: no worries, it's a pre-release – that's what developers should expect! :smiley:

[2015-04-24 13:16] nschloe commented on #2830
+1 for @andrenarchy's suggestion.

[2015-04-24 13:50] SantjagoCorkez commented on #3223
Well, actually I can't. I'm not so skilled ATM for writing UTs.

BTW, I've found that browsers automatically de-focus DOM elements that become `disabled`. Can't this be the root of the issue (and then could lead to a resolution like `misusage` or so). If so, then it could be especially noticed in documentation that using `ng-disabled` on typeahead-bound fields is highly discouraged and leads to un

[2015-04-24 13:55] SantjagoCorkez commented on #3240
I'm using it right this way: the input field should resist any user input attempts while the underlying AJAX call is in progress (because of unpredictable behaviour otherwise). But I've then moved from `ng-disabled` to `ng-readonly`. This at least does not trigger element's `blur` automatically. As I've stated in #3223 this at least could be especially noted in the documentation.

[2015-04-24 14:09] piernik commented on #2830
+1

[2015-04-24 14:10] dmitriz commented on #3240
As the AJAX is asyncronous, I would not block the user from typing. The `typeahead` will keep trying to match whatever the user enters as soon as possible, which is correct. Its behaviour is supposed to be completely predictable based on the `input` value and the most recent data.

The only use case I would want to disable `typeahead` is when selection is already made, and you are waiting for a **

[2015-04-24 14:55] wattazoum commented on #3036
Workaround : use 'ng-change' AND 'ng-selected'

[2015-04-24 15:06] ghoullier commented on #3036
@wattazoum Plunker?

[2015-04-24 15:24] nsilvah commented on #1031
Directive to fix issues with negative timezones:

https://gist.github.com/nsilvah/a7a31f017de098a79f38

[2015-04-24 15:28] nsilvah commented on #2072
Directive to fix issues with negative timezones:

https://gist.github.com/nsilvah/a7a31f017de098a79f38

[2015-04-24 15:29] palamago commented on #1031
WELL DONE @nsilvah !!!
(http://www.gifbin.com/bin/1233928590_citizen%20kane%20clapping.gif)

[2015-04-24 15:30] fmancini commented on #2072
![687474703a2f2f692e696d6775722e636f6d2f426f3149632e6a7067](https://cloud.githubusercontent.com/assets/1574862/7322328/be9d32e6-ea7d-11e4-97c4-7539dac6fc13.gif)

[2015-04-24 15:32] palamago commented on #2072
WELL DONE @nsilvah !!!
![CLAP CLAP]
(http://www.gifbin.com/bin/1233928590_citizen%20kane%20clapping.gif)

[2015-04-24 16:42] karianna commented on #2038
plunkr please

[2015-04-24 19:06] michahell commented on #2671
Even though I respect the decision to exclude ngmodel etc. I feel I have to clarify why I asked this question in the first place. This incredibly useful library adds components *together with* quite complete basic functionality of those components. To illustrate:
- The Accordion component has a way to find out what accordion 'tab' is open, i.e. 'is-open' attrib.
- The button / button groups have a

[2015-04-25 00:01] rvanbaalen commented on #1226
Feel free to help and submit a PR @RepoMen.

[2015-04-25 03:01] rvanbaalen commented on #2830
Ill discuss this with the rest if the team and see what we can do.

[2015-04-25 03:22] salarmehr opened #3585 "How to use this with bower"
There is no bower.json file. How can I get the latest version using bower?

[2015-04-25 07:48] iyel commented on #3404
+1

[2015-04-25 08:39] trondeh80 commented on #2830
+1 for @andrenarchy's suggestion here aswell.

[2015-04-25 08:47] andrenarchy commented on #2830
@rvanbaalen good! Publishing a pre-release may also decrease the continuous inflow of (duplicate) issues for 0.12. Most of them are probably fixed already in the master branch but it's not easy to use the master branch in a bower/npm-based project (since you have to build it manually).

[2015-04-25 09:27] dmitriz opened #3586 "The alert scope issue in FAQ seems to be resolved -- no need to mention it anymore"
It seems now `alert` works with `ng-hide/ng-show`:

http://plnkr.co/edit/PTF3fli73qNVT82AzT7r?p=preview

So no need to [mention it in the FAQ](https://github.com/angular-ui/bootstrap/wiki/FAQ#my-input-elements-stop-working-when-i-place-a-tooltip--popover-on-it)

[2015-04-25 11:08] piotr-gawlowski commented on #3286
+1

[2015-04-25 21:33] kavika-1 commented on #3585
Not in the main project, but there are instructions there, which also point you then to the separate repository for bower.  For convenience, here's the link to the instructions.

https://github.com/angular-ui/bootstrap#install-with-bower

[2015-04-25 22:34] cm325 commented on #3372
It appears that when the value changes from true to false in tooltip-enable, currently shown tooltip isn't hidden. Is this an oversight?

[2015-04-26 01:46] salarmehr commented on #3585
Therere are three similar repository in bower:`angular-ui-bootstrap`, `ui-bootstrap` and `angular-bootstrap` . They are really confusing. What is the point in maintaining them?

[2015-04-26 08:15] #2506 closed

[2015-04-26 08:15] #3120 closed

[2015-04-26 12:49] karianna commented on #3372
@cm325 Please open a new issue with a plunkr

[2015-04-26 13:15] karianna commented on #3584
https://github.com/angular-ui/bootstrap#need-help

[2015-04-26 13:15] #3584 closed

[2015-04-27 05:39] stephengardner commented on #1565
For those waiting on the release, the above workaround will disable animations on every element except the "carousel" which is, in most cases, undesired.

In order to maintain animations and fix this issue yourself before pulling the new release, add this directive to your `<slide>`s, substituting "myApp" for your app name:

`myApp.directive("disableAnimate", function ($animate) {
	return function

[2015-04-27 05:47] wesleycho commented on #3307
Closing, as #2306 is now in.

[2015-04-27 05:47] #3307 closed

[2015-04-27 06:35] arjunasuresh3 commented on #2303
+1

[2015-04-27 07:33] wattazoum commented on #3036
here is [the Plunker](http://plnkr.co/edit/q0cthGrC7h90GCoMd8ml) .

[2015-04-27 10:12] artdias90 commented on #2303
+1

[2015-04-27 16:30] jmca commented on #3070
I'm having the same exact issue.

[2015-04-27 17:10] Diabz opened #3590 "Accordion add "on-open" function"
I would like to execute a secondary function when the accordion panel is open.
This one would be executed at the same time that the toggleOpen() function

Any solution please ?

[2015-04-27 21:31] blackotruck opened #3592 "inject $modalInstance into a directive controller"
hello, i'm using a lot of modals on a project and for each type of modal i have to add a $scope.cancel() function, to close said modal, this is thedious an repetitive, so im trying to implement a directive that takes care of this, this is the code

[code]

The issue here is that i'm getting a ``` Error: [$injector:unpr] Unknown provider: $modalInstanceProvider <- $modalInstance``` when i open the

[2015-04-27 21:38] NicolasKovalsky commented on #3592
From modal's documentation:

In addition the scope associated with modal's content is augmented with 2 methods:
$close(result)
$dismiss(reason)

[2015-04-27 21:57] blackotruck commented on #3592
Thanks for the answer, but even when that works is not what i want, as im using controllerAs so i still need to add ``` vm.cancel = $scope.$dismiss; ``` on the controller and ```<button class="close-modal-btn" ng-click="vm.cancel()"><i class="fa fa-remove"></i></button>"``` inside each modal tremplate, when i want to be able to use a directive like ```<close-modal></close-modal>``` that takes care

[2015-04-27 22:22] rvanbaalen commented on #3592
https://github.com/angular-ui/bootstrap/blob/master/README.md#need-help

[2015-04-27 22:22] #3592 closed

[2015-04-28 08:31] merlosy opened #3593 "Horizontally collapse support"
I noticed Bootstrap added horizontal collapse support by adding the class `width` to the existing `collapse`, starting with v3.0.
Is there a way to do the same with Angular UI Bootstrap?

I found a post on stackoverflow: http://stackoverflow.com/questions/22654933/angularjs-bootstrap-collapse-horizontaly
The idea was to copy-paste the directive to make a custom one, and changing the direction...
A

[2015-04-28 10:28] karianna commented on #3590
https://github.com/angular-ui/bootstrap#need-help

[2015-04-28 10:28] #3590 closed

[2015-04-28 10:28] karianna commented on #3070
Plunkr please.

[2015-04-28 15:57] m3l0 commented on #2715
Anyone solve this with angular-ui  bootstrap?
I need to handle the click on a tab, and change the view on it ONLY if a condition is true (for example after show a modal for save changes).

[2015-04-28 16:27] TravisMeyers commented on #1012
+1

[2015-04-28 17:30] rvanbaalen commented on #1012
I know this is an okd topic but please stop all the +1's. We're aware of this issue and many others.

 Adding +1's only adds noise to the conversation.

[2015-04-28 18:19] gerlstar opened #3594 "pagination not working well with angular google maps"
I'm currently having an issue where the google maps and pagination does not work well together. I'm also using the accordion in this project. My maps is called when I click on the accordion header. I've tried to remove the pagination and the maps are called when I click on the accordion header. Please take a look in http://jsfiddle.net/gerlstar/7m4oLxo8/ for an example.

[2015-04-28 18:35] rvanbaalen commented on #3594
To me, this seems like a very specific use case where you need some help wrapping the three directives together. Not sure if this is a bug in the pagination or accordion directive.

https://github.com/angular-ui/bootstrap#need-help

Leaving this open for others to look into since I don't have enough time right now to determine of this should be closed.

[2015-04-28 18:38] Balrog30 commented on #3594
Reading this, "Not working well together" doesn't tell me much.  I checked out your fiddle and was surprised how well you have them working together (there are several common issues with Google Maps and hidden elements, and you seem not to have any of these problems).  Can you describe the undesired behavior in more detail?

[2015-04-28 18:43] gerlstar commented on #3594
@Balrog30 When it first loads and you click on any of the first 5 locations, the map is displayed. However once you hit either page 2, 3 or 4  and you click on any of the 5 locations, the map is not loaded. The content isnt displayed at all. Hope that explains things.

[2015-04-28 20:31] rvanbaalen commented on #2671
@michahell You _can_ find out what the user selected by simply adding an ng-click handler or similar to the dropdown items. For more advanced behavior, use ui-select.

[2015-04-28 20:40] michahell commented on #2671
@rvanbaalen  I understand, but that was not the point I was trying to make :) I could also add ng-click handlers to other components and have the basic functionality I'd need using them. But I don't have to, because you guys made it easier for me to use by having an ng-model or other attribs I can use!

And imagine the use case where I populate the dropdown elements dynamically (not even that exot

[2015-04-28 20:46] rvanbaalen commented on #2671
@michahell I appreciate your in-depth explanation on this matter. It seems like you are using dropdowns in the context of a form, am I correct? If that's the case, you're using a screwdriver to hit a nail in the wood. In that case, again, ui-select will be your hammer that can get the job done more easily.

If you can demonstrate a solid use case for ng-model support, we're always willing to take

[2015-04-28 21:01] michahell commented on #2671
@rvanbaalen Thanks, I'm trying :) I had to think back, it is a long time ago since I ran into this, but I remember what for. And actually, a more simple use case is hard to think of, which unfortunately ruins my argument haha. I only needed to make the default OS-like dropdown look better and I was too lazy to code up something myself (and besides why reinvent the wheel):
http://s15.postimg.org/40

[2015-04-28 21:09] rvanbaalen commented on #2671
@michahell Haha. The fact that you can't come up with a solid use case justifies that this issue is closed I suppose :wink:

Like I said before and I keep repeating myself:

- You're using a **dropdown** where you should use a **select**

To create a custom non-browser default select element, use **ui-select** or a similar project.

Also, you might want to take a look at [this](http://baymard.com/

[2015-04-28 21:30] michahell commented on #2671
Oh i can come up with use-cases, they are just not mine haha. Actually, @rvanbaalen, the first link you gave made me realize using a dropdown indeed provides far from an ideal user experience, I must've had a reason before why I used it (I hope), but I'll change it to radiobuttons or something alike, it makes no sense for 2 options only - which is why I don't understand that you repeat that I shou

[2015-04-28 21:34] rvanbaalen commented on #2671
@michahell Add me on Google Hangouts for a chat on this matter if you want to continue on this. I think this issue is not the place anymore to go into detail about individual use cases. My contact details are in my Github profile.

[2015-04-29 01:11] johnsonlin opened #3595 "Datepicker - ignores format on initial data bind with angular 1.3.15 stable"
I replaced angular lib from 1.2.6 to 1.3.5 of http://angular-ui.github.io/bootstrap/#/datepicker on my local machine and found the datepicker ignores the `format` (which is `'dd-MMMM-yyyy'`) on initial data bind.
Here's a comparison
### My demo with 1.3.15 stable
http://plnkr.co/edit/t5PnLtq9Ygh5iosJXaT8?p=preview

### Official site demo with 1.2.6
http://plnkr.co/edit/5E0Hnx?p=preview

[2015-04-29 01:13] johnsonlin commented on #3595
I even tried the latest stable version which is 1.3.15
it does the same thing as 1.4.0

[2015-04-29 01:30] rvanbaalen commented on #3595
Please fork the demo plunkr to show your issue. We dont support Angular 1.4 yet since there is no stable (non-beta) release so far. If this is also an issue in 1.3 we'll have to take a look at it for the 0.13 or 0.13.x release.

[2015-04-29 01:56] johnsonlin commented on #3595
@rvanbaalen
not sure if I did what you want me to do.
But I think it's easy enough for you to review
thanks

[2015-04-29 08:19] comapedrosa commented on #3094
Thanks @jcohenho! :+1:

[2015-04-29 08:40] esseti opened #3596 "Pagination with $resources (or any $promise) does not work properly."
Hello,
## problem:
I found that if I use the pagination setting as `total-items` a value that is retrieved from the api with `$resources` (then also via `$http`) it breaks the pagination (it always return to first page) since the `$watch` on the `totalItems` is fired twice.

## Ex:
I've a controller that performs a call to get the `courses`
[code]

the api returns:
[code]

i set the pagination as

[2015-04-29 10:29] fabm22 opened #3597 "Make the doc's examples "Bootlint" proof. (therefore the library UI-Bootstrap itself too I guess)"
By using the official html linter of bootstrap, we have some errors on the examples of ui-bootstrap ( https://angular-ui.github.io/bootstrap/ )
![29-04-2015 12-22-27](https://cloud.githubusercontent.com/assets/143132/7389050/d6722ef8-ee6a-11e4-85fe-4b93569b53d5.png)

Since Bootlint is presented as aimed at "fairly vanilla" bootstrap users, this little amount of errors could be seen as good or bad

[2015-04-29 11:08] soundar84 opened #3598 "Need bootstrap tab focus code"
HI,
        I have created three bootstrap tabs in my application. This three tabs i have checked required field validations. when i click save button if i missed out any value means that particular tab want to focus.
Please send the sample code for this.

Thanks,

[2015-04-29 11:15] rvanbaalen commented on #3598
You can ask questions on StackOverflow

https://github.com/angular-ui/bootstrap/blob/master/README.md#need-help

[2015-04-29 11:15] #3598 closed

[2015-04-29 12:28] rvanbaalen commented on #3214
https://github.com/angular-ui/bootstrap#need-help

[2015-04-29 12:28] #3214 closed

[2015-04-29 12:29] rvanbaalen commented on #3102
https://github.com/angular-ui/bootstrap#need-help

[2015-04-29 12:29] #3102 closed

[2015-04-29 12:34] rvanbaalen commented on #3233
This looks like a valid bug to me.

[2015-04-29 13:01] xBelphegorx commented on #2317
In my project I need information when collapse is done to expand other element in the same place, so this feature would be helpful (btw. horizontally collapse is needed too). Please consider adding this feature.

[2015-04-29 13:05] rvanbaalen commented on #3233
I've also implemented a fix in [the plunkr](http://plnkr.co/edit/PjU6pmO1JU3xJlhxwN18?p=preview) I just have to create a PR and write some tests for it now.

[2015-04-29 13:59] alanquigley commented on #2434
Can you think of any reason why the test won't run in PhantomJS, I've run into problems when using ui.bootstrap and the angular SEO library which uses PhantomJS to render pages.

[2015-04-29 14:02] pkozlowski-opensource commented on #2434
I didn't use PhantomJS to be honest so can't help here. But I can see several people reporting plenty of problems using it - not sure if those problems are linked to the PhantomJS itself or a particular setup. Regardless - using it in practice seems to be painful and it doesn't bring anything for us (we can use real browsers) so this is why we are staying away from PhantomJS.

[2015-04-29 14:31] Digambar14 commented on #3397
When this feature will be available?

[2015-04-29 19:30] #3558 closed

[2015-04-29 19:42] karianna commented on #2508
#3417 and #3159 were merged, so cloing this

[2015-04-29 19:42] #2508 closed

[2015-04-29 19:43] karianna commented on #3104
@wesleycho - this could be moved to 0.13.x?

[2015-04-29 19:46] karianna commented on #3511
@chrisirhc In the related PR you mentioned this should be fixed for the next release, but we've got the PR in the 0.13.x milestone....

[2015-04-29 19:48] karianna commented on #3440
@wesleycho Can this be pushed back to 0.13.x?

[2015-04-29 19:49] karianna commented on #3338
Can't see why this is a angular 1.3 support issue - moving to 0.13.x

[2015-04-29 20:08] rvanbaalen commented on #2830
For future releases we will consider publishing beta's and so on. Right now we're so close to releasing 0.13 (just 8 issues to go) that it doesn't make sense to go through the process of releasing a beta.

[2015-04-29 20:10] rvanbaalen commented on #3338
The 0.13 milestone was added before we had a meeting about the contents of 0.13 :wink:

[2015-04-29 20:13] rvanbaalen commented on #3595
This seems a duplicate of #3104

[2015-04-30 04:04] dmitriz opened #3601 "Tests to catch for invalid attributes?"
Is there any policy for checking directive's attributes for invalid values?
There aren't seem to be many tests doing that, like testing numeric attributes for `-1`, `"1.2"`...

For instance, `typeahead-min-length` is only tested set to `2`:
https://github.com/zacronos/bootstrap/blob/master/src/typeahead/test/typeahead.spec.js

[2015-04-30 04:54] devendher commented on #969
check it this plunker
might be it will helpful and i think it is complete solution that really what do you want http://plnkr.co/edit/ZM3UUt16P3cRainp0LK3?p=preview

[2015-04-30 06:22] chrisirhc commented on #3312
Closing as this should be fixed via #3499

[2015-04-30 06:22] #3312 closed

[2015-04-30 07:39] hhsadiq commented on #1193
Facing the same problem. I am working on localhost with Laravel on backend. The $scope.modal always picks the html file given in templateURL from cache. Is there any solution...?

[2015-04-30 08:54] dmitriz opened #3602 "AngularJS Git Commit Message Conventions"
Just found this great Guide of Angular team (sorry to spam those in the know ;-),
would really add to the contributing Guide in my view:

https://docs.google.com/document/d/1QrDFcIiPjSLDn3EL15IJygNPiHORgU1_OOAqWjiDU5Y/edit#heading=h.4a9jrkze4u4a

[2015-04-30 10:07] hhsadiq commented on #1193
Found a solution for issue. Append a random string after templateURL.

    $scope.showDialog = () ->
      dlg = $modal.open
        templateUrl: '/views/myDialogWindow.html?temp=' + Math.random()
        controller: 'DialogWindowCtrl'
        windowClass: 'modal-wide'
      dlg.result.then (result) ->

[2015-04-30 10:28] pkozlowski-opensource commented on #3602
Right, we should add it to https://github.com/angular-ui/bootstrap/blob/master/CONTRIBUTING.md

But I would rather link to https://github.com/ajoslin/conventional-changelog/blob/master/CONVENTIONS.md

[2015-04-30 12:24] NoiZeR355 opened #3603 "Boostrap ui carousel empty"
Hello,

I have some strange issue. I use an carousel from bootstrap ui in a modal box from bootstrap. At the beginning is init the images for the carousel. Then i click on a button to show the modal box. This time they appear correctly. But then i reinit the carouseldata (Switch to other data) and open the carousel again and then he is empty. Is there an possible solution for this?

Here you can a

[2015-04-30 12:40] rvanbaalen commented on #3603
This sounds like a perfect question for StackOverflow:

https://github.com/angular-ui/bootstrap#need-help

[2015-04-30 12:40] #3603 closed

[2015-04-30 13:17] rvanbaalen commented on #2341
You can customize your tooltip by simply overwriting the template and do whatever you want with it. We're not planning on implementing custom features like this since we want to keep both the library and it's API clean and basic. The aim of the project is to achieve Twitter Bootstrap JS functionality in vanilla Angular without jQuery dependency. So if they have the ellipsis feature implemented, we

[2015-04-30 13:25] rvanbaalen commented on #2827
https://github.com/angular-ui/bootstrap#need-help

[2015-04-30 13:25] #2827 closed

[2015-04-30 13:47] NoiZeR355 commented on #3603
I did it but there doesn't know the solution

[2015-04-30 14:02] krigton commented on #2341
I think overriding the tooltip template would not help on the problem. It's about the possition of the tooltip. The tooltip is put at the right of the element, but if the element is hidden (as the case of the this kind of ellipsis implementation) it will still put it to its right which might not be what someone wants. I will do a plunkr to demonstrate.  thanks

[2015-04-30 14:05] dmitriz commented on #3043
I am using this directive in my app for the location search, and from this perspective, I find the current behaviour most convenient.

That is, if the user types few characters and leaves without selecting a match, I want my app to know this! So I can write my special logic dedicated to deal with that case, and it is very useful to have that partial typed string in my model. The "job" of the `type

[2015-04-30 14:32] rvanbaalen commented on #3603
Sorry but that doesnt turn the issue tracker into a Q&A.

[2015-04-30 14:45] rupe120 commented on #3043
@dmitriz I do see where your workflow would be desirable in certain situations. For my purposes I ended up creating my own typeahead-advanced control based on the typeahead to behave more like a drop down list. For me it was more logic to handle the dual scenarios of the model value either being an object or a partial unmatched search string.

With that said, I would absolutely make it configurabl

[2015-04-30 15:14] theaccordance commented on #2219
Having to modify multiple attributes to disable the directive is not ideal, it would be much more preferable to have a single attribute that disables all aspects of this directive from user input.

[2015-04-30 16:09] xErik opened #3604 "ng-uncheckable directive for hybrid ui.bootstrap.buttons"
The keyword `uncheckable` allows for hybrid checkbox-radio buttons.

It would be helpful if this keyword could be set via a directive `ng-uncheckable`, similar to [ngChecked](https://docs.angularjs.org/api/ng/directive/ngChecked).

(I am new to Angular and don't understand how the `ngChecked` directive works yet. Otherwise I would simply copy and modify it.)

[code]

[2015-04-30 16:46] rvanbaalen commented on #3604
Can you provide a use case or a demo for this?

[2015-04-30 17:03] ivaaaan opened #3605 "[typeahead] Do not respond to pressing the space bar"
When I press the space bar - the list is not updated, and is only updated when you press the other keys. how can I fix it? I could not find this point in the source code

[2015-04-30 17:19] rvanbaalen commented on #3605
What do you mean by 'the list is not updated'? You mean it doesn't open when you have only a spacebar as an input?

[2015-04-30 17:40] ivaaaan commented on #3605
Yes, I mean it

[2015-04-30 18:02] rvanbaalen commented on #3605
Please provide a plunkr demonstrating this issue.

[2015-04-30 18:24] ivaaaan commented on #3605
@rvanbaalen please go to royaltyfreemusic.com and open console. Start typing a 'Music' and press space. when you press space typeahead not updated

[2015-04-30 18:26] karianna commented on #3605
@ivaaaan We really need a plunkr which is a short and sharp code sample.

[2015-04-30 18:29] pkozlowski-opensource commented on #3605
I think it is just default behaviour of Angular's ngModel that trims inputs by default: https://docs.angularjs.org/api/ng/input/input%5Btext%5D

From the doc on ngTrim:

But hard to tell for sure without a plunk. @ivaaaan I'm afraid that no one has free cycles to debug entire apps. If you need help please take some time to isolate the issue.

[2015-04-30 18:29] rvanbaalen commented on #3605
Just like @karianna said; we ask for a plunk for a reason. Provide a plunkr that reproduces your problem and I'll be glad to take a look.

But even before that, this smells like basic AngularJS model logic. Spaces get trimmed from the model.

[2015-04-30 20:59] johny25 commented on #3559
Just in case, if you wanna keep using the older AngularJS version and use the latest angular bootstrap, just search for modal-transclude and replace with ng-transclude. This is a work around, hope this helps :)

[2015-05-01 00:29] akholodenko commented on #3258
Same issue. trying ng-model-options on typeahead field for onBlur model update and no typeahead showing.

[2015-05-01 07:23] hmillet commented on #3582
Same experience, with angular 1.3.15 as @butaixianran, but without materiel.
I have so many vendors js library that I cannot detect which one make arrows work only once

[2015-05-01 11:14] andrenarchy commented on #2830
I can only spot 1 open issue for 0.13 right now: this one! \o/

Good to hear that you plan to publish pre-releases in the future.

[2015-05-01 11:23] xErik commented on #3604
My app has a highly interdependent model and the hybrid-mode fits my needs perfectly.
But in my case, the hybrid-mode depends on the current state of the model. The same group of radio buttons may switched to hybrid mode, and at other times not.

1. Without the hybrid-mode, I would need to add a Default-button with the value of `nothing` to allow the user to completely deselect a group of radio bu

[2015-05-01 14:47] dcominottim commented on #2830
Nice! Can we expect 0.13 before the end of the weekend?

[2015-05-01 14:49] rvanbaalen commented on #2830
That depends on what we're all doing this weekend ;-) but I suppose it's safe to say you can expect it before the end of next week.

[2015-05-01 14:59] nonplus commented on #3432
This is a documentation/example problem.  The current documentation suggests the following:
[code]
However, the `$event.preventDefault()` prevents other datepicker calendars from being automatically closed.  The proper implementation should be as follows:
[code]

[2015-05-01 19:46] awerlang commented on #3404
[code]

I receive them on controller constructor function. As I use TypeScript, I'm able to prefix them with either `public` or `private` in order to have automatic properties.

Isn't your use case covered by means of constructor function parameters? Or perhaps I'm missing something?

[2015-05-02 13:38] dcominottim commented on #2830
That is great news -- thank you! One more question: when Angular 2 goes RTM, will ui-bootstrap keep being maintained for Angular 1.x as long as Angular 1 has new releases?

[2015-05-02 14:35] rvanbaalen commented on #2830
We still have to discuss such plans. It is quite some work to maintain two different repos as you can imagine. But given our huge community I would say there is no way around it :wink:

Note that this is just *my* opinion and not the one of the team. We will publicly discuss this matter when the time comes.

---
This email was sent from my iPhone and therefore subject to typos and other inaccuraci

[2015-05-03 01:53] chrisirhc commented on #2830
0.13.0 is now released. Closing. :smile:

[2015-05-03 01:53] #2830 closed

[2015-05-03 01:54] w3hacker commented on #2830
+1

[2015-05-03 06:50] chrisirhc commented on #3595
I believe this is now working on 0.13.0. See http://plnkr.co/edit/dXJlJEbMHoNX8tE740MI?p=preview

[2015-05-03 06:50] #3595 closed

[2015-05-03 09:47] yetsun opened #3607 "Dropdown list in nav bar stops working since version 0.11.0"
I have a dropdown list in the nav bar. When the nav bar collapses for small screen, and when clicking the drop down list name, the name disappear instead of showing the options of the drop down. This used to work with ui-bootstrap version 0.10.0 and earlier.

Following is the simpilied code:
[code]

This is the javascript:
[code]

[2015-05-03 09:52] #1903 closed

[2015-05-03 11:10] andrenarchy commented on #2830
Awesome! Is anyone of the core team living in Berlin so I can buy you a beer/coffee/...? :smile:

[2015-05-03 19:01] je3f0o opened #3608 "$watch class event not working properly with collapse directive"
$watch('class') event not working properly with collapse directive. I need to rerender my custom scrollbar after collapsed or opened. But my $watch('class') event didn't work properly after I updated ui-bootstrap 0.13. I think I found a bug inside collapse directive. I added a line before closing bracket in expandDone(), collapseDone() functions.
[code]
It fixed my problem.

[2015-05-03 19:10] rvanbaalen commented on #3608
Please provide a plunkr and we'll be able to take a look at your problem.

[2015-05-03 23:36] jafin commented on #3155
Another Plnkr for this, run in angular 1.3.15 and ui-bootstrap-tpls-0.13.0.js  http://plnkr.co/edit/QGlIlxgU4SfkQ7oWVOlX?p=preview

[2015-05-04 02:12] johnsonlin opened #3609 "Datepicker 0.13.0 - throws date error on textbox change with Angular 1.3.5 stable"
I tried to implement the new angular ui bootstrap with angular 1.3.5 stable.
Here's a plunker demo:
http://plnkr.co/edit/6jWsI4nk6hyjh2l6O5Pd?p=preview

when I change the year of second date, which is generated by `new Date()`, everything updates accordingly.

But when i change the year of first date, which is generated by `new Date(1430229600000)`, it throws an error unless I manually select anot

[2015-05-04 05:16] chrisirhc commented on #3609
What is the error message you're seeing?
I don't see an error message when I change the year by replacing 2015 with 2016 on the first date .

[2015-05-04 05:19] johnsonlin commented on #3609
Datepicker directive: "ng-model" value must be a Date object, a number of milliseconds since 01.01.1970 or a string representing an RFC2822 or ISO 8601 date.

[2015-05-04 05:37] chrisirhc commented on #3609
Ah, I see. This is related to #3294 .
Actually, `new Date('28/04/201')` fails because 28 cannot be the value of the months field (in US date locale). `new Date('03/05/201')` parses but actually fails, because it's interpreting 03 as the months.

This is a known issue, I believe we intend to break this behavior soon. When we merge in #3294, the ng-model should get `null` when the format is invalid.

[2015-05-04 05:51] johnsonlin commented on #3609
@chrisirhc
Hi Chris,
the date format is correct as I'm using Australian date locale (dd/MM/yyyy) in the demo.
so `new Date('28/04/201')` is actually `28-April-201`
try deleting the last 2 digits of 2015 and putting 01 after it
then you'll see the js error on the first date but not the second date as the second date converts the year.

and after trying a few different date formats from the dropdown

[2015-05-04 05:55] chrisirhc commented on #3609
Yes, it works only because you're in Australia. This behavior shouldn't be relied upon because it will not work, in say, USA where the locale is different. I think the failure to parse is actually the correct behavior as it's more expected and reliable. However, it shouldn't throw that error in the console. It should just set the ng-model to null. We'll fix that soon once that PR is merged.

[2015-05-04 06:49] johnsonlin commented on #3609
Hi Chris,
Just want to make sure that I understand the fix.
When I try to change the date value `28/04/2015` to `28/04/2005`, I select `15` then start typing the first letter `0`.
Then datepicker will failed to parse the value and fail.
What do I see in the text box?
 - Do I see `28/04/200`? (After I type the other letter `5`, will it pass the date parse and work again?)
OR
 - Do I see the text bo

[2015-05-04 07:17] sniegoman opened #3610 "Carousel dont work when opened 2nd time"
I'm using angular-ui bootstrap carousel in my application. I have list of comments, each might contain 1 or more photos. What I want to achive is when user clicks at photo new modal opens with carousel of all pictures.

At first I have encountered simillar issue as: https://github.com/angular-ui/bootstrap/issues/1350 and directive provided by whitehat101 solved that.

But now I'm struggling with i

[2015-05-04 09:23] karianna commented on #3610
https://github.com/angular-ui/bootstrap#need-help

[2015-05-04 09:23] #3610 closed

[2015-05-04 09:29] Tobino commented on #3526
Is it possible to get a label "accessibility"?
Like [twbs/bootstrap](https://github.com/twbs/bootstrap/labels/accessibility)

[2015-05-04 09:48] adamhaeger commented on #3101
@chrisirhc I'm experiencing this problem both with and without batarang in chrome, and also on firefox 37.02. Running angular 1.3.15 and ui-bootstrap-tpls 0.12.1.

[2015-05-04 11:44] je3f0o commented on #3608
I provided
[Plunker](http://plnkr.co/edit/lDpcPjsKCLXLQ3EsbanB?p=preview)

[2015-05-04 14:15] ntrifunovic opened #3611 "Issue #3167 still present if using `tooltip-popup-delay`"
Issue #3167, fixed in 87a3607632cae03ead57b377bb91ca27610e7730, is still present if using  `tooltip-popup-delay` with the tooltip.

**Explanation:** The tooltip is opened after the check is made to see if the tooltip is opened, when the button becomes disabled. This will lead to the same issue as described in #3167 .

[2015-05-04 15:09] yannickadam opened #3612 "Datepicker - Update documentation about ng-model"
In Datepicker documentation, it would be nice to mention that ng-model is not deep-watched. Hence, if using a Date object to set the model, $scope.dt.setDate(...), or any operation on the date object, will not update the widget.

[2015-05-04 17:31] diosney commented on #611
bump

[2015-05-04 18:48] SiddharthMantri opened #3613 "Dropdown doesn't work with anchor tags inside ul>li elements"
I have the following code snippet

    <a class="dropdown" dropdown>
    <button type="button" class="navbar-toggle settings-btn dropdown-toggle" dropdown-toggle>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <ul class="dropdown-menu setting-dropdown">
        <li>
            <a ui-sref="profile">

[2015-05-04 19:00] rvanbaalen commented on #3613
Please add a plunkr reproducing this problem.

[2015-05-04 19:16] SiddharthMantri commented on #3613
@rvanbaalen Hey, I've added the plnkr here with the same behavior:

http://plnkr.co/edit/gd1WcXezs3Vld0v6vPYS

[2015-05-04 20:22] Rafal2228 opened #3615 "Modal fade out effect disappeared in version 0.13?"
Hi,
fade out effect for modal appears to not work properly in version 0.13, however in 0.11 it is present. Maybe the plunker will explain it better than I did:
Working version 0.11:
http://plnkr.co/edit/McVs72?p=preview

Not working version 0.13:
http://plnkr.co/edit/t5zlRd?p=preview

Is it really a bug or did I missed some feature or already closed issue?

[2015-05-04 20:41] antoinepairet commented on #3607
`dropdown` and `dropdown-toggle` are no longer class directives. Please see the doc:
Instead of
[code]

Do:
[code]

[2015-05-04 20:41] #3607 closed

[2015-05-04 20:44] phamdt opened #3616 "allow for more control of heading text in tabs"
for example, i need bootstrap badges as part of the tabs which requires that i'm able to add scope variables and html into the heading property.

[2015-05-04 20:57] rvanbaalen commented on #3615
Lets get things straight first:

The previous version of UI Bootstrap was 0.12.1 which supported the latest Angular 1.2 release (currently 1.2.28). This is a more accurate plunkr if I'm not mistaken: http://plnkr.co/edit/HsuTC6?p=preview

In your 0.13 and Angular 1.3 plunker, I can't see the animation either. Seems like a legit bug to me therefore I'll tag @chrisirhc in this one since he's the ani

[2015-05-04 21:03] rvanbaalen commented on #3616
You can easily replace the templates with your own templates to extend functionality and/or change layout.

If that's not enough, you an always submit a PR that contains this new feature and we'll be happy to review it.

[2015-05-04 21:03] #3616 closed

[2015-05-04 21:17] rvanbaalen commented on #3611
Updated plunkr: http://plnkr.co/edit/AUKz0kVzwMwlzZJDiHsr

[2015-05-04 21:46] rvanbaalen commented on #3611
@ntrifunovic Can you confirm your issue is fixed in my plunkr?

http://plnkr.co/edit/AUKz0kVzwMwlzZJDiHsr?p=preview

I'll submit a PR for this if you confirm it's fixed.

[2015-05-04 21:47] laguiz commented on #3434
I would opt for free design (as Angular team did) and then figure out how to make the migration (manually done by users of the lib or with some temporary helpers)

[2015-05-04 21:53] ntrifunovic commented on #3611
Yes.

              if (popupTimeout && val) {
                  $timeout.cancel(popupTimeout);
              }

That seams to do the trick :smiley:

[2015-05-04 22:00] rvanbaalen commented on #3611
Allright ill squeeze it in soon. Ill close this automatically when the PR lands.

[2015-05-04 23:25] phamdt commented on #3616
i'm not sure i know what you mean when you mention replacing templates. could you please elaborate?

[2015-05-05 00:03] cboden commented on #3502
Same issue. Can you post how you resolved this @thebucknerlife please?

[2015-05-05 00:18] thebucknerlife commented on #3502
Totally @cboden

Here is the relevant part of my layout file:
[code]

So I'm using css for Bootstrap 3.0.0 and the JS from bootstrap 3.3.2. Haha sorry I know that is totally wacky but this is an existing project I inherited. I would anticipate you can use both JS and CSS from 3.3.2 and this will still work. If not, let me know! That will be f***ing interesting.

Here is a partial I'm using for the

[2015-05-05 01:01] fifonik opened #3617 "Datepicker: "...ng-model" value must be..." on Clear action"
1. Open http://angular-ui.github.io/bootstrap/
2. Ctrl+Datepicker
3. Open popup datepicker
4. Choose any date
5. Open popup datepicker again
6. Click 'Clear' button
=>
In console you'll see error "Datepicker directive: "ng-model" value must be a Date object, a number of milliseconds since 01.01.1970 or a string representing an RFC2822 or ISO 8601 date."

I have not expected any errors on clearing

[2015-05-05 02:14] zediah opened #3618 "Progress + Bar not respecting the Max value set on Progress"
I've got a max value set on 'progress' element (with many 'bar' elements beneath it) and the value is never making it's way into the actual controller for the entire progress bar. This means that the max will always be the default value of 100 for a 'progress' element and incorrectly calculate the width.

I believe this is due to a recent change in ProgressController where it is attempting to defa

[2015-05-05 03:20] ScottFred opened #3619 "Cannot read property 'direction' of undefined after upgrade to 0.13.0"
After upgrading to 0.13.0, we are getting the following errors when we navigate across a top menu system we implemented; this used to work in 0.12.x

[code]

------- ui-bootstrap-tpls.js:608 - 616 ------
[code]

[2015-05-05 04:25] rvanbaalen commented on #3616
Google search result: http://stackoverflow.com/questions/17660947/can-you-override-specific-templates-in-angularui-bootstrap

[2015-05-05 04:48] rvanbaalen commented on #3619
Can you add a plunkr so we can reproduce and debug this ourselves?

[2015-05-05 05:03] ScottFred commented on #3619
We are preparing for a demo and so I may not be able to do this for a few days, but I'll try to get you something.

[2015-05-05 10:42] tompi commented on #618
tt_isOpen was removed, they use an "isOpen" attribute and I believe it's not in the same scope as before, anyway, lot's of trial and error leed us to this code which works unless you use the "append to body" attribute... (call hidePopovers  from your global click-handler))

var hidePopover = function(element) {
    //Set the state of the popover in the scope to reflect this
    var elementScope =

[2015-05-05 12:00] alippai opened #3620 "Modal - can't close if using angular 1.4"
You can't close modals with version 0.13. Angular-bootstrap 0.12 modal works well with angular 1.4.
Angular 1.3 + bootstrap 0.13 works too.

[2015-05-05 12:16] rvanbaalen commented on #3620
Plunker please.

[2015-05-05 12:31] RobJacobs commented on #3620
There is a known issue with Angular 1.4 and the Modal/Carousel directives.  The ngAnimate module had some significant changes documented [here](https://github.com/angular/angular.js/commit/c8700f04fb6fb5dc21ac24de8665c0476d6db5ef) that breaks how those directives are chaining animations.  The area that needs to be addressed in the modal is [here](https://github.com/angular-ui/bootstrap/blob/master

[2015-05-05 14:22] rvanbaalen commented on #3620
@RobJacobs What you're refering to is probably #3615 ?

@alippai specifically said he 'cant close modals' which would suggest that the modal always stays open after opening once. Thats why I asked for a plunkr reproducing this problem.

Reading this again, the issue is supposedly with AngularJS 1.4, which we don't currently support since it's still in beta.

If you're using UI Bootstrap, use 0.13

[2015-05-05 14:34] bdgamble commented on #3618
:+1: I am seeing the same thing

[2015-05-05 14:37] diosney commented on #611
Thanks @gilluminate, worked for me too.

[2015-05-05 14:47] alippai commented on #3620
Only the backdrop didn't disappear, the dialog closed successfully. I couldn't create a plunker as the official demo worked with angular 1.4.